ApprovedContactHandler.json
{
	"nodes": [
		{
			"parameters": {
				"workflowInputs": {
					"values": [
						{
							"name": "wa_id"
						},
						{
							"name": "userPrompt"
						},
						{
							"name": "context_data",
							"type": "object"
						},
						{
							"name": "api_contact",
							"type": "object"
						}
					]
				}
			},
			"type": "n8n-nodes-base.executeWorkflowTrigger",
			"typeVersion": 1.1,
			"position": [-80, -416],
			"id": "98869499-5666-4fc0-9d59-df2b32726054",
			"name": "When Executed by Another Workflow"
		},
		{
			"parameters": {
				"jsCode": "const contextData = $json.context_data;\nconst userMessage = $json.userPrompt;\nconst nombre = contextData.nombre.split(' ')[0];\n\n// Context para el AI\nconst aiContext = `\nEl usuario ${nombre} ya fue APROBADO para el inmueble \"${contextData.property_found.title}\".\nFue aprobado el: ${contextData.approval_timestamp}\n\nHistorial reciente:\n- Completó cuestionario exitosamente\n- Recibió mensaje de aprobación\n- Ahora vuelve a escribir: \"${userMessage}\"\n\nClasifica su intención en UNA de estas categorías:\n1. \"followup\" - Pregunta sobre el estatus de su proceso, cuándo lo contactan, etc\n2. \"new_search\" - Quiere buscar OTRO inmueble diferente\n3. \"document_question\" - Pregunta sobre qué documentos necesita\n4. \"general_question\" - Otras consultas generales\n5. \"greeting\" - Solo saluda o dice algo casual\n\nResponde SOLO con la categoría, sin explicaciones.\n`;\n\nreturn {\n  wa_id: $json.wa_id,\n  userPrompt: userMessage,\n  context_data: contextData,\n  api_contact: $json.api_contact,\n  ai_context: aiContext,\n  nombre: nombre\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [128, -416],
			"id": "3d051796-9710-446a-9216-268446a2abaa",
			"name": "Detect Intent (AI)"
		},
		{
			"parameters": {
				"jsCode": "// Obtener respuesta del AI correctamente\nconst aiOutput = $json.output[0].content[0].text.toLowerCase().trim();\n\n// Buscar el nodo \"Detect Intent (AI)\" que tiene todos los datos\nconst detectIntentNode = $('Detect Intent (AI)').first().json;\n\n// Limpiar respuesta del AI\nlet intent = 'general_question'; // default\n\nif (aiOutput.includes('followup')) intent = 'followup';\nelse if (aiOutput.includes('new_search')) intent = 'new_search';\nelse if (aiOutput.includes('document')) intent = 'document_question';\nelse if (aiOutput.includes('greeting')) intent = 'greeting';\n\nreturn {\n  wa_id: detectIntentNode.wa_id,\n  userPrompt: detectIntentNode.userPrompt,\n  context_data: detectIntentNode.context_data,\n  api_contact: detectIntentNode.api_contact,\n  nombre: detectIntentNode.nombre,\n  detected_intent: intent\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [688, -416],
			"id": "963b3aa3-c797-4e7c-b666-12b8e7261ef1",
			"name": "Parse AI Response"
		},
		{
			"parameters": {
				"modelId": {
					"__rl": true,
					"value": "gpt-5-nano",
					"mode": "list",
					"cachedResultName": "GPT-5-NANO"
				},
				"responses": {
					"values": [
						{
							"role": "system",
							"content": "={{ $json.ai_context }}"
						}
					]
				},
				"builtInTools": {},
				"options": {}
			},
			"type": "@n8n/n8n-nodes-langchain.openAi",
			"typeVersion": 2,
			"position": [336, -416],
			"id": "11026904-a302-4627-afd1-5e9a0006c75c",
			"name": "Call AI for Intent",
			"credentials": {
				"openAiApi": {
					"id": "g8OPzRDvvB6YO7mf",
					"name": "OpenAi account"
				}
			}
		},
		{
			"parameters": {
				"rules": {
					"values": [
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"leftValue": "={{ $json.detected_intent }}",
										"rightValue": "greeting",
										"operator": {
											"type": "string",
											"operation": "equals"
										},
										"id": "2485e634-f4ce-40f4-befe-9e3ca0980971"
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "👋 Greeting"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "8d68d1c6-6e97-4421-a159-fbbfa89903db",
										"leftValue": "={{ $json.detected_intent }}",
										"rightValue": "followup",
										"operator": {
											"type": "string",
											"operation": "equals",
											"name": "filter.operator.equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "⏰ Followup"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "06885c25-089f-4e5c-95cb-3a71b27e3b4b",
										"leftValue": "={{ $json.detected_intent }}",
										"rightValue": "new_search",
										"operator": {
											"type": "string",
											"operation": "equals",
											"name": "filter.operator.equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "🔍 New Search"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "71376aad-0f15-4f9d-9f86-bab90f58f15a",
										"leftValue": "={{ $json.detected_intent }}",
										"rightValue": "document_question",
										"operator": {
											"type": "string",
											"operation": "equals",
											"name": "filter.operator.equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "📄 Documents"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "cb25bc6c-94b2-4b40-a741-8a08bb89f552",
										"leftValue": "={{ $json.detected_intent }}",
										"rightValue": "general_question",
										"operator": {
											"type": "string",
											"operation": "equals",
											"name": "filter.operator.equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "💬 General"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.switch",
			"typeVersion": 3.3,
			"position": [896, -464],
			"id": "c226be08-9293-4dc1-bcd7-011a47c72bb3",
			"name": "Switch"
		},
		{
			"parameters": {
				"jsCode": "const data = $json;\n\n// Extraer datos necesarios\nconst nombre = data.nombre || data.context_data.nombre.split(' ')[0];\nconst propertyTitle = data.context_data.property_found?.title || 'el inmueble';\n\n// Mensaje cálido y personalizado\nconst message = `¡Hola de nuevo ${nombre}! 👋\n\nMe da gusto saludarte. Como recordarás, tu perfil ya fue aprobado para \"${propertyTitle}\" ✅\n\nNuestro equipo se pondrá en contacto contigo muy pronto para coordinar los siguientes pasos.\n\n¿Hay algo en lo que pueda ayudarte mientras tanto? 😊`;\n\nreturn {\n  wa_id: data.wa_id,\n  context_data: data.context_data,\n  api_contact: data.api_contact,\n  message: message,\n  intent: 'greeting'\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [16, -160],
			"id": "aa77edb2-e514-485c-9285-74ce27992f8c",
			"name": "Handle Greeting"
		},
		{
			"parameters": {
				"jsCode": "const data = $json;\nconst timestamp = new Date().toISOString();\n\n// Clonar context_data\nconst updatedContext = JSON.parse(JSON.stringify(data.context_data));\n\n// Obtener interacciones existentes\nconst interactions = Array.isArray(updatedContext.interacciones) \n  ? updatedContext.interacciones \n  : [];\n\n// Agregar interacción del mensaje recibido\ninteractions.push({\n  timestamp: timestamp,\n  actor: \"usuario\",\n  canal: \"whatsapp\",\n  tipo: \"mensaje_recibido\",\n  mensaje: data.userPrompt || data.context_data.interacciones[data.context_data.interacciones.length - 1].mensaje,\n  detalles: {\n    tipo_mensaje: \"text\",\n    status_contacto: \"approved\"\n  }\n});\n\n// Agregar interacción del bot respondiendo\ninteractions.push({\n  timestamp: timestamp,\n  actor: \"bot\",\n  canal: \"whatsapp\",\n  tipo: \"mensaje_enviado\",\n  mensaje: data.message,\n  detalles: {\n    intent: data.intent,\n    personaje: updatedContext.personaje || \"Dany\"\n  }\n});\n\n// Actualizar contexto\nupdatedContext.interacciones = interactions;\nupdatedContext.ultima_interaccion = timestamp;\n\nreturn {\n  wa_id: data.wa_id,\n  message: data.message,\n  updatedContext: updatedContext\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [224, -160],
			"id": "ebc8aad4-931e-4257-a02f-921f810c0fc5",
			"name": "Update Interaction"
		},
		{
			"parameters": {
				"operation": "send",
				"phoneNumberId": "812415788624920",
				"recipientPhoneNumber": "={{ $json.wa_id }}",
				"textBody": "={{ $json.message }}",
				"additionalFields": {}
			},
			"type": "n8n-nodes-base.whatsApp",
			"typeVersion": 1.1,
			"position": [432, -160],
			"id": "9c3f2d7d-c9e8-4637-b306-58fc138438cc",
			"name": "Send message",
			"webhookId": "0a410a92-0820-4d8a-9de2-19603a2ef4c4",
			"credentials": {
				"whatsAppApi": {
					"id": "DpdLgHZCEJ199330",
					"name": "WhatsApp account"
				}
			}
		},
		{
			"parameters": {
				"operation": "executeQuery",
				"query": "UPDATE user_contexts \nSET \n  context_data = jsonb_set(\n    $${{ $('Update Interaction').item.json.updatedContext.toJsonString() }}$$::jsonb,\n    '{statusBot}',\n    '\"free\"'::jsonb\n  ),\n  updated_at = CURRENT_TIMESTAMP\nWHERE wa_id = '{{ $('Update Interaction').item.json.wa_id }}'\nRETURNING *;",
				"options": {}
			},
			"type": "n8n-nodes-base.postgres",
			"typeVersion": 2.6,
			"position": [640, -160],
			"id": "ddce42ac-1828-4836-8829-676ec22998cc",
			"name": "Update Postgres",
			"credentials": {
				"postgres": {
					"id": "qyR2OAIR7tUEVcQf",
					"name": "Postgres-neon"
				}
			}
		},
		{
			"parameters": {
				"method": "POST",
				"url": "=https://vg.g210512.com/api/v1/contactos/{{ $('Update Interaction').item.json.updatedContext.api_contact_id }}/comentarios",
				"authentication": "genericCredentialType",
				"genericAuthType": "httpHeaderAuth",
				"sendBody": true,
				"bodyParameters": {
					"parameters": [
						{
							"name": "comentario",
							"value": "={ \"💬 Contacto aprobado volvió a escribir\\n\\nMensaje: \" + $('Update Interaction').item.json.updatedContext.interacciones[$('Update Interaction').item.json.updatedContext.interacciones.length - 2].mensaje + \"\\n\\nRespuesta enviada exitosamente\\n\\nTimestamp: \" + new Date().toISOString() }}"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.3,
			"position": [848, -160],
			"id": "36bba685-8c0b-443f-8a5d-e59f76090f20",
			"name": "Add API Comment",
			"credentials": {
				"httpHeaderAuth": {
					"id": "rzmCtJN8Vtwv6AO3",
					"name": "API Key Inmuebles"
				}
			}
		},
		{
			"parameters": {
				"jsCode": "const data = $json;\nconst nombre = data.nombre;\nconst propertyTitle = data.context_data.property_found?.title || 'el inmueble';\n\n// Mensaje de seguimiento profesional y tranquilizador\nconst message = `De acuerdo ${nombre}\n\nEntiendo que quieres saber sobre el estatus de tu proceso para \"${propertyTitle}\".\n\nTu perfil está aprobado y registrado en nuestro sistema ✅\n\nNuestro equipo de ventas se pondrá en contacto contigo en las próximas 24-48 horas para:\n📋 Coordinar la visita al inmueble\n📄 Revisar la documentación necesaria\n✍️ Avanzar con el proceso de contratación\n\nEn este momento he vuelto a enviar una solicitud de atención a nuestro equipo.\n\n¿Hay algo más en lo que pueda ayudarte? 😊`;\n\nreturn {\n  wa_id: data.wa_id,\n  context_data: data.context_data,\n  api_contact: data.api_contact,\n  message: message,\n  intent: 'followup'\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [1120, -624],
			"id": "780c650b-e6b2-4250-8636-2315774764cd",
			"name": "Handle Followup"
		},
		{
			"parameters": {
				"jsCode": "const data = $json;\nconst nombre = data.nombre;\nconst propertyRestrictions = data.context_data.property_found?.restrictions || {};\n\n// Construir lista de documentos\nconst message = `Perfecto ${nombre},\n\nCon gusto te explico los documentos que necesitarás:\n\n📄 **Documentos Requeridos:**\n\n1️⃣ Identificación oficial vigente (INE/Pasaporte)\n\n2️⃣ Comprobante de ingresos:\n   - Recibos de nómina timbrados por el SAT (últimos 3 meses)\n   - Estados de cuenta completos, o\n   - Facturas (si eres independiente)\n\n3️⃣ Comprobante de domicilio reciente (no mayor a 3 meses)\n\n4️⃣ Referencias personales y/o laborales\n\n💰 **Pagos Iniciales:**\n   - Primer mes de renta\n   - Un mes de depósito en garantía\n   - Póliza jurídica: $${propertyRestrictions.precio_poliza || '4,100'} (anual)\n\nNuestro equipo te guiará en todo el proceso cuando te contacten.\n\n¿Tienes alguna otra duda? 😊`;\n\nreturn {\n  wa_id: data.wa_id,\n  context_data: data.context_data,\n  api_contact: data.api_contact,\n  message: message,\n  intent: 'document_question'\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [1312, -624],
			"id": "dfd140ee-c9fd-4e20-9627-1bd0b0b04901",
			"name": "Handle Documents"
		},
		{
			"parameters": {
				"jsCode": "const data = $json;\nconst nombre = data.nombre;\nconst propertyTitle = data.context_data.property_found?.title || 'el inmueble';\n\n// Mensaje general amigable y útil\nconst message = `Hola ${nombre} 👋\n\nTu perfil ya está aprobado para \"${propertyTitle}\" ✅\n\nEstoy aquí para ayudarte. Puedo asistirte con:\n\n📋 Información sobre el estatus de tu proceso\n📄 Dudas sobre documentación requerida\n\nNuestro equipo de ventas también se pondrá en contacto contigo pronto para avanzar con el proceso.\n\n¿En qué puedo ayudarte específicamente? 😊`;\n\nreturn {\n  wa_id: data.wa_id,\n  context_data: data.context_data,\n  api_contact: data.api_contact,\n  message: message,\n  intent: 'general_question'\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [1504, -624],
			"id": "64d26c59-e922-402a-8878-af5abf80d483",
			"name": "Handle General"
		}
	],
	"connections": {
		"When Executed by Another Workflow": {
			"main": [
				[
					{
						"node": "Detect Intent (AI)",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Detect Intent (AI)": {
			"main": [
				[
					{
						"node": "Call AI for Intent",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Parse AI Response": {
			"main": [
				[
					{
						"node": "Switch",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Call AI for Intent": {
			"main": [
				[
					{
						"node": "Parse AI Response",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Switch": {
			"main": [
				[
					{
						"node": "Handle Greeting",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Handle Followup",
						"type": "main",
						"index": 0
					}
				],
				[],
				[
					{
						"node": "Handle Documents",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Handle General",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Handle Greeting": {
			"main": [
				[
					{
						"node": "Update Interaction",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Update Interaction": {
			"main": [
				[
					{
						"node": "Send message",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Send message": {
			"main": [
				[
					{
						"node": "Update Postgres",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Update Postgres": {
			"main": [
				[
					{
						"node": "Add API Comment",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Add API Comment": {
			"main": [[]]
		},
		"Handle Followup": {
			"main": [
				[
					{
						"node": "Update Interaction",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Handle Documents": {
			"main": [
				[
					{
						"node": "Update Interaction",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Handle General": {
			"main": [
				[
					{
						"node": "Update Interaction",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"pinData": {
		"When Executed by Another Workflow": [
			{
				"wa_id": "5215559177781",
				"userPrompt": "tengo una duda",
				"context_data": {
					"nombre": "Emmet Juaquin Villanueva",
					"status": "approved",
					"telefono": "5559177781",
					"personaje": "Dany",
					"statusBot": "working",
					"last_intent": "property_search",
					"interacciones": [
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Hola",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T02:57:24.711Z"
						},
						{
							"tipo": "intencion_detectada",
							"actor": "sistema",
							"canal": "whatsapp",
							"mensaje": "Intención detectada: greeting",
							"detalles": {
								"intent": "greeting",
								"user_message": "Hola"
							},
							"timestamp": "2025-11-14T02:57:33.783Z"
						},
						{
							"tipo": "mensaje_enviado",
							"actor": "bot",
							"canal": "whatsapp",
							"mensaje": "¡Hola! 👋 Soy Dany, tu asistente...",
							"detalles": {
								"intent": "greeting",
								"personaje": "Dany"
							},
							"timestamp": "2025-11-14T02:57:33.783Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Quiero info del depa en Cuajimalpa",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T02:57:57.836Z"
						},
						{
							"tipo": "intencion_detectada",
							"actor": "sistema",
							"canal": "whatsapp",
							"mensaje": "Intención: property_search",
							"detalles": {
								"intent": "property_search",
								"original_message": "Quiero info del depa en Cuajimalpa"
							},
							"timestamp": "2025-11-14T02:58:07.287Z"
						},
						{
							"tipo": "solicitud_datos",
							"actor": "sistema",
							"canal": "whatsapp",
							"mensaje": "Se solicitaron datos del contacto",
							"detalles": {
								"original_message": ""
							},
							"timestamp": "2025-11-14T02:58:07.415Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "ok Emmet Juaquin Villanueva 5559177781",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T02:58:33.166Z"
						},
						{
							"tipo": "datos_recibidos",
							"actor": "sistema",
							"canal": "whatsapp",
							"mensaje": "Datos del contacto recibidos y validados",
							"detalles": {
								"nombre": "Emmet Juaquin Villanueva",
								"telefono": "5559177781",
								"api_contact_id": 633
							},
							"timestamp": "2025-11-14T03:19:48.611Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "si adelante",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:23:51.004Z"
						},
						{
							"tipo": "confirmacion_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "si adelante",
							"detalles": {
								"respuesta": "afirmativa",
								"inicia_cuestionario": true
							},
							"timestamp": "2025-11-14T03:23:59.914Z"
						},
						{
							"tipo": "inicio_cuestionario",
							"actor": "sistema",
							"canal": "whatsapp",
							"mensaje": "Cuestionario generado e iniciado",
							"detalles": {
								"total_preguntas": 9,
								"primera_pregunta": "necesita_estacionamiento"
							},
							"timestamp": "2025-11-14T03:23:59.930Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "si",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:26:49.812Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 1: si",
							"detalles": {
								"paso": 1,
								"field": "necesita_estacionamiento",
								"total": 9
							},
							"timestamp": "2025-11-14T03:26:54.619Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "no",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:27:01.104Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 2: no",
							"detalles": {
								"paso": 2,
								"field": "tiene_ninos",
								"total": 9
							},
							"timestamp": "2025-11-14T03:27:06.163Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "no",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:27:14.700Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 3: no",
							"detalles": {
								"paso": 3,
								"field": "tiene_mascotas",
								"total": 9
							},
							"timestamp": "2025-11-14T03:27:20.134Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "con mi pareja unicamente",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:27:41.125Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 4: con mi pareja unicamente",
							"detalles": {
								"paso": 4,
								"field": "tiene_roomies",
								"total": 9
							},
							"timestamp": "2025-11-14T03:27:46.377Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "de acuerdo",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:28:02.940Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 5: de acuerdo",
							"detalles": {
								"paso": 5,
								"field": "acepta_poliza",
								"total": 9
							},
							"timestamp": "2025-11-14T03:28:07.625Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "si de acuerdo",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:28:22.408Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 6: si de acuerdo",
							"detalles": {
								"paso": 6,
								"field": "acepta_deposito_renta",
								"total": 9
							},
							"timestamp": "2025-11-14T03:28:27.823Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "sip",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:28:37.142Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 7: sip",
							"detalles": {
								"paso": 7,
								"field": "cumple_ingresos",
								"total": 9
							},
							"timestamp": "2025-11-14T03:28:43.556Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "ingeniero IT",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:29:03.612Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 8: ingeniero IT",
							"detalles": {
								"paso": 8,
								"field": "ocupacion",
								"total": 9
							},
							"timestamp": "2025-11-14T03:29:08.956Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Nómina",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:29:15.383Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 9: Nómina",
							"detalles": {
								"paso": 9,
								"field": "tipo_comprobante",
								"total": 9
							},
							"timestamp": "2025-11-14T03:29:21.489Z"
						},
						{
							"tipo": "perfil_aprobado",
							"actor": "sistema",
							"canal": "whatsapp",
							"mensaje": "Perfil aprobado - cumple con todos los requisitos",
							"detalles": {
								"resumen": "El prospecto cumple con todas las restricciones: no habrá niños ni mascotas, no habrá roomies (viviría con su pareja), acepta la póliza de 4,100 anuales y el depósito más renta inicial, cumple con el ingreso mínimo de 27,000 mensuales y presenta nómina como comprobante; además no es estudiante.",
								"recomendacion": "Proceder con la aprobación formal y avanzar a la contratación, verificando documentos y preparación del contrato.",
								"total_respuestas": 9
							},
							"timestamp": "2025-11-14T03:29:35.057Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "hola",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T04:05:53.151Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "hola",
							"detalles": {
								"tipo_mensaje": "text",
								"status_contacto": "approved"
							},
							"timestamp": "2025-11-14T05:04:56.504Z"
						},
						{
							"tipo": "mensaje_enviado",
							"actor": "bot",
							"canal": "whatsapp",
							"mensaje": "¡Hola de nuevo Emmet! 👋\n\nMe da gusto saludarte. Como recordarás, tu perfil ya fue aprobado para \"Depa para Pareja sin niños a 15 min de Santa Fe\" ✅\n\nNuestro equipo se pondrá en contacto contigo muy pronto para coordinar los siguientes pasos.\n\n¿Hay algo en lo que pueda ayudarte mientras tanto? 😊",
							"detalles": {
								"intent": "greeting",
								"personaje": "Dany"
							},
							"timestamp": "2025-11-14T05:04:56.504Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "ya paso un d[ia y no me han contactado",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T05:12:46.975Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "ya paso un d[ia y no me han contactado",
							"detalles": {
								"tipo_mensaje": "text",
								"status_contacto": "approved"
							},
							"timestamp": "2025-11-14T05:22:35.877Z"
						},
						{
							"tipo": "mensaje_enviado",
							"actor": "bot",
							"canal": "whatsapp",
							"mensaje": "De acuerdo Emmet\n\nEntiendo que quieres saber sobre el estatus de tu proceso para \"Depa para Pareja sin niños a 15 min de Santa Fe\".\n\nTu perfil está aprobado y registrado en nuestro sistema ✅\n\nNuestro equipo de ventas se pondrá en contacto contigo en las próximas 24-48 horas para:\n📋 Coordinar la visita al inmueble\n📄 Revisar la documentación necesaria\n✍️ Avanzar con el proceso de contratación\n\nEn este momento he vuelto a enviar una solicitud de atención a nuestro equipo.\n\n¿Hay algo más en lo que pueda ayudarte? 😊",
							"detalles": {
								"intent": "followup",
								"personaje": "Dany"
							},
							"timestamp": "2025-11-14T05:22:35.877Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Que documentos necesito para el proceso?",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T05:25:11.798Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Que documentos necesito para el proceso?",
							"detalles": {
								"tipo_mensaje": "text",
								"status_contacto": "approved"
							},
							"timestamp": "2025-11-14T05:26:16.723Z"
						},
						{
							"tipo": "mensaje_enviado",
							"actor": "bot",
							"canal": "whatsapp",
							"mensaje": "Perfecto Emmet,\n\nCon gusto te explico los documentos que necesitarás:\n\n📄 **Documentos Requeridos:**\n\n1️⃣ Identificación oficial vigente (INE/Pasaporte)\n\n2️⃣ Comprobante de ingresos:\n   - Recibos de nómina timbrados por el SAT (últimos 3 meses)\n   - Estados de cuenta completos, o\n   - Facturas (si eres independiente)\n\n3️⃣ Comprobante de domicilio reciente (no mayor a 3 meses)\n\n4️⃣ Referencias personales y/o laborales\n\n💰 **Pagos Iniciales:**\n   - Primer mes de renta\n   - Un mes de depósito en garantía\n   - Póliza jurídica: $4100.00 (anual)\n\nNuestro equipo te guiará en todo el proceso cuando te contacten.\n\n¿Tienes alguna otra duda? 😊",
							"detalles": {
								"intent": "document_question",
								"personaje": "Dany"
							},
							"timestamp": "2025-11-14T05:26:16.723Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "tengo una duda",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T05:29:24.277Z"
						}
					],
					"questionnaire": [
						{
							"type": "text",
							"field": "necesita_estacionamiento",
							"section": "caracteristicas_fisicas",
							"question": "El inmueble no cuenta con estacionamiento. ¿Estás de acuerdo con esto?"
						},
						{
							"type": "text",
							"field": "tiene_ninos",
							"section": "restricciones_convivencia",
							"question": "¿Entre las personas que vivirían en el inmueble habría niños?"
						},
						{
							"type": "text",
							"field": "tiene_mascotas",
							"section": "restricciones_convivencia",
							"question": "El arrendador no acepta mascotas, es una restricción no negociable. ¿Tienes inconveniente con esto?"
						},
						{
							"type": "text",
							"field": "tiene_roomies",
							"section": "restricciones_convivencia",
							"question": "Platícame con quien vivirás ¿solo/a, con pareja, familia o con roomies?"
						},
						{
							"type": "text",
							"field": "acepta_poliza",
							"section": "condiciones_contratacion",
							"question": "Se solicita una póliza jurídica de $4,100 que se paga anualmente, es decir, cada año que renueves el contrato. ¿Estás de acuerdo?"
						},
						{
							"type": "text",
							"field": "acepta_deposito_renta",
							"section": "condiciones_contratacion",
							"question": "Los pagos iniciales que se requieren son: Primer mes de renta y un mes de renta como depósito en garantía. ¿Estás de acuerdo con éste requisito?"
						},
						{
							"type": "text",
							"field": "cumple_ingresos",
							"section": "validacion_ingresos",
							"question": "Se pide un ingreso mínimo de $27,000 mensuales, puede ser individual o mancomunado si vivirás en pareja. ¿Cumples con éste requisito?"
						},
						{
							"type": "text",
							"field": "ocupacion",
							"section": "validacion_ingresos",
							"question": "Para conocer mejor tu perfil, ¿a qué te dedicas actualmente?"
						},
						{
							"type": "text",
							"field": "tipo_comprobante",
							"section": "validacion_ingresos",
							"question": "¿Qué tipo de comprobantes de ingresos tienes? (Recibo de nómina timbrado por el SAT, estados de cuenta completos o facturas?)"
						}
					],
					"api_contact_id": 633,
					"property_found": {
						"id": 17,
						"m2": "75.00",
						"slug": "depa-para-pareja-sin-ninos-a-15-min-de-santa-fe",
						"type": "Departamento",
						"baths": 1,
						"rooms": 2,
						"title": "Depa para Pareja sin niños a 15 min de Santa Fe",
						"estado": "Ciudad de México",
						"ammount": "$9,000.00",
						"colonia": "Jesús del Monte",
						"parkings": 2,
						"municipio": "Cuajimalpa de Morelos",
						"operacion": "Renta",
						"description": "Villanueva García propone en renta: Bonito departamento a 15 mins de Santa Fe e Interlomas\r\n\r\n* Ideal para PAREJAS (2 personas) no más.\r\n\r\nCuenta con:\r\n* Bonitos Acabados\r\n* Alfombrado (NO SE ACEPTAN MASCOTAS)\r\n* 2 cajones de estacionamiento en una fila (no se estorba con ningún vecino)\r\n* 2 habitaciones (CON CLOSET)\r\n* 1 cocina integral\r\n* 1 baño completo\r\n* Área de Sala - Comedor.\r\n\r\n** REQUISITOS**\r\n\r\nIMPORTANTE: Cubrir por favor requisitos y restricciones al 100% ESPECÍFICADOS EN LA PUBLICACIÓN, PARA PODER AGENDAR CITA; ya que no son NEGOCIABLES.\r\n\r\n* Comprobar ingresos mínimos de $30,000 (Individual o mancomunado y aceptamos recibos de nómina, estados de cuenta completos o facturas)\r\n* Pago Póliza Jurídica Costo $4,300 ( ANUAL)\r\n* 1 Mes de depósito en garantía\r\n* 1 Mes de renta corriente.\r\n\r\nNO aceptamos: (NO NEGOCIABLES)\r\n\r\n* Mascotas (PERROS, GATOS)\r\n* Niños\r\n* Estudiantes que no vayan a vivir con padre o tutor\r\n* Roomies (Personas que estén cambiando frecuentemente)\r\n\r\nHorario de Atención TELEFÓNICA: NO WHATSAPP\r\nLu-Vi 09.00am a 6:00 pm\r\nSábado y Domingo 09.00am a 3:00pm",
						"restrictions": {
							"acepta_niños": "no",
							"observaciones": "Ingresos mínimos comprobables de $27,000 mensuales.",
							"precio_poliza": "4100.00",
							"acepta_roomies": "no",
							"acepta_mascotas": "no",
							"ingresos_minimos": "27000.00",
							"acepta_estudiantes": "no",
							"requiere_comprobantes_ingresos": true
						}
					},
					"already_greeted": true,
					"original_search": "",
					"approval_summary": "El prospecto cumple con todas las restricciones: no habrá niños ni mascotas, no habrá roomies (viviría con su pareja), acepta la póliza de 4,100 anuales y el depósito más renta inicial, cumple con el ingreso mínimo de 27,000 mensuales y presenta nómina como comprobante; además no es estudiante.",
					"approval_timestamp": "2025-11-14T03:29:35.057Z",
					"questionnaire_step": 10,
					"ultima_interaccion": "2025-11-14T05:29:24.277Z",
					"questionnaire_total": 9,
					"questionnaire_answers": [
						{
							"step": 1,
							"field": "necesita_estacionamiento",
							"answer": "si",
							"passed": true,
							"section": "caracteristicas_fisicas",
							"question": "El inmueble no cuenta con estacionamiento. ¿Estás de acuerdo con esto?",
							"timestamp": "2025-11-14T03:26:54.619Z"
						},
						{
							"step": 2,
							"field": "tiene_ninos",
							"answer": "no",
							"passed": true,
							"section": "restricciones_convivencia",
							"question": "¿Entre las personas que vivirían en el inmueble habría niños?",
							"timestamp": "2025-11-14T03:27:06.163Z"
						},
						{
							"step": 3,
							"field": "tiene_mascotas",
							"answer": "no",
							"passed": true,
							"section": "restricciones_convivencia",
							"question": "El arrendador no acepta mascotas, es una restricción no negociable. ¿Tienes inconveniente con esto?",
							"timestamp": "2025-11-14T03:27:20.134Z"
						},
						{
							"step": 4,
							"field": "tiene_roomies",
							"answer": "con mi pareja unicamente",
							"passed": true,
							"section": "restricciones_convivencia",
							"question": "Platícame con quien vivirás ¿solo/a, con pareja, familia o con roomies?",
							"timestamp": "2025-11-14T03:27:46.377Z"
						},
						{
							"step": 5,
							"field": "acepta_poliza",
							"answer": "de acuerdo",
							"passed": true,
							"section": "condiciones_contratacion",
							"question": "Se solicita una póliza jurídica de $4,100 que se paga anualmente, es decir, cada año que renueves el contrato. ¿Estás de acuerdo?",
							"timestamp": "2025-11-14T03:28:07.625Z"
						},
						{
							"step": 6,
							"field": "acepta_deposito_renta",
							"answer": "si de acuerdo",
							"passed": true,
							"section": "condiciones_contratacion",
							"question": "Los pagos iniciales que se requieren son: Primer mes de renta y un mes de renta como depósito en garantía. ¿Estás de acuerdo con éste requisito?",
							"timestamp": "2025-11-14T03:28:27.823Z"
						},
						{
							"step": 7,
							"field": "cumple_ingresos",
							"answer": "sip",
							"passed": true,
							"section": "validacion_ingresos",
							"question": "Se pide un ingreso mínimo de $27,000 mensuales, puede ser individual o mancomunado si vivirás en pareja. ¿Cumples con éste requisito?",
							"timestamp": "2025-11-14T03:28:43.556Z"
						},
						{
							"step": 8,
							"field": "ocupacion",
							"answer": "ingeniero IT",
							"passed": true,
							"section": "validacion_ingresos",
							"question": "Para conocer mejor tu perfil, ¿a qué te dedicas actualmente?",
							"timestamp": "2025-11-14T03:29:08.956Z"
						},
						{
							"step": 9,
							"field": "tipo_comprobante",
							"answer": "Nómina",
							"passed": true,
							"section": "validacion_ingresos",
							"question": "¿Qué tipo de comprobantes de ingresos tienes? (Recibo de nómina timbrado por el SAT, estados de cuenta completos o facturas?)",
							"timestamp": "2025-11-14T03:29:21.489Z"
						}
					],
					"approval_recommendation": "Proceder con la aprobación formal y avanzar a la contratación, verificando documentos y preparación del contrato."
				},
				"api_contact": {
					"id": 633,
					"nombre": "🤖 - Emmet Juaquin Villanueva",
					"email": null,
					"telefono": "5559177781",
					"estado": "en_contacto",
					"fuente": "🤖 - WhatsApp Bot",
					"created_at": "2025-11-13T20:57:24-06:00",
					"updated_at": "2025-11-13T21:23:08-06:00",
					"last_interaction_at": "2025-11-13T23:26:18-06:00",
					"interes_reciente": {
						"id": 86,
						"inmueble_id": 17,
						"inmueble": {
							"id": 17,
							"titulo": "Depa para Pareja sin niños a 15 min de Santa Fe",
							"slug": "depa-para-pareja-sin-ninos-a-15-min-de-santa-fe",
							"descripcion": "Villanueva García propone en renta: Bonito departamento a 15 mins de Santa Fe e Interlomas\r\n\r\n* Ideal para PAREJAS (2 personas) no más.\r\n\r\nCuenta con:\r\n* Bonitos Acabados\r\n* Alfombrado (NO SE ACEPTAN MASCOTAS)\r\n* 2 cajones de estacionamiento en una fila (no se estorba con ningún vecino)\r\n* 2 habitaciones (CON CLOSET)\r\n* 1 cocina integral\r\n* 1 baño completo\r\n* Área de Sala - Comedor.\r\n\r\n** REQUISITOS**\r\n\r\nIMPORTANTE: Cubrir por favor requisitos y restricciones al 100% ESPECÍFICADOS EN LA PUBLICACIÓN, PARA PODER AGENDAR CITA; ya que no son NEGOCIABLES.\r\n\r\n* Comprobar ingresos mínimos de $30,000 (Individual o mancomunado y aceptamos recibos de nómina, estados de cuenta completos o facturas)\r\n* Pago Póliza Jurídica Costo $4,300 ( ANUAL)\r\n* 1 Mes de depósito en garantía\r\n* 1 Mes de renta corriente.\r\n\r\nNO aceptamos: (NO NEGOCIABLES)\r\n\r\n* Mascotas (PERROS, GATOS)\r\n* Niños\r\n* Estudiantes que no vayan a vivir con padre o tutor\r\n* Roomies (Personas que estén cambiando frecuentemente)\r\n\r\nHorario de Atención TELEFÓNICA: NO WHATSAPP\r\nLu-Vi 09.00am a 6:00 pm\r\nSábado y Domingo 09.00am a 3:00pm",
							"precio": "9000.00",
							"precio_formateado": "$9,000.00",
							"direccion": "Emiliano Zapata Jesus Del Monte",
							"colonia": "Jesús del Monte",
							"municipio": "Cuajimalpa de Morelos",
							"estado": "Ciudad de México",
							"codigo_postal": "05260",
							"ubicacion": {
								"latitud": 19.375494,
								"longitud": -99.290896
							},
							"location": {
								"latitude": 19.375494,
								"longitude": -99.290896
							},
							"tipo": "Departamento",
							"operacion": "Renta",
							"habitaciones": 2,
							"banos": 1,
							"estacionamientos": 2,
							"metros_cuadrados": "75.00",
							"superficie_construida": "75.00",
							"superficie_terreno": "75.00",
							"anio_construccion": 2000,
							"destacado": true,
							"video_url": null,
							"tour_virtual_url": null,
							"amenidades": [],
							"extras": [],
							"tags": [
								"emiliano zapata",
								"jesus del monte",
								"santa fe",
								"cuajimalpa",
								"interlomas"
							],
							"created_at": "2025-09-30T00:42:24-06:00",
							"updated_at": "2025-10-24T23:56:48-06:00"
						},
						"created_at": "2025-11-13T21:23:08-06:00"
					}
				}
			}
		],
		"Detect Intent (AI)": [
			{
				"wa_id": "5215559177781",
				"userPrompt": "tengo una duda",
				"context_data": {
					"nombre": "Emmet Juaquin Villanueva",
					"status": "approved",
					"telefono": "5559177781",
					"personaje": "Dany",
					"statusBot": "working",
					"last_intent": "property_search",
					"interacciones": [
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Hola",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T02:57:24.711Z"
						},
						{
							"tipo": "intencion_detectada",
							"actor": "sistema",
							"canal": "whatsapp",
							"mensaje": "Intención detectada: greeting",
							"detalles": {
								"intent": "greeting",
								"user_message": "Hola"
							},
							"timestamp": "2025-11-14T02:57:33.783Z"
						},
						{
							"tipo": "mensaje_enviado",
							"actor": "bot",
							"canal": "whatsapp",
							"mensaje": "¡Hola! 👋 Soy Dany, tu asistente...",
							"detalles": {
								"intent": "greeting",
								"personaje": "Dany"
							},
							"timestamp": "2025-11-14T02:57:33.783Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Quiero info del depa en Cuajimalpa",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T02:57:57.836Z"
						},
						{
							"tipo": "intencion_detectada",
							"actor": "sistema",
							"canal": "whatsapp",
							"mensaje": "Intención: property_search",
							"detalles": {
								"intent": "property_search",
								"original_message": "Quiero info del depa en Cuajimalpa"
							},
							"timestamp": "2025-11-14T02:58:07.287Z"
						},
						{
							"tipo": "solicitud_datos",
							"actor": "sistema",
							"canal": "whatsapp",
							"mensaje": "Se solicitaron datos del contacto",
							"detalles": {
								"original_message": ""
							},
							"timestamp": "2025-11-14T02:58:07.415Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "ok Emmet Juaquin Villanueva 5559177781",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T02:58:33.166Z"
						},
						{
							"tipo": "datos_recibidos",
							"actor": "sistema",
							"canal": "whatsapp",
							"mensaje": "Datos del contacto recibidos y validados",
							"detalles": {
								"nombre": "Emmet Juaquin Villanueva",
								"telefono": "5559177781",
								"api_contact_id": 633
							},
							"timestamp": "2025-11-14T03:19:48.611Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "si adelante",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:23:51.004Z"
						},
						{
							"tipo": "confirmacion_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "si adelante",
							"detalles": {
								"respuesta": "afirmativa",
								"inicia_cuestionario": true
							},
							"timestamp": "2025-11-14T03:23:59.914Z"
						},
						{
							"tipo": "inicio_cuestionario",
							"actor": "sistema",
							"canal": "whatsapp",
							"mensaje": "Cuestionario generado e iniciado",
							"detalles": {
								"total_preguntas": 9,
								"primera_pregunta": "necesita_estacionamiento"
							},
							"timestamp": "2025-11-14T03:23:59.930Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "si",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:26:49.812Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 1: si",
							"detalles": {
								"paso": 1,
								"field": "necesita_estacionamiento",
								"total": 9
							},
							"timestamp": "2025-11-14T03:26:54.619Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "no",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:27:01.104Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 2: no",
							"detalles": {
								"paso": 2,
								"field": "tiene_ninos",
								"total": 9
							},
							"timestamp": "2025-11-14T03:27:06.163Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "no",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:27:14.700Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 3: no",
							"detalles": {
								"paso": 3,
								"field": "tiene_mascotas",
								"total": 9
							},
							"timestamp": "2025-11-14T03:27:20.134Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "con mi pareja unicamente",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:27:41.125Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 4: con mi pareja unicamente",
							"detalles": {
								"paso": 4,
								"field": "tiene_roomies",
								"total": 9
							},
							"timestamp": "2025-11-14T03:27:46.377Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "de acuerdo",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:28:02.940Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 5: de acuerdo",
							"detalles": {
								"paso": 5,
								"field": "acepta_poliza",
								"total": 9
							},
							"timestamp": "2025-11-14T03:28:07.625Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "si de acuerdo",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:28:22.408Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 6: si de acuerdo",
							"detalles": {
								"paso": 6,
								"field": "acepta_deposito_renta",
								"total": 9
							},
							"timestamp": "2025-11-14T03:28:27.823Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "sip",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:28:37.142Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 7: sip",
							"detalles": {
								"paso": 7,
								"field": "cumple_ingresos",
								"total": 9
							},
							"timestamp": "2025-11-14T03:28:43.556Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "ingeniero IT",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:29:03.612Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 8: ingeniero IT",
							"detalles": {
								"paso": 8,
								"field": "ocupacion",
								"total": 9
							},
							"timestamp": "2025-11-14T03:29:08.956Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Nómina",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:29:15.383Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 9: Nómina",
							"detalles": {
								"paso": 9,
								"field": "tipo_comprobante",
								"total": 9
							},
							"timestamp": "2025-11-14T03:29:21.489Z"
						},
						{
							"tipo": "perfil_aprobado",
							"actor": "sistema",
							"canal": "whatsapp",
							"mensaje": "Perfil aprobado - cumple con todos los requisitos",
							"detalles": {
								"resumen": "El prospecto cumple con todas las restricciones: no habrá niños ni mascotas, no habrá roomies (viviría con su pareja), acepta la póliza de 4,100 anuales y el depósito más renta inicial, cumple con el ingreso mínimo de 27,000 mensuales y presenta nómina como comprobante; además no es estudiante.",
								"recomendacion": "Proceder con la aprobación formal y avanzar a la contratación, verificando documentos y preparación del contrato.",
								"total_respuestas": 9
							},
							"timestamp": "2025-11-14T03:29:35.057Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "hola",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T04:05:53.151Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "hola",
							"detalles": {
								"tipo_mensaje": "text",
								"status_contacto": "approved"
							},
							"timestamp": "2025-11-14T05:04:56.504Z"
						},
						{
							"tipo": "mensaje_enviado",
							"actor": "bot",
							"canal": "whatsapp",
							"mensaje": "¡Hola de nuevo Emmet! 👋\n\nMe da gusto saludarte. Como recordarás, tu perfil ya fue aprobado para \"Depa para Pareja sin niños a 15 min de Santa Fe\" ✅\n\nNuestro equipo se pondrá en contacto contigo muy pronto para coordinar los siguientes pasos.\n\n¿Hay algo en lo que pueda ayudarte mientras tanto? 😊",
							"detalles": {
								"intent": "greeting",
								"personaje": "Dany"
							},
							"timestamp": "2025-11-14T05:04:56.504Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "ya paso un d[ia y no me han contactado",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T05:12:46.975Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "ya paso un d[ia y no me han contactado",
							"detalles": {
								"tipo_mensaje": "text",
								"status_contacto": "approved"
							},
							"timestamp": "2025-11-14T05:22:35.877Z"
						},
						{
							"tipo": "mensaje_enviado",
							"actor": "bot",
							"canal": "whatsapp",
							"mensaje": "De acuerdo Emmet\n\nEntiendo que quieres saber sobre el estatus de tu proceso para \"Depa para Pareja sin niños a 15 min de Santa Fe\".\n\nTu perfil está aprobado y registrado en nuestro sistema ✅\n\nNuestro equipo de ventas se pondrá en contacto contigo en las próximas 24-48 horas para:\n📋 Coordinar la visita al inmueble\n📄 Revisar la documentación necesaria\n✍️ Avanzar con el proceso de contratación\n\nEn este momento he vuelto a enviar una solicitud de atención a nuestro equipo.\n\n¿Hay algo más en lo que pueda ayudarte? 😊",
							"detalles": {
								"intent": "followup",
								"personaje": "Dany"
							},
							"timestamp": "2025-11-14T05:22:35.877Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Que documentos necesito para el proceso?",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T05:25:11.798Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Que documentos necesito para el proceso?",
							"detalles": {
								"tipo_mensaje": "text",
								"status_contacto": "approved"
							},
							"timestamp": "2025-11-14T05:26:16.723Z"
						},
						{
							"tipo": "mensaje_enviado",
							"actor": "bot",
							"canal": "whatsapp",
							"mensaje": "Perfecto Emmet,\n\nCon gusto te explico los documentos que necesitarás:\n\n📄 **Documentos Requeridos:**\n\n1️⃣ Identificación oficial vigente (INE/Pasaporte)\n\n2️⃣ Comprobante de ingresos:\n   - Recibos de nómina timbrados por el SAT (últimos 3 meses)\n   - Estados de cuenta completos, o\n   - Facturas (si eres independiente)\n\n3️⃣ Comprobante de domicilio reciente (no mayor a 3 meses)\n\n4️⃣ Referencias personales y/o laborales\n\n💰 **Pagos Iniciales:**\n   - Primer mes de renta\n   - Un mes de depósito en garantía\n   - Póliza jurídica: $4100.00 (anual)\n\nNuestro equipo te guiará en todo el proceso cuando te contacten.\n\n¿Tienes alguna otra duda? 😊",
							"detalles": {
								"intent": "document_question",
								"personaje": "Dany"
							},
							"timestamp": "2025-11-14T05:26:16.723Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "tengo una duda",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T05:29:24.277Z"
						}
					],
					"questionnaire": [
						{
							"type": "text",
							"field": "necesita_estacionamiento",
							"section": "caracteristicas_fisicas",
							"question": "El inmueble no cuenta con estacionamiento. ¿Estás de acuerdo con esto?"
						},
						{
							"type": "text",
							"field": "tiene_ninos",
							"section": "restricciones_convivencia",
							"question": "¿Entre las personas que vivirían en el inmueble habría niños?"
						},
						{
							"type": "text",
							"field": "tiene_mascotas",
							"section": "restricciones_convivencia",
							"question": "El arrendador no acepta mascotas, es una restricción no negociable. ¿Tienes inconveniente con esto?"
						},
						{
							"type": "text",
							"field": "tiene_roomies",
							"section": "restricciones_convivencia",
							"question": "Platícame con quien vivirás ¿solo/a, con pareja, familia o con roomies?"
						},
						{
							"type": "text",
							"field": "acepta_poliza",
							"section": "condiciones_contratacion",
							"question": "Se solicita una póliza jurídica de $4,100 que se paga anualmente, es decir, cada año que renueves el contrato. ¿Estás de acuerdo?"
						},
						{
							"type": "text",
							"field": "acepta_deposito_renta",
							"section": "condiciones_contratacion",
							"question": "Los pagos iniciales que se requieren son: Primer mes de renta y un mes de renta como depósito en garantía. ¿Estás de acuerdo con éste requisito?"
						},
						{
							"type": "text",
							"field": "cumple_ingresos",
							"section": "validacion_ingresos",
							"question": "Se pide un ingreso mínimo de $27,000 mensuales, puede ser individual o mancomunado si vivirás en pareja. ¿Cumples con éste requisito?"
						},
						{
							"type": "text",
							"field": "ocupacion",
							"section": "validacion_ingresos",
							"question": "Para conocer mejor tu perfil, ¿a qué te dedicas actualmente?"
						},
						{
							"type": "text",
							"field": "tipo_comprobante",
							"section": "validacion_ingresos",
							"question": "¿Qué tipo de comprobantes de ingresos tienes? (Recibo de nómina timbrado por el SAT, estados de cuenta completos o facturas?)"
						}
					],
					"api_contact_id": 633,
					"property_found": {
						"id": 17,
						"m2": "75.00",
						"slug": "depa-para-pareja-sin-ninos-a-15-min-de-santa-fe",
						"type": "Departamento",
						"baths": 1,
						"rooms": 2,
						"title": "Depa para Pareja sin niños a 15 min de Santa Fe",
						"estado": "Ciudad de México",
						"ammount": "$9,000.00",
						"colonia": "Jesús del Monte",
						"parkings": 2,
						"municipio": "Cuajimalpa de Morelos",
						"operacion": "Renta",
						"description": "Villanueva García propone en renta: Bonito departamento a 15 mins de Santa Fe e Interlomas\r\n\r\n* Ideal para PAREJAS (2 personas) no más.\r\n\r\nCuenta con:\r\n* Bonitos Acabados\r\n* Alfombrado (NO SE ACEPTAN MASCOTAS)\r\n* 2 cajones de estacionamiento en una fila (no se estorba con ningún vecino)\r\n* 2 habitaciones (CON CLOSET)\r\n* 1 cocina integral\r\n* 1 baño completo\r\n* Área de Sala - Comedor.\r\n\r\n** REQUISITOS**\r\n\r\nIMPORTANTE: Cubrir por favor requisitos y restricciones al 100% ESPECÍFICADOS EN LA PUBLICACIÓN, PARA PODER AGENDAR CITA; ya que no son NEGOCIABLES.\r\n\r\n* Comprobar ingresos mínimos de $30,000 (Individual o mancomunado y aceptamos recibos de nómina, estados de cuenta completos o facturas)\r\n* Pago Póliza Jurídica Costo $4,300 ( ANUAL)\r\n* 1 Mes de depósito en garantía\r\n* 1 Mes de renta corriente.\r\n\r\nNO aceptamos: (NO NEGOCIABLES)\r\n\r\n* Mascotas (PERROS, GATOS)\r\n* Niños\r\n* Estudiantes que no vayan a vivir con padre o tutor\r\n* Roomies (Personas que estén cambiando frecuentemente)\r\n\r\nHorario de Atención TELEFÓNICA: NO WHATSAPP\r\nLu-Vi 09.00am a 6:00 pm\r\nSábado y Domingo 09.00am a 3:00pm",
						"restrictions": {
							"acepta_niños": "no",
							"observaciones": "Ingresos mínimos comprobables de $27,000 mensuales.",
							"precio_poliza": "4100.00",
							"acepta_roomies": "no",
							"acepta_mascotas": "no",
							"ingresos_minimos": "27000.00",
							"acepta_estudiantes": "no",
							"requiere_comprobantes_ingresos": true
						}
					},
					"already_greeted": true,
					"original_search": "",
					"approval_summary": "El prospecto cumple con todas las restricciones: no habrá niños ni mascotas, no habrá roomies (viviría con su pareja), acepta la póliza de 4,100 anuales y el depósito más renta inicial, cumple con el ingreso mínimo de 27,000 mensuales y presenta nómina como comprobante; además no es estudiante.",
					"approval_timestamp": "2025-11-14T03:29:35.057Z",
					"questionnaire_step": 10,
					"ultima_interaccion": "2025-11-14T05:29:24.277Z",
					"questionnaire_total": 9,
					"questionnaire_answers": [
						{
							"step": 1,
							"field": "necesita_estacionamiento",
							"answer": "si",
							"passed": true,
							"section": "caracteristicas_fisicas",
							"question": "El inmueble no cuenta con estacionamiento. ¿Estás de acuerdo con esto?",
							"timestamp": "2025-11-14T03:26:54.619Z"
						},
						{
							"step": 2,
							"field": "tiene_ninos",
							"answer": "no",
							"passed": true,
							"section": "restricciones_convivencia",
							"question": "¿Entre las personas que vivirían en el inmueble habría niños?",
							"timestamp": "2025-11-14T03:27:06.163Z"
						},
						{
							"step": 3,
							"field": "tiene_mascotas",
							"answer": "no",
							"passed": true,
							"section": "restricciones_convivencia",
							"question": "El arrendador no acepta mascotas, es una restricción no negociable. ¿Tienes inconveniente con esto?",
							"timestamp": "2025-11-14T03:27:20.134Z"
						},
						{
							"step": 4,
							"field": "tiene_roomies",
							"answer": "con mi pareja unicamente",
							"passed": true,
							"section": "restricciones_convivencia",
							"question": "Platícame con quien vivirás ¿solo/a, con pareja, familia o con roomies?",
							"timestamp": "2025-11-14T03:27:46.377Z"
						},
						{
							"step": 5,
							"field": "acepta_poliza",
							"answer": "de acuerdo",
							"passed": true,
							"section": "condiciones_contratacion",
							"question": "Se solicita una póliza jurídica de $4,100 que se paga anualmente, es decir, cada año que renueves el contrato. ¿Estás de acuerdo?",
							"timestamp": "2025-11-14T03:28:07.625Z"
						},
						{
							"step": 6,
							"field": "acepta_deposito_renta",
							"answer": "si de acuerdo",
							"passed": true,
							"section": "condiciones_contratacion",
							"question": "Los pagos iniciales que se requieren son: Primer mes de renta y un mes de renta como depósito en garantía. ¿Estás de acuerdo con éste requisito?",
							"timestamp": "2025-11-14T03:28:27.823Z"
						},
						{
							"step": 7,
							"field": "cumple_ingresos",
							"answer": "sip",
							"passed": true,
							"section": "validacion_ingresos",
							"question": "Se pide un ingreso mínimo de $27,000 mensuales, puede ser individual o mancomunado si vivirás en pareja. ¿Cumples con éste requisito?",
							"timestamp": "2025-11-14T03:28:43.556Z"
						},
						{
							"step": 8,
							"field": "ocupacion",
							"answer": "ingeniero IT",
							"passed": true,
							"section": "validacion_ingresos",
							"question": "Para conocer mejor tu perfil, ¿a qué te dedicas actualmente?",
							"timestamp": "2025-11-14T03:29:08.956Z"
						},
						{
							"step": 9,
							"field": "tipo_comprobante",
							"answer": "Nómina",
							"passed": true,
							"section": "validacion_ingresos",
							"question": "¿Qué tipo de comprobantes de ingresos tienes? (Recibo de nómina timbrado por el SAT, estados de cuenta completos o facturas?)",
							"timestamp": "2025-11-14T03:29:21.489Z"
						}
					],
					"approval_recommendation": "Proceder con la aprobación formal y avanzar a la contratación, verificando documentos y preparación del contrato."
				},
				"api_contact": {
					"id": 633,
					"nombre": "🤖 - Emmet Juaquin Villanueva",
					"email": null,
					"telefono": "5559177781",
					"estado": "en_contacto",
					"fuente": "🤖 - WhatsApp Bot",
					"created_at": "2025-11-13T20:57:24-06:00",
					"updated_at": "2025-11-13T21:23:08-06:00",
					"last_interaction_at": "2025-11-13T23:26:18-06:00",
					"interes_reciente": {
						"id": 86,
						"inmueble_id": 17,
						"inmueble": {
							"id": 17,
							"titulo": "Depa para Pareja sin niños a 15 min de Santa Fe",
							"slug": "depa-para-pareja-sin-ninos-a-15-min-de-santa-fe",
							"descripcion": "Villanueva García propone en renta: Bonito departamento a 15 mins de Santa Fe e Interlomas\r\n\r\n* Ideal para PAREJAS (2 personas) no más.\r\n\r\nCuenta con:\r\n* Bonitos Acabados\r\n* Alfombrado (NO SE ACEPTAN MASCOTAS)\r\n* 2 cajones de estacionamiento en una fila (no se estorba con ningún vecino)\r\n* 2 habitaciones (CON CLOSET)\r\n* 1 cocina integral\r\n* 1 baño completo\r\n* Área de Sala - Comedor.\r\n\r\n** REQUISITOS**\r\n\r\nIMPORTANTE: Cubrir por favor requisitos y restricciones al 100% ESPECÍFICADOS EN LA PUBLICACIÓN, PARA PODER AGENDAR CITA; ya que no son NEGOCIABLES.\r\n\r\n* Comprobar ingresos mínimos de $30,000 (Individual o mancomunado y aceptamos recibos de nómina, estados de cuenta completos o facturas)\r\n* Pago Póliza Jurídica Costo $4,300 ( ANUAL)\r\n* 1 Mes de depósito en garantía\r\n* 1 Mes de renta corriente.\r\n\r\nNO aceptamos: (NO NEGOCIABLES)\r\n\r\n* Mascotas (PERROS, GATOS)\r\n* Niños\r\n* Estudiantes que no vayan a vivir con padre o tutor\r\n* Roomies (Personas que estén cambiando frecuentemente)\r\n\r\nHorario de Atención TELEFÓNICA: NO WHATSAPP\r\nLu-Vi 09.00am a 6:00 pm\r\nSábado y Domingo 09.00am a 3:00pm",
							"precio": "9000.00",
							"precio_formateado": "$9,000.00",
							"direccion": "Emiliano Zapata Jesus Del Monte",
							"colonia": "Jesús del Monte",
							"municipio": "Cuajimalpa de Morelos",
							"estado": "Ciudad de México",
							"codigo_postal": "05260",
							"ubicacion": {
								"latitud": 19.375494,
								"longitud": -99.290896
							},
							"location": {
								"latitude": 19.375494,
								"longitude": -99.290896
							},
							"tipo": "Departamento",
							"operacion": "Renta",
							"habitaciones": 2,
							"banos": 1,
							"estacionamientos": 2,
							"metros_cuadrados": "75.00",
							"superficie_construida": "75.00",
							"superficie_terreno": "75.00",
							"anio_construccion": 2000,
							"destacado": true,
							"video_url": null,
							"tour_virtual_url": null,
							"amenidades": [],
							"extras": [],
							"tags": [
								"emiliano zapata",
								"jesus del monte",
								"santa fe",
								"cuajimalpa",
								"interlomas"
							],
							"created_at": "2025-09-30T00:42:24-06:00",
							"updated_at": "2025-10-24T23:56:48-06:00"
						},
						"created_at": "2025-11-13T21:23:08-06:00"
					}
				},
				"ai_context": "\nEl usuario Emmet ya fue APROBADO para el inmueble \"Depa para Pareja sin niños a 15 min de Santa Fe\".\nFue aprobado el: 2025-11-14T03:29:35.057Z\n\nHistorial reciente:\n- Completó cuestionario exitosamente\n- Recibió mensaje de aprobación\n- Ahora vuelve a escribir: \"tengo una duda\"\n\nClasifica su intención en UNA de estas categorías:\n1. \"followup\" - Pregunta sobre el estatus de su proceso, cuándo lo contactan, etc\n2. \"new_search\" - Quiere buscar OTRO inmueble diferente\n3. \"document_question\" - Pregunta sobre qué documentos necesita\n4. \"general_question\" - Otras consultas generales\n5. \"greeting\" - Solo saluda o dice algo casual\n\nResponde SOLO con la categoría, sin explicaciones.\n",
				"nombre": "Emmet"
			}
		],
		"Parse AI Response": [
			{
				"wa_id": "5215559177781",
				"userPrompt": "tengo una duda",
				"context_data": {
					"nombre": "Emmet Juaquin Villanueva",
					"status": "approved",
					"telefono": "5559177781",
					"personaje": "Dany",
					"statusBot": "working",
					"last_intent": "property_search",
					"interacciones": [
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Hola",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T02:57:24.711Z"
						},
						{
							"tipo": "intencion_detectada",
							"actor": "sistema",
							"canal": "whatsapp",
							"mensaje": "Intención detectada: greeting",
							"detalles": {
								"intent": "greeting",
								"user_message": "Hola"
							},
							"timestamp": "2025-11-14T02:57:33.783Z"
						},
						{
							"tipo": "mensaje_enviado",
							"actor": "bot",
							"canal": "whatsapp",
							"mensaje": "¡Hola! 👋 Soy Dany, tu asistente...",
							"detalles": {
								"intent": "greeting",
								"personaje": "Dany"
							},
							"timestamp": "2025-11-14T02:57:33.783Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Quiero info del depa en Cuajimalpa",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T02:57:57.836Z"
						},
						{
							"tipo": "intencion_detectada",
							"actor": "sistema",
							"canal": "whatsapp",
							"mensaje": "Intención: property_search",
							"detalles": {
								"intent": "property_search",
								"original_message": "Quiero info del depa en Cuajimalpa"
							},
							"timestamp": "2025-11-14T02:58:07.287Z"
						},
						{
							"tipo": "solicitud_datos",
							"actor": "sistema",
							"canal": "whatsapp",
							"mensaje": "Se solicitaron datos del contacto",
							"detalles": {
								"original_message": ""
							},
							"timestamp": "2025-11-14T02:58:07.415Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "ok Emmet Juaquin Villanueva 5559177781",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T02:58:33.166Z"
						},
						{
							"tipo": "datos_recibidos",
							"actor": "sistema",
							"canal": "whatsapp",
							"mensaje": "Datos del contacto recibidos y validados",
							"detalles": {
								"nombre": "Emmet Juaquin Villanueva",
								"telefono": "5559177781",
								"api_contact_id": 633
							},
							"timestamp": "2025-11-14T03:19:48.611Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "si adelante",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:23:51.004Z"
						},
						{
							"tipo": "confirmacion_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "si adelante",
							"detalles": {
								"respuesta": "afirmativa",
								"inicia_cuestionario": true
							},
							"timestamp": "2025-11-14T03:23:59.914Z"
						},
						{
							"tipo": "inicio_cuestionario",
							"actor": "sistema",
							"canal": "whatsapp",
							"mensaje": "Cuestionario generado e iniciado",
							"detalles": {
								"total_preguntas": 9,
								"primera_pregunta": "necesita_estacionamiento"
							},
							"timestamp": "2025-11-14T03:23:59.930Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "si",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:26:49.812Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 1: si",
							"detalles": {
								"paso": 1,
								"field": "necesita_estacionamiento",
								"total": 9
							},
							"timestamp": "2025-11-14T03:26:54.619Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "no",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:27:01.104Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 2: no",
							"detalles": {
								"paso": 2,
								"field": "tiene_ninos",
								"total": 9
							},
							"timestamp": "2025-11-14T03:27:06.163Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "no",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:27:14.700Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 3: no",
							"detalles": {
								"paso": 3,
								"field": "tiene_mascotas",
								"total": 9
							},
							"timestamp": "2025-11-14T03:27:20.134Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "con mi pareja unicamente",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:27:41.125Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 4: con mi pareja unicamente",
							"detalles": {
								"paso": 4,
								"field": "tiene_roomies",
								"total": 9
							},
							"timestamp": "2025-11-14T03:27:46.377Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "de acuerdo",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:28:02.940Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 5: de acuerdo",
							"detalles": {
								"paso": 5,
								"field": "acepta_poliza",
								"total": 9
							},
							"timestamp": "2025-11-14T03:28:07.625Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "si de acuerdo",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:28:22.408Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 6: si de acuerdo",
							"detalles": {
								"paso": 6,
								"field": "acepta_deposito_renta",
								"total": 9
							},
							"timestamp": "2025-11-14T03:28:27.823Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "sip",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:28:37.142Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 7: sip",
							"detalles": {
								"paso": 7,
								"field": "cumple_ingresos",
								"total": 9
							},
							"timestamp": "2025-11-14T03:28:43.556Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "ingeniero IT",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:29:03.612Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 8: ingeniero IT",
							"detalles": {
								"paso": 8,
								"field": "ocupacion",
								"total": 9
							},
							"timestamp": "2025-11-14T03:29:08.956Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Nómina",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:29:15.383Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 9: Nómina",
							"detalles": {
								"paso": 9,
								"field": "tipo_comprobante",
								"total": 9
							},
							"timestamp": "2025-11-14T03:29:21.489Z"
						},
						{
							"tipo": "perfil_aprobado",
							"actor": "sistema",
							"canal": "whatsapp",
							"mensaje": "Perfil aprobado - cumple con todos los requisitos",
							"detalles": {
								"resumen": "El prospecto cumple con todas las restricciones: no habrá niños ni mascotas, no habrá roomies (viviría con su pareja), acepta la póliza de 4,100 anuales y el depósito más renta inicial, cumple con el ingreso mínimo de 27,000 mensuales y presenta nómina como comprobante; además no es estudiante.",
								"recomendacion": "Proceder con la aprobación formal y avanzar a la contratación, verificando documentos y preparación del contrato.",
								"total_respuestas": 9
							},
							"timestamp": "2025-11-14T03:29:35.057Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "hola",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T04:05:53.151Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "hola",
							"detalles": {
								"tipo_mensaje": "text",
								"status_contacto": "approved"
							},
							"timestamp": "2025-11-14T05:04:56.504Z"
						},
						{
							"tipo": "mensaje_enviado",
							"actor": "bot",
							"canal": "whatsapp",
							"mensaje": "¡Hola de nuevo Emmet! 👋\n\nMe da gusto saludarte. Como recordarás, tu perfil ya fue aprobado para \"Depa para Pareja sin niños a 15 min de Santa Fe\" ✅\n\nNuestro equipo se pondrá en contacto contigo muy pronto para coordinar los siguientes pasos.\n\n¿Hay algo en lo que pueda ayudarte mientras tanto? 😊",
							"detalles": {
								"intent": "greeting",
								"personaje": "Dany"
							},
							"timestamp": "2025-11-14T05:04:56.504Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "ya paso un d[ia y no me han contactado",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T05:12:46.975Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "ya paso un d[ia y no me han contactado",
							"detalles": {
								"tipo_mensaje": "text",
								"status_contacto": "approved"
							},
							"timestamp": "2025-11-14T05:22:35.877Z"
						},
						{
							"tipo": "mensaje_enviado",
							"actor": "bot",
							"canal": "whatsapp",
							"mensaje": "De acuerdo Emmet\n\nEntiendo que quieres saber sobre el estatus de tu proceso para \"Depa para Pareja sin niños a 15 min de Santa Fe\".\n\nTu perfil está aprobado y registrado en nuestro sistema ✅\n\nNuestro equipo de ventas se pondrá en contacto contigo en las próximas 24-48 horas para:\n📋 Coordinar la visita al inmueble\n📄 Revisar la documentación necesaria\n✍️ Avanzar con el proceso de contratación\n\nEn este momento he vuelto a enviar una solicitud de atención a nuestro equipo.\n\n¿Hay algo más en lo que pueda ayudarte? 😊",
							"detalles": {
								"intent": "followup",
								"personaje": "Dany"
							},
							"timestamp": "2025-11-14T05:22:35.877Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Que documentos necesito para el proceso?",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T05:25:11.798Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Que documentos necesito para el proceso?",
							"detalles": {
								"tipo_mensaje": "text",
								"status_contacto": "approved"
							},
							"timestamp": "2025-11-14T05:26:16.723Z"
						},
						{
							"tipo": "mensaje_enviado",
							"actor": "bot",
							"canal": "whatsapp",
							"mensaje": "Perfecto Emmet,\n\nCon gusto te explico los documentos que necesitarás:\n\n📄 **Documentos Requeridos:**\n\n1️⃣ Identificación oficial vigente (INE/Pasaporte)\n\n2️⃣ Comprobante de ingresos:\n   - Recibos de nómina timbrados por el SAT (últimos 3 meses)\n   - Estados de cuenta completos, o\n   - Facturas (si eres independiente)\n\n3️⃣ Comprobante de domicilio reciente (no mayor a 3 meses)\n\n4️⃣ Referencias personales y/o laborales\n\n💰 **Pagos Iniciales:**\n   - Primer mes de renta\n   - Un mes de depósito en garantía\n   - Póliza jurídica: $4100.00 (anual)\n\nNuestro equipo te guiará en todo el proceso cuando te contacten.\n\n¿Tienes alguna otra duda? 😊",
							"detalles": {
								"intent": "document_question",
								"personaje": "Dany"
							},
							"timestamp": "2025-11-14T05:26:16.723Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "tengo una duda",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T05:29:24.277Z"
						}
					],
					"questionnaire": [
						{
							"type": "text",
							"field": "necesita_estacionamiento",
							"section": "caracteristicas_fisicas",
							"question": "El inmueble no cuenta con estacionamiento. ¿Estás de acuerdo con esto?"
						},
						{
							"type": "text",
							"field": "tiene_ninos",
							"section": "restricciones_convivencia",
							"question": "¿Entre las personas que vivirían en el inmueble habría niños?"
						},
						{
							"type": "text",
							"field": "tiene_mascotas",
							"section": "restricciones_convivencia",
							"question": "El arrendador no acepta mascotas, es una restricción no negociable. ¿Tienes inconveniente con esto?"
						},
						{
							"type": "text",
							"field": "tiene_roomies",
							"section": "restricciones_convivencia",
							"question": "Platícame con quien vivirás ¿solo/a, con pareja, familia o con roomies?"
						},
						{
							"type": "text",
							"field": "acepta_poliza",
							"section": "condiciones_contratacion",
							"question": "Se solicita una póliza jurídica de $4,100 que se paga anualmente, es decir, cada año que renueves el contrato. ¿Estás de acuerdo?"
						},
						{
							"type": "text",
							"field": "acepta_deposito_renta",
							"section": "condiciones_contratacion",
							"question": "Los pagos iniciales que se requieren son: Primer mes de renta y un mes de renta como depósito en garantía. ¿Estás de acuerdo con éste requisito?"
						},
						{
							"type": "text",
							"field": "cumple_ingresos",
							"section": "validacion_ingresos",
							"question": "Se pide un ingreso mínimo de $27,000 mensuales, puede ser individual o mancomunado si vivirás en pareja. ¿Cumples con éste requisito?"
						},
						{
							"type": "text",
							"field": "ocupacion",
							"section": "validacion_ingresos",
							"question": "Para conocer mejor tu perfil, ¿a qué te dedicas actualmente?"
						},
						{
							"type": "text",
							"field": "tipo_comprobante",
							"section": "validacion_ingresos",
							"question": "¿Qué tipo de comprobantes de ingresos tienes? (Recibo de nómina timbrado por el SAT, estados de cuenta completos o facturas?)"
						}
					],
					"api_contact_id": 633,
					"property_found": {
						"id": 17,
						"m2": "75.00",
						"slug": "depa-para-pareja-sin-ninos-a-15-min-de-santa-fe",
						"type": "Departamento",
						"baths": 1,
						"rooms": 2,
						"title": "Depa para Pareja sin niños a 15 min de Santa Fe",
						"estado": "Ciudad de México",
						"ammount": "$9,000.00",
						"colonia": "Jesús del Monte",
						"parkings": 2,
						"municipio": "Cuajimalpa de Morelos",
						"operacion": "Renta",
						"description": "Villanueva García propone en renta: Bonito departamento a 15 mins de Santa Fe e Interlomas\r\n\r\n* Ideal para PAREJAS (2 personas) no más.\r\n\r\nCuenta con:\r\n* Bonitos Acabados\r\n* Alfombrado (NO SE ACEPTAN MASCOTAS)\r\n* 2 cajones de estacionamiento en una fila (no se estorba con ningún vecino)\r\n* 2 habitaciones (CON CLOSET)\r\n* 1 cocina integral\r\n* 1 baño completo\r\n* Área de Sala - Comedor.\r\n\r\n** REQUISITOS**\r\n\r\nIMPORTANTE: Cubrir por favor requisitos y restricciones al 100% ESPECÍFICADOS EN LA PUBLICACIÓN, PARA PODER AGENDAR CITA; ya que no son NEGOCIABLES.\r\n\r\n* Comprobar ingresos mínimos de $30,000 (Individual o mancomunado y aceptamos recibos de nómina, estados de cuenta completos o facturas)\r\n* Pago Póliza Jurídica Costo $4,300 ( ANUAL)\r\n* 1 Mes de depósito en garantía\r\n* 1 Mes de renta corriente.\r\n\r\nNO aceptamos: (NO NEGOCIABLES)\r\n\r\n* Mascotas (PERROS, GATOS)\r\n* Niños\r\n* Estudiantes que no vayan a vivir con padre o tutor\r\n* Roomies (Personas que estén cambiando frecuentemente)\r\n\r\nHorario de Atención TELEFÓNICA: NO WHATSAPP\r\nLu-Vi 09.00am a 6:00 pm\r\nSábado y Domingo 09.00am a 3:00pm",
						"restrictions": {
							"acepta_niños": "no",
							"observaciones": "Ingresos mínimos comprobables de $27,000 mensuales.",
							"precio_poliza": "4100.00",
							"acepta_roomies": "no",
							"acepta_mascotas": "no",
							"ingresos_minimos": "27000.00",
							"acepta_estudiantes": "no",
							"requiere_comprobantes_ingresos": true
						}
					},
					"already_greeted": true,
					"original_search": "",
					"approval_summary": "El prospecto cumple con todas las restricciones: no habrá niños ni mascotas, no habrá roomies (viviría con su pareja), acepta la póliza de 4,100 anuales y el depósito más renta inicial, cumple con el ingreso mínimo de 27,000 mensuales y presenta nómina como comprobante; además no es estudiante.",
					"approval_timestamp": "2025-11-14T03:29:35.057Z",
					"questionnaire_step": 10,
					"ultima_interaccion": "2025-11-14T05:29:24.277Z",
					"questionnaire_total": 9,
					"questionnaire_answers": [
						{
							"step": 1,
							"field": "necesita_estacionamiento",
							"answer": "si",
							"passed": true,
							"section": "caracteristicas_fisicas",
							"question": "El inmueble no cuenta con estacionamiento. ¿Estás de acuerdo con esto?",
							"timestamp": "2025-11-14T03:26:54.619Z"
						},
						{
							"step": 2,
							"field": "tiene_ninos",
							"answer": "no",
							"passed": true,
							"section": "restricciones_convivencia",
							"question": "¿Entre las personas que vivirían en el inmueble habría niños?",
							"timestamp": "2025-11-14T03:27:06.163Z"
						},
						{
							"step": 3,
							"field": "tiene_mascotas",
							"answer": "no",
							"passed": true,
							"section": "restricciones_convivencia",
							"question": "El arrendador no acepta mascotas, es una restricción no negociable. ¿Tienes inconveniente con esto?",
							"timestamp": "2025-11-14T03:27:20.134Z"
						},
						{
							"step": 4,
							"field": "tiene_roomies",
							"answer": "con mi pareja unicamente",
							"passed": true,
							"section": "restricciones_convivencia",
							"question": "Platícame con quien vivirás ¿solo/a, con pareja, familia o con roomies?",
							"timestamp": "2025-11-14T03:27:46.377Z"
						},
						{
							"step": 5,
							"field": "acepta_poliza",
							"answer": "de acuerdo",
							"passed": true,
							"section": "condiciones_contratacion",
							"question": "Se solicita una póliza jurídica de $4,100 que se paga anualmente, es decir, cada año que renueves el contrato. ¿Estás de acuerdo?",
							"timestamp": "2025-11-14T03:28:07.625Z"
						},
						{
							"step": 6,
							"field": "acepta_deposito_renta",
							"answer": "si de acuerdo",
							"passed": true,
							"section": "condiciones_contratacion",
							"question": "Los pagos iniciales que se requieren son: Primer mes de renta y un mes de renta como depósito en garantía. ¿Estás de acuerdo con éste requisito?",
							"timestamp": "2025-11-14T03:28:27.823Z"
						},
						{
							"step": 7,
							"field": "cumple_ingresos",
							"answer": "sip",
							"passed": true,
							"section": "validacion_ingresos",
							"question": "Se pide un ingreso mínimo de $27,000 mensuales, puede ser individual o mancomunado si vivirás en pareja. ¿Cumples con éste requisito?",
							"timestamp": "2025-11-14T03:28:43.556Z"
						},
						{
							"step": 8,
							"field": "ocupacion",
							"answer": "ingeniero IT",
							"passed": true,
							"section": "validacion_ingresos",
							"question": "Para conocer mejor tu perfil, ¿a qué te dedicas actualmente?",
							"timestamp": "2025-11-14T03:29:08.956Z"
						},
						{
							"step": 9,
							"field": "tipo_comprobante",
							"answer": "Nómina",
							"passed": true,
							"section": "validacion_ingresos",
							"question": "¿Qué tipo de comprobantes de ingresos tienes? (Recibo de nómina timbrado por el SAT, estados de cuenta completos o facturas?)",
							"timestamp": "2025-11-14T03:29:21.489Z"
						}
					],
					"approval_recommendation": "Proceder con la aprobación formal y avanzar a la contratación, verificando documentos y preparación del contrato."
				},
				"api_contact": {
					"id": 633,
					"nombre": "🤖 - Emmet Juaquin Villanueva",
					"email": null,
					"telefono": "5559177781",
					"estado": "en_contacto",
					"fuente": "🤖 - WhatsApp Bot",
					"created_at": "2025-11-13T20:57:24-06:00",
					"updated_at": "2025-11-13T21:23:08-06:00",
					"last_interaction_at": "2025-11-13T23:26:18-06:00",
					"interes_reciente": {
						"id": 86,
						"inmueble_id": 17,
						"inmueble": {
							"id": 17,
							"titulo": "Depa para Pareja sin niños a 15 min de Santa Fe",
							"slug": "depa-para-pareja-sin-ninos-a-15-min-de-santa-fe",
							"descripcion": "Villanueva García propone en renta: Bonito departamento a 15 mins de Santa Fe e Interlomas\r\n\r\n* Ideal para PAREJAS (2 personas) no más.\r\n\r\nCuenta con:\r\n* Bonitos Acabados\r\n* Alfombrado (NO SE ACEPTAN MASCOTAS)\r\n* 2 cajones de estacionamiento en una fila (no se estorba con ningún vecino)\r\n* 2 habitaciones (CON CLOSET)\r\n* 1 cocina integral\r\n* 1 baño completo\r\n* Área de Sala - Comedor.\r\n\r\n** REQUISITOS**\r\n\r\nIMPORTANTE: Cubrir por favor requisitos y restricciones al 100% ESPECÍFICADOS EN LA PUBLICACIÓN, PARA PODER AGENDAR CITA; ya que no son NEGOCIABLES.\r\n\r\n* Comprobar ingresos mínimos de $30,000 (Individual o mancomunado y aceptamos recibos de nómina, estados de cuenta completos o facturas)\r\n* Pago Póliza Jurídica Costo $4,300 ( ANUAL)\r\n* 1 Mes de depósito en garantía\r\n* 1 Mes de renta corriente.\r\n\r\nNO aceptamos: (NO NEGOCIABLES)\r\n\r\n* Mascotas (PERROS, GATOS)\r\n* Niños\r\n* Estudiantes que no vayan a vivir con padre o tutor\r\n* Roomies (Personas que estén cambiando frecuentemente)\r\n\r\nHorario de Atención TELEFÓNICA: NO WHATSAPP\r\nLu-Vi 09.00am a 6:00 pm\r\nSábado y Domingo 09.00am a 3:00pm",
							"precio": "9000.00",
							"precio_formateado": "$9,000.00",
							"direccion": "Emiliano Zapata Jesus Del Monte",
							"colonia": "Jesús del Monte",
							"municipio": "Cuajimalpa de Morelos",
							"estado": "Ciudad de México",
							"codigo_postal": "05260",
							"ubicacion": {
								"latitud": 19.375494,
								"longitud": -99.290896
							},
							"location": {
								"latitude": 19.375494,
								"longitude": -99.290896
							},
							"tipo": "Departamento",
							"operacion": "Renta",
							"habitaciones": 2,
							"banos": 1,
							"estacionamientos": 2,
							"metros_cuadrados": "75.00",
							"superficie_construida": "75.00",
							"superficie_terreno": "75.00",
							"anio_construccion": 2000,
							"destacado": true,
							"video_url": null,
							"tour_virtual_url": null,
							"amenidades": [],
							"extras": [],
							"tags": [
								"emiliano zapata",
								"jesus del monte",
								"santa fe",
								"cuajimalpa",
								"interlomas"
							],
							"created_at": "2025-09-30T00:42:24-06:00",
							"updated_at": "2025-10-24T23:56:48-06:00"
						},
						"created_at": "2025-11-13T21:23:08-06:00"
					}
				},
				"nombre": "Emmet",
				"detected_intent": "general_question"
			}
		],
		"Call AI for Intent": [
			{
				"output": [
					{
						"id": "msg_06dedb455e018c07006916be40a9048195a5ea4c0db917cad5",
						"type": "message",
						"status": "completed",
						"content": [
							{
								"type": "output_text",
								"annotations": [],
								"logprobs": [],
								"text": "general_question"
							}
						],
						"role": "assistant"
					}
				]
			}
		],
		"Handle Documents": [
			{
				"wa_id": "5215559177781",
				"context_data": {
					"nombre": "Emmet Juaquin Villanueva",
					"status": "approved",
					"telefono": "5559177781",
					"personaje": "Dany",
					"statusBot": "working",
					"last_intent": "property_search",
					"interacciones": [
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Hola",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T02:57:24.711Z"
						},
						{
							"tipo": "intencion_detectada",
							"actor": "sistema",
							"canal": "whatsapp",
							"mensaje": "Intención detectada: greeting",
							"detalles": {
								"intent": "greeting",
								"user_message": "Hola"
							},
							"timestamp": "2025-11-14T02:57:33.783Z"
						},
						{
							"tipo": "mensaje_enviado",
							"actor": "bot",
							"canal": "whatsapp",
							"mensaje": "¡Hola! 👋 Soy Dany, tu asistente...",
							"detalles": {
								"intent": "greeting",
								"personaje": "Dany"
							},
							"timestamp": "2025-11-14T02:57:33.783Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Quiero info del depa en Cuajimalpa",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T02:57:57.836Z"
						},
						{
							"tipo": "intencion_detectada",
							"actor": "sistema",
							"canal": "whatsapp",
							"mensaje": "Intención: property_search",
							"detalles": {
								"intent": "property_search",
								"original_message": "Quiero info del depa en Cuajimalpa"
							},
							"timestamp": "2025-11-14T02:58:07.287Z"
						},
						{
							"tipo": "solicitud_datos",
							"actor": "sistema",
							"canal": "whatsapp",
							"mensaje": "Se solicitaron datos del contacto",
							"detalles": {
								"original_message": ""
							},
							"timestamp": "2025-11-14T02:58:07.415Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "ok Emmet Juaquin Villanueva 5559177781",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T02:58:33.166Z"
						},
						{
							"tipo": "datos_recibidos",
							"actor": "sistema",
							"canal": "whatsapp",
							"mensaje": "Datos del contacto recibidos y validados",
							"detalles": {
								"nombre": "Emmet Juaquin Villanueva",
								"telefono": "5559177781",
								"api_contact_id": 633
							},
							"timestamp": "2025-11-14T03:19:48.611Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "si adelante",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:23:51.004Z"
						},
						{
							"tipo": "confirmacion_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "si adelante",
							"detalles": {
								"respuesta": "afirmativa",
								"inicia_cuestionario": true
							},
							"timestamp": "2025-11-14T03:23:59.914Z"
						},
						{
							"tipo": "inicio_cuestionario",
							"actor": "sistema",
							"canal": "whatsapp",
							"mensaje": "Cuestionario generado e iniciado",
							"detalles": {
								"total_preguntas": 9,
								"primera_pregunta": "necesita_estacionamiento"
							},
							"timestamp": "2025-11-14T03:23:59.930Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "si",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:26:49.812Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 1: si",
							"detalles": {
								"paso": 1,
								"field": "necesita_estacionamiento",
								"total": 9
							},
							"timestamp": "2025-11-14T03:26:54.619Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "no",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:27:01.104Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 2: no",
							"detalles": {
								"paso": 2,
								"field": "tiene_ninos",
								"total": 9
							},
							"timestamp": "2025-11-14T03:27:06.163Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "no",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:27:14.700Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 3: no",
							"detalles": {
								"paso": 3,
								"field": "tiene_mascotas",
								"total": 9
							},
							"timestamp": "2025-11-14T03:27:20.134Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "con mi pareja unicamente",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:27:41.125Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 4: con mi pareja unicamente",
							"detalles": {
								"paso": 4,
								"field": "tiene_roomies",
								"total": 9
							},
							"timestamp": "2025-11-14T03:27:46.377Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "de acuerdo",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:28:02.940Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 5: de acuerdo",
							"detalles": {
								"paso": 5,
								"field": "acepta_poliza",
								"total": 9
							},
							"timestamp": "2025-11-14T03:28:07.625Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "si de acuerdo",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:28:22.408Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 6: si de acuerdo",
							"detalles": {
								"paso": 6,
								"field": "acepta_deposito_renta",
								"total": 9
							},
							"timestamp": "2025-11-14T03:28:27.823Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "sip",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:28:37.142Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 7: sip",
							"detalles": {
								"paso": 7,
								"field": "cumple_ingresos",
								"total": 9
							},
							"timestamp": "2025-11-14T03:28:43.556Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "ingeniero IT",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:29:03.612Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 8: ingeniero IT",
							"detalles": {
								"paso": 8,
								"field": "ocupacion",
								"total": 9
							},
							"timestamp": "2025-11-14T03:29:08.956Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Nómina",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:29:15.383Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 9: Nómina",
							"detalles": {
								"paso": 9,
								"field": "tipo_comprobante",
								"total": 9
							},
							"timestamp": "2025-11-14T03:29:21.489Z"
						},
						{
							"tipo": "perfil_aprobado",
							"actor": "sistema",
							"canal": "whatsapp",
							"mensaje": "Perfil aprobado - cumple con todos los requisitos",
							"detalles": {
								"resumen": "El prospecto cumple con todas las restricciones: no habrá niños ni mascotas, no habrá roomies (viviría con su pareja), acepta la póliza de 4,100 anuales y el depósito más renta inicial, cumple con el ingreso mínimo de 27,000 mensuales y presenta nómina como comprobante; además no es estudiante.",
								"recomendacion": "Proceder con la aprobación formal y avanzar a la contratación, verificando documentos y preparación del contrato.",
								"total_respuestas": 9
							},
							"timestamp": "2025-11-14T03:29:35.057Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "hola",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T04:05:53.151Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "hola",
							"detalles": {
								"tipo_mensaje": "text",
								"status_contacto": "approved"
							},
							"timestamp": "2025-11-14T05:04:56.504Z"
						},
						{
							"tipo": "mensaje_enviado",
							"actor": "bot",
							"canal": "whatsapp",
							"mensaje": "¡Hola de nuevo Emmet! 👋\n\nMe da gusto saludarte. Como recordarás, tu perfil ya fue aprobado para \"Depa para Pareja sin niños a 15 min de Santa Fe\" ✅\n\nNuestro equipo se pondrá en contacto contigo muy pronto para coordinar los siguientes pasos.\n\n¿Hay algo en lo que pueda ayudarte mientras tanto? 😊",
							"detalles": {
								"intent": "greeting",
								"personaje": "Dany"
							},
							"timestamp": "2025-11-14T05:04:56.504Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "ya paso un d[ia y no me han contactado",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T05:12:46.975Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "ya paso un d[ia y no me han contactado",
							"detalles": {
								"tipo_mensaje": "text",
								"status_contacto": "approved"
							},
							"timestamp": "2025-11-14T05:22:35.877Z"
						},
						{
							"tipo": "mensaje_enviado",
							"actor": "bot",
							"canal": "whatsapp",
							"mensaje": "De acuerdo Emmet\n\nEntiendo que quieres saber sobre el estatus de tu proceso para \"Depa para Pareja sin niños a 15 min de Santa Fe\".\n\nTu perfil está aprobado y registrado en nuestro sistema ✅\n\nNuestro equipo de ventas se pondrá en contacto contigo en las próximas 24-48 horas para:\n📋 Coordinar la visita al inmueble\n📄 Revisar la documentación necesaria\n✍️ Avanzar con el proceso de contratación\n\nEn este momento he vuelto a enviar una solicitud de atención a nuestro equipo.\n\n¿Hay algo más en lo que pueda ayudarte? 😊",
							"detalles": {
								"intent": "followup",
								"personaje": "Dany"
							},
							"timestamp": "2025-11-14T05:22:35.877Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Que documentos necesito para el proceso?",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T05:25:11.798Z"
						}
					],
					"questionnaire": [
						{
							"type": "text",
							"field": "necesita_estacionamiento",
							"section": "caracteristicas_fisicas",
							"question": "El inmueble no cuenta con estacionamiento. ¿Estás de acuerdo con esto?"
						},
						{
							"type": "text",
							"field": "tiene_ninos",
							"section": "restricciones_convivencia",
							"question": "¿Entre las personas que vivirían en el inmueble habría niños?"
						},
						{
							"type": "text",
							"field": "tiene_mascotas",
							"section": "restricciones_convivencia",
							"question": "El arrendador no acepta mascotas, es una restricción no negociable. ¿Tienes inconveniente con esto?"
						},
						{
							"type": "text",
							"field": "tiene_roomies",
							"section": "restricciones_convivencia",
							"question": "Platícame con quien vivirás ¿solo/a, con pareja, familia o con roomies?"
						},
						{
							"type": "text",
							"field": "acepta_poliza",
							"section": "condiciones_contratacion",
							"question": "Se solicita una póliza jurídica de $4,100 que se paga anualmente, es decir, cada año que renueves el contrato. ¿Estás de acuerdo?"
						},
						{
							"type": "text",
							"field": "acepta_deposito_renta",
							"section": "condiciones_contratacion",
							"question": "Los pagos iniciales que se requieren son: Primer mes de renta y un mes de renta como depósito en garantía. ¿Estás de acuerdo con éste requisito?"
						},
						{
							"type": "text",
							"field": "cumple_ingresos",
							"section": "validacion_ingresos",
							"question": "Se pide un ingreso mínimo de $27,000 mensuales, puede ser individual o mancomunado si vivirás en pareja. ¿Cumples con éste requisito?"
						},
						{
							"type": "text",
							"field": "ocupacion",
							"section": "validacion_ingresos",
							"question": "Para conocer mejor tu perfil, ¿a qué te dedicas actualmente?"
						},
						{
							"type": "text",
							"field": "tipo_comprobante",
							"section": "validacion_ingresos",
							"question": "¿Qué tipo de comprobantes de ingresos tienes? (Recibo de nómina timbrado por el SAT, estados de cuenta completos o facturas?)"
						}
					],
					"api_contact_id": 633,
					"property_found": {
						"id": 17,
						"m2": "75.00",
						"slug": "depa-para-pareja-sin-ninos-a-15-min-de-santa-fe",
						"type": "Departamento",
						"baths": 1,
						"rooms": 2,
						"title": "Depa para Pareja sin niños a 15 min de Santa Fe",
						"estado": "Ciudad de México",
						"ammount": "$9,000.00",
						"colonia": "Jesús del Monte",
						"parkings": 2,
						"municipio": "Cuajimalpa de Morelos",
						"operacion": "Renta",
						"description": "Villanueva García propone en renta: Bonito departamento a 15 mins de Santa Fe e Interlomas\r\n\r\n* Ideal para PAREJAS (2 personas) no más.\r\n\r\nCuenta con:\r\n* Bonitos Acabados\r\n* Alfombrado (NO SE ACEPTAN MASCOTAS)\r\n* 2 cajones de estacionamiento en una fila (no se estorba con ningún vecino)\r\n* 2 habitaciones (CON CLOSET)\r\n* 1 cocina integral\r\n* 1 baño completo\r\n* Área de Sala - Comedor.\r\n\r\n** REQUISITOS**\r\n\r\nIMPORTANTE: Cubrir por favor requisitos y restricciones al 100% ESPECÍFICADOS EN LA PUBLICACIÓN, PARA PODER AGENDAR CITA; ya que no son NEGOCIABLES.\r\n\r\n* Comprobar ingresos mínimos de $30,000 (Individual o mancomunado y aceptamos recibos de nómina, estados de cuenta completos o facturas)\r\n* Pago Póliza Jurídica Costo $4,300 ( ANUAL)\r\n* 1 Mes de depósito en garantía\r\n* 1 Mes de renta corriente.\r\n\r\nNO aceptamos: (NO NEGOCIABLES)\r\n\r\n* Mascotas (PERROS, GATOS)\r\n* Niños\r\n* Estudiantes que no vayan a vivir con padre o tutor\r\n* Roomies (Personas que estén cambiando frecuentemente)\r\n\r\nHorario de Atención TELEFÓNICA: NO WHATSAPP\r\nLu-Vi 09.00am a 6:00 pm\r\nSábado y Domingo 09.00am a 3:00pm",
						"restrictions": {
							"acepta_niños": "no",
							"observaciones": "Ingresos mínimos comprobables de $27,000 mensuales.",
							"precio_poliza": "4100.00",
							"acepta_roomies": "no",
							"acepta_mascotas": "no",
							"ingresos_minimos": "27000.00",
							"acepta_estudiantes": "no",
							"requiere_comprobantes_ingresos": true
						}
					},
					"already_greeted": true,
					"original_search": "",
					"approval_summary": "El prospecto cumple con todas las restricciones: no habrá niños ni mascotas, no habrá roomies (viviría con su pareja), acepta la póliza de 4,100 anuales y el depósito más renta inicial, cumple con el ingreso mínimo de 27,000 mensuales y presenta nómina como comprobante; además no es estudiante.",
					"approval_timestamp": "2025-11-14T03:29:35.057Z",
					"questionnaire_step": 10,
					"ultima_interaccion": "2025-11-14T05:25:11.798Z",
					"questionnaire_total": 9,
					"questionnaire_answers": [
						{
							"step": 1,
							"field": "necesita_estacionamiento",
							"answer": "si",
							"passed": true,
							"section": "caracteristicas_fisicas",
							"question": "El inmueble no cuenta con estacionamiento. ¿Estás de acuerdo con esto?",
							"timestamp": "2025-11-14T03:26:54.619Z"
						},
						{
							"step": 2,
							"field": "tiene_ninos",
							"answer": "no",
							"passed": true,
							"section": "restricciones_convivencia",
							"question": "¿Entre las personas que vivirían en el inmueble habría niños?",
							"timestamp": "2025-11-14T03:27:06.163Z"
						},
						{
							"step": 3,
							"field": "tiene_mascotas",
							"answer": "no",
							"passed": true,
							"section": "restricciones_convivencia",
							"question": "El arrendador no acepta mascotas, es una restricción no negociable. ¿Tienes inconveniente con esto?",
							"timestamp": "2025-11-14T03:27:20.134Z"
						},
						{
							"step": 4,
							"field": "tiene_roomies",
							"answer": "con mi pareja unicamente",
							"passed": true,
							"section": "restricciones_convivencia",
							"question": "Platícame con quien vivirás ¿solo/a, con pareja, familia o con roomies?",
							"timestamp": "2025-11-14T03:27:46.377Z"
						},
						{
							"step": 5,
							"field": "acepta_poliza",
							"answer": "de acuerdo",
							"passed": true,
							"section": "condiciones_contratacion",
							"question": "Se solicita una póliza jurídica de $4,100 que se paga anualmente, es decir, cada año que renueves el contrato. ¿Estás de acuerdo?",
							"timestamp": "2025-11-14T03:28:07.625Z"
						},
						{
							"step": 6,
							"field": "acepta_deposito_renta",
							"answer": "si de acuerdo",
							"passed": true,
							"section": "condiciones_contratacion",
							"question": "Los pagos iniciales que se requieren son: Primer mes de renta y un mes de renta como depósito en garantía. ¿Estás de acuerdo con éste requisito?",
							"timestamp": "2025-11-14T03:28:27.823Z"
						},
						{
							"step": 7,
							"field": "cumple_ingresos",
							"answer": "sip",
							"passed": true,
							"section": "validacion_ingresos",
							"question": "Se pide un ingreso mínimo de $27,000 mensuales, puede ser individual o mancomunado si vivirás en pareja. ¿Cumples con éste requisito?",
							"timestamp": "2025-11-14T03:28:43.556Z"
						},
						{
							"step": 8,
							"field": "ocupacion",
							"answer": "ingeniero IT",
							"passed": true,
							"section": "validacion_ingresos",
							"question": "Para conocer mejor tu perfil, ¿a qué te dedicas actualmente?",
							"timestamp": "2025-11-14T03:29:08.956Z"
						},
						{
							"step": 9,
							"field": "tipo_comprobante",
							"answer": "Nómina",
							"passed": true,
							"section": "validacion_ingresos",
							"question": "¿Qué tipo de comprobantes de ingresos tienes? (Recibo de nómina timbrado por el SAT, estados de cuenta completos o facturas?)",
							"timestamp": "2025-11-14T03:29:21.489Z"
						}
					],
					"approval_recommendation": "Proceder con la aprobación formal y avanzar a la contratación, verificando documentos y preparación del contrato."
				},
				"api_contact": {
					"id": 633,
					"nombre": "🤖 - Emmet Juaquin Villanueva",
					"email": null,
					"telefono": "5559177781",
					"estado": "en_contacto",
					"fuente": "🤖 - WhatsApp Bot",
					"created_at": "2025-11-13T20:57:24-06:00",
					"updated_at": "2025-11-13T21:23:08-06:00",
					"last_interaction_at": "2025-11-13T23:22:37-06:00",
					"interes_reciente": {
						"id": 86,
						"inmueble_id": 17,
						"inmueble": {
							"id": 17,
							"titulo": "Depa para Pareja sin niños a 15 min de Santa Fe",
							"slug": "depa-para-pareja-sin-ninos-a-15-min-de-santa-fe",
							"descripcion": "Villanueva García propone en renta: Bonito departamento a 15 mins de Santa Fe e Interlomas\r\n\r\n* Ideal para PAREJAS (2 personas) no más.\r\n\r\nCuenta con:\r\n* Bonitos Acabados\r\n* Alfombrado (NO SE ACEPTAN MASCOTAS)\r\n* 2 cajones de estacionamiento en una fila (no se estorba con ningún vecino)\r\n* 2 habitaciones (CON CLOSET)\r\n* 1 cocina integral\r\n* 1 baño completo\r\n* Área de Sala - Comedor.\r\n\r\n** REQUISITOS**\r\n\r\nIMPORTANTE: Cubrir por favor requisitos y restricciones al 100% ESPECÍFICADOS EN LA PUBLICACIÓN, PARA PODER AGENDAR CITA; ya que no son NEGOCIABLES.\r\n\r\n* Comprobar ingresos mínimos de $30,000 (Individual o mancomunado y aceptamos recibos de nómina, estados de cuenta completos o facturas)\r\n* Pago Póliza Jurídica Costo $4,300 ( ANUAL)\r\n* 1 Mes de depósito en garantía\r\n* 1 Mes de renta corriente.\r\n\r\nNO aceptamos: (NO NEGOCIABLES)\r\n\r\n* Mascotas (PERROS, GATOS)\r\n* Niños\r\n* Estudiantes que no vayan a vivir con padre o tutor\r\n* Roomies (Personas que estén cambiando frecuentemente)\r\n\r\nHorario de Atención TELEFÓNICA: NO WHATSAPP\r\nLu-Vi 09.00am a 6:00 pm\r\nSábado y Domingo 09.00am a 3:00pm",
							"precio": "9000.00",
							"precio_formateado": "$9,000.00",
							"direccion": "Emiliano Zapata Jesus Del Monte",
							"colonia": "Jesús del Monte",
							"municipio": "Cuajimalpa de Morelos",
							"estado": "Ciudad de México",
							"codigo_postal": "05260",
							"ubicacion": {
								"latitud": 19.375494,
								"longitud": -99.290896
							},
							"location": {
								"latitude": 19.375494,
								"longitude": -99.290896
							},
							"tipo": "Departamento",
							"operacion": "Renta",
							"habitaciones": 2,
							"banos": 1,
							"estacionamientos": 2,
							"metros_cuadrados": "75.00",
							"superficie_construida": "75.00",
							"superficie_terreno": "75.00",
							"anio_construccion": 2000,
							"destacado": true,
							"video_url": null,
							"tour_virtual_url": null,
							"amenidades": [],
							"extras": [],
							"tags": [
								"emiliano zapata",
								"jesus del monte",
								"santa fe",
								"cuajimalpa",
								"interlomas"
							],
							"created_at": "2025-09-30T00:42:24-06:00",
							"updated_at": "2025-10-24T23:56:48-06:00"
						},
						"created_at": "2025-11-13T21:23:08-06:00"
					}
				},
				"message": "Perfecto Emmet,\n\nCon gusto te explico los documentos que necesitarás:\n\n📄 **Documentos Requeridos:**\n\n1️⃣ Identificación oficial vigente (INE/Pasaporte)\n\n2️⃣ Comprobante de ingresos:\n   - Recibos de nómina timbrados por el SAT (últimos 3 meses)\n   - Estados de cuenta completos, o\n   - Facturas (si eres independiente)\n\n3️⃣ Comprobante de domicilio reciente (no mayor a 3 meses)\n\n4️⃣ Referencias personales y/o laborales\n\n💰 **Pagos Iniciales:**\n   - Primer mes de renta\n   - Un mes de depósito en garantía\n   - Póliza jurídica: $4100.00 (anual)\n\nNuestro equipo te guiará en todo el proceso cuando te contacten.\n\n¿Tienes alguna otra duda? 😊",
				"intent": "document_question"
			}
		],
		"Handle General": [
			{
				"wa_id": "5215559177781",
				"context_data": {
					"nombre": "Emmet Juaquin Villanueva",
					"status": "approved",
					"telefono": "5559177781",
					"personaje": "Dany",
					"statusBot": "working",
					"last_intent": "property_search",
					"interacciones": [
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Hola",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T02:57:24.711Z"
						},
						{
							"tipo": "intencion_detectada",
							"actor": "sistema",
							"canal": "whatsapp",
							"mensaje": "Intención detectada: greeting",
							"detalles": {
								"intent": "greeting",
								"user_message": "Hola"
							},
							"timestamp": "2025-11-14T02:57:33.783Z"
						},
						{
							"tipo": "mensaje_enviado",
							"actor": "bot",
							"canal": "whatsapp",
							"mensaje": "¡Hola! 👋 Soy Dany, tu asistente...",
							"detalles": {
								"intent": "greeting",
								"personaje": "Dany"
							},
							"timestamp": "2025-11-14T02:57:33.783Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Quiero info del depa en Cuajimalpa",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T02:57:57.836Z"
						},
						{
							"tipo": "intencion_detectada",
							"actor": "sistema",
							"canal": "whatsapp",
							"mensaje": "Intención: property_search",
							"detalles": {
								"intent": "property_search",
								"original_message": "Quiero info del depa en Cuajimalpa"
							},
							"timestamp": "2025-11-14T02:58:07.287Z"
						},
						{
							"tipo": "solicitud_datos",
							"actor": "sistema",
							"canal": "whatsapp",
							"mensaje": "Se solicitaron datos del contacto",
							"detalles": {
								"original_message": ""
							},
							"timestamp": "2025-11-14T02:58:07.415Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "ok Emmet Juaquin Villanueva 5559177781",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T02:58:33.166Z"
						},
						{
							"tipo": "datos_recibidos",
							"actor": "sistema",
							"canal": "whatsapp",
							"mensaje": "Datos del contacto recibidos y validados",
							"detalles": {
								"nombre": "Emmet Juaquin Villanueva",
								"telefono": "5559177781",
								"api_contact_id": 633
							},
							"timestamp": "2025-11-14T03:19:48.611Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "si adelante",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:23:51.004Z"
						},
						{
							"tipo": "confirmacion_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "si adelante",
							"detalles": {
								"respuesta": "afirmativa",
								"inicia_cuestionario": true
							},
							"timestamp": "2025-11-14T03:23:59.914Z"
						},
						{
							"tipo": "inicio_cuestionario",
							"actor": "sistema",
							"canal": "whatsapp",
							"mensaje": "Cuestionario generado e iniciado",
							"detalles": {
								"total_preguntas": 9,
								"primera_pregunta": "necesita_estacionamiento"
							},
							"timestamp": "2025-11-14T03:23:59.930Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "si",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:26:49.812Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 1: si",
							"detalles": {
								"paso": 1,
								"field": "necesita_estacionamiento",
								"total": 9
							},
							"timestamp": "2025-11-14T03:26:54.619Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "no",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:27:01.104Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 2: no",
							"detalles": {
								"paso": 2,
								"field": "tiene_ninos",
								"total": 9
							},
							"timestamp": "2025-11-14T03:27:06.163Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "no",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:27:14.700Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 3: no",
							"detalles": {
								"paso": 3,
								"field": "tiene_mascotas",
								"total": 9
							},
							"timestamp": "2025-11-14T03:27:20.134Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "con mi pareja unicamente",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:27:41.125Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 4: con mi pareja unicamente",
							"detalles": {
								"paso": 4,
								"field": "tiene_roomies",
								"total": 9
							},
							"timestamp": "2025-11-14T03:27:46.377Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "de acuerdo",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:28:02.940Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 5: de acuerdo",
							"detalles": {
								"paso": 5,
								"field": "acepta_poliza",
								"total": 9
							},
							"timestamp": "2025-11-14T03:28:07.625Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "si de acuerdo",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:28:22.408Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 6: si de acuerdo",
							"detalles": {
								"paso": 6,
								"field": "acepta_deposito_renta",
								"total": 9
							},
							"timestamp": "2025-11-14T03:28:27.823Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "sip",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:28:37.142Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 7: sip",
							"detalles": {
								"paso": 7,
								"field": "cumple_ingresos",
								"total": 9
							},
							"timestamp": "2025-11-14T03:28:43.556Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "ingeniero IT",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:29:03.612Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 8: ingeniero IT",
							"detalles": {
								"paso": 8,
								"field": "ocupacion",
								"total": 9
							},
							"timestamp": "2025-11-14T03:29:08.956Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Nómina",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T03:29:15.383Z"
						},
						{
							"tipo": "respuesta_cuestionario",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Pregunta 9: Nómina",
							"detalles": {
								"paso": 9,
								"field": "tipo_comprobante",
								"total": 9
							},
							"timestamp": "2025-11-14T03:29:21.489Z"
						},
						{
							"tipo": "perfil_aprobado",
							"actor": "sistema",
							"canal": "whatsapp",
							"mensaje": "Perfil aprobado - cumple con todos los requisitos",
							"detalles": {
								"resumen": "El prospecto cumple con todas las restricciones: no habrá niños ni mascotas, no habrá roomies (viviría con su pareja), acepta la póliza de 4,100 anuales y el depósito más renta inicial, cumple con el ingreso mínimo de 27,000 mensuales y presenta nómina como comprobante; además no es estudiante.",
								"recomendacion": "Proceder con la aprobación formal y avanzar a la contratación, verificando documentos y preparación del contrato.",
								"total_respuestas": 9
							},
							"timestamp": "2025-11-14T03:29:35.057Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "hola",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T04:05:53.151Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "hola",
							"detalles": {
								"tipo_mensaje": "text",
								"status_contacto": "approved"
							},
							"timestamp": "2025-11-14T05:04:56.504Z"
						},
						{
							"tipo": "mensaje_enviado",
							"actor": "bot",
							"canal": "whatsapp",
							"mensaje": "¡Hola de nuevo Emmet! 👋\n\nMe da gusto saludarte. Como recordarás, tu perfil ya fue aprobado para \"Depa para Pareja sin niños a 15 min de Santa Fe\" ✅\n\nNuestro equipo se pondrá en contacto contigo muy pronto para coordinar los siguientes pasos.\n\n¿Hay algo en lo que pueda ayudarte mientras tanto? 😊",
							"detalles": {
								"intent": "greeting",
								"personaje": "Dany"
							},
							"timestamp": "2025-11-14T05:04:56.504Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "ya paso un d[ia y no me han contactado",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T05:12:46.975Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "ya paso un d[ia y no me han contactado",
							"detalles": {
								"tipo_mensaje": "text",
								"status_contacto": "approved"
							},
							"timestamp": "2025-11-14T05:22:35.877Z"
						},
						{
							"tipo": "mensaje_enviado",
							"actor": "bot",
							"canal": "whatsapp",
							"mensaje": "De acuerdo Emmet\n\nEntiendo que quieres saber sobre el estatus de tu proceso para \"Depa para Pareja sin niños a 15 min de Santa Fe\".\n\nTu perfil está aprobado y registrado en nuestro sistema ✅\n\nNuestro equipo de ventas se pondrá en contacto contigo en las próximas 24-48 horas para:\n📋 Coordinar la visita al inmueble\n📄 Revisar la documentación necesaria\n✍️ Avanzar con el proceso de contratación\n\nEn este momento he vuelto a enviar una solicitud de atención a nuestro equipo.\n\n¿Hay algo más en lo que pueda ayudarte? 😊",
							"detalles": {
								"intent": "followup",
								"personaje": "Dany"
							},
							"timestamp": "2025-11-14T05:22:35.877Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Que documentos necesito para el proceso?",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T05:25:11.798Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Que documentos necesito para el proceso?",
							"detalles": {
								"tipo_mensaje": "text",
								"status_contacto": "approved"
							},
							"timestamp": "2025-11-14T05:26:16.723Z"
						},
						{
							"tipo": "mensaje_enviado",
							"actor": "bot",
							"canal": "whatsapp",
							"mensaje": "Perfecto Emmet,\n\nCon gusto te explico los documentos que necesitarás:\n\n📄 **Documentos Requeridos:**\n\n1️⃣ Identificación oficial vigente (INE/Pasaporte)\n\n2️⃣ Comprobante de ingresos:\n   - Recibos de nómina timbrados por el SAT (últimos 3 meses)\n   - Estados de cuenta completos, o\n   - Facturas (si eres independiente)\n\n3️⃣ Comprobante de domicilio reciente (no mayor a 3 meses)\n\n4️⃣ Referencias personales y/o laborales\n\n💰 **Pagos Iniciales:**\n   - Primer mes de renta\n   - Un mes de depósito en garantía\n   - Póliza jurídica: $4100.00 (anual)\n\nNuestro equipo te guiará en todo el proceso cuando te contacten.\n\n¿Tienes alguna otra duda? 😊",
							"detalles": {
								"intent": "document_question",
								"personaje": "Dany"
							},
							"timestamp": "2025-11-14T05:26:16.723Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "tengo una duda",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-14T05:29:24.277Z"
						}
					],
					"questionnaire": [
						{
							"type": "text",
							"field": "necesita_estacionamiento",
							"section": "caracteristicas_fisicas",
							"question": "El inmueble no cuenta con estacionamiento. ¿Estás de acuerdo con esto?"
						},
						{
							"type": "text",
							"field": "tiene_ninos",
							"section": "restricciones_convivencia",
							"question": "¿Entre las personas que vivirían en el inmueble habría niños?"
						},
						{
							"type": "text",
							"field": "tiene_mascotas",
							"section": "restricciones_convivencia",
							"question": "El arrendador no acepta mascotas, es una restricción no negociable. ¿Tienes inconveniente con esto?"
						},
						{
							"type": "text",
							"field": "tiene_roomies",
							"section": "restricciones_convivencia",
							"question": "Platícame con quien vivirás ¿solo/a, con pareja, familia o con roomies?"
						},
						{
							"type": "text",
							"field": "acepta_poliza",
							"section": "condiciones_contratacion",
							"question": "Se solicita una póliza jurídica de $4,100 que se paga anualmente, es decir, cada año que renueves el contrato. ¿Estás de acuerdo?"
						},
						{
							"type": "text",
							"field": "acepta_deposito_renta",
							"section": "condiciones_contratacion",
							"question": "Los pagos iniciales que se requieren son: Primer mes de renta y un mes de renta como depósito en garantía. ¿Estás de acuerdo con éste requisito?"
						},
						{
							"type": "text",
							"field": "cumple_ingresos",
							"section": "validacion_ingresos",
							"question": "Se pide un ingreso mínimo de $27,000 mensuales, puede ser individual o mancomunado si vivirás en pareja. ¿Cumples con éste requisito?"
						},
						{
							"type": "text",
							"field": "ocupacion",
							"section": "validacion_ingresos",
							"question": "Para conocer mejor tu perfil, ¿a qué te dedicas actualmente?"
						},
						{
							"type": "text",
							"field": "tipo_comprobante",
							"section": "validacion_ingresos",
							"question": "¿Qué tipo de comprobantes de ingresos tienes? (Recibo de nómina timbrado por el SAT, estados de cuenta completos o facturas?)"
						}
					],
					"api_contact_id": 633,
					"property_found": {
						"id": 17,
						"m2": "75.00",
						"slug": "depa-para-pareja-sin-ninos-a-15-min-de-santa-fe",
						"type": "Departamento",
						"baths": 1,
						"rooms": 2,
						"title": "Depa para Pareja sin niños a 15 min de Santa Fe",
						"estado": "Ciudad de México",
						"ammount": "$9,000.00",
						"colonia": "Jesús del Monte",
						"parkings": 2,
						"municipio": "Cuajimalpa de Morelos",
						"operacion": "Renta",
						"description": "Villanueva García propone en renta: Bonito departamento a 15 mins de Santa Fe e Interlomas\r\n\r\n* Ideal para PAREJAS (2 personas) no más.\r\n\r\nCuenta con:\r\n* Bonitos Acabados\r\n* Alfombrado (NO SE ACEPTAN MASCOTAS)\r\n* 2 cajones de estacionamiento en una fila (no se estorba con ningún vecino)\r\n* 2 habitaciones (CON CLOSET)\r\n* 1 cocina integral\r\n* 1 baño completo\r\n* Área de Sala - Comedor.\r\n\r\n** REQUISITOS**\r\n\r\nIMPORTANTE: Cubrir por favor requisitos y restricciones al 100% ESPECÍFICADOS EN LA PUBLICACIÓN, PARA PODER AGENDAR CITA; ya que no son NEGOCIABLES.\r\n\r\n* Comprobar ingresos mínimos de $30,000 (Individual o mancomunado y aceptamos recibos de nómina, estados de cuenta completos o facturas)\r\n* Pago Póliza Jurídica Costo $4,300 ( ANUAL)\r\n* 1 Mes de depósito en garantía\r\n* 1 Mes de renta corriente.\r\n\r\nNO aceptamos: (NO NEGOCIABLES)\r\n\r\n* Mascotas (PERROS, GATOS)\r\n* Niños\r\n* Estudiantes que no vayan a vivir con padre o tutor\r\n* Roomies (Personas que estén cambiando frecuentemente)\r\n\r\nHorario de Atención TELEFÓNICA: NO WHATSAPP\r\nLu-Vi 09.00am a 6:00 pm\r\nSábado y Domingo 09.00am a 3:00pm",
						"restrictions": {
							"acepta_niños": "no",
							"observaciones": "Ingresos mínimos comprobables de $27,000 mensuales.",
							"precio_poliza": "4100.00",
							"acepta_roomies": "no",
							"acepta_mascotas": "no",
							"ingresos_minimos": "27000.00",
							"acepta_estudiantes": "no",
							"requiere_comprobantes_ingresos": true
						}
					},
					"already_greeted": true,
					"original_search": "",
					"approval_summary": "El prospecto cumple con todas las restricciones: no habrá niños ni mascotas, no habrá roomies (viviría con su pareja), acepta la póliza de 4,100 anuales y el depósito más renta inicial, cumple con el ingreso mínimo de 27,000 mensuales y presenta nómina como comprobante; además no es estudiante.",
					"approval_timestamp": "2025-11-14T03:29:35.057Z",
					"questionnaire_step": 10,
					"ultima_interaccion": "2025-11-14T05:29:24.277Z",
					"questionnaire_total": 9,
					"questionnaire_answers": [
						{
							"step": 1,
							"field": "necesita_estacionamiento",
							"answer": "si",
							"passed": true,
							"section": "caracteristicas_fisicas",
							"question": "El inmueble no cuenta con estacionamiento. ¿Estás de acuerdo con esto?",
							"timestamp": "2025-11-14T03:26:54.619Z"
						},
						{
							"step": 2,
							"field": "tiene_ninos",
							"answer": "no",
							"passed": true,
							"section": "restricciones_convivencia",
							"question": "¿Entre las personas que vivirían en el inmueble habría niños?",
							"timestamp": "2025-11-14T03:27:06.163Z"
						},
						{
							"step": 3,
							"field": "tiene_mascotas",
							"answer": "no",
							"passed": true,
							"section": "restricciones_convivencia",
							"question": "El arrendador no acepta mascotas, es una restricción no negociable. ¿Tienes inconveniente con esto?",
							"timestamp": "2025-11-14T03:27:20.134Z"
						},
						{
							"step": 4,
							"field": "tiene_roomies",
							"answer": "con mi pareja unicamente",
							"passed": true,
							"section": "restricciones_convivencia",
							"question": "Platícame con quien vivirás ¿solo/a, con pareja, familia o con roomies?",
							"timestamp": "2025-11-14T03:27:46.377Z"
						},
						{
							"step": 5,
							"field": "acepta_poliza",
							"answer": "de acuerdo",
							"passed": true,
							"section": "condiciones_contratacion",
							"question": "Se solicita una póliza jurídica de $4,100 que se paga anualmente, es decir, cada año que renueves el contrato. ¿Estás de acuerdo?",
							"timestamp": "2025-11-14T03:28:07.625Z"
						},
						{
							"step": 6,
							"field": "acepta_deposito_renta",
							"answer": "si de acuerdo",
							"passed": true,
							"section": "condiciones_contratacion",
							"question": "Los pagos iniciales que se requieren son: Primer mes de renta y un mes de renta como depósito en garantía. ¿Estás de acuerdo con éste requisito?",
							"timestamp": "2025-11-14T03:28:27.823Z"
						},
						{
							"step": 7,
							"field": "cumple_ingresos",
							"answer": "sip",
							"passed": true,
							"section": "validacion_ingresos",
							"question": "Se pide un ingreso mínimo de $27,000 mensuales, puede ser individual o mancomunado si vivirás en pareja. ¿Cumples con éste requisito?",
							"timestamp": "2025-11-14T03:28:43.556Z"
						},
						{
							"step": 8,
							"field": "ocupacion",
							"answer": "ingeniero IT",
							"passed": true,
							"section": "validacion_ingresos",
							"question": "Para conocer mejor tu perfil, ¿a qué te dedicas actualmente?",
							"timestamp": "2025-11-14T03:29:08.956Z"
						},
						{
							"step": 9,
							"field": "tipo_comprobante",
							"answer": "Nómina",
							"passed": true,
							"section": "validacion_ingresos",
							"question": "¿Qué tipo de comprobantes de ingresos tienes? (Recibo de nómina timbrado por el SAT, estados de cuenta completos o facturas?)",
							"timestamp": "2025-11-14T03:29:21.489Z"
						}
					],
					"approval_recommendation": "Proceder con la aprobación formal y avanzar a la contratación, verificando documentos y preparación del contrato."
				},
				"api_contact": {
					"id": 633,
					"nombre": "🤖 - Emmet Juaquin Villanueva",
					"email": null,
					"telefono": "5559177781",
					"estado": "en_contacto",
					"fuente": "🤖 - WhatsApp Bot",
					"created_at": "2025-11-13T20:57:24-06:00",
					"updated_at": "2025-11-13T21:23:08-06:00",
					"last_interaction_at": "2025-11-13T23:26:18-06:00",
					"interes_reciente": {
						"id": 86,
						"inmueble_id": 17,
						"inmueble": {
							"id": 17,
							"titulo": "Depa para Pareja sin niños a 15 min de Santa Fe",
							"slug": "depa-para-pareja-sin-ninos-a-15-min-de-santa-fe",
							"descripcion": "Villanueva García propone en renta: Bonito departamento a 15 mins de Santa Fe e Interlomas\r\n\r\n* Ideal para PAREJAS (2 personas) no más.\r\n\r\nCuenta con:\r\n* Bonitos Acabados\r\n* Alfombrado (NO SE ACEPTAN MASCOTAS)\r\n* 2 cajones de estacionamiento en una fila (no se estorba con ningún vecino)\r\n* 2 habitaciones (CON CLOSET)\r\n* 1 cocina integral\r\n* 1 baño completo\r\n* Área de Sala - Comedor.\r\n\r\n** REQUISITOS**\r\n\r\nIMPORTANTE: Cubrir por favor requisitos y restricciones al 100% ESPECÍFICADOS EN LA PUBLICACIÓN, PARA PODER AGENDAR CITA; ya que no son NEGOCIABLES.\r\n\r\n* Comprobar ingresos mínimos de $30,000 (Individual o mancomunado y aceptamos recibos de nómina, estados de cuenta completos o facturas)\r\n* Pago Póliza Jurídica Costo $4,300 ( ANUAL)\r\n* 1 Mes de depósito en garantía\r\n* 1 Mes de renta corriente.\r\n\r\nNO aceptamos: (NO NEGOCIABLES)\r\n\r\n* Mascotas (PERROS, GATOS)\r\n* Niños\r\n* Estudiantes que no vayan a vivir con padre o tutor\r\n* Roomies (Personas que estén cambiando frecuentemente)\r\n\r\nHorario de Atención TELEFÓNICA: NO WHATSAPP\r\nLu-Vi 09.00am a 6:00 pm\r\nSábado y Domingo 09.00am a 3:00pm",
							"precio": "9000.00",
							"precio_formateado": "$9,000.00",
							"direccion": "Emiliano Zapata Jesus Del Monte",
							"colonia": "Jesús del Monte",
							"municipio": "Cuajimalpa de Morelos",
							"estado": "Ciudad de México",
							"codigo_postal": "05260",
							"ubicacion": {
								"latitud": 19.375494,
								"longitud": -99.290896
							},
							"location": {
								"latitude": 19.375494,
								"longitude": -99.290896
							},
							"tipo": "Departamento",
							"operacion": "Renta",
							"habitaciones": 2,
							"banos": 1,
							"estacionamientos": 2,
							"metros_cuadrados": "75.00",
							"superficie_construida": "75.00",
							"superficie_terreno": "75.00",
							"anio_construccion": 2000,
							"destacado": true,
							"video_url": null,
							"tour_virtual_url": null,
							"amenidades": [],
							"extras": [],
							"tags": [
								"emiliano zapata",
								"jesus del monte",
								"santa fe",
								"cuajimalpa",
								"interlomas"
							],
							"created_at": "2025-09-30T00:42:24-06:00",
							"updated_at": "2025-10-24T23:56:48-06:00"
						},
						"created_at": "2025-11-13T21:23:08-06:00"
					}
				},
				"message": "Hola Emmet 👋\n\nTu perfil ya está aprobado para \"Depa para Pareja sin niños a 15 min de Santa Fe\" ✅\n\nEstoy aquí para ayudarte. Puedo asistirte con:\n\n📋 Información sobre el estatus de tu proceso\n📄 Dudas sobre documentación requerida\n🏠 Si deseas buscar otro inmueble\n💬 Cualquier otra pregunta que tengas\n\nNuestro equipo de ventas también se pondrá en contacto contigo pronto para avanzar con el proceso.\n\n¿En qué puedo ayudarte específicamente? 😊",
				"intent": "general_question"
			}
		]
	},
	"meta": {
		"templateCredsSetupCompleted": true,
		"instanceId": "37571b6e3b06c0ce894d50931b94c0b80b70f40d5b859a8ce717ce6c0e3d4b9d"
	}
}
