Bot - Inmuebles24.json
{
	"nodes": [
		{
			"parameters": {
				"jsCode": "// Texto del cuerpo limpio\nconst texto = $json.cuerpo_limpio || \"\";\n\n// Buscar campos clave\nconst nombreMatch = texto.match(/Nombre y apellido:\\s*([A-Za-zÁÉÍÓÚÑáéíóúüÜ\\s]+)/i);\nconst telefonoMatch = texto.match(/Tel[eé]fono:\\s*(\\d{10,15})/i);\nconst correoMatch = texto.match(/E-?mail:\\s*([\\w\\.-]+@[\\w\\.-]+\\.\\w+)/i);\nconst codigoAvisoMatch = texto.match(/Código de aviso:\\s*([A-Z0-9]+)/i);\n\n// Detectar bloque del aviso (Renta o Venta)\nconst avisoMatch = texto.match(\n  /aviso:\\s*((?:Renta|Venta)\\s*\\|[^]+?)(?=(Código de aviso:|Código del anunciante:|Este es el mensaje))/i\n);\n\nlet aviso = avisoMatch ? avisoMatch[1].trim() : null;\n\nif (aviso) {\n  // Limpiar texto y eliminar repeticiones de encabezado\n  aviso = aviso\n    .replace(/¡Hola, Inmobiliaria Villanueva García! Hay interesados que están haciendo consultas por el siguiente aviso:/gi, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n\n  // Extraer solo la parte DESPUÉS del primer pipe \"|\"\n  const innerMatch = aviso.match(/^\\s*(?:Renta|Venta)\\s*\\|\\s*(.*)$/i);\n  if (innerMatch) aviso = innerMatch[1].trim();\n\n  // Opcional: eliminar fragmentos irrelevantes como “Ver aviso”\n  aviso = aviso.replace(/Ver aviso/gi, \"\").trim();\n}\n\n// Normalizar teléfono (quitar prefijo 52 si lo tiene)\nlet telefono = telefonoMatch ? telefonoMatch[1].trim() : null;\nif (telefono?.startsWith(\"52\") && telefono.length === 12) {\n  telefono = telefono.slice(2);\n}\n\n// Generar wa_id con formato internacional 521XXXXXXXXXX\nconst wa_id = telefono ? `521${telefono}` : null;\n\n// Crear objeto final\nreturn [{\n  nombre: nombreMatch ? nombreMatch[1].trim().replace(/Tel[eé]fono/i, \"\").trim() : null,\n  telefono,\n  wa_id,\n  correo: correoMatch ? correoMatch[1].trim() : null,\n  aviso,\n  codigo_aviso: codigoAvisoMatch ? codigoAvisoMatch[1].trim() : null,\n  tipo: texto.includes(\"Renta |\") ? \"renta\" : texto.includes(\"Venta |\") ? \"venta\" : null\n}];\n"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [1680, -64],
			"id": "e2cd7e5c-0fa7-447c-be51-3ecb78ac20e4",
			"name": "Extract: data"
		},
		{
			"parameters": {
				"jsCode": "// Obtener el HTML del campo actual\nlet raw = $json.html || \"\";\n\n// Limpiar etiquetas HTML, estilos, scripts y espacios\nlet clean = raw\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, \"\")  // Quita CSS embebido\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, \"\") // Quita scripts\n  .replace(/<[^>]+>/g, \" \")                  // Quita todas las etiquetas HTML\n  .replace(/&nbsp;/gi, \" \")                  // Reemplaza espacios especiales\n  .replace(/&[a-z]+;/gi, \"\")                 // Quita entidades HTML (&lt;, &gt;, etc.)\n  .replace(/\\s+/g, \" \")                      // Limpia espacios y saltos múltiples\n  .trim();\n\n// Retornar el texto limpio\nreturn [{\n  cuerpo_limpio: clean || \"(sin contenido detectado)\",\n  longitud: clean.length\n}];\n"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [1504, -64],
			"id": "c082ef26-75cb-4c10-9084-88a11fbda1e4",
			"name": "Clean HTML"
		},
		{
			"parameters": {
				"assignments": {
					"assignments": [
						{
							"id": "55e2b36c-f91c-4ec7-9a0d-3191a0b8cff1",
							"name": "html",
							"value": "={{ $json.html }}",
							"type": "string"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.set",
			"typeVersion": 3.4,
			"position": [1344, -64],
			"id": "1aa73b2e-82b3-46a4-966c-ef00b536a397",
			"name": "Get HTML"
		},
		{
			"parameters": {
				"operation": "get",
				"messageId": "={{ $json.id }}",
				"simple": false,
				"options": {}
			},
			"type": "n8n-nodes-base.gmail",
			"typeVersion": 2.1,
			"position": [1152, -64],
			"id": "ce6d93b9-9dbb-4b37-83d4-1f8e8a655ba7",
			"name": "Get Individual message",
			"webhookId": "c452504e-6899-4056-892d-25af7836bca8",
			"credentials": {
				"gmailOAuth2": {
					"id": "hiED6cmTiyWIyKwY",
					"name": "Gmail account"
				}
			}
		},
		{
			"parameters": {
				"options": {}
			},
			"type": "n8n-nodes-base.splitInBatches",
			"typeVersion": 3,
			"position": [688, -80],
			"id": "8be9fde6-f731-4c63-8401-882544ec67f9",
			"name": "Loop Over Items"
		},
		{
			"parameters": {
				"url": "=https://vg.g210512.com/api/v1/contactos?telefono={{ $json.telefono }}",
				"authentication": "genericCredentialType",
				"genericAuthType": "httpHeaderAuth",
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [1856, -64],
			"id": "4e8b9d31-fd67-444b-8f58-25fbc5bfa7d2",
			"name": "Get API Contact",
			"alwaysOutputData": true,
			"credentials": {
				"httpHeaderAuth": {
					"id": "rzmCtJN8Vtwv6AO3",
					"name": "API Key Inmuebles"
				}
			}
		},
		{
			"parameters": {
				"operation": "executeQuery",
				"query": "SELECT \n  id,\n  wa_id,\n  context_data,\n  created_at,\n  updated_at\nFROM user_contexts \nWHERE wa_id = '{{ $('Extract: data').item.json.wa_id }}'\nLIMIT 1;",
				"options": {}
			},
			"type": "n8n-nodes-base.postgres",
			"typeVersion": 2.6,
			"position": [2048, -64],
			"id": "8142bb73-5b85-44bc-a8b5-51fcd7adc970",
			"name": "Check Context Status",
			"alwaysOutputData": true,
			"credentials": {
				"postgres": {
					"id": "qyR2OAIR7tUEVcQf",
					"name": "Postgres-neon"
				}
			}
		},
		{
			"parameters": {
				"jsCode": "// ✅ Acceder de forma segura al primer item de cada nodo\nconst apiContact = $('Get API Contact').first()?.json ?? {};\nconst contextStatus = $('Check Context Status').first()?.json ?? {};\n\n// 🧠 Validar si vienen vacíos o con data útil\nconst isApiEmpty =\n  !apiContact ||\n  Object.keys(apiContact).length === 0 ||\n  (apiContact.data && Array.isArray(apiContact.data) && apiContact.data.length === 0);\n\nconst isContextEmpty =\n  !contextStatus ||\n  Object.keys(contextStatus).length === 0 ||\n  (Array.isArray(contextStatus) && contextStatus.length === 0) ||\n  (contextStatus.data && Array.isArray(contextStatus.data) && contextStatus.data.length === 0);\n\n// ✅ Si ambos están vacíos => nuevo contacto\nconst isNew = isApiEmpty && isContextEmpty;\n\n// 🔄 Retornar resultado para usar en el siguiente IF\nreturn [{\n  is_new: isNew,\n  api_empty: isApiEmpty,\n  context_empty: isContextEmpty,\n  api_data: apiContact,\n  context_data: contextStatus\n}];\n"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [2256, -64],
			"id": "499ad2a8-9de4-468f-9295-abbfc3f599df",
			"name": "Is New Contact?"
		},
		{
			"parameters": {
				"assignments": {
					"assignments": [
						{
							"id": "2a1aa539-e7c5-4460-8400-d2c9785e7d92",
							"name": "nombre",
							"value": "={{ $('Extract: data').item.json.nombre }}",
							"type": "string"
						},
						{
							"id": "543c6b74-bd90-4b17-8a8b-bac0eb505dab",
							"name": "telefono",
							"value": "={{ $('Extract: data').item.json.telefono }}",
							"type": "string"
						},
						{
							"id": "90be3ec4-5823-4080-bd6f-0f4a42226a29",
							"name": "wa_id",
							"value": "={{ $('Extract: data').item.json.wa_id }}",
							"type": "string"
						},
						{
							"id": "e4f8d8d3-6d3e-4143-bd4c-596028ae2d9d",
							"name": "correo",
							"value": "={{ $('Extract: data').item.json.correo }}",
							"type": "string"
						},
						{
							"id": "0d1abc8d-cb92-4970-be18-44ae7b2aca7c",
							"name": "aviso",
							"value": "={{ $('Extract: data').item.json.aviso }}",
							"type": "string"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.set",
			"typeVersion": 3.4,
			"position": [928, 144],
			"id": "924aa5f5-dcce-4180-bcad-ba6df0e2ec6b",
			"name": "Edit Fields"
		},
		{
			"parameters": {
				"modelId": {
					"__rl": true,
					"value": "gpt-5-nano",
					"mode": "list",
					"cachedResultName": "GPT-5-NANO"
				},
				"messages": {
					"values": [
						{
							"content": "=Genera un mensaje corto (1 o 2 líneas máximo) para enviar por WhatsApp, escrito con tono amable, humano y profesional.\n\nContexto del lead:\n\nNombre: {{ $json.nombre || \"cliente\" }}\n\nAnuncio de interés: {{ $json.aviso }} (incluye dirección, colonia o zona, operación y precio, si están disponibles).\n\nObjetivo:\nTu único propósito es dar la primera bienvenida y preguntar si desea recibir más información.\nNo ofrezcas citas, recorridos, ni detalles adicionales. No inventes información que no esté en el aviso.\n\nInstrucciones de redacción:\n\n👋 Hola te escribe Regi de Inmobiliaria Villanueva García, recibimos tu interés por el inmueble ubicado en: X que tenemos en: Operacion $Monto, deseas recibir más Inforamción?",
							"role": "system"
						}
					]
				},
				"options": {}
			},
			"type": "@n8n/n8n-nodes-langchain.openAi",
			"typeVersion": 1.8,
			"position": [1088, 144],
			"id": "f23ca7ce-14c2-4b51-b3f5-014034dc7970",
			"name": "Message a model",
			"credentials": {
				"openAiApi": {
					"id": "g8OPzRDvvB6YO7mf",
					"name": "OpenAi account"
				}
			}
		},
		{
			"parameters": {
				"operation": "send",
				"phoneNumberId": "848665645000888",
				"recipientPhoneNumber": "={{ $('Extract: data').item.json.wa_id }}",
				"textBody": "={{ $json.message.content }}",
				"additionalFields": {}
			},
			"type": "n8n-nodes-base.whatsApp",
			"typeVersion": 1.1,
			"position": [1392, 144],
			"id": "cbb93af7-ca16-43f9-bc8a-16e8cb53c836",
			"name": "Send message and wait for response",
			"webhookId": "37d127c2-aa60-46d8-af60-5c88e1158331",
			"credentials": {
				"whatsAppApi": {
					"id": "DpdLgHZCEJ199330",
					"name": "WhatsApp account"
				}
			}
		},
		{
			"parameters": {
				"conditions": {
					"options": {
						"caseSensitive": true,
						"leftValue": "",
						"typeValidation": "strict",
						"version": 2
					},
					"conditions": [
						{
							"id": "fe5e2071-a4da-4b80-afa8-6dcea69cdb41",
							"leftValue": "={{ $json.is_new }}",
							"rightValue": "",
							"operator": {
								"type": "boolean",
								"operation": "true",
								"singleValue": true
							}
						}
					],
					"combinator": "and"
				},
				"options": {}
			},
			"type": "n8n-nodes-base.if",
			"typeVersion": 2.2,
			"position": [2432, -64],
			"id": "96356a1d-c911-4385-b004-017b6234e9d4",
			"name": "If: Is New?"
		},
		{
			"parameters": {
				"jsCode": "const extractData = $('Extract: data').item.json;\nconst aiMessage = $('Message a model').item.json.message.content;\n\n// Escapar comillas simples\nconst escapeQuotes = (str) => {\n  if (!str) return '';\n  return str.replace(/'/g, \"''\");\n};\n\nreturn {\n  wa_id: extractData.wa_id,\n  nombre: escapeQuotes(extractData.nombre),\n  telefono: extractData.telefono,\n  correo: escapeQuotes(extractData.correo),\n  aviso: escapeQuotes(extractData.aviso),\n  tipo: extractData.tipo,\n  mensaje_enviado: escapeQuotes(aiMessage)\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [1600, 144],
			"id": "7bd929d2-6e0a-4f84-8ffc-efc0fd4b9d38",
			"name": "Prepare Context Data"
		},
		{
			"parameters": {
				"jsCode": "const extractData = $('Extract: data').item.json;\nconst aiData = $('Message a model').item.json;\nconst apiContactData = $('Create API Contact').item.json;\n\nconst mensaje = aiData.message.content;\n\nconst comment = `📧 CONTACTO VÍA EMAIL INMUEBLES24\n\n📋 INFORMACIÓN:\nTipo: ${extractData.tipo}\nAviso: ${extractData.aviso}\n\n💬 MENSAJE ENVIADO POR WHATSAPP:\n${mensaje}\n\n✅ Estado: Esperando respuesta del contacto`;\n\nreturn {\n  api_contact_id: apiContactData.data.id,\n  comment: comment\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [2208, 144],
			"id": "cf32ecb6-4c0e-4b69-9a15-695d94b493ef",
			"name": "Prepare Comment"
		},
		{
			"parameters": {
				"method": "POST",
				"url": "https://vg.g210512.com/api/v1/contactos",
				"authentication": "genericCredentialType",
				"genericAuthType": "httpHeaderAuth",
				"sendBody": true,
				"bodyParameters": {
					"parameters": [
						{
							"name": "nombre",
							"value": "=🤖📧 - {{ $('Extract: data').item.json.nombre }}"
						},
						{
							"name": "telefono",
							"value": "={{ $('Extract: data').item.json.telefono }}"
						},
						{
							"name": "email",
							"value": "={{ $('Extract: data').item.json.correo }}"
						},
						{
							"name": "estado",
							"value": "en_contacto"
						},
						{
							"name": "fuente",
							"value": "🤖📧 - Inmuebles24 Email"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.3,
			"position": [2000, 144],
			"id": "5ca6e323-fd01-462e-a6c7-4f5137cde32a",
			"name": "Create API Contact",
			"credentials": {
				"httpHeaderAuth": {
					"id": "rzmCtJN8Vtwv6AO3",
					"name": "API Key Inmuebles"
				}
			}
		},
		{
			"parameters": {
				"method": "POST",
				"url": "=https://vg.g210512.com/api/v1/contactos/{{ $json.api_contact_id }}/comentarios",
				"authentication": "genericCredentialType",
				"genericAuthType": "httpHeaderAuth",
				"sendBody": true,
				"bodyParameters": {
					"parameters": [
						{
							"name": "comentario",
							"value": "={{ $json.comment }}"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.3,
			"position": [2416, 144],
			"id": "b0d070f4-5698-4717-98a2-bf443cc2cc3b",
			"name": "Add API Comment",
			"credentials": {
				"httpHeaderAuth": {
					"id": "rzmCtJN8Vtwv6AO3",
					"name": "API Key Inmuebles"
				}
			}
		},
		{
			"parameters": {
				"operation": "executeQuery",
				"query": "UPDATE user_contexts\nSET \n  context_data = jsonb_set(\n    jsonb_set(\n      jsonb_set(\n        context_data,\n        '{api_contact_id}',\n        to_jsonb({{ $('Create API Contact').item.json.data.id }}::integer)\n      ),\n      '{i24,0,insnew}',\n      'false'::jsonb\n    ),\n    '{status}',\n    '\"awaiting_data\"'::jsonb\n  ),\n  updated_at = CURRENT_TIMESTAMP\nWHERE wa_id = '{{ $('Extract: data').item.json.wa_id }}'\nRETURNING *;",
				"options": {}
			},
			"type": "n8n-nodes-base.postgres",
			"typeVersion": 2.6,
			"position": [2608, 144],
			"id": "d1464dec-49d8-4fad-93fd-f34accc6b224",
			"name": "Update Context with API ID",
			"credentials": {
				"postgres": {
					"id": "qyR2OAIR7tUEVcQf",
					"name": "Postgres-neon"
				}
			}
		},
		{
			"parameters": {
				"jsCode": "// Obtener datos de ambas fuentes\nconst apiContact = $('Get API Contact').first()?.json;\nconst contextStatus = $('Check Context Status').first()?.json;\n\n// Determinar de dónde sacar el estado\nlet status = null;\nlet contactData = null;\n\n// Prioridad: PostgreSQL context (más actualizado)\nif (contextStatus && Object.keys(contextStatus).length > 0) {\n  status = contextStatus.context_data?.status || 'unknown';\n  contactData = {\n    source: 'postgresql',\n    wa_id: contextStatus.wa_id,\n    status: status,\n    statusBot: contextStatus.context_data?.statusBot,\n    context_data: contextStatus.context_data,\n    has_api_contact: contextStatus.context_data?.api_contact_id ? true : false\n  };\n}\n// Si no hay en PostgreSQL, revisar API\nelse if (apiContact && apiContact.data && apiContact.data.length > 0) {\n  const contact = apiContact.data[0];\n  status = contact.estado || 'unknown';\n  contactData = {\n    source: 'api',\n    api_contact_id: contact.id,\n    status: status,\n    contact: contact,\n    has_context: false\n  };\n}\n// No debería pasar, pero por seguridad\nelse {\n  status = 'unknown';\n  contactData = {\n    source: 'none',\n    status: 'unknown',\n    error: 'Contact exists but no data found'\n  };\n}\n\nreturn {\n  status: status,\n  contact_data: contactData,\n  // Datos del email para usar después\n  email_data: {\n    nombre: $('Extract: data').item.json.nombre,\n    telefono: $('Extract: data').item.json.telefono,\n    wa_id: $('Extract: data').item.json.wa_id,\n    correo: $('Extract: data').item.json.correo,\n    aviso: $('Extract: data').item.json.aviso,\n    tipo: $('Extract: data').item.json.tipo\n  }\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [896, 384],
			"id": "a4f5c838-04c1-4e40-acbb-7a892b4ce6f1",
			"name": "Get Contact Status"
		},
		{
			"parameters": {
				"rules": {
					"values": [
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"leftValue": "={{ $json.contact_data.status }}",
										"rightValue": "blocked",
										"operator": {
											"type": "string",
											"operation": "equals"
										},
										"id": "c22f99dd-9578-47ca-8c1a-2bc3c59736ce"
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "blocked"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "93456442-01ea-4be5-83a3-3e4a2433382a",
										"leftValue": "={{ $json.contact_data.status }}",
										"rightValue": "rejected",
										"operator": {
											"type": "string",
											"operation": "equals",
											"name": "filter.operator.equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "rejected"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "465ecdf2-7e88-4bce-9b6e-b65628932beb",
										"leftValue": "={{ $json.contact_data.status }}",
										"rightValue": "approved",
										"operator": {
											"type": "string",
											"operation": "equals",
											"name": "filter.operator.equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "approved"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "0cc8136a-f42a-469e-9029-53b7cf70e677",
										"leftValue": "={{ $json.contact_data.status }}",
										"rightValue": "in_progress",
										"operator": {
											"type": "string",
											"operation": "equals",
											"name": "filter.operator.equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "in_progress"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "d88ccf89-16c9-4e2f-98e5-3cd32ff7ea3b",
										"leftValue": "={{ $json.contact_data.status }}",
										"rightValue": "mail_contact",
										"operator": {
											"type": "string",
											"operation": "equals",
											"name": "filter.operator.equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "mail_contact"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "cd9f0f85-5834-4bda-a2c2-26f9a17e03e0",
										"leftValue": "={{ $json.contact_data.status }}",
										"rightValue": "data",
										"operator": {
											"type": "string",
											"operation": "equals",
											"name": "filter.operator.equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "data "
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "4e67f737-a5d6-475c-8a11-48adbfb1db51",
										"leftValue": "={{ $json.contact_data.status }}",
										"rightValue": "quest",
										"operator": {
											"type": "string",
											"operation": "equals",
											"name": "filter.operator.equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "quest"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.switch",
			"typeVersion": 3.3,
			"position": [1296, 384],
			"id": "fa1e74f4-84cb-4909-acf0-9122347474e9",
			"name": "Switch"
		},
		{
			"parameters": {
				"workflowId": {
					"__rl": true,
					"value": "4olj37zILEOtyBt8",
					"mode": "list",
					"cachedResultUrl": "/workflow/4olj37zILEOtyBt8",
					"cachedResultName": "ApprovedContactHandler"
				},
				"workflowInputs": {
					"mappingMode": "defineBelow",
					"value": {
						"wa_id": "={{ $('Get Contact Status').item.json.contact_data.wa_id }}",
						"userPrompt": "={{ $('Get Contact Status').item.json.contact_data.context_data.aviso }}",
						"context_data": "={{ $('Get Contact Status').item.json.contact_data.context_data }}",
						"api_contact": "={{ $('If: Is New?').item.json.api_data }}"
					},
					"matchingColumns": [],
					"schema": [
						{
							"id": "wa_id",
							"displayName": "wa_id",
							"required": false,
							"defaultMatch": false,
							"display": true,
							"canBeUsedToMatch": true,
							"type": "string",
							"removed": false
						},
						{
							"id": "userPrompt",
							"displayName": "userPrompt",
							"required": false,
							"defaultMatch": false,
							"display": true,
							"canBeUsedToMatch": true,
							"type": "string",
							"removed": false
						},
						{
							"id": "context_data",
							"displayName": "context_data",
							"required": false,
							"defaultMatch": false,
							"display": true,
							"canBeUsedToMatch": true,
							"type": "object",
							"removed": false
						},
						{
							"id": "api_contact",
							"displayName": "api_contact",
							"required": false,
							"defaultMatch": false,
							"display": true,
							"canBeUsedToMatch": true,
							"type": "object",
							"removed": false
						}
					],
					"attemptToConvertTypes": false,
					"convertFieldsToString": true
				},
				"options": {}
			},
			"type": "n8n-nodes-base.executeWorkflow",
			"typeVersion": 1.3,
			"position": [448, 288],
			"id": "3d33e537-dd45-4f5d-af92-65196e086832",
			"name": "Call 'ApprovedContactHandler'"
		},
		{
			"parameters": {
				"workflowId": {
					"__rl": true,
					"value": "T0zJapgDBTCWQcXT",
					"mode": "list",
					"cachedResultUrl": "/workflow/T0zJapgDBTCWQcXT",
					"cachedResultName": "InProgressHandler"
				},
				"workflowInputs": {
					"mappingMode": "defineBelow",
					"value": {},
					"matchingColumns": [],
					"schema": [
						{
							"id": "wa_id",
							"displayName": "wa_id",
							"required": false,
							"defaultMatch": false,
							"display": true,
							"canBeUsedToMatch": true,
							"type": "string",
							"removed": false
						},
						{
							"id": "userPrompt",
							"displayName": "userPrompt",
							"required": false,
							"defaultMatch": false,
							"display": true,
							"canBeUsedToMatch": true,
							"type": "string",
							"removed": false
						},
						{
							"id": "context_data",
							"displayName": "context_data",
							"required": false,
							"defaultMatch": false,
							"display": true,
							"canBeUsedToMatch": true,
							"type": "object",
							"removed": false
						},
						{
							"id": "api_contact",
							"displayName": "api_contact",
							"required": false,
							"defaultMatch": false,
							"display": true,
							"canBeUsedToMatch": true,
							"type": "object",
							"removed": false
						}
					],
					"attemptToConvertTypes": false,
					"convertFieldsToString": true
				},
				"options": {}
			},
			"type": "n8n-nodes-base.executeWorkflow",
			"typeVersion": 1.3,
			"position": [160, 128],
			"id": "84eb54ab-1102-4328-9c69-ceb80713c00a",
			"name": "Call 'InProgressHandler'"
		},
		{
			"parameters": {},
			"type": "n8n-nodes-base.noOp",
			"typeVersion": 1,
			"position": [448, 128],
			"id": "dbc0a013-398b-4d6f-a83c-d4e1a7d2fb67",
			"name": "No Operation, do nothing"
		},
		{
			"parameters": {
				"workflowId": {
					"__rl": true,
					"value": "mqV7reY3C3IxWfje",
					"mode": "list",
					"cachedResultUrl": "/workflow/mqV7reY3C3IxWfje",
					"cachedResultName": "HandleRejected"
				},
				"workflowInputs": {
					"mappingMode": "defineBelow",
					"value": {
						"wa_id": "={{ $('Switch').item.json.contact_data.wa_id }}",
						"userPrompt": "=email_I24",
						"context_data": "={{ $('Check Context Status1').item.json.context_data }}",
						"api_contact": "={{ $json.api_contact }}"
					},
					"matchingColumns": [],
					"schema": [
						{
							"id": "wa_id",
							"displayName": "wa_id",
							"required": false,
							"defaultMatch": false,
							"display": true,
							"canBeUsedToMatch": true,
							"type": "string",
							"removed": false
						},
						{
							"id": "userPrompt",
							"displayName": "userPrompt",
							"required": false,
							"defaultMatch": false,
							"display": true,
							"canBeUsedToMatch": true,
							"type": "string",
							"removed": false
						},
						{
							"id": "context_data",
							"displayName": "context_data",
							"required": false,
							"defaultMatch": false,
							"display": true,
							"canBeUsedToMatch": true,
							"type": "object",
							"removed": false
						},
						{
							"id": "api_contact",
							"displayName": "api_contact",
							"required": false,
							"defaultMatch": false,
							"display": true,
							"canBeUsedToMatch": true,
							"type": "array",
							"removed": false
						}
					],
					"attemptToConvertTypes": false,
					"convertFieldsToString": true
				},
				"options": {}
			},
			"type": "n8n-nodes-base.executeWorkflow",
			"typeVersion": 1.3,
			"position": [160, 304],
			"id": "011ec735-fca6-4b37-8682-9dabbcbebda6",
			"name": "Call 'HandleRejected'"
		},
		{
			"parameters": {
				"jsCode": "const apiContact = $('Get API Contact').first()?.json;\nconst extractData = $('Extract: data').item.json;\n\nlet contactArray = [];\n\nif (Array.isArray(apiContact?.data)) {\n  contactArray = apiContact.data;\n} else if (apiContact?.data) {\n  contactArray = [apiContact.data];\n}\n\nreturn [\n  {\n    json: {\n      api_contact: contactArray,   // <-- array SIEMPRE\n      email_data: {\n        nombre: extractData.nombre,\n        telefono: extractData.telefono,\n        wa_id: extractData.wa_id,\n        correo: extractData.correo,\n        aviso: extractData.aviso,\n        tipo: extractData.tipo\n      },\n      status: contactArray[0]?.estado || 'unknown'\n    }\n  }\n];\n"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [624, 656],
			"id": "7cbb334c-20c2-4ea1-ace2-6418e196859d",
			"name": "Transform API Contact Data"
		},
		{
			"parameters": {
				"operation": "executeQuery",
				"query": "UPDATE user_contexts \nSET \n  context_data = jsonb_set(\n    context_data,\n    '{i24}',\n    jsonb_build_array(\n      jsonb_build_object(\n        'insnew', true,\n        'timestamp', to_char(CURRENT_TIMESTAMP, 'YYYY-MM-DD\"T\"HH24:MI:SS.MS\"Z\"'),\n        'aviso', '{{ $json.email_data.aviso }}',\n        'tipo', '{{ $json.email_data.tipo }}'\n      )\n    )\n  ),\n  updated_at = CURRENT_TIMESTAMP\nWHERE wa_id = '{{ $json.contact_data.wa_id }}'\nRETURNING *;",
				"options": {}
			},
			"type": "n8n-nodes-base.postgres",
			"typeVersion": 2.6,
			"position": [256, 656],
			"id": "d74aa5de-47cf-4d4e-a441-7f53956c1bfa",
			"name": "Update Status: Email Contact",
			"credentials": {
				"postgres": {
					"id": "qyR2OAIR7tUEVcQf",
					"name": "Postgres-neon"
				}
			}
		},
		{
			"parameters": {
				"operation": "executeQuery",
				"query": "SELECT \n  id,\n  wa_id,\n  context_data,\n  created_at,\n  updated_at\nFROM user_contexts \nWHERE wa_id = '{{ $('Extract: data').item.json.wa_id }}'\nLIMIT 1;",
				"options": {}
			},
			"type": "n8n-nodes-base.postgres",
			"typeVersion": 2.6,
			"position": [448, 656],
			"id": "3e6172d3-b184-44cb-82a0-eb310d703db0",
			"name": "Check Context Status1",
			"alwaysOutputData": true,
			"credentials": {
				"postgres": {
					"id": "qyR2OAIR7tUEVcQf",
					"name": "Postgres-neon"
				}
			}
		},
		{
			"parameters": {
				"operation": "executeQuery",
				"query": "INSERT INTO user_contexts (wa_id, context_data, created_at, updated_at)\nVALUES (\n  '{{ $('Extract: data').item.json.wa_id }}',\n  jsonb_build_object(\n    'status', 'mail_contact',\n    'statusBot', 'waiting_response',\n    'nombre', '{{ $('Extract: data').item.json.nombre }}',\n    'telefono', '{{ $('Extract: data').item.json.telefono }}',\n    'correo', '{{ $('Extract: data').item.json.correo }}',\n    'aviso', '{{ $('Extract: data').item.json.aviso }}',\n    'tipo', '{{ $('Extract: data').item.json.tipo }}',\n    'mail_sent_at', CURRENT_TIMESTAMP,\n    'ultima_interaccion', CURRENT_TIMESTAMP,\n    'interacciones', jsonb_build_array(\n      jsonb_build_object(\n        'timestamp', CURRENT_TIMESTAMP,\n        'actor', 'sistema',\n        'canal', 'email_to_whatsapp',\n        'tipo', 'contacto_email_inmuebles24',\n        'mensaje', 'Contacto recibido vía email de Inmuebles24',\n        'detalles', jsonb_build_object(\n          'aviso', '{{ $('Extract: data').item.json.aviso }}',\n          'tipo', '{{ $('Extract: data').item.json.tipo }}',\n          'correo', '{{ $('Extract: data').item.json.correo }}',\n          'mensaje_enviado', '{{ $('Message a model').item.json.message.content }}'\n        )\n      )\n    )\n  ),\n  CURRENT_TIMESTAMP,\n  CURRENT_TIMESTAMP\n)\nRETURNING *;",
				"options": {}
			},
			"type": "n8n-nodes-base.postgres",
			"typeVersion": 2.6,
			"position": [1792, 144],
			"id": "ac10d19f-f18d-4e78-b36c-9bccb7f8ee5c",
			"name": "Create User Context",
			"credentials": {
				"postgres": {
					"id": "qyR2OAIR7tUEVcQf",
					"name": "Postgres-neon"
				}
			}
		},
		{
			"parameters": {
				"rule": {
					"interval": [
						{
							"field": "minutes",
							"minutesInterval": 1
						}
					]
				}
			},
			"type": "n8n-nodes-base.scheduleTrigger",
			"typeVersion": 1.2,
			"position": [208, -80],
			"id": "2a3cd36a-c8cb-4c4b-b7d8-54f04007865c",
			"name": "Schedule Trigger"
		},
		{
			"parameters": {
				"operation": "getAll",
				"limit": 10,
				"filters": {
					"q": "from:@usuarios.inmuebles24.com",
					"readStatus": "unread"
				}
			},
			"type": "n8n-nodes-base.gmail",
			"typeVersion": 2.1,
			"position": [416, -80],
			"id": "4789670e-80b5-4477-802e-8f17a67454fd",
			"name": "Get many messages",
			"webhookId": "e1a3b5d7-6044-4a22-ad31-bb50eb8b6707",
			"credentials": {
				"gmailOAuth2": {
					"id": "hiED6cmTiyWIyKwY",
					"name": "Gmail account"
				}
			}
		},
		{
			"parameters": {
				"operation": "markAsRead",
				"messageId": "={{ $json.id }}"
			},
			"type": "n8n-nodes-base.gmail",
			"typeVersion": 2.1,
			"position": [928, -64],
			"id": "f5089488-4796-4091-bd73-94ecb63e5d55",
			"name": "Mark a message as read",
			"webhookId": "1b2d8011-4159-4960-9da6-fd9947826ab2",
			"credentials": {
				"gmailOAuth2": {
					"id": "hiED6cmTiyWIyKwY",
					"name": "Gmail account"
				}
			}
		}
	],
	"connections": {
		"Extract: data": {
			"main": [
				[
					{
						"node": "Get API Contact",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Clean HTML": {
			"main": [
				[
					{
						"node": "Extract: data",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Get HTML": {
			"main": [
				[
					{
						"node": "Clean HTML",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Get Individual message": {
			"main": [
				[
					{
						"node": "Get HTML",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Loop Over Items": {
			"main": [
				[],
				[
					{
						"node": "Mark a message as read",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Get API Contact": {
			"main": [
				[
					{
						"node": "Check Context Status",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Check Context Status": {
			"main": [
				[
					{
						"node": "Is New Contact?",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Is New Contact?": {
			"main": [
				[
					{
						"node": "If: Is New?",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Edit Fields": {
			"main": [
				[
					{
						"node": "Message a model",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Message a model": {
			"main": [
				[
					{
						"node": "Send message and wait for response",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Send message and wait for response": {
			"main": [
				[
					{
						"node": "Prepare Context Data",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"If: Is New?": {
			"main": [
				[
					{
						"node": "Edit Fields",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Get Contact Status",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Prepare Context Data": {
			"main": [
				[
					{
						"node": "Create User Context",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Prepare Comment": {
			"main": [
				[
					{
						"node": "Add API Comment",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Create API Contact": {
			"main": [
				[
					{
						"node": "Prepare Comment",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Add API Comment": {
			"main": [
				[
					{
						"node": "Update Context with API ID",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Update Context with API ID": {
			"main": [
				[
					{
						"node": "Loop Over Items",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Get Contact Status": {
			"main": [
				[
					{
						"node": "Switch",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Switch": {
			"main": [
				[
					{
						"node": "No Operation, do nothing",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Update Status: Email Contact",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Call 'ApprovedContactHandler'",
						"type": "main",
						"index": 0
					}
				],
				[]
			]
		},
		"Transform API Contact Data": {
			"main": [
				[
					{
						"node": "Call 'HandleRejected'",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Update Status: Email Contact": {
			"main": [
				[
					{
						"node": "Check Context Status1",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Check Context Status1": {
			"main": [
				[
					{
						"node": "Transform API Contact Data",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Create User Context": {
			"main": [
				[
					{
						"node": "Create API Contact",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Schedule Trigger": {
			"main": [
				[
					{
						"node": "Get many messages",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Get many messages": {
			"main": [
				[
					{
						"node": "Loop Over Items",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Mark a message as read": {
			"main": [
				[
					{
						"node": "Get Individual message",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"pinData": {},
	"meta": {
		"templateCredsSetupCompleted": true,
		"instanceId": "37571b6e3b06c0ce894d50931b94c0b80b70f40d5b859a8ce717ce6c0e3d4b9d"
	}
}
