InmobiliariaBot.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        144,
        -384
      ],
      "id": "4191100a-7fc3-425f-b553-9f0790b30f0e",
      "name": "WhatsApp Trigger",
      "webhookId": "74594388-e12c-4f20-b583-78678872e5e7",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "wFOtw7oArsG5zhql",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7f76b2d5-6c02-451f-9c67-7777b3e92f92",
              "leftValue": "={{ $json.misbehaviorDetected }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2096,
        -592
      ],
      "id": "e5c823d9-d1fe-4603-9066-7adf67f89d86",
      "name": "If: Misbehavior?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH context_data AS (\n  SELECT id, wa_id, context_data\n  FROM user_contexts\n  WHERE wa_id = '{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}'\n  LIMIT 1\n)\nSELECT\n  '{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}'::text AS wa_id,\n    (\n    SELECT row_to_json(context_row)\n    FROM context_data AS context_row\n  ) AS context_record;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        880,
        -928
      ],
      "id": "19bd3407-224e-4482-aa08-7a2405c37173",
      "name": "Get Misbehavior Context",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "qyR2OAIR7tUEVcQf",
          "name": "Postgres-neon"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const detectorData = $('Parse Misbehavior').item.json;\nconst contextRecord = $json.context_record || null;\n\n// ✅ Evitar error si context_data no existe\nconst contextData = contextRecord?.context_data\n  ? JSON.parse(JSON.stringify(contextRecord.context_data))\n  : {};\n\n// ✅ Verificar si ya existe contexto\nconst isExisting = Boolean(contextRecord && contextRecord.id);\n\n// ✅ Obtener contacto de manera segura\nconst contactData = $('Get API Contact').first().json?.data || [];\nconst contactName = contactData[1]?.nombre || contactData[0]?.nombre || null;\n\n// ✅ Nombre con fallback seguro\nconst fallbackName =\n  contactName && contactName.trim() !== ''\n    ? contactName.trim()\n    : '🤖 - Sin Nombre Mal Comportamiento';\n\n// ✅ Texto de motivo de rechazo\nconst reasonText =\n  detectorData.misbehaviorReason && detectorData.misbehaviorReason.trim() !== ''\n    ? detectorData.misbehaviorReason\n    : 'Comportamiento indebido detectado automáticamente';\n\n// ✅ Palabras y mensaje original\nconst matchedWords = detectorData.misbehaviorMatchedWords || [];\nconst originalMessage = detectorData.misbehaviorOriginalMessage || detectorData.userPrompt || '';\nconst timestamp = new Date().toISOString();\n\n// ✅ Registro de historial\nconst historyEntry = {\n  timestamp,\n  mensaje_original: originalMessage,\n  palabras_detectadas: matchedWords,\n  origen: 'auto_filter'\n};\n\n// ✅ Interacciones actualizadas\nconst existingInteractions = Array.isArray(contextData.interacciones)\n  ? contextData.interacciones.map((entry) => ({ ...entry }))\n  : [];\nconst interactionEntry = {\n  timestamp,\n  actor: 'usuario',\n  canal: 'whatsapp',\n  tipo: 'mensaje_recibido',\n  mensaje: originalMessage,\n  origen: 'auto_filter',\n  detalles: {\n    motivo: reasonText,\n    palabras_detectadas: matchedWords\n  }\n};\nconst updatedInteractions = [...existingInteractions, interactionEntry];\n\n// ✅ Motivos actualizados\nconst existingReasons = Array.isArray(contextData.motivo_rechazo)\n  ? contextData.motivo_rechazo\n  : [];\nconst updatedReasons = [...existingReasons];\nif (!updatedReasons.includes(reasonText)) updatedReasons.push(reasonText);\n\n// ✅ Historial actualizado\nconst existingHistory = Array.isArray(contextData.mal_comportamiento_historial)\n  ? contextData.mal_comportamiento_historial\n  : [];\nconst updatedHistory = [...existingHistory, historyEntry];\n\n// ✅ Nuevo contexto actualizado\nconst updatedContext = {\n  ...contextData,\n  nombre: fallbackName,\n  status: 'blocked',\n  rechazo_previo: true,\n  motivo_rechazo: updatedReasons,\n  mal_comportamiento_historial: updatedHistory,\n  ultima_interaccion: timestamp,\n  interacciones: updatedInteractions\n};\n\n// ✅ Resultado final\nreturn [\n  {\n    json: {\n      ...detectorData,\n      misbehaviorOriginalMessage: originalMessage,\n      isExistingContext: isExisting,\n      contextId: contextRecord?.id || null,\n      updatedContext,\n      misbehaviorHistoryEntry: historyEntry,\n      interactionEntry,\n      api_contact_id: contextData?.api_contact_id || null,\n      needsApiContact: !contextData?.api_contact_id,\n      fallbackName,\n      reasonText\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        -928
      ],
      "id": "46733aab-98ae-4d6c-b27c-3d2e17bde102",
      "name": "Prepare Misbehavior Context"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO user_contexts (wa_id, context_data, created_at, updated_at)\nVALUES (\n  '{{ $json.wa_id }}',\n  $${{ $json.updatedContext.toJsonString() }}$$::jsonb,\n  CURRENT_TIMESTAMP,\n  CURRENT_TIMESTAMP\n)\nON CONFLICT (wa_id) DO UPDATE SET\n  context_data = EXCLUDED.context_data,\n  updated_at = CURRENT_TIMESTAMP\nRETURNING\n  id,\n  wa_id,\n  context_data,\n  context_data->>'api_contact_id' AS api_contact_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1280,
        -928
      ],
      "id": "c3fc2963-1972-4d1e-9767-80bde8e4214d",
      "name": "Postgres: Insert Misbehavior Context",
      "credentials": {
        "postgres": {
          "id": "qyR2OAIR7tUEVcQf",
          "name": "Postgres-neon"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vg.g210512.com/api/v1/contactos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"nombre\": \"{{ $('Prepare Misbehavior Context').item.json.fallbackName }}\",\n  \"telefono\": \"{{ $('Get: Message Info').item.json.phone }}\",\n  \"estado\": \"blocked\",\n  \"fuente\": \"WhatsApp Bot\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1504,
        -928
      ],
      "id": "311775a4-770a-40b2-b2fa-7d2fa4c27f16",
      "name": "API: Create Misbehavior Contact",
      "credentials": {
        "httpHeaderAuth": {
          "id": "rzmCtJN8Vtwv6AO3",
          "name": "API Key Inmuebles"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_contexts\nSET\n  context_data = jsonb_set(\n    $${{ $('Prepare Misbehavior Context').item.json.updatedContext.toJsonString() }}$$::jsonb,\n    '{api_contact_id}',\n    '{{ $json.data.id }}'::jsonb,\n    true\n  ),\n  updated_at = CURRENT_TIMESTAMP\nWHERE wa_id = '{{ $('Prepare Misbehavior Context').item.json.wa_id }}'\nRETURNING\n  id,\n  wa_id,\n  context_data,\n  context_data->>'api_contact_id' AS api_contact_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1712,
        -928
      ],
      "id": "351d0f1d-1fbd-4ad2-9f54-6508ee570665",
      "name": "Postgres: Save API Contact (New)",
      "credentials": {
        "postgres": {
          "id": "qyR2OAIR7tUEVcQf",
          "name": "Postgres-neon"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prepareData = $('Prepare Misbehavior Context').item.json;\nconst apiContactId = $json.api_contact_id || $json.data?.id;\n\nconst matchedWords = prepareData.misbehaviorMatchedWords || [];\nconst originalMessage = prepareData.misbehaviorOriginalMessage || '';\nconst reasonText = prepareData.reasonText || 'Comportamiento indebido detectado automáticamente';\nconst timestamp = new Date().toISOString();\n\nconst commentLines = [\n  '🚨 BLOQUEADO - MAL COMPORTAMIENTO',\n  '',\n  ` Motivo: ${reasonText}`,\n  matchedWords.length ? `Coincidencias detectadas: ${matchedWords.join(', ')}` : '',\n  originalMessage ? `Mensaje original: \\\"${originalMessage}\\\"` : '',\n  `Registrado el: ${timestamp}`\n].filter(Boolean);\n\nconst notificationMessage = 'Detectamos un comportamiento indebido en tu mensaje. Tu contacto ha sido reportado y no podremos continuar con la atención. ❌';\n\nconst existingInteractions = Array.isArray(prepareData.updatedContext?.interacciones)\n  ? prepareData.updatedContext.interacciones.map((entry) => ({ ...entry }))\n  : Array.isArray($json.interacciones)\n    ? $json.interacciones.map((entry) => ({ ...entry }))\n    : [];\n\nconst systemInteraction = {\n  timestamp,\n  actor: 'sistema',\n  canal: 'whatsapp',\n  tipo: 'bloqueo_registrado',\n  mensaje: 'Contacto bloqueado por comportamiento indebido.',\n  detalles: {\n    motivo: reasonText,\n    comentario: commentLines.join('\n')\n  }\n};\n\nconst updatedInteractions = [...existingInteractions, systemInteraction];\n\nconst updatedContext = {\n  ...(prepareData.updatedContext || {}),\n  interacciones: updatedInteractions\n};\n\nreturn [\n  {\n    json: {\n      api_contact_id: apiContactId,\n      comentario: commentLines.join(''),\n      wa_id: prepareData.wa_id,\n      misbehaviorNotification: notificationMessage,\n      updatedInteractions,\n      updatedContext\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        -928
      ],
      "id": "7722ea16-e2c5-4acb-a4b7-0e87c98a0801",
      "name": "Build Misbehavior Comment"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://vg.g210512.com/api/v1/contactos/{{ $json.api_contact_id }}/comentarios",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"comentario\": {{ $json.comentario.toJsonString() }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2064,
        -928
      ],
      "id": "c6d4dea9-3e4a-4162-8cbd-0b3ea2d85d28",
      "name": "API: Add Misbehavior Comment",
      "credentials": {
        "httpHeaderAuth": {
          "id": "rzmCtJN8Vtwv6AO3",
          "name": "API Key Inmuebles"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "812415788624920",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.message.content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        2528,
        -928
      ],
      "id": "5aa31be1-55cc-47ae-a94b-321a8b226897",
      "name": "Send Misbehavior Notice",
      "webhookId": "32e518a9-64a8-4186-a7b0-d0962d11939a",
      "credentials": {
        "whatsAppApi": {
          "id": "DpdLgHZCEJ199330",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "content": "## -> Audio",
        "height": 704,
        "width": 304,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        256,
        -1216
      ],
      "typeVersion": 1,
      "id": "d6d04cd9-f8fb-49d2-a26f-d1eba6dffa88",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        320,
        -1136
      ],
      "id": "7c2e95c9-19aa-4e64-87e9-c3aed8a7730b",
      "name": "Download media3",
      "webhookId": "02de1bd7-bb83-49da-baa6-392d89ed4096",
      "credentials": {
        "whatsAppApi": {
          "id": "DpdLgHZCEJ199330",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        -880
      ],
      "id": "6c2f7e0e-73ad-4849-bb54-b62caf6e6285",
      "name": "HTTP Request3",
      "credentials": {
        "httpBearerAuth": {
          "id": "QigdAtAlBxHMmIsD",
          "name": "WA - Bearer Token"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        352,
        -656
      ],
      "id": "2fcfacfd-f0ce-4e67-aa7a-47affd52c5cd",
      "name": "Transcribe: audio",
      "credentials": {
        "googlePalmApi": {
          "id": "3Qw3858fHslDYr4D",
          "name": "Gemini - alfgow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4b195430-ea1d-49ce-84cb-06f1edc71280",
              "name": "intent",
              "value": "={{ $json.content.parts[0].text.replace(/^[\"'\\s]+|[\"'\\s]+$/g, '').replace(/\\\\/g, '') }}",
              "type": "string"
            },
            {
              "id": "8d0c4046-fab8-4adb-b011-92b920f7c4c7",
              "name": "userPrompt",
              "value": "={{ $('Get: Message Info').item.json.userPrompt }}",
              "type": "string"
            },
            {
              "id": "e5dc3f46-71fa-4d48-a8ff-85b0023aa398",
              "name": "wa_id",
              "value": "={{ $('Get: Message Info').item.json.wa_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3760,
        0
      ],
      "id": "0c786bbc-ea0d-4c3a-a1a5-cf91333b6418",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT context_data \nFROM user_contexts \nWHERE wa_id = '{{ $json.wa_id }}' \nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3936,
        0
      ],
      "id": "569a8a95-5750-424f-a492-e60cba942732",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "qyR2OAIR7tUEVcQf",
          "name": "Postgres-neon"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const existingContext = $input.first().json || {};\nconst previousContext = existingContext.context_data\n  ? JSON.parse(JSON.stringify(existingContext.context_data))\n  : {};\n\nconst messageData = $('Edit Fields').item.json;\nconst userPrompt = messageData.userPrompt || '';\nconst intent = messageData.intent || '';\nconst messageType = messageData.type || '';\nconst timestamp = new Date().toISOString();\n\nlet personaje;\nlet isNew = false;\n\nif (!previousContext.personaje) {\n  const personajes = ['Dany', 'Ale', 'Regi', 'Susy'];\n  personaje = personajes[Math.floor(Math.random() * personajes.length)];\n  isNew = true;\n} else {\n  personaje = previousContext.personaje;\n}\n\nconst clonedInteractions = Array.isArray(previousContext.interacciones)\n  ? previousContext.interacciones.map((entry) => ({ ...entry }))\n  : [];\n\nconst interactionEntry = {\n  timestamp,\n  actor: 'usuario',\n  canal: 'whatsapp',\n  tipo: 'mensaje_recibido',\n  mensaje: userPrompt,\n  detalles: {\n    intent,\n    tipo_mensaje: messageType\n  }\n};\n\nclonedInteractions.push(interactionEntry);\n\nconst updatedContext = {\n  ...previousContext,\n  personaje,\n  ultima_interaccion: timestamp,\n  interacciones: clonedInteractions\n};\n\nif (intent === 'property_search') {\n  updatedContext.original_search = userPrompt;\n  updatedContext.status = 'awaiting_data';\n}\n\nreturn {\n  wa_id: messageData.wa_id,\n  userPrompt,\n  type: messageType,\n  intent,\n  personaje,\n  isNew,\n  contextPayload: updatedContext,\n  interactionEntry\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4352,
        16
      ],
      "id": "2a1c7e8c-bc98-4506-b5f5-8e47d01bd894",
      "name": "Check and Assign Character"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d663079-05a6-411a-bd61-d6e05a5b7bae",
              "leftValue": "={{ $json.isNew }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4560,
        16
      ],
      "id": "cbab16fb-3e0e-4485-8c1a-33c8dc723d9a",
      "name": "If: Is New Contact"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO user_contexts (wa_id, context_data, created_at, updated_at)\nVALUES (\n  '{{ $json.wa_id }}',\n  $${{ $json.contextPayload.toJsonString() }}$$::jsonb,\n  CURRENT_TIMESTAMP,\n  CURRENT_TIMESTAMP\n)\nON CONFLICT (wa_id)\nDO UPDATE SET\n  context_data = $${{ $json.contextPayload.toJsonString() }}$$::jsonb,\n  updated_at = CURRENT_TIMESTAMP\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4768,
        0
      ],
      "id": "fd7b16a0-d4f7-4193-a8fa-12a60d8b7b8d",
      "name": "Set: New Costumer",
      "credentials": {
        "postgres": {
          "id": "qyR2OAIR7tUEVcQf",
          "name": "Postgres-neon"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  wa_id: $input.first().json.wa_id,\n  userPrompt: $('If: Is New Contact').first().json.userPrompt,\n  intent: $('If: Is New Contact').first().json.intent,\n  personaje: $input.first().json.context_data.personaje,\n  isNew: $('If: Is New Contact').first().json.isNew,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4960,
        0
      ],
      "id": "ff23479f-34b2-4b30-a1b8-5a384e70211a",
      "name": "Merge Context Data"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "812415788624920",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "=¡Hola! 👋 Soy {{ $json.personaje }}, tu asistente en Inmobiliaria Villanueva García.\n\n¿En qué te puedo ayudar hoy? ",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        5664,
        0
      ],
      "id": "f8ee6d29-5b26-4bc6-874c-9f1f69c3ba23",
      "name": "Send message1",
      "webhookId": "32e518a9-64a8-4186-a7b0-d0962d11939a",
      "credentials": {
        "whatsAppApi": {
          "id": "DpdLgHZCEJ199330",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const postgresResult = $json;\nconst previousData = $('Switch: Intent').item.json;\n\nconst contextData = postgresResult.context_data || {};\n\nreturn {\n  wa_id: previousData.wa_id,\n  userPrompt: previousData.userPrompt,\n  type: previousData.type,\n  intent: previousData.intent,\n  personaje: contextData.personaje || previousData.personaje,\n  context_id: postgresResult.id,\n  nombre: contextData.nombre || \"\",\n  telefono: contextData.telefono || \"\",\n  status: contextData.status || \"new\",\n  rechazo_previo: contextData.rechazo_previo || false,\n  motivo_rechazo: contextData.motivo_rechazo || [],\n  inmuebles_consultados:  $input.first().json.context_data.property_found || [],\n  ultima_interaccion: postgresResult.updated_at\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6128,
        -64
      ],
      "id": "dcee7574-265e-426c-9d85-9452b7c2f43e",
      "name": "Parse Context Data"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  id,\n  wa_id,\n  context_data,\n  created_at,\n  updated_at\nFROM user_contexts \nWHERE wa_id = '{{ $json.wa_id }}'\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5920,
        -64
      ],
      "id": "363e8883-2227-48e8-b838-e30f596482c7",
      "name": "Get: User Context",
      "credentials": {
        "postgres": {
          "id": "qyR2OAIR7tUEVcQf",
          "name": "Postgres-neon"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nlet missingData = [];\nlet contextStatus = \"\";\n\nif (data.rechazo_previo === true) {\n  contextStatus = \"rejected_before\";\n} else if (!data.nombre || data.nombre === \"\") {\n  missingData.push(\"nombre\");\n  contextStatus = \"incomplete_data\";\n} else if (!data.telefono || data.telefono === \"\") {\n  missingData.push(\"telefono\");\n  contextStatus = \"incomplete_data\";\n} else {\n  contextStatus = \"complete_data\";\n}\n\nreturn {\n  ...data,\n  missingData: missingData,\n  contextStatus: contextStatus\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6320,
        -64
      ],
      "id": "bf274c1a-1708-41aa-bb52-fb069a94c13a",
      "name": "Check missing Data"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.contextStatus }}",
                    "rightValue": "rejected_before",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "15548fe7-a59a-44dd-87e0-c87fa85e30fd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rejected Before"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9c138d09-5a25-4eb2-b926-784df2b799d9",
                    "leftValue": "={{ $json.contextStatus }}",
                    "rightValue": "incomplete_data",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Incomplete Data"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e84bb5cb-d2fd-46a7-983b-6164d386d44e",
                    "leftValue": "={{ $json.contextStatus }}",
                    "rightValue": "complete_data",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Complete Data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        6560,
        -80
      ],
      "id": "9233494a-98e9-4b3f-b746-a9ac6954b709",
      "name": "Actual Status"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "812415788624920",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "=¡Perfecto! Para ayudarte con la información del inmueble que buscas, necesito que me compartas:\n\n📝 Tu nombre completo\n📱 Tu número de teléfono\n\nPor favor compártelos en un solo mensaje 😊",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        5904,
        192
      ],
      "id": "05c10306-73d9-404f-b27d-d15cff2aae4e",
      "name": "Request Data",
      "webhookId": "32e518a9-64a8-4186-a7b0-d0962d11939a",
      "credentials": {
        "whatsAppApi": {
          "id": "DpdLgHZCEJ199330",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_contexts \nSET \n  context_data = jsonb_set(\n    jsonb_set(\n      context_data,\n      '{status}',\n      '\"awaiting_data\"'\n    ),\n    '{original_search}',\n    '\"{{ $('Actual Status').item.json.userPrompt }}\"'\n  ),\n  updated_at = CURRENT_TIMESTAMP\nWHERE wa_id = '{{ $('Actual Status').item.json.wa_id }}'\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6128,
        192
      ],
      "id": "685703c4-4672-4fc2-b828-127d549ad363",
      "name": "Update: Status awaiting",
      "credentials": {
        "postgres": {
          "id": "qyR2OAIR7tUEVcQf",
          "name": "Postgres-neon"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  id,\n  wa_id,\n  context_data,\n  created_at,\n  updated_at\nFROM user_contexts \nWHERE wa_id = '{{ $('Get: Message Info').item.json.wa_id }}'\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1040,
        -624
      ],
      "id": "27ef77a8-1836-427a-8c5b-8e87be3e818c",
      "name": "Check Context Status",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "qyR2OAIR7tUEVcQf",
          "name": "Postgres-neon"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const postgresResult = $('Check Context Status').first().json;  // ← Referencia directa\nconst previousData = $('Get: Message Info').item.json;\n\nconst contextData = postgresResult.context_data || {};\nconst currentStatus = contextData.status || \"new\";\n\nreturn {\n  ...previousData,\n  context_id: postgresResult.id,\n  personaje: contextData.personaje || \"\",\n  currentStatus: currentStatus,\n  isAwaitingData: currentStatus?.trim().toLowerCase() === \"awaiting_data\"\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        16
      ],
      "id": "c2910143-aaea-45cb-ac06-5d2d3dae2dd6",
      "name": "Parse: Status"
    },
    {
      "parameters": {
        "jsCode": "const userPrompt = $json.userPrompt;\n\nlet nombre = \"\";\nlet telefono = \"\";\n\nconst nombreMatch = userPrompt.match(/([A-ZÁÉÍÓÚÑ][a-záéíóúñ]+(?:\\s+[A-ZÁÉÍÓÚÑ][a-záéíóúñ]+)+)/);\nif (nombreMatch) {\n  nombre = nombreMatch[0].trim();\n}\n\nconst telefonoMatch = userPrompt.match(/(\\d{10,})/);\nif (telefonoMatch) {\n  telefono = telefonoMatch[0].replace(/\\D/g, '');\n  if (telefono.length > 10) {\n    telefono = telefono.slice(-10);\n  }\n}\n\nreturn {\n  ...$json,\n  nombre_extracted: nombre,\n  telefono_extracted: telefono,\n  has_valid_data: nombre !== \"\" && telefono !== \"\"\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "0a5093fe-afb7-4fae-b862-34911941d8f6",
      "name": "Extract Name & Phone"
    },
    {
      "parameters": {
        "jsCode": "const postgresResult = $json;\nconst switchData = $('Switch: is Awaiting?').item.json;\n\nconst contextData = postgresResult.context_data;\n\nreturn {\n  wa_id: switchData.wa_id,\n  userPrompt: $input.first().json.context_data.original_search,\n  type: switchData.type,\n  personaje: contextData.personaje,\n  nombre: contextData.nombre,\n  telefono: contextData.telefono,\n  context_id: postgresResult.id,\n  status: contextData.status\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        0
      ],
      "id": "94490036-8345-45d3-b6b3-9d393c002e88",
      "name": "Prepare for Property Search"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.userPrompt }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "systemMessage": "=Eres un clasificador de intenciones. Analiza el mensaje del usuario y clasifica en UNA de estas categorías:\n\n- property_search: Busca un inmueble específico (departamento, casa, propiedad)\n- greeting: Saludos iniciales o conversación casual amistosa\n- general_inquiry: Preguntas sobre servicios, áreas, o información general\n- confirmation: Confirmaciones para avanzar (sí, ok, listo, adelante)\n- negotiation: Intenta negociar o pedir excepciones\n- out_of_scope: Cualquier tema no relacionado con inmobiliaria\n\nResponde SOLO con el nombre de la categoría, sin explicaciones."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        3440,
        0
      ],
      "id": "e3ed2262-36af-42ff-baeb-9f214ecd4623",
      "name": "Detect: Intention",
      "credentials": {
        "googlePalmApi": {
          "id": "3Qw3858fHslDYr4D",
          "name": "Gemini - alfgow"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.has_valid_data }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "dae4488b-95af-4c88-a855-101544196f7a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TRUE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3225f10b-9880-42ec-8207-af7b7e64a479",
                    "leftValue": "={{ $json.has_valid_data }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FALSE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        624,
        0
      ],
      "id": "8f546e6f-48d1-466c-8f16-83e883f51c1f",
      "name": "Is Valid Data"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_contexts \nSET \n  context_data = jsonb_set(\n    jsonb_set(\n      jsonb_set(\n        context_data,\n        '{nombre}',\n        '\"{{ $json.nombre_extracted }}\"'\n      ),\n      '{telefono}',\n      '\"{{ $json.telefono_extracted }}\"'\n    ),\n    '{status}',\n    '\"in_progress\"'\n  ),\n  updated_at = CURRENT_TIMESTAMP\nWHERE wa_id = '{{ $json.wa_id }}'\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        880,
        -16
      ],
      "id": "28f0e023-fe12-4975-9782-97e7bcc69260",
      "name": "Get Context Awating Data",
      "credentials": {
        "postgres": {
          "id": "qyR2OAIR7tUEVcQf",
          "name": "Postgres-neon"
        }
      }
    },
    {
      "parameters": {
        "description": "Este Workflow busca la informacion de los inmuebles",
        "workflowId": {
          "__rl": true,
          "value": "8JWwPczEyYuP2J3N",
          "mode": "list",
          "cachedResultUrl": "/workflow/8JWwPczEyYuP2J3N",
          "cachedResultName": "InmuebleFinderTool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "termino": "={{ $('Prepare for Property Search').item.json.userPrompt }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "termino",
              "displayName": "termino",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2112,
        208
      ],
      "id": "64f95358-afa3-44dc-96bb-55c9a4c0846e",
      "name": "Call 'InmuebleFinderTool'1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  id,\n  wa_id,\n  context_data,\n  created_at,\n  updated_at\nFROM user_contexts \nWHERE wa_id = '{{ $json.wa_id }}'\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5904,
        400
      ],
      "id": "96c458c7-1fb7-4277-90e4-f671fba7192f",
      "name": "Get Context with Property",
      "credentials": {
        "postgres": {
          "id": "qyR2OAIR7tUEVcQf",
          "name": "Postgres-neon"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Prepare for Property Search').item.json.userPrompt }}",
        "options": {
          "systemMessage": "=use the tool **InmuebleFinderTool** w search term: \"{{ $('Prepare for Property Search').item.json.userPrompt }}\".\nYou must respond only with a valid JSON array.\nDo not include Markdown formatting, code fences (`````), explanations, or any text before or after the JSON.\n\nThe JSON must be parsable directly with JSON.parse() in JavaScript.\n\nOutput format required:\n\n[\n  {\n    \"id\": number,\n    \"title\": \"string\",\n    \"slug\": \"string\",\n    \"description\": \"string\",\n    \"ammount\": \"string\",\n    \"colonia\": \"string\",\n    \"municipio\": \"string\",\n    \"estado\": \"string\",\n    \"type\": \"string\",\n    \"operacion\": \"string\",\n    \"estatus\": \"string\",\n    \"rooms\": number,\n    \"baths\": number,\n    \"parkings\": number,\n    \"m2\": \"string\",\n    \"restrictions\": {\n      \"acepta_mascotas\": \"string\",\n      \"acepta_niños\": \"string\",\n      \"acepta_estudiantes\": \"string\",\n      \"acepta_roomies\": \"string\",\n      \"ingresos_minimos\": \"string\",\n      \"precio_poliza\": \"string or null\",\n      \"requiere_comprobantes_ingresos\": boolean,\n      \"observaciones\": \"string\"\n    }\n  }\n]\n\n\n⚠️ Do not wrap your answer inside triple backticks or any markdown block.\n⚠️ Do not include the words “json” or “output” before the array.\n\nJust return the array itself — nothing else."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1936,
        0
      ],
      "id": "0e383aba-9b5a-4416-9819-62fab1501038",
      "name": "AI Agent - Get Property",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const previousData = $('Prepare for Property Search').item.json;\nlet raw = $json.output;\nlet propertyFound = false;\nlet propertyData = null;\n\ntry {\n  // 🧠 Primer parse: convierte el texto escapado en un objeto/array real\n  const parsed = JSON.parse(raw);\n\n  // ✅ Verificamos que efectivamente sea un array con un objeto\n  if (Array.isArray(parsed) && parsed.length > 0 && parsed[0].slug) {\n    const p = parsed[0];\n    propertyFound = true;\n    propertyData = {\n      id: p.id,\n      slug: p.slug,\n      title: p.title,\n      description: p.description,\n      colonia: p.colonia,\n      municipio: p.municipio,\n      estado: p.estado,\n      operacion: p.operacion,\n      ammount: p.ammount,\n      rooms: p.rooms,\n      baths: p.baths,\n      parkings: p.parkings,\n      m2: p.m2,\n      type: p.type,\n      restrictions: p.restrictions || {},\n    };\n  } else {\n    console.warn('⚠️ No se encontró slug en el resultado parseado.');\n  }\n} catch (err) {\n  console.error('❌ Error parseando propiedad:', err.message);\n  console.log('Contenido RAW:', raw);\n}\n\nreturn {\n  wa_id: previousData.wa_id,\n  nombre: previousData.nombre,\n  telefono: previousData.telefono,\n  personaje: previousData.personaje,\n  context_id: previousData.context_id,\n  propertyFound,\n  propertyData,\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2288,
        0
      ],
      "id": "33483aba-47f5-4136-96cb-b359c01964e3",
      "name": "Parse: Property Information"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "812415788624920",
        "recipientPhoneNumber": "={{ $('Extract Name & Phone').item.json.wa_id }}",
        "textBody": "=Lo siento, no pude identificar correctamente tus datos 😅\n\nRecuerda que me tienes que enviar en un solo mensaje:\n\nNombre Completo\nNúmero de teléfono\n\nSigo al pendiente.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        16,
        -1072
      ],
      "id": "13c151e0-c267-4506-895b-dfb78037052f",
      "name": "Message: Wrong Name & Phone",
      "webhookId": "32e518a9-64a8-4186-a7b0-d0962d11939a",
      "credentials": {
        "whatsAppApi": {
          "id": "DpdLgHZCEJ199330",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "812415788624920",
        "recipientPhoneNumber": "={{ $('Extract Name & Phone').item.json.wa_id }}",
        "textBody": "={{ $json.formatted_message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        3168,
        0
      ],
      "id": "39ea02f6-c0cb-43d2-8111-3b77f107ed44",
      "name": "Send message",
      "webhookId": "32e518a9-64a8-4186-a7b0-d0962d11939a",
      "credentials": {
        "whatsAppApi": {
          "id": "DpdLgHZCEJ199330",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_contexts \nSET \n  context_data = jsonb_set(\n    jsonb_set(\n      context_data,\n      '{status}',\n      '\"awaiting_questionnaire\"'\n    ),\n    '{property_found}',\n    '{{ $json.propertyData.toJsonString() }}'::jsonb\n  ),\n  updated_at = CURRENT_TIMESTAMP\nWHERE wa_id = '{{ $json.wa_id }}'\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2480,
        0
      ],
      "id": "965d8fc9-0ff6-4c7c-9411-06f00990eaf5",
      "name": "Update: Costumer Context",
      "credentials": {
        "postgres": {
          "id": "qyR2OAIR7tUEVcQf",
          "name": "Postgres-neon"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "property_search",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cfe22d84-c2c3-4cb0-8a58-84d4a74ed500"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Property Search"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fec70547-de3d-40c9-9d97-a73c74f4910b",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "greeting",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Greeting"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "eb6f2f45-f416-4b8d-b47b-510056a95c53",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "general_inquiry",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "General Inquiry"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ff0ba65d-04e2-4f17-93f6-e0635cdb1ec7",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "confirmation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Confirmation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "eae60bfa-ae3e-497b-ad36-53db5e479587",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "negotiation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Negotiation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7c3fbc8e-f957-4100-bc88-06410ce8dc75",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "out_of_scope",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Out of scope"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        5360,
        -48
      ],
      "id": "79448ec5-c96d-46bb-9c41-5de00473dfd0",
      "name": "Switch: Intent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7335f5b8-de3b-423a-8519-36394cc79b76",
              "leftValue": "={{ $json.status }}",
              "rightValue": "awaiting_questionnaire",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6704,
        400
      ],
      "id": "71952e44-6286-4fc6-8674-3b8157591346",
      "name": "If: Is Awaiting Questionaire"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_contexts \nSET \n  context_data = jsonb_set(\n    jsonb_set(\n      context_data,\n      '{questionnaire}',\n      '{{ $json.questions.toJsonString() }}'::jsonb\n    ),\n    '{current_question_index}',\n    '0'::jsonb\n  ),\n  updated_at = CURRENT_TIMESTAMP\nWHERE wa_id = '{{ $json.wa_id }}'\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6896,
        384
      ],
      "id": "157c928e-2d44-48c5-8012-b0a83695aa71",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "qyR2OAIR7tUEVcQf",
          "name": "Postgres-neon"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "812415788624920",
        "recipientPhoneNumber": "={{ $json.wa_id }}",
        "textBody": "=¡Perfecto, {{ $json.context_data.nombre.split(' ')[0] }}! 😊\n\n{{ $json.context_data.questionnaire[0].question }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        7088,
        384
      ],
      "id": "a3c83d32-f705-458b-b062-89622e004398",
      "name": "Send message5",
      "webhookId": "32e518a9-64a8-4186-a7b0-d0962d11939a",
      "credentials": {
        "whatsAppApi": {
          "id": "DpdLgHZCEJ199330",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const postgresResult = $json;\nconst previousData = $('Get: Message Info').item.json;\n\nconst contextData = postgresResult.context_data || {};\nconst currentStatus = contextData.status || \"new\";\n\nconst isInQuestionnaire = currentStatus === \"awaiting_questionnaire\" && \n                          contextData.questionnaire && \n                          contextData.questionnaire.length > 0;\n\nconst currentIndex = contextData.current_question_index || 0;\nconst totalQuestions = contextData.questionnaire?.length || 0;\n\nreturn {\n  ...previousData,\n  context_id: postgresResult.id,\n  personaje: contextData.personaje || \"\",\n  nombre: contextData.nombre || \"\",\n  currentStatus: currentStatus,\n  isInQuestionnaire: isInQuestionnaire,\n  currentQuestionIndex: currentIndex,\n  totalQuestions: totalQuestions,\n  questionnaire: contextData.questionnaire || [],\n  answers: contextData.answers || {}\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4144,
        -304
      ],
      "id": "a2c947b8-a569-496c-aa76-bd7b40aec297",
      "name": "Check Questionnaire Status"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.isInQuestionnaire }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "40525fe2-fea0-4c92-b128-dc2dc73ebec1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TRUE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "55c5ed97-3768-4d9d-9cb8-7e5dd20346af",
                    "leftValue": "={{ $json.isInQuestionnaire }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FALSE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        4384,
        -304
      ],
      "id": "071a19fe-d46c-4a77-9cc9-e5906fa45f5e",
      "name": "Is In Questionnaire"
    },
    {
      "parameters": {
        "jsCode": "const userResponse = $json.userPrompt;\nconst currentIndex = $json.currentQuestionIndex;\nconst questionnaire = $json.questionnaire;\nconst previousAnswers = $json.answers || {};\n\n// Obtener pregunta actual\nconst currentQuestion = questionnaire[currentIndex];\n\n// Guardar respuesta\nconst answers = {\n  ...previousAnswers,\n  [currentQuestion.field]: userResponse\n};\n\n// Verificar si quedan más preguntas\nconst nextIndex = currentIndex + 1;\nconst hasMoreQuestions = nextIndex < questionnaire.length;\n\nreturn {\n  wa_id: $json.wa_id,\n  nombre: $json.nombre,\n  personaje: $json.personaje,\n  context_id: $json.context_id,\n  currentQuestionField: currentQuestion.field,\n  currentAnswer: userResponse,\n  answers: answers,\n  nextQuestionIndex: nextIndex,\n  hasMoreQuestions: hasMoreQuestions,\n  nextQuestion: hasMoreQuestions ? questionnaire[nextIndex] : null,\n  totalQuestions: questionnaire.length,\n  questionnaire: questionnaire\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4624,
        -320
      ],
      "id": "aae51ef5-ec67-474c-8554-da568f27d9df",
      "name": "Process Answer & Next Question",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_contexts \nSET \n  context_data = jsonb_set(\n    jsonb_set(\n      context_data,\n      '{answers}',\n      '{{ $json.answers.toJsonString() }}'::jsonb\n    ),\n    '{current_question_index}',\n    '{{ $json.nextQuestionIndex }}'::jsonb\n  ),\n  updated_at = CURRENT_TIMESTAMP\nWHERE wa_id = '{{ $json.wa_id }}'\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4832,
        -608
      ],
      "id": "2957a302-a5f4-4c7c-842d-d803e3314bdd",
      "name": "Update: Context questions",
      "credentials": {
        "postgres": {
          "id": "qyR2OAIR7tUEVcQf",
          "name": "Postgres-neon"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.hasMoreQuestions }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "9d1e7db8-76f4-4019-8169-51090760d627"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TRUE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "876e9470-34b5-46d9-bdef-92f8de3c819f",
                    "leftValue": "={{ $json.hasMoreQuestions }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FALSE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        4864,
        -320
      ],
      "id": "cbe5c70c-a91d-448c-a3d2-9dfbded3b2aa",
      "name": "Has More Questions?"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "812415788624920",
        "recipientPhoneNumber": "={{ $('Extract Name & Phone').item.json.wa_id }}",
        "textBody": "=Gracias {{ $json.nombre.split(' ')[0] }}, dame por favor un momento, estoy trabajando tu solicitud",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1744,
        0
      ],
      "id": "8fc8e07c-c190-44dd-ba02-1d88ae92a9ed",
      "name": "Send message4",
      "webhookId": "32e518a9-64a8-4186-a7b0-d0962d11939a",
      "credentials": {
        "whatsAppApi": {
          "id": "DpdLgHZCEJ199330",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "812415788624920",
        "recipientPhoneNumber": "={{ $json.wa_id }}",
        "textBody": "={{ $json.nextQuestion.question }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        5088,
        -608
      ],
      "id": "7f42bbbc-1276-47de-8cf9-f0f283aa1801",
      "name": "Send message6",
      "webhookId": "32e518a9-64a8-4186-a7b0-d0962d11939a",
      "credentials": {
        "whatsAppApi": {
          "id": "DpdLgHZCEJ199330",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.isApproved }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "d4698e59-8af4-4d53-ae63-9b26b2ed4d2e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Aprobado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2eebac30-5c99-4607-bf96-11199bf84bd6",
                    "leftValue": "={{ $json.isApproved }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rechazado"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        5600,
        -304
      ],
      "id": "5f6ea9cc-2567-4088-b59d-86d7aed46673",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_contexts \nSET \n  context_data = jsonb_set(\n    jsonb_set(\n      jsonb_set(\n        context_data,\n        '{status}',\n        '\"approved\"'::jsonb\n      ),\n      '{rechazo_previo}',\n      'false'::jsonb\n    ),\n    '{approved_at}',\n    to_jsonb(CURRENT_TIMESTAMP)\n  ),\n  updated_at = CURRENT_TIMESTAMP\nWHERE wa_id = '{{ $json.wa_id }}'\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5888,
        -528
      ],
      "id": "0a7b775c-a4cf-4d09-82b3-b65affc254c6",
      "name": "Execute a SQL query2",
      "credentials": {
        "postgres": {
          "id": "qyR2OAIR7tUEVcQf",
          "name": "Postgres-neon"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_contexts \nSET \n  context_data = jsonb_set(\n    jsonb_set(\n      jsonb_set(\n        context_data,\n        '{status}',\n        '\"rejected\"'::jsonb\n      ),\n      '{rechazo_previo}',\n      'true'::jsonb\n    ),\n    '{motivo_rechazo}',\n    '{{ $json.rejectionReasons.toJsonString() }}'::jsonb\n  ),\n  updated_at = CURRENT_TIMESTAMP\nWHERE wa_id = '{{ $json.wa_id }}'\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5872,
        -288
      ],
      "id": "afee2791-7968-4db7-8160-a2b43ff2ce6e",
      "name": "Execute a SQL query3",
      "credentials": {
        "postgres": {
          "id": "qyR2OAIR7tUEVcQf",
          "name": "Postgres-neon"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "812415788624920",
        "recipientPhoneNumber": "={{ $json.wa_id }}",
        "textBody": "=¡Excelentes noticias, {{ $json.nombre.split(' ')[0] }}! 🎉\n\nTu perfil cumple con todos los requisitos del arrendador ✅. \n\nNuestro equipo se pondrá en contacto contigo en las próximas 24 horas para coordinar la visita al inmueble.\n\n¡Gracias por tu interés! 😊",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        5392,
        -624
      ],
      "id": "d2227473-23ae-4a7b-b4a6-8a4d7b86115b",
      "name": "Message: Aprobado",
      "webhookId": "32e518a9-64a8-4186-a7b0-d0962d11939a",
      "credentials": {
        "whatsAppApi": {
          "id": "DpdLgHZCEJ199330",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "812415788624920",
        "recipientPhoneNumber": "={{ $json.wa_id }}",
        "textBody": "=Gracias por tu tiempo, {{ $json.context_data.nombre.split(' ')[0] }}.\n\nLamentablemente, en este momento no cumples con todos los requisitos establecidos por el arrendador para este inmueble en particular.\n\nSi tienes alguna duda, con gusto puedes contactarnos.\n\n¡Te deseamos mucho éxito en tu búsqueda! 🏡",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        6080,
        -288
      ],
      "id": "202ec0e8-5215-42bc-b5f0-b9a79c90b1b4",
      "name": "Message: Rejected",
      "webhookId": "32e518a9-64a8-4186-a7b0-d0962d11939a",
      "credentials": {
        "whatsAppApi": {
          "id": "DpdLgHZCEJ199330",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "options": {
          "systemMessage": "=Tu función será rechazar al contacto, tienes que indicarle que previamente nos contactó por el inmueble ubicado en {{ $json.inmuebles_consultados.colonia }} con un precio de renta de {{ $json.inmuebles_consultados.ammount }}, debes analizar por que se realizó el rechazo con la información que tienes en {{ $json.motivo_rechazo }}.\nSi la persona insiste, tienes que decirle amablemente que no puedes cambiar una decisión tomada previamente."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        6816,
        -96
      ],
      "id": "38224f76-9f1c-4a83-bb56-9aa28f5e7636",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Actual Status').item.json.wa_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        7008,
        96
      ],
      "id": "766d78b4-e7f7-4640-9b3e-629936897cc7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "812415788624920",
        "recipientPhoneNumber": "={{ $('Actual Status').item.json.wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        7120,
        -96
      ],
      "id": "6f63aa70-8e8b-44a6-a5d3-27f155fc0908",
      "name": "Message: Reject",
      "webhookId": "32e518a9-64a8-4186-a7b0-d0962d11939a",
      "credentials": {
        "whatsAppApi": {
          "id": "DpdLgHZCEJ199330",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const apiResponse = $json;\nconst whatsappData = $('WhatsApp Trigger').item.json || {};\n\nconst tryParseJson = (value) => {\n  if (typeof value !== 'string') return null;\n  try {\n    return JSON.parse(value);\n  } catch (error) {\n    console.log('No se pudo convertir el valor a JSON:', error.message);\n    return null;\n  }\n};\n\nconst looksLikeContact = (value) => {\n  if (!value || typeof value !== 'object') return false;\n  const keys = Object.keys(value);\n  const hints = [\n    'id',\n    'uuid',\n    'contact_id',\n    'telefono',\n    'phone',\n    'nombre',\n    'status',\n    'estado',\n    'rechazo_previo',\n    'resumen_interacciones',\n    'etiquetas'\n  ];\n  return hints.some((hint) => keys.includes(hint));\n};\n\nconst extractContact = (value) => {\n  if (!value) return null;\n  if (typeof value === 'string') {\n    const parsed = tryParseJson(value);\n    return parsed ? extractContact(parsed) : null;\n  }\n  if (Array.isArray(value)) {\n    for (const item of value) {\n      const candidate = extractContact(item);\n      if (candidate) return candidate;\n    }\n    return null;\n  }\n  if (typeof value === 'object') {\n    if (looksLikeContact(value)) {\n      return value;\n    }\n\n    const nestedKeys = ['data', 'result', 'payload', 'body', 'contact', 'contacto'];\n    for (const key of nestedKeys) {\n      if (key in value) {\n        const candidate = extractContact(value[key]);\n        if (candidate) return candidate;\n      }\n    }\n  }\n  return null;\n};\n\nconst normalizeBoolean = (value) => {\n  if (typeof value === 'boolean') return value;\n  if (typeof value === 'number') return value !== 0;\n  if (typeof value === 'string') {\n    const normalized = value.trim().toLowerCase();\n    if (!normalized) return false;\n    return [\n      'true',\n      '1',\n      'yes',\n      'si',\n      'sí',\n      'rechazado',\n      'rejected',\n      'blocked',\n      'bloqueado'\n    ].includes(normalized);\n  }\n  if (Array.isArray(value)) {\n    return value.some((entry) => normalizeBoolean(entry));\n  }\n  if (value && typeof value === 'object') {\n    return Object.values(value).some((entry) => normalizeBoolean(entry));\n  }\n  return false;\n};\n\nconst getFirstString = (...values) => {\n  for (const value of values) {\n    if (typeof value === 'string' && value.trim()) {\n      return value.trim();\n    }\n  }\n  return '';\n};\n\nconst contactRecord = extractContact(apiResponse);\nconst contactExists = Boolean(contactRecord);\nconst contactId = contactRecord?.id ?? contactRecord?.contact_id ?? contactRecord?.uuid ?? contactRecord?.telefono ?? contactRecord?.phone ?? null;\n\nlet hasRejectionHistory = false;\nif (contactRecord) {\n  const rejectionHints = [\n    contactRecord.rechazo_previo,\n    contactRecord.isRejected,\n    contactRecord.rechazado,\n    contactRecord.estado,\n    contactRecord.status,\n    contactRecord.etiquetas\n  ];\n  hasRejectionHistory = rejectionHints.some((hint) => normalizeBoolean(hint));\n}\n\nconst rejectionSummary = contactRecord\n  ? getFirstString(\n      contactRecord.resumen_interacciones,\n      contactRecord.resumen,\n      contactRecord.comentarios,\n      contactRecord.nota,\n      contactRecord.notas\n    )\n  : '';\n\nconst userMessage = whatsappData.messages?.[0]?.text?.body ?? '';\nconst waId = whatsappData.contacts?.[0]?.wa_id ?? null;\nconst sanitizedContact = contactRecord ? JSON.parse(JSON.stringify(contactRecord)) : null;\n\nreturn {\n  wa_id: waId,\n  userMessage,\n  contactExists,\n  contactId,\n  contactData: sanitizedContact,\n  hasRejectionHistory,\n  rejectionSummary\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3344,
        -320
      ],
      "id": "cecfead2-ec88-41d7-b8bc-b5e344a52373",
      "name": "Contact Actions"
    },
    {
      "parameters": {
        "jsCode": "const contactData = $('Contact Actions').item.json;\nconst whatsappData = $('WhatsApp Trigger').item.json;\n\n// Preparar datos en el formato que espera el Switch original\nreturn {\n  messages: whatsappData.messages,\n  contacts: whatsappData.contacts,\n  // Datos adicionales del contacto\n  _contactExists: contactData.contactExists,\n  _contactId: contactData.contactId,\n  _contactData: contactData.contactData,\n  _hasRejectionHistory: contactData.hasRejectionHistory\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3888,
        -304
      ],
      "id": "53807604-40a6-4574-b503-d3eb91555a2e",
      "name": "Prepare Message Data"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1904,
        224
      ],
      "id": "fc17f3f1-8e1c-44b9-a42b-769d2f080830",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "g8OPzRDvvB6YO7mf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        6800,
        96
      ],
      "id": "fd83dece-6a6a-4099-9b93-55d8bfc97327",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "g8OPzRDvvB6YO7mf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.isAwaitingData }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "911b08be-9c60-4621-ac3e-8c0316f75792"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Is Awaiting"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "da44f585-3b7c-4a21-a1e5-b4ed16282b49",
                    "leftValue": "={{ $json.isAwaitingData }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NOT"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        192,
        16
      ],
      "id": "845a3014-934c-4fe0-b493-35101d75a1ff",
      "name": "Switch: is Awaiting?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vg.g210512.com/api/v1/contactos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"nombre\": \"🤖 - {{ $('Extract Name & Phone').item.json.nombre_extracted }}\",\n  \"telefono\": \"{{ $('Extract Name & Phone').item.json.telefono_extracted }}\",\n  \"estado\": \"nuevo\",\n  \"fuente\": \"WhatsApp Bot\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        -16
      ],
      "id": "810a3241-486a-42a5-997e-9b3645f020b5",
      "name": "API: Set new costumer",
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "rzmCtJN8Vtwv6AO3",
          "name": "API Key Inmuebles"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://vg.g210512.com/api/v1/contactos/{{ $json.context_data.api_contact_id }}/intereses",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inmueble_id\": {{ $('Parse: Property Information').item.json.propertyData.id }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2960,
        16
      ],
      "id": "14413bdd-cd48-4679-b274-9b78c6bf4871",
      "name": "Add Property Interest",
      "credentials": {
        "httpHeaderAuth": {
          "id": "rzmCtJN8Vtwv6AO3",
          "name": "API Key Inmuebles"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_contexts \nSET \n  context_data = jsonb_set(\n    context_data,\n    '{api_contact_id}',\n    '{{ $json.data.id }}'::jsonb\n  ),\n  updated_at = CURRENT_TIMESTAMP\nWHERE wa_id = '{{ $('Get Context Awating Data').item.json.wa_id }}'\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1312,
        -16
      ],
      "id": "daad7f1a-4f33-4297-aa17-36eed4bf72b5",
      "name": "Update API Contact ID",
      "credentials": {
        "postgres": {
          "id": "qyR2OAIR7tUEVcQf",
          "name": "Postgres-neon"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {}
          ]
        },
        "options": {
          "systemMessage": "=Eres un validador de respuestas para un cuestionario de renta inmobiliaria.\n\nTienes el cuestionario completo con todas las preguntas y respuestas del usuario.\n\nCUESTIONARIO:\n{{ $json.questionnaire.toJsonString() }}\n\nRESPUESTAS DEL USUARIO:\n{{ $json.answers.toJsonString() }}\n\nREGLAS DE VALIDACIÓN:\n\nPara preguntas tipo \"boolean\":\n- Si expected = false: el usuario debe decir \"no\", \"ninguno\", \"no tengo\"\n  - Si dice \"sí\", \"tengo\", \"claro\", números positivos → NO CUMPLE\n  - Si es evasivo \"quién sabe\", \"qué te importa\" → NO CUMPLE (asumir que sí tiene)\n\n- Si expected = true: el usuario debe decir \"sí\", \"tengo\", \"claro\"\n  - Si dice \"no\", \"ninguno\" → NO CUMPLE\n\nPara preguntas tipo \"number_minimum\":\n- Extrae el número de la respuesta del usuario\n- Compara si es >= al expected\n- Ejemplos: \"gano 32000\" → 32000, \"35 mil\" → 35000\n\nRESPONDE CON UN JSON ARRAY con esta estructura:\n\n[\n  {\n    \"campo\": \"mascotas\",\n    \"pregunta\": \"¿Tienes mascotas?\",\n    \"respuesta_usuario\": \"Si tengo un westie\",\n    \"expected\": false,\n    \"valor_interpretado\": true,\n    \"cumple\": false,\n    \"razon\": \"Se esperaba NO tener mascotas, pero el usuario tiene un perro\"\n  },\n  {\n    \"campo\": \"ingresos\",\n    \"pregunta\": \"¿Cuál es tu ingreso mensual?\",\n    \"respuesta_usuario\": \"Gano 32000\",\n    \"expected\": 30000,\n    \"valor_interpretado\": 32000,\n    \"cumple\": true,\n    \"razon\": \"Ingresos de $32,000 superan el mínimo de $30,000\"\n  }\n]\n\nIMPORTANTE:\n- NO uses markdown (```json)\n- Analiza TODOS los campos del cuestionario\n- Sé estricto con los requisitos"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        5104,
        -304
      ],
      "id": "98aeaebb-edeb-4a89-9c41-99eac9265913",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "3Qw3858fHslDYr4D",
          "name": "Gemini - alfgow"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const isAudio = $input.item.json.messages ? false : true;\n\nif (isAudio) {\n  const wa_id = $('WhatsApp Trigger').item.json.contacts[0].wa_id;\n  const phone = wa_id.replace(/^521/, ''); // elimina el prefijo 521 solo si está al inicio\n\n  return {\n    userPrompt: $json.content.parts[0].text,\n    type: \"audio\",\n    ai: \"\",\n    wa_id,\n    phone\n  };\n} else {\n  const wa_id = $json.contacts[0].wa_id;\n  const phone = wa_id.replace(/^521/, '');\n\n  return {\n    userPrompt: $json.messages[0].text.body,\n    type: $json.messages[0].type,\n    ai: \"\",\n    wa_id,\n    phone\n  };\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        -624
      ],
      "id": "3191d83e-f0da-4936-bad6-81c09eb82ca9",
      "name": "Get: Message Info"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.hasRejectionHistory }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "9cd9e84b-29b5-4b88-a16c-b4ab8f71d3d1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rejection"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6b1f1f79-9885-4085-b360-d943b9948656",
                    "leftValue": "={{ $json.contactExists }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Exists"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dce569ae-ec35-4393-8d21-b231b955d11a",
                    "leftValue": "={{ $json.contactExists }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "New"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        3584,
        -336
      ],
      "id": "952d9083-4010-41eb-9185-fbaa8b74295a",
      "name": "Actual status of contact"
    },
    {
      "parameters": {
        "jsCode": "const postgresResult = $json;\nconst previousData = $('Get: Message Info').item.json;\n\n// Si hay un ID en Postgres, significa que ya tenemos contexto\nconst hasContext = postgresResult && postgresResult.id;\n\nreturn {\n  ...previousData,\n  ...postgresResult, \n  hasPostgresContext: hasContext,  // ← Este campo faltaba en el output\n  postgresContextId: postgresResult.id || null\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        -624
      ],
      "id": "64c3f936-da7f-4d15-9b82-20144fecb6a9",
      "name": "Has Postgres Context?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.postgresContextId }}",
                    "rightValue": "",
                    "operator": {
                      "type": "number",
                      "operation": "notExists",
                      "singleValue": true
                    },
                    "id": "7200cba5-e9be-48ed-8051-a6193620c86a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Need Check"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c77aa4d5-afc8-4b56-943b-1d8bc9f762f8",
                    "leftValue": "={{ $json.postgresContextId }}",
                    "rightValue": "",
                    "operator": {
                      "type": "number",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Skip Check"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        2896,
        -304
      ],
      "id": "c3d00188-d381-4ebd-9d13-f31a01741d33",
      "name": "Need Contact Check?"
    },
    {
      "parameters": {
        "jsCode": "const geminiResponse = $json.content.parts[0].text;\nconst previousData = $('Has More Questions?').item.json;\n\n// Parsear el JSON que viene como texto\nlet validationResults = [];\ntry {\n  validationResults = JSON.parse(geminiResponse);\n} catch (error) {\n  console.error('Error parseando validación:', error);\n}\n\n// Determinar si está aprobado\nconst isApproved = validationResults.every(item => item.cumple === true);\nconst rejectionReasons = validationResults\n  .filter(item => !item.cumple)\n  .map(item => item.razon);\n\nreturn {\n  wa_id: previousData.wa_id,\n  nombre: previousData.nombre,\n  personaje: previousData.personaje,\n  context_id: previousData.context_id,\n  isApproved: isApproved,\n  rejectionReasons: rejectionReasons,\n  validationResults: validationResults,\n  answers: previousData.answers\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5424,
        -304
      ],
      "id": "6676104c-013d-4ef1-918b-95376a99b150",
      "name": "Parse Gemini Validation"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {}
          ]
        },
        "options": {
          "systemMessage": "=Genera un resumen ejecutivo de la interacción para el equipo de la inmobiliaria.\n\nDATOS DE LA INTERACCIÓN:\n{{ $('Execute a SQL query2').item.json.context_data.toJsonString() }}\n\nFORMATO REQUERIDO:\n- APROBADO - 🎉\n\n**Contacto:** {{ $('Execute a SQL query2').item.json.context_data.nombre }}\n**Teléfono:** {{ $('Execute a SQL query2').item.json.context_data.telefono }}\n**Personaje atendió:** {{ $('Execute a SQL query2').item.json.context_data.personaje }}\n\n**📍 Propiedad de Interés:**\n- {{ $('Execute a SQL query2').item.json.context_data.property_found.title }}\n- {{ $('Execute a SQL query2').item.json.context_data.property_found.colonia }}, {{ $('Execute a SQL query2').item.json.context_data.property_found.municipio }}\n- Renta: {{ $('Execute a SQL query2').item.json.context_data.property_found.ammount }}\n\n**✅ Validación del Perfil:**\nEl contacto cumplió con TODOS los requisitos:\n- Sin mascotas ✅\n- Sin niños ✅\n- No es estudiante sin tutor ✅\n- No vivirá con roomies ✅\n- Ingresos comprobables: ${{ $('Execute a SQL query2').item.json.context_data.answers.ingresos }} (superior al mínimo de ${{ $('Execute a SQL query2').item.json.context_data.property_found.restrictions.ingresos_minimos }}) ✅\n- Cuenta con comprobantes válidos ✅\n\n**📋 Próximos Pasos:**\n1. Contactar al cliente en las próximas 24 horas\n2. Coordinar visita al inmueble\n3. Preparar documentación requerida\n\n**Estado:** APROBADO para continuar proceso de renta 🏡"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        6064,
        -528
      ],
      "id": "c1249880-c423-4065-acf0-034ed8b85490",
      "name": "Generate Resume",
      "credentials": {
        "googlePalmApi": {
          "id": "3Qw3858fHslDYr4D",
          "name": "Gemini - alfgow"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $json.content.parts[0].text;\nconst contextData = $('Execute a SQL query2').first().json.context_data;\n\nreturn {\n  contactId: contextData.api_contact_id,\n  body: {\n    comentario: aiResponse,\n    created_at: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6384,
        -528
      ],
      "id": "580a7934-ece7-49e2-8e37-ef45bd155188",
      "name": "Parse Resume"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://vg.g210512.com/api/v1/contactos/{{ $json.contactId }}/comentarios",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"comentario\": {{ $json.body.comentario.toJsonString() }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6608,
        -528
      ],
      "id": "dfe88f20-af91-41a0-9b38-55964c5c4e74",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "rzmCtJN8Vtwv6AO3",
          "name": "API Key Inmuebles"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  id,\n  wa_id,\n  context_data,\n  created_at,\n  updated_at\nFROM user_contexts \nWHERE wa_id = '{{ $json.wa_id }}'\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3424,
        320
      ],
      "id": "2c5ae019-3229-4893-a31d-fa4824a7a71b",
      "name": "Get: User Context General Inq or Out Scope",
      "credentials": {
        "postgres": {
          "id": "qyR2OAIR7tUEVcQf",
          "name": "Postgres-neon"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3616,
        560
      ],
      "id": "d47cb0e5-874a-4e90-b31b-9d902b340dab",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "g8OPzRDvvB6YO7mf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.wa_id }}",
        "options": {
          "systemMessage": "=Tu función es analizar el mensaje del cliente y determinar su requerimiento de manera estructurada, siempre devolviendo un JSON limpio.\n\n## ENTRADAS\n- Mensaje del cliente: {{ $('WhatsApp Trigger').item.json.messages[0].text.body }}\n- Context data: {{ $('Get: User Context General Inq or Out Scope').item.json.context_data.toJsonString() }}\n\n## INSTRUCCIONES\n\n1. Analiza el mensaje y el contexto para descubrir el requerimiento real del cliente.\n\n2. Si el mensaje contiene alguna **grosería, agresión, palabra profana o acoso**, debes:\n   - Generar un JSON donde:\n     - `message` sea un aviso al cliente indicando que su comportamiento ha sido reportado y no podrás continuar la atención.\n     - `contexto` describa el mensaje ofensivo detectado.\n     - `requiereAtencion` sea `false`.\n\n3. Si el **context data** contiene un estado de **rechazo** (`status = \"rejected\"`, `rechazo_previo = true` o motivo de rechazo presente):\n   - Envía un mensaje al cliente indicando amablemente que, **debido al motivo de rechazo previo**, no es posible continuar la atención.\n   - Incluye en `contexto` el motivo de rechazo.\n   - `requiereAtencion` debe ser `false`.\n\n4. Si **no hay información previa en context data**, o el prospecto no está identificado:\n   - Envía un mensaje breve, amable y coherente, indicando que **solo puedes atender solicitudes relacionadas con Inmobiliaria Villanueva García**.\n   - `requiereAtencion` debe ser `false`.\n\n5. Si **el contexto previo está aprobado o requiere seguimiento activo** (`status` = \"approved\", \"requiere_atention\", \"requires_attention\" o similar, o `approved_at` existe sin un rechazo posterior):\n   - Interpreta el mensaje actual para descubrir qué requiere (por ejemplo: confirmar cita, pedir seguimiento, solicitar información adicional, etc.).\n   - Genera una respuesta empática, **sin preguntas abiertas**, simplemente informando al cliente que su solicitud ya fue notificada al equipo correspondiente para pronta atención.\n   - Refuerza que se dará seguimiento y evita redirigir al bot.\n   - Ejemplo de tono correcto:  \n     👉 \"Muchas gracias por tu mensaje, {{ $('Get: User Context General Inq or Out Scope').item.json.context_data.nombre.split(' ')[0] }}, te confirmo que en este momento he notificado nuevamente tu solicitud al equipo para su pronta atención.\"  \n   - Ejemplo de tono incorrecto:  \n     🚫 \"¿Podrías confirmarme a qué cita te refieres?\"  \n   - `requiereAtencion` debe ser `true`.\n\n6. En todos los casos, **la salida DEBE SER EXCLUSIVAMENTE** un arreglo JSON con este formato exacto (sin explicaciones, sin markdown):\n\n[\n  {\n    \"message\": \"mensaje coherente y amable para enviar al cliente\",\n    \"contexto\": \"breve descripción del requerimiento o motivo de respuesta\",\n    \"requiereAtencion\": true o false,\n    \"timestamp\": \"{{ $now.toISO() }}\"\n  }\n]\n\n## REGLAS DE FORMATO\n- No incluyas texto antes ni después del JSON.\n- No uses comillas triples, markdown, ni explicaciones.\n- Asegúrate de que el JSON sea válido y pueda parsearse directamente con JSON.parse().\n- Evita cualquier pregunta o frase abierta. El tono debe ser profesional, informativo y cerrado."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        3616,
        320
      ],
      "id": "57d0a725-9761-43d4-a76b-81eb29383103",
      "name": "AI General Inq or Out Scope"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.wa_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        3792,
        560
      ],
      "id": "ad2819dd-f774-4fae-a9c8-0d252ec5b4cf",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "812415788624920",
        "recipientPhoneNumber": "={{ $('Get: User Context General Inq or Out Scope').item.json.wa_id }}",
        "textBody": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        4128,
        320
      ],
      "id": "3e5ea576-fd65-4239-af86-e0570fb1a266",
      "name": "Message: General Inq or Out Scope",
      "webhookId": "32e518a9-64a8-4186-a7b0-d0962d11939a",
      "credentials": {
        "whatsAppApi": {
          "id": "DpdLgHZCEJ199330",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// NODE: Parse AI JSON\n// ===================================================\n// Este nodo toma la respuesta cruda de la IA (por ejemplo, del nodo \"AI Agent\")\n// y la convierte en datos estructurados.\n// Espera un JSON en formato:\n// [\n//   {\n//     \"message\": \"...\",\n//     \"contexto\": \"...\",\n//     \"requiereAtencion\": true,\n//     \"timestamp\": \"2025-11-06T22:13:00Z\"\n//   }\n// ]\n// ===================================================\n\nconst raw = $json.output || $json.text || $json.message || '';\n\nlet parsed = [];\n\ntry {\n  // El modelo a veces devuelve texto con espacios o saltos de línea,\n  // así que limpiamos y detectamos el bloque JSON.\n  const jsonMatch = raw.match(/\\[.*\\]/s);\n  if (jsonMatch) {\n    parsed = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('No se encontró un arreglo JSON válido en la respuesta.');\n  }\n} catch (err) {\n  return [\n    {\n      json: {\n        error: true,\n        message: 'Error al parsear la salida de la IA',\n        detalle: err.message,\n        raw_output: raw,\n      },\n    },\n  ];\n}\n\n// Si todo salió bien, devolvemos cada elemento del arreglo como un item nuevo\nreturn parsed.map(entry => ({\n  json: {\n    message: entry.message || '',\n    contexto: entry.contexto || '',\n    requiereAtencion: entry.requiereAtencion ?? false,\n    timestamp: entry.timestamp || new Date().toISOString(),\n  },\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3936,
        320
      ],
      "id": "09f61868-2d7b-43b3-b7f2-1fd40758b39f",
      "name": "Parse: AI Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://vg.g210512.com/api/v1/contactos/{{ $('Get: User Context General Inq or Out Scope').item.json.context_data.api_contact_id }}/comentarios",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"comentario\": \"🤖 - El contacto escribió: {{ $('WhatsApp Trigger').item.json.messages[0].text.body }} // Respuesta: {{ $('Parse: AI Response').item.json.message }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4496,
        320
      ],
      "id": "153cd76d-4c42-4e1f-b7bd-32234efbbb3e",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "rzmCtJN8Vtwv6AO3",
          "name": "API Key Inmuebles"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_contexts \nSET \n  context_data = jsonb_set(\n    jsonb_set(\n      context_data,\n      '{status}',\n      '\"requiere_atention\"'\n    ),\n    '{last_query}',\n    to_jsonb('{{ $('WhatsApp Trigger').item.json.messages[0].text.body }}'::text)\n  ),\n  updated_at = CURRENT_TIMESTAMP\nWHERE wa_id = '{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}'\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4688,
        320
      ],
      "id": "11f7658e-9b57-4841-bfba-704659d54124",
      "name": "Update: Status awaiting1",
      "credentials": {
        "postgres": {
          "id": "qyR2OAIR7tUEVcQf",
          "name": "Postgres-neon"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=📢 **ATENCIÓN PENDIENTE**\n\n🧍‍♂️ **Prospecto:** *{{ $('Get: User Context General Inq or Out Scope').item.json.context_data.nombre }}*  \n📱 **Teléfono:**   {{ $('Get: User Context General Inq or Out Scope').item.json.wa_id }}\n🏡 **Origen:** *🤖 - AI WhatsApp*  \n🕐 **Hora:** {{ new Date().toLocaleString('es-MX', { timeZone: 'America/Mexico_City' }) }}  \n\n💬 **Último mensaje del cliente:**  \n> {{ $('WhatsApp Trigger').item.json.messages[0].text.body }}\n\n📌 **Situacíon Actual:**  \n> {{ $json.contexto || 'Solicita atención o confirmación de cita.' }}\n\n---\n\n⚡ **Acción sugerida:**  \nEl prospecto ya fue **notificado** que su solicitud está siendo atendida.  \nPor favor, **asigna un asesor o confirma seguimiento** en los próximos minutos.  \n",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        4320,
        320
      ],
      "id": "19fe23a2-24d9-4346-ac85-19203b25c716",
      "name": "Discord: Attention Message",
      "webhookId": "d0a56f58-550a-46fa-bb94-26037d82b649",
      "credentials": {
        "discordWebhookApi": {
          "id": "T5xO2IcTLSwkGbFt",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=📢 **NUEVO CONTACTO FILTRADO**\n\n🧍‍♂️ **Prospecto:** *{{ $('Switch1').item.json.nombre }}*  \n📱 **Teléfono:**   {{ $json.contacts[0].wa_id.substring(3) }}\n🏡 **Origen:** *🤖 - AI WhatsApp*  \n🕐 **Hora:** {{ new Date().toLocaleString('es-MX', { timeZone: 'America/Mexico_City' }) }}  \n\n📌 **Situacíon Actual:**  \n> Contacto cumple con requisitos\n\n---\n\n⚡ **Acción sugerida:**  \nEl prospecto ya fue **APROBADO** por nuestros estándares, contáctalo.  \n",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        5632,
        -624
      ],
      "id": "db28f4da-7103-4e8f-86ec-d45da0f6dc71",
      "name": "Discord: Approved Message",
      "webhookId": "d0a56f58-550a-46fa-bb94-26037d82b649",
      "credentials": {
        "discordWebhookApi": {
          "id": "T5xO2IcTLSwkGbFt",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const propertyData = $('Parse: Property Information').item.json.propertyData;\nconst contextData = $json.context_data.property_found;\nconst nombre = $('Parse: Property Information').item.json.nombre.split(' ')[0];\n\n// Formatear montos a moneda mexicana\nconst formatCurrency = (amount) => {\n  if (!amount || amount === 'null' || amount === null) return 'No aplica';\n  const numAmount = parseFloat(amount);\n  return new Intl.NumberFormat('es-MX', {\n    style: 'currency',\n    currency: 'MXN'\n  }).format(numAmount);\n};\n\n// Formatear restricciones\nconst restrictions = propertyData.restrictions;\n\nconst formatRestriction = (field, label) => {\n  const value = restrictions[field];\n  if (value === 'si' || value === 'yes' || value === true) {\n    return '✅ ' + label;\n  } else if (value === 'no' || value === false) {\n    return '❌ No se aceptan ' + label.toLowerCase();\n  } else {\n    return '⚠️ ' + label + ': ' + value;\n  }\n};\n\n// Caso especial para mascotas\nlet mascotasText = '';\nif (restrictions.acepta_mascotas === 'no' || restrictions.acepta_mascotas === false) {\n  mascotasText = '❌ No se aceptan mascotas';\n} else if (restrictions.acepta_mascotas === 'si' || restrictions.acepta_mascotas === true) {\n  mascotasText = '✅ Solo se acepta una mascota pequeña (perro o gato pequeño)';\n} else {\n  mascotasText = '⚠️ Mascotas: ' + restrictions.acepta_mascotas;\n}\n\n// Construir mensaje - usando concatenación en lugar de template strings\nconst mensaje = '¡Listo ' + nombre + '! 🙌\\n\\n' +\n'Aquí tienes la información del inmueble que buscas 🏡✨\\n\\n' +\n'📍 ' + contextData.title + '\\n' +\n'🏘️ ' + contextData.colonia + ', ' + contextData.municipio + '\\n' +\n'💰 ' + contextData.operacion + ': ' + contextData.ammount + '\\n' +\n'🛏️ ' + contextData.rooms + ' recámaras | 🚿 ' + contextData.baths + ' baños | 🚗 ' + contextData.parkings + ' estacionamientos\\n' +\n'📐 ' + contextData.m2 + ' m² construidos\\n\\n' +\n  \n'Para continuar con el proceso, necesito hacerte unas breves preguntas para confirmar que cumples con los requisitos del arrendador. ¿Estás listo/a? 😊';\n\nreturn {\n  ...$json,\n  formatted_message: mensaje\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2704,
        0
      ],
      "id": "a53ddeb2-5e51-4a0b-95c6-a13bf43c702a",
      "name": "Parse: Message w Property Info"
    },
    {
      "parameters": {
        "jsCode": "const geminiResponse = $input.first().json.output;  // ← Usar la variable correcta\nconst previousData = $('Get Context with Property').item.json;\n\nlet questions = [];\n\ntry {\n  // Limpiar y parsear\n  const cleanedText = geminiResponse\n    .replace(/```json\\n?/g, '')\n    .replace(/```\\n?/g, '')\n    .trim();\n  \n  questions = JSON.parse(cleanedText);\n} catch (error) {\n  console.error('Error parseando cuestionario:', error);\n  console.error('Contenido recibido:', geminiResponse);\n  \n  // Fallback a preguntas básicas si falla\n  questions = [\n    {\n      field: \"mascotas\",\n      question: \"¿Tienes mascotas? 🐕🐈\",\n      type: \"boolean\",\n      expected: false\n    }\n  ];\n}\n\nreturn {\n  status: $('Get Context with Property').first().json.context_data.status,\n  wa_id: previousData.wa_id,\n  nombre: previousData.context_data.nombre,\n  personaje: previousData.context_data.personaje,\n  context_id: previousData.id,\n  questions: questions,\n  totalQuestions: questions.length\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6496,
        400
      ],
      "id": "76107cb5-889d-45c6-8031-ae3b492a519a",
      "name": "Parse AI Questionnaire"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        6128,
        624
      ],
      "id": "a8b502ce-8c1e-429c-8ea9-b5442f602031",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "g8OPzRDvvB6YO7mf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.wa_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        6288,
        624
      ],
      "id": "1d463346-9df5-486f-ab8d-fb1b498e5b40",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "content": "## ---> Misbehavior",
        "height": 288,
        "width": 2336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        -1024
      ],
      "typeVersion": 1,
      "id": "545cd45f-4c77-4fe2-948a-797aeafe60a2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "GPT-5-NANO"
        },
        "messages": {
          "values": [
            {
              "content": "=Tu función es analizar el contenido de {{ $json.data.comentario }} para identificar el motivo del rechazo (por ejemplo: lenguaje ofensivo, actitud inapropiada, insistencia indebida o falta de respeto).\n\nCon base en ello, redacta un mensaje breve, claro y profesional que:\n1. Indique que la interacción ha sido rechazada.\n2. Informe que el contacto ha sido bloqueado por comportamiento inapropiado.\n3. Mantenga un tono amable, empático y sin agresividad.\n4. Termine con un cierre cordial (por ejemplo: deseando éxito o buen día).\n\nEjemplo de estilo esperado:\n\"Ups 😕, derivado de tu mensaje anterior hemos rechazado y bloqueado tu contacto, ya que no se permiten faltas de respeto ni conductas inapropiadas. Te deseamos mucho éxito en tu búsqueda.\"\n\nEvita repetir el texto del ejemplo; genera una versión coherente y natural adaptada al contexto del comentario recibido.\n",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2240,
        -928
      ],
      "id": "e647d091-4c44-4450-8f31-0a1543147996",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "g8OPzRDvvB6YO7mf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8b83aa35-ef33-4786-a195-3a03ce566f4c",
              "leftValue": "={{ $json.context_data.status }}",
              "rightValue": "rejected",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4144,
        0
      ],
      "id": "afbbaa2c-21d5-4b7a-b033-610130da251a",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://vg.g210512.com/api/v1/contactos/{{ $('Check Context Status').item.json.context_data.api_contact_id }}/comentarios",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"comentario\":{{ $json.body.comentario.toJsonString() }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4336,
        -608
      ],
      "id": "e0568134-bdf4-4387-afa7-5d387559c3d2",
      "name": "Update: Contact Comments1",
      "credentials": {
        "httpBearerAuth": {
          "id": "QigdAtAlBxHMmIsD",
          "name": "WA - Bearer Token"
        },
        "httpHeaderAuth": {
          "id": "rzmCtJN8Vtwv6AO3",
          "name": "API Key Inmuebles"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $input.first().json;\n\nconst getNodeJson = (nodeName, extractor) => {\n  try {\n    const nodeData = $(nodeName);\n    const item = nodeData?.first?.();\n    if (!item) return undefined;\n    return extractor ? extractor(item) : item.json;\n  } catch (error) {\n    return undefined;\n  }\n};\n\nconst contactId =\n  getNodeJson('Contact Actions', (item) => item.json?.contactId) ??\n  getNodeJson('Actual status of contact', (item) => item.json?.contactData?.id) ??\n  getNodeJson('Has Postgres Context?', (item) => item.json?.api_contact_id) ??\n  getNodeJson('Check Context Status', (item) => item.json?.context_data?.api_contact_id) ??\n  aiResponse?.contactId ??\n  null;\n\nif (!contactId) {\n  throw new Error('No se pudo obtener el contactId para el comentario de rechazo.');\n}\n\nconsole.log('AI Response completo:', JSON.stringify(aiResponse, null, 2));\n\nlet summary = aiResponse?.output ??\n              aiResponse?.content?.parts?.[0]?.text ??\n              aiResponse?.text ??\n              aiResponse;\n\nif (typeof summary === 'object') {\n  summary = JSON.stringify(summary);\n}\n\nif (typeof summary === 'string') {\n  summary = summary.trim();\n}\n\nconsole.log('Summary extraído:', summary);\n\nreturn {\n  contactId,\n  body: {\n    comentario: summary,\n    created_at: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4128,
        -608
      ],
      "id": "5a0e771e-0133-4c12-ba43-e80ff326c593",
      "name": "Format Reject Comment Payload"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2896,
        -608
      ],
      "id": "ac9a7ddb-d4b7-4a26-a757-a2dc983f59b0",
      "name": "Merge Rejection Sources"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f2fb1b0-9b10-4f2a-9f1e-2c1a6d0bcd70",
              "name": "wa_id",
              "value": "={{ $json.wa_id || $('Has Postgres Context?').item.json.wa_id || $('Contact Actions').item.json.wa_id || $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
              "type": "string"
            },
            {
              "id": "5a75b457-4b78-4f37-9e9d-4314f38fe0fd",
              "name": "context_data",
              "value": "={{ Object.assign({}, $('Check Context Status').item.json.context_data || {}, $json.context_data || {}) }}",
              "type": "json"
            },
            {
              "id": "d8db9700-84d2-4e4f-aeb8-1d0f8d49fd1b",
              "name": "rejectionSummary",
              "value": "={{ $json.rejectionSummary || '' }}",
              "type": "string"
            },
            {
              "id": "0d439b03-31c2-4ac5-b5df-2fa467db1749",
              "name": "contactData",
              "value": "={{ $json.contactData || null }}",
              "type": "json"
            },
            {
              "id": "6f9dc637-1ab7-4ce8-8f16-2ca36d5e1d5a",
              "name": "misbehaviorHistoryEntry",
              "value": "={{ $json.misbehaviorHistoryEntry || null }}",
              "type": "json"
            },
            {
              "id": "a3d969a0-9434-4986-8d30-2a1523cba4a5",
              "name": "rejectionSource",
              "value": "={{ $json.rejectionSummary ? 'actual_status' : 'context_status' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3104,
        -608
      ],
      "id": "eaba4967-0e5d-40f5-a434-ca579b8ef7b0",
      "name": "Set: Rejection Payload"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.context_data.toJsonString() }}"
            }
          ]
        },
        "options": {
          "systemMessage": "=Tu función es analizar el contenido de {{ $json.context_data.mal_comportamiento_historial.toJsonString() }} para identificar el motivo del rechazo (por ejemplo: lenguaje ofensivo, actitud inapropiada, insistencia indebida o falta de respeto).\n\nSiempre debes mencionar que el rechazo es por faltas de respeto o comportamiento inapropiado en previas interacciones\n\nCon base en ello, redacta un mensaje breve, claro y profesional que:\n1. Indique que la interacción ha sido rechazada.\n2. Informe que el contacto ha sido bloqueado por comportamiento inapropiado.\n3. Mantenga un tono amable, empático y sin agresividad.\n4. Termine con un cierre cordial (por ejemplo: deseando éxito o buen día).\n\nEjemplo de estilo esperado:\n\"Ups 😕, derivado de tu faltas de respeto en interacciones previas hemos rechazado y bloqueado tu contacto, ya que no se permiten faltas de respeto ni conductas inapropiadas. Te deseamos mucho éxito en tu búsqueda.\"\n\nEvita repetir el texto del ejemplo; genera una versión coherente y natural adaptada al contexto del comentario recibido.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        3312,
        -608
      ],
      "id": "b172f916-65a9-4f11-ab47-a61d15d4f455",
      "name": "AI: Create Reject Message",
      "credentials": {
        "googlePalmApi": {
          "id": "3Qw3858fHslDYr4D",
          "name": "Gemini - alfgow"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "812415788624920",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.content.parts[0].text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        3616,
        -608
      ],
      "id": "7f05da05-d61d-41c3-aa44-3c9922f2ca89",
      "name": "Message: Reject 2",
      "webhookId": "32e518a9-64a8-4186-a7b0-d0962d11939a",
      "credentials": {
        "whatsAppApi": {
          "id": "DpdLgHZCEJ199330",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {}
          ]
        },
        "options": {
          "systemMessage": "=\nGenera un resumen ejecutivo de la interacción para el equipo de la inmobiliaria.\n\nIMPORTANTE AGREGAR AL INICIO DEL RESUMEN: ❌ RECHAZADO\n\nCONTEXTO DEL CONTACTO:\nNombre: {{ $('Check Context Status').item.json.context_data.nombre }}\nTeléfono: {{ $('Check Context Status').item.json.context_data.telefono }}\nHistorial previo: {{ $('Check Context Status').item.json.context_data.mal_comportamiento_historial.toJsonString() }}\n\nINTERACCIÓN ACTUAL:\nEl contacto escribió: \"{{ $('WhatsApp Trigger').item.json.messages[0].text.body }}\"\n\nRespuesta del bot: {{ $('AI: Create Reject Message').item.json.content.parts[0].text }}\n\nFORMATO REQUERIDO:\n🤖 **BOT WhatsApp** - {{ $now.format('dd/MM/yyyy HH:mm') }}\n\n📱 **Contacto escribió:**\n[mensaje del usuario]\n\n🔍 **Detección automática:**\nSe identificó que este contacto tiene un rechazo previo por: [razón específica del rechazo]\n\n📤 **Bot respondió:**\n[resumen del mensaje enviado en 2-3 líneas]\n\n📋 **Resultado:**\nContacto rechazado automáticamente. No se continuó con el flujo de atención.\n\nINSTRUCCIONES:\n- Sé conciso pero informativo\n- Usa emojis para mejor escaneo visual\n- Menciona la razón específica del rechazo previo\n- Máximo 150 palabras\n- Formato markdown para mejor lectura"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        3808,
        -608
      ],
      "id": "780fc8da-6844-4fc6-8b23-49005474b46a",
      "name": "AI: Create Reject Resume",
      "credentials": {
        "googlePalmApi": {
          "id": "3Qw3858fHslDYr4D",
          "name": "Gemini - alfgow"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.context_data.status }}",
                    "rightValue": "blocked",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d47e08b1-4c9d-402c-992e-f00cbb9b3af3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "blocked"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ad050447-b659-409e-bcfd-a037caac5943",
                    "leftValue": "={{ $json.context_data.status }}",
                    "rightValue": "rejected",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "rejected"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8d34428d-f6e5-4bf1-adbe-bc9703683fb2",
                    "leftValue": "={{ $json.context_data.status }}",
                    "rightValue": "approved",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "approved"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b60d19ee-3fe2-4014-8416-bdbfee424244",
                    "leftValue": "={{ $json.postgresContextId }}",
                    "rightValue": "",
                    "operator": {
                      "type": "number",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No context"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "17afc7a8-8bc7-4893-a2a9-bb67e840bce6",
                    "leftValue": "={{ $json.context_data.status }}",
                    "rightValue": "awaiting_data",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Awaiting Data"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b965f87d-6882-4015-ac98-9560bdced08c",
                    "leftValue": "={{ $json.context_data.status }}",
                    "rightValue": "awaiting_questionnaire",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Quest"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        2576,
        -608
      ],
      "id": "120f7514-eeda-4c3f-adca-f407ec78872d",
      "name": "Switch2"
    },
    {
      "parameters": {
        "jsCode": "// Obtener respuesta de OpenAI\nconst aiResponse = $input.first().json;\nconst contentText = aiResponse.message?.content || aiResponse.output || '';\n\n// Obtener datos originales del nodo anterior a la IA\nconst originalData = $('Has Postgres Context?').item.json;\n\nlet result = {\n  isMisbehavior: false,\n  confidence: 0,\n  reason: '',\n  detectedTerms: []\n};\n\ntry {\n  // Limpiar y parsear el JSON\n  const cleaned = contentText\n    .replace(/```json\\n?/g, '')\n    .replace(/```\\n?/g, '')\n    .trim();\n  \n  result = JSON.parse(cleaned);\n} catch (error) {\n  console.error('Error parsing misbehavior detection:', error);\n  console.log('Content received:', contentText);\n}\n\nreturn {\n  json: {\n    userPrompt: originalData.userPrompt,\n    wa_id: originalData.wa_id,\n    context_data: originalData.context_data,\n    hasPostgresContext: originalData.hasPostgresContext,\n    postgresContextId: originalData.postgresContextId,\n    misbehaviorDetected: result.isMisbehavior,\n    misbehaviorConfidence: result.confidence,\n    misbehaviorReason: result.reason,\n    misbehaviorMatchedWords: result.detectedTerms,\n    phone:$('Get: Message Info').first().json.phone\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        -592
      ],
      "id": "d33dab3d-862f-4d75-bcb0-3c6a15286e06",
      "name": "Parse Misbehavior"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "GPT-5-NANO"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un detector de comportamiento inapropiado en mensajes de clientes.\n\nMENSAJE DEL CLIENTE: {{ $json.userPrompt }}\n\nINSTRUCCIONES:\nAnaliza si el mensaje contiene:\n- Insultos directos o indirectos\n- Lenguaje ofensivo o profano\n- Amenazas (legales, físicas, etc)\n- Acoso o discriminación\n- Groserías en español mexicano\n- Intento de evadir filtros (p3nd3jo, p e n d e j o, etc)\n\nIMPORTANTE:\n- NO marques como ofensivo: quejas legítimas, frustración educada, críticas constructivas\n- SÍ marca como ofensivo: insultos personales, amenazas, lenguaje agresivo\n\nFORMATO DE SALIDA (JSON):\n{\n  \"isMisbehavior\": true o false,\n  \"confidence\": 0.0 a 1.0,\n  \"reason\": \"Razón específica si es ofensivo, vacío si no\",\n  \"detectedTerms\": [\"lista de términos ofensivos detectados\"]\n}\n\nNO uses markdown. Solo responde con el JSON.",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1664,
        -592
      ],
      "id": "5b8fc5a7-e644-4c7d-821e-ead02c48058a",
      "name": "AI Misbehavior Detector",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "g8OPzRDvvB6YO7mf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://vg.g210512.com/api/v1/contactos?telefono={{ $json.phone }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        -928
      ],
      "id": "c91235f0-9cff-4ec8-9545-cc215f60ec06",
      "name": "Get API Contact",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "rzmCtJN8Vtwv6AO3",
          "name": "API Key Inmuebles"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2768,
        -928
      ],
      "id": "ea92e679-fd18-4b66-a558-53f3f833be05",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1200,
        -336
      ],
      "id": "aa842312-5e82-4fdf-a534-a6958129a85c",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "jsCode": "const source = $input.first()?.json ?? {};\nconst clone = (data) => JSON.parse(JSON.stringify(data ?? {}));\nconst contextData = clone(source.context_data);\n\nconst cleanString = (value) => (typeof value === 'string' ? value.trim() : '');\n\nconst reasonText =\n  cleanString(source.misbehaviorReason) ||\n  cleanString(source.reasonText) ||\n  'Comportamiento indebido detectado automáticamente';\n\nconst matchedWords = Array.isArray(source.misbehaviorMatchedWords)\n  ? source.misbehaviorMatchedWords.filter((word) => cleanString(word))\n  : [];\n\nconst originalMessage =\n  cleanString(source.misbehaviorOriginalMessage) ||\n  cleanString(source.userPrompt) ||\n  cleanString(source.originalMessage) ||\n  '';\n\nconst timestamp = new Date().toISOString();\n\nconst historyEntry = {\n  timestamp,\n  mensaje_original: originalMessage,\n  palabras_detectadas: matchedWords,\n  origen: 'auto_filter'\n};\n\nconst history = Array.isArray(contextData.mal_comportamiento_historial)\n  ? [...contextData.mal_comportamiento_historial, historyEntry]\n  : [historyEntry];\n\nconst reasons = Array.isArray(contextData.motivo_rechazo)\n  ? [...contextData.motivo_rechazo]\n  : [];\nif (!reasons.includes(reasonText)) {\n  reasons.push(reasonText);\n}\n\nconst contactLookups = [];\n\ntry {\n  const apiData = $('Get API Contact1')?.first()?.json?.data;\n  if (Array.isArray(apiData) && apiData.length) {\n    contactLookups.push(apiData[0]);\n  }\n} catch (error) {}\n\ntry {\n  const apiData = $('Get API Contact')?.first()?.json?.data;\n  if (Array.isArray(apiData) && apiData.length) {\n    contactLookups.push(apiData[0]);\n  }\n} catch (error) {}\n\nconst apiContactId =\n  source.api_contact_id ??\n  contextData.api_contact_id ??\n  contactLookups.find((contact) => contact?.id)?.id ??\n  null;\n\nif (!apiContactId) {\n  throw new Error('No se encontró api_contact_id en el contexto para registrar el comentario de bloqueo.');\n}\n\nconst fallbackName =\n  cleanString(source.fallbackName) ||\n  cleanString(source.contactName) ||\n  cleanString(contextData.nombre) ||\n  contactLookups.map((contact) => cleanString(contact?.nombre)).find(Boolean) ||\n  '🤖 - Contacto Bloqueado';\n\nconst commentLines = [\n  '🚫 IGNORADO POR BLOQUEO 🚫',\n  `Motivo: ${reasonText}`,\n  matchedWords.length ? `Coincidencias: ${matchedWords.join(', ')}` : '',\n  originalMessage ? `Mensaje original: \"${originalMessage}\"` : '',\n  `Registrado el: ${timestamp}`\n].filter((line) => cleanString(line));\n\nconst existingInteractions = Array.isArray(contextData.interacciones)\n  ? contextData.interacciones.map((entry) => ({ ...entry }))\n  : [];\n\nconst userInteraction = {\n  timestamp,\n  actor: 'usuario',\n  canal: 'whatsapp',\n  tipo: 'mensaje_recibido',\n  mensaje: originalMessage,\n  origen: 'auto_filter',\n  detalles: {\n    motivo: reasonText,\n    palabras_detectadas: matchedWords\n  }\n};\n\nconst systemInteraction = {\n  timestamp,\n  actor: 'sistema',\n  canal: 'whatsapp',\n  tipo: 'mensaje_ignorado_por_bloqueo',\n  mensaje: 'Mensaje ignorado por bloqueo activo.',\n  detalles: {\n    motivo: reasonText,\n    comentario: commentLines.join('\\n')\n  }\n};\n\nconst updatedInteractions = [...existingInteractions, userInteraction, systemInteraction];\n\nconst waId =\n  cleanString(source.wa_id) ||\n  cleanString(contextData.wa_id) ||\n  cleanString($('Has Postgres Context?')?.first()?.json?.wa_id) ||\n  cleanString($('Get: Message Info')?.first()?.json?.wa_id) ||\n  cleanString($('WhatsApp Trigger')?.first()?.json?.contacts?.[0]?.wa_id) ||\n  null;\n\nconst updatedContext = {\n  ...contextData,\n  nombre: fallbackName,\n  status: 'blocked',\n  rechazo_previo: true,\n  motivo_rechazo: reasons,\n  mal_comportamiento_historial: history,\n  ultima_interaccion: timestamp,\n  api_contact_id: apiContactId,\n  interacciones: updatedInteractions\n};\n\nreturn [\n  {\n    json: {\n      wa_id: waId,\n      api_contact_id: apiContactId,\n      commentPayload: {\n        comentario: commentLines.join('\\n')\n      },\n      updatedContext,\n      historyEntry,\n      reasonText,\n      matchedWords,\n      originalMessage,\n      timestamp\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        -336
      ],
      "id": "be2178d5-c689-4f00-8659-876e557cde9e",
      "name": "Build Blocked Comment Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://vg.g210512.com/api/v1/contactos/{{ $json.api_contact_id }}/comentarios",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.commentPayload.toJsonString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        -336
      ],
      "id": "162513e6-7bd4-447e-ad43-5d987ccc7654",
      "name": "API: Add Blocked Comment",
      "credentials": {
        "httpHeaderAuth": {
          "id": "rzmCtJN8Vtwv6AO3",
          "name": "API Key Inmuebles"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_contexts\nSET\n  context_data = '{{ $(\"Build Blocked Comment Payload\").item.json.updatedContext.toJsonString() }}'::jsonb,\n  updated_at = CURRENT_TIMESTAMP\nWHERE wa_id = '{{ $(\"Build Blocked Comment Payload\").item.json.wa_id }}'\nRETURNING\n  id,\n  wa_id,\n  context_data,\n  context_data->>'api_contact_id' AS api_contact_id;\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1040,
        -336
      ],
      "id": "708673ad-4490-45ba-aa50-83715bc32839",
      "name": "Postgres: Update Blocked Context",
      "credentials": {
        "postgres": {
          "id": "qyR2OAIR7tUEVcQf",
          "name": "Postgres-neon"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ac8010bd-97b8-4d50-9ec6-91015177b232",
              "leftValue": "={{ $json.context_data.status }}",
              "rightValue": "blocked",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2320,
        -608
      ],
      "id": "451c3f76-7a84-45d2-b36e-c477e0b33107",
      "name": "Is Blocked?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Get API Contact1').item.json.data[0].estado }}",
                    "rightValue": "blocked",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8281b321-52c2-48a0-aa3b-4b1b0dec841f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "block-api"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a894962f-3420-4765-b14e-07d25b097abf",
                    "leftValue": "={{ $('Check Context Status').item.json.context_data.status }}",
                    "rightValue": "blocked",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "block-postgres"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7fb769ac-a83d-49ae-ad30-7187a051316f",
                    "leftValue": "",
                    "rightValue": "=",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nothing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1408,
        -640
      ],
      "id": "08f1d7a3-0f39-4c62-a499-6c5aae634305",
      "name": "Switch3"
    },
    {
      "parameters": {
        "url": "=https://vg.g210512.com/api/v1/contactos?telefono={{ $json.phone }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        -624
      ],
      "id": "5217c17d-1a11-45b3-ae47-ef68f65cfe62",
      "name": "Get API Contact1",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "rzmCtJN8Vtwv6AO3",
          "name": "API Key Inmuebles"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "812415788624920",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "Te recuerdo que este chat solo recibe texto y audio.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        16,
        -688
      ],
      "id": "5d00eedc-9ad0-43d8-8c91-9e2ba0337ef9",
      "name": "Message: Error type",
      "webhookId": "32e518a9-64a8-4186-a7b0-d0962d11939a",
      "credentials": {
        "whatsAppApi": {
          "id": "DpdLgHZCEJ199330",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "812415788624920",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "=😅 Tuvimos un error de nuestro lado, intenta de nuevo por favor",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        16,
        -864
      ],
      "id": "d863afa2-d51c-4f30-a54d-4f213727a46e",
      "name": "Error Message Our Side",
      "webhookId": "32e518a9-64a8-4186-a7b0-d0962d11939a",
      "credentials": {
        "whatsAppApi": {
          "id": "DpdLgHZCEJ199330",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "content": "## ---> Incoming Message",
        "height": 400,
        "width": 592,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        -496
      ],
      "typeVersion": 1,
      "id": "325bfdd1-a8b1-4be5-a496-d40ed02a1ec4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].text.body }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "b564c529-0a34-48cf-beaf-0004336706ef"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text-message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "250baf65-d4ac-41ab-a455-eb87a917a514",
                    "leftValue": "={{ $json.messages[0].image }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image-message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bf6ad2e8-fe57-43c2-8f6e-1b3381f0dcff",
                    "leftValue": "={{ $json.messages[0].document.mime_type }}",
                    "rightValue": "image/",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "document-image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ad353bff-2299-4372-a4ea-1feadb00dab2",
                    "leftValue": "={{ $json.messages[0].document.mime_type }}",
                    "rightValue": "application/",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9c8d220b-1791-4273-bb74-08b2b3f7f319",
                    "leftValue": "={{ $json.messages[0].audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio-message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        320,
        -448
      ],
      "id": "7390d64a-0797-446e-8b04-c9e558ad1fd3",
      "name": "Switch Type Of Message",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## ---> Error Messages",
        "height": 608,
        "width": 272,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        -1136
      ],
      "typeVersion": 1,
      "id": "cdd02596-c508-48e9-8140-5126b72a1c54",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## ---> Getting Context",
        "height": 224,
        "width": 912,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        -688
      ],
      "typeVersion": 1,
      "id": "4291c167-520a-473e-b50f-2248e705af9c",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## ---> Misbehavior",
        "height": 224,
        "width": 832,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1632,
        -688
      ],
      "typeVersion": 1,
      "id": "27fd5370-badd-4b3c-b67e-1dae53dcaeb6",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## ---> Blocked Process",
        "height": 240,
        "width": 784,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        -400
      ],
      "typeVersion": 1,
      "id": "93493950-0fa0-4b42-99f5-09d870488034",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_contexts\nSET context_data = jsonb_set(\n      context_data,\n      '{status}',\n      '\"blocked\"',\n      false\n    ),\n    updated_at = NOW()\nWHERE wa_id = CAST({{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }} AS TEXT);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4528,
        -608
      ],
      "id": "ffc49d28-7a52-4682-9024-8ac2e8b21470",
      "name": "Update User Context Reject",
      "credentials": {
        "postgres": {
          "id": "qyR2OAIR7tUEVcQf",
          "name": "Postgres-neon"
        }
      }
    },
    {
      "parameters": {
        "content": "## ---> Rejected Flow",
        "height": 272,
        "width": 1904,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2832,
        -688
      ],
      "typeVersion": 1,
      "id": "b177467b-abec-4f39-a2e2-978cb81b511c",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "url": "=https://vg.g210512.com/api/v1/contactos?telefono={{ $json.phone }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3152,
        -320
      ],
      "id": "fa48522c-12e8-4e8c-b996-2354b83c9aac",
      "name": "Get API Contact2",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "rzmCtJN8Vtwv6AO3",
          "name": "API Key Inmuebles"
        }
      }
    },
    {
      "parameters": {
        "content": "## ---> Getting Context",
        "height": 256,
        "width": 1472,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2848,
        -368
      ],
      "typeVersion": 1,
      "id": "9b30a7ed-804d-4984-91ba-0ffa8e53f734",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.wa_id }}",
        "options": {
          "systemMessage": "=Eres un asistente conversacional de una inmobiliaria. Tu tarea es generar un cuestionario personalizado y natural basado en las características y restricciones de un inmueble específico.\n\nDATOS DEL INMUEBLE:\n{{ $json.context_data.property_found.toJsonString() }}\n\nRESTRICCIONES DEL ARRENDADOR:\n{{ $json.context_data.property_found.restrictions.toJsonString() }}\n\nINSTRUCCIONES:\n\n1. **Genera preguntas conversacionales** siguiendo estos principios:\n   - NUNCA saludes, no pongas palabras como hola, que tal, etc, se supone que tu ya vienes trabajando con el contacto\n   - Primero da contexto o explica la restricción\n   - Luego pregunta de forma natural\n   - Usa tono amigable y mexicano\n   - Incluye emojis apropiados\n\n2. **Tipos de preguntas a generar:**\n\n   A) **Si NO acepta mascotas** (acepta_mascotas = \"no\"):\n      - Ejemplo: \"¿Tienes mascotas? 🐕🐈\"\n      - field: \"mascotas\"\n      - type: \"boolean\"\n      - expected: false\n\n   B) **Si NO acepta niños** (acepta_niños = \"no\"):\n      - Ejemplo: \"Platícame, ¿cuántas personas habitarán el inmueble? ¿Habrá niños? 👶\"\n      - field: \"ninos\"\n      - type: \"boolean\"\n      - expected: false\n\n   C) **Si NO acepta estudiantes sin tutor** (acepta_estudiantes = \"no\"):\n      - Ejemplo: \"Muy bien, platícame ¿cuál es tu ocupación actual? 📚\"\n      - field: \"estudiantes\"\n      - type: \"boolean\"\n      - expected: false\n\n   D) **Si NO acepta roomies** (acepta_roomies = \"no\"):\n      - Ejemplo: \"Cuéntame, ¿cómo será tu forma de vivir? ¿Solo(a) o con roomies? 👥\"\n      - field: \"roomies\"\n      - type: \"boolean\"\n      - expected: false\n\n   E) **Ingresos mínimos** (si existe y > 0):\n      - Ejemplo: \"Una pregunta importante: ¿cuál es tu ingreso mensual comprobable? 💵 (El mínimo requerido es $XX,XXX)\"\n      - field: \"ingresos\"\n      - type: \"number_minimum\"\n      - expected: [valor numérico]\n\n   F) **Comprobantes de ingresos** (si requiere_comprobantes_ingresos = true):\n      - Ejemplo: \"¿Cuentas con recibos de nómina, estados de cuenta o facturas que comprueben tus ingresos mensuales? 📋\"\n      - field: \"comprobantes\"\n      - type: \"boolean\"\n      - expected: true\n\n3. **Agrega preguntas adicionales basadas en características del inmueble:**\n\n   - **Si parkings = 0**: \"Te comento que el inmueble no cuenta con estacionamiento 🚗 ¿Estás de acuerdo con eso?\"\n   - **Si tiene más de 3 pisos y no menciona elevador**: \"El depa está en el [X] piso y no tiene elevador 🏢 ¿Tienes algún inconveniente?\"\n   - Cualquier otra característica relevante que valga la pena preguntar\n\nFORMATO DE SALIDA (JSON ARRAY):\n\n[\n  {\n    \"field\": \"mascotas\",\n    \"question\": \"¿Tienes mascotas? 🐕🐈\",\n    \"type\": \"boolean\",\n    \"expected\": false\n  },\n  {\n    \"field\": \"estacionamiento\",\n    \"question\": \"Te comento que el inmueble no cuenta con estacionamiento 🚗\\n¿Estás de acuerdo con eso?\",\n    \"type\": \"boolean\",\n    \"expected\": true\n  }\n]\n\nIMPORTANTE:\n- NO uses markdown (```json)\n- NO agregues explicaciones\n- Responde SOLO con el JSON array\n- Mantén el tono conversacional y natural"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        6160,
        400
      ],
      "id": "c0890225-3304-4005-9917-3f30905d5acf",
      "name": "AI Generate Dynamic Questionnaire"
    },
    {
      "parameters": {
        "content": "## ---> Questionaire Flow",
        "height": 272,
        "width": 1952
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4352,
        -368
      ],
      "typeVersion": 1,
      "id": "c5d44c49-a9ee-46bb-b33d-fe8b1c81c62a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1536,
        -320
      ],
      "id": "3980d771-a304-4fe7-8fc9-15a21f01c034",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "content": "## ---> Awaiting Name & Phone\n",
        "height": 288,
        "width": 1488
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        -64
      ],
      "typeVersion": 1,
      "id": "2326a722-851a-41e2-856f-cfced5426a9c",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## ---> Getting Property Info",
        "height": 448,
        "width": 1856,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1504,
        -96
      ],
      "typeVersion": 1,
      "id": "8cb825f4-79b2-44ba-a164-212548f126bf",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "812415788624920",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "=¡Hola {{ $json.nombre.split(' ')[0] }}! 😊 Ya tenemos tu solicitud en seguimiento y seguimos trabajando con la información que nos compartiste. En breve retomaremos contigo con novedades del inmueble.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        6976,
        128
      ],
      "id": "41f1054c-3a0b-4e7f-9836-e17c784a45ee",
      "name": "Message: Interaction In Progress",
      "webhookId": "32e518a9-64a8-4186-a7b0-d0962d11939a",
      "credentials": {
        "whatsAppApi": {
          "id": "DpdLgHZCEJ199330",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Switch Type Of Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Misbehavior?": {
      "main": [
        [
          {
            "node": "Is Blocked?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Misbehavior Context": {
      "main": [
        [
          {
            "node": "Prepare Misbehavior Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Misbehavior Context": {
      "main": [
        [
          {
            "node": "Postgres: Insert Misbehavior Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Insert Misbehavior Context": {
      "main": [
        [
          {
            "node": "API: Create Misbehavior Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Create Misbehavior Contact": {
      "main": [
        [
          {
            "node": "Postgres: Save API Contact (New)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Save API Contact (New)": {
      "main": [
        [
          {
            "node": "Build Misbehavior Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Misbehavior Comment": {
      "main": [
        [
          {
            "node": "API: Add Misbehavior Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Add Misbehavior Comment": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Misbehavior Notice": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download media3": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Transcribe: audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe: audio": {
      "main": [
        [
          {
            "node": "Get: Message Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check and Assign Character": {
      "main": [
        [
          {
            "node": "If: Is New Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Is New Contact": {
      "main": [
        [
          {
            "node": "Set: New Costumer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch: Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: New Costumer": {
      "main": [
        [
          {
            "node": "Merge Context Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Context Data": {
      "main": [
        [
          {
            "node": "Switch: Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Context Data": {
      "main": [
        [
          {
            "node": "Check missing Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get: User Context": {
      "main": [
        [
          {
            "node": "Parse Context Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check missing Data": {
      "main": [
        [
          {
            "node": "Actual Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actual Status": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Request Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message: Interaction In Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Data": {
      "main": [
        [
          {
            "node": "Update: Status awaiting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Context Status": {
      "main": [
        [
          {
            "node": "Has Postgres Context?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse: Status": {
      "main": [
        [
          {
            "node": "Switch: is Awaiting?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Name & Phone": {
      "main": [
        [
          {
            "node": "Is Valid Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Property Search": {
      "main": [
        [
          {
            "node": "Send message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect: Intention": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid Data": {
      "main": [
        [
          {
            "node": "Get Context Awating Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message: Wrong Name & Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Context Awating Data": {
      "main": [
        [
          {
            "node": "Prepare for Property Search",
            "type": "main",
            "index": 0
          },
          {
            "node": "API: Set new costumer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'InmuebleFinderTool'1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Get Property",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Context with Property": {
      "main": [
        [
          {
            "node": "AI Generate Dynamic Questionnaire",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Get Property": {
      "main": [
        [
          {
            "node": "Parse: Property Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse: Property Information": {
      "main": [
        [
          {
            "node": "Update: Costumer Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update: Costumer Context": {
      "main": [
        [
          {
            "node": "Add Property Interest",
            "type": "main",
            "index": 0
          },
          {
            "node": "Parse: Message w Property Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Intent": {
      "main": [
        [
          {
            "node": "Get: User Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get: User Context General Inq or Out Scope",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Context with Property",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Get: User Context General Inq or Out Scope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Is Awaiting Questionaire": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Send message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Questionnaire Status": {
      "main": [
        [
          {
            "node": "Is In Questionnaire",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is In Questionnaire": {
      "main": [
        [
          {
            "node": "Process Answer & Next Question",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse: Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Answer & Next Question": {
      "main": [
        [
          {
            "node": "Update: Context questions",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has More Questions?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has More Questions?": {
      "main": [
        [
          {
            "node": "Send message6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message4": {
      "main": [
        [
          {
            "node": "AI Agent - Get Property",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Execute a SQL query2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Message: Aprobado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute a SQL query3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query2": {
      "main": [
        [
          {
            "node": "Generate Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query3": {
      "main": [
        [
          {
            "node": "Message: Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message: Aprobado": {
      "main": [
        [
          {
            "node": "Discord: Approved Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Message: Reject",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Contact Actions": {
      "main": [
        [
          {
            "node": "Actual status of contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Message Data": {
      "main": [
        [
          {
            "node": "Check Questionnaire Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Get Property",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch: is Awaiting?": {
      "main": [
        [
          {
            "node": "Extract Name & Phone",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Detect: Intention",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Set new costumer": {
      "main": [
        [
          {
            "node": "Update API Contact ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Property Interest": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update API Contact ID": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Parse Gemini Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get: Message Info": {
      "main": [
        [
          {
            "node": "Get API Contact1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actual status of contact": {
      "main": [
        [
          {
            "node": "Merge Rejection Sources",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Message Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Message Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Postgres Context?": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Need Contact Check?": {
      "main": [
        [
          {
            "node": "Get API Contact2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Questionnaire Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini Validation": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Resume": {
      "main": [
        [
          {
            "node": "Parse Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Resume": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get: User Context General Inq or Out Scope": {
      "main": [
        [
          {
            "node": "AI General Inq or Out Scope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI General Inq or Out Scope",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI General Inq or Out Scope": {
      "main": [
        [
          {
            "node": "Parse: AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI General Inq or Out Scope",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Message: General Inq or Out Scope": {
      "main": [
        [
          {
            "node": "Discord: Attention Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse: AI Response": {
      "main": [
        [
          {
            "node": "Message: General Inq or Out Scope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Update: Status awaiting1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord: Attention Message": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse: Message w Property Info": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Questionnaire": {
      "main": [
        [
          {
            "node": "If: Is Awaiting Questionaire",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Generate Dynamic Questionnaire",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Generate Dynamic Questionnaire",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send Misbehavior Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI: Create Reject Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check and Assign Character",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update: Contact Comments1": {
      "main": [
        [
          {
            "node": "Update User Context Reject",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Reject Comment Payload": {
      "main": [
        [
          {
            "node": "Update: Contact Comments1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Rejection Sources": {
      "main": [
        [
          {
            "node": "Set: Rejection Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Rejection Payload": {
      "main": [
        [
          {
            "node": "AI: Create Reject Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Create Reject Message": {
      "main": [
        [
          {
            "node": "Message: Reject 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message: Reject 2": {
      "main": [
        [
          {
            "node": "AI: Create Reject Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Create Reject Resume": {
      "main": [
        [
          {
            "node": "Format Reject Comment Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Rejection Sources",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Need Contact Check?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Need Contact Check?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Need Contact Check?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Need Contact Check?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Misbehavior": {
      "main": [
        [
          {
            "node": "If: Misbehavior?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Misbehavior Detector": {
      "main": [
        [
          {
            "node": "Parse Misbehavior",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get API Contact": {
      "main": [
        [
          {
            "node": "Get Misbehavior Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Blocked Comment Payload": {
      "main": [
        [
          {
            "node": "API: Add Blocked Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Add Blocked Comment": {
      "main": [
        [
          {
            "node": "Postgres: Update Blocked Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Update Blocked Context": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Blocked?": {
      "main": [
        [
          {
            "node": "Build Blocked Comment Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get API Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Build Blocked Comment Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Blocked Comment Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Misbehavior Detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get API Contact1": {
      "main": [
        [
          {
            "node": "Check Context Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Type Of Message": {
      "main": [
        [
          {
            "node": "Get: Message Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message: Error type",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message: Error type",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message: Error type",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download media3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message Our Side",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get API Contact2": {
      "main": [
        [
          {
            "node": "Contact Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Generate Dynamic Questionnaire": {
      "main": [
        [
          {
            "node": "Parse AI Questionnaire",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "37571b6e3b06c0ce894d50931b94c0b80b70f40d5b859a8ce717ce6c0e3d4b9d"
  }
}