InmobiliariaBot.json
{
	"nodes": [
		{
			"parameters": {
				"updates": ["messages"],
				"options": {}
			},
			"type": "n8n-nodes-base.whatsAppTrigger",
			"typeVersion": 1,
			"position": [0, 720],
			"id": "98ddd0f0-0e69-43a9-adc0-65c3a0a9511e",
			"name": "WhatsApp Trigger",
			"webhookId": "74594388-e12c-4f20-b583-78678872e5e7",
			"credentials": {
				"whatsAppTriggerApi": {
					"id": "wFOtw7oArsG5zhql",
					"name": "WhatsApp OAuth account"
				}
			}
		},
		{
			"parameters": {
				"conditions": {
					"options": {
						"caseSensitive": true,
						"leftValue": "",
						"typeValidation": "strict",
						"version": 2
					},
					"conditions": [
						{
							"id": "7f76b2d5-6c02-451f-9c67-7777b3e92f92",
							"leftValue": "={{ $json.misbehaviorDetected }}",
							"rightValue": "",
							"operator": {
								"type": "boolean",
								"operation": "true",
								"singleValue": true
							}
						}
					],
					"combinator": "and"
				},
				"options": {}
			},
			"type": "n8n-nodes-base.if",
			"typeVersion": 2.2,
			"position": [528, 384],
			"id": "58b06822-c5b8-4d9b-bc39-12cd95ab0d45",
			"name": "If: Misbehavior?"
		},
		{
			"parameters": {
				"operation": "executeQuery",
				"query": "WITH context_data AS (\n  SELECT id, wa_id, context_data\n  FROM user_contexts\n  WHERE wa_id = '{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}'\n  LIMIT 1\n)\nSELECT\n  '{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}'::text AS wa_id,\n    (\n    SELECT row_to_json(context_row)\n    FROM context_data AS context_row\n  ) AS context_record;",
				"options": {}
			},
			"type": "n8n-nodes-base.postgres",
			"typeVersion": 2.6,
			"position": [1344, 0],
			"id": "0c409fde-06d5-43cf-98ab-59a7be1f4604",
			"name": "Get Misbehavior Context",
			"alwaysOutputData": true,
			"credentials": {
				"postgres": {
					"id": "qyR2OAIR7tUEVcQf",
					"name": "Postgres-neon"
				}
			}
		},
		{
			"parameters": {
				"jsCode": "const detectorData = $('Parse Misbehavior').item.json;\nconst contextRecord = $json.context_record || null;\n\n// ✅ Evitar error si context_data no existe\nconst contextData = contextRecord?.context_data\n  ? JSON.parse(JSON.stringify(contextRecord.context_data))\n  : {};\n\n// ✅ Verificar si ya existe contexto\nconst isExisting = Boolean(contextRecord && contextRecord.id);\n\n// ✅ Obtener contacto de manera segura\nconst contactData = $('Get API Contact').first().json?.data || [];\nconst contactName = contactData[1]?.nombre || contactData[0]?.nombre || null;\n\n// ✅ Nombre con fallback seguro\nconst fallbackName =\n  contactName && contactName.trim() !== ''\n    ? contactName.trim()\n    : '🤖 - Sin Nombre Mal Comportamiento';\n\n// ✅ Texto de motivo de rechazo\nconst reasonText =\n  detectorData.misbehaviorReason && detectorData.misbehaviorReason.trim() !== ''\n    ? detectorData.misbehaviorReason\n    : 'Comportamiento indebido detectado automáticamente';\n\n// ✅ Palabras y mensaje original\nconst matchedWords = detectorData.misbehaviorMatchedWords || [];\nconst originalMessage = detectorData.misbehaviorOriginalMessage || detectorData.userPrompt || '';\nconst timestamp = new Date().toISOString();\n\n// ✅ Registro de historial\nconst historyEntry = {\n  timestamp,\n  mensaje_original: originalMessage,\n  palabras_detectadas: matchedWords,\n  origen: 'auto_filter'\n};\n\n// ✅ Motivos actualizados\nconst existingReasons = Array.isArray(contextData.motivo_rechazo)\n  ? contextData.motivo_rechazo\n  : [];\nconst updatedReasons = [...existingReasons];\nif (!updatedReasons.includes(reasonText)) updatedReasons.push(reasonText);\n\n// ✅ Historial actualizado\nconst existingHistory = Array.isArray(contextData.mal_comportamiento_historial)\n  ? contextData.mal_comportamiento_historial\n  : [];\nconst updatedHistory = [...existingHistory, historyEntry];\n\n// ✅ Nuevo contexto actualizado\nconst updatedContext = {\n  ...contextData,\n  nombre: fallbackName,\n  status: 'blocked',\n  rechazo_previo: true,\n  motivo_rechazo: updatedReasons,\n  mal_comportamiento_historial: updatedHistory,\n  ultima_interaccion: timestamp\n};\n\n// ✅ Resultado final\nreturn [\n  {\n    json: {\n      ...detectorData,\n      misbehaviorOriginalMessage: originalMessage,\n      isExistingContext: isExisting,\n      contextId: contextRecord?.id || null,\n      updatedContext,\n      misbehaviorHistoryEntry: historyEntry,\n      api_contact_id: contextData?.api_contact_id || null,\n      needsApiContact: !contextData?.api_contact_id,\n      fallbackName,\n      reasonText\n    }\n  }\n];\n"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [1552, 0],
			"id": "cf89c13c-bdaa-4153-bca6-86227273e564",
			"name": "Prepare Misbehavior Context"
		},
		{
			"parameters": {
				"conditions": {
					"options": {
						"caseSensitive": true,
						"leftValue": "",
						"typeValidation": "strict",
						"version": 2
					},
					"conditions": [
						{
							"id": "b7f0fce5-2736-4c7e-9e09-6c1ce40ec327",
							"leftValue": "={{ $json.isExistingContext }}",
							"rightValue": "",
							"operator": {
								"type": "boolean",
								"operation": "true",
								"singleValue": true
							}
						}
					],
					"combinator": "and"
				},
				"options": {}
			},
			"type": "n8n-nodes-base.if",
			"typeVersion": 2.2,
			"position": [1744, 0],
			"id": "926fb315-4a68-4391-87ad-57b0f8a505d2",
			"name": "If: Existing Misbehavior Context"
		},
		{
			"parameters": {
				"operation": "executeQuery",
				"query": "UPDATE user_contexts\nSET\n  context_data = '{{ $('Prepare Misbehavior Context').item.json.updatedContext.toJsonString() }}'::jsonb,\n  updated_at = CURRENT_TIMESTAMP\nWHERE wa_id = '{{ $('Prepare Misbehavior Context').item.json.wa_id }}'\nRETURNING\n  id,\n  wa_id,\n  context_data,\n  context_data->>'api_contact_id' AS api_contact_id;",
				"options": {}
			},
			"type": "n8n-nodes-base.postgres",
			"typeVersion": 2.6,
			"position": [2000, -16],
			"id": "94a3f78d-58d6-4acc-8305-a2bc5989257d",
			"name": "Postgres: Update Misbehavior Context",
			"credentials": {
				"postgres": {
					"id": "qyR2OAIR7tUEVcQf",
					"name": "Postgres-neon"
				}
			}
		},
		{
			"parameters": {
				"conditions": {
					"options": {
						"caseSensitive": true,
						"leftValue": "",
						"typeValidation": "strict",
						"version": 2
					},
					"conditions": [
						{
							"id": "bb1a2a1c-7d17-4c7b-8c7f-7110223599aa",
							"leftValue": "={{ $('Get API Contact').item.json.data }}",
							"rightValue": "",
							"operator": {
								"type": "array",
								"operation": "exists",
								"singleValue": true
							}
						}
					],
					"combinator": "and"
				},
				"options": {}
			},
			"type": "n8n-nodes-base.if",
			"typeVersion": 2.2,
			"position": [2240, -16],
			"id": "1e500af2-14a5-4219-b717-46d232d8e946",
			"name": "If: Has API Contact?"
		},
		{
			"parameters": {
				"method": "POST",
				"url": "https://vg.g210512.com/api/v1/contactos",
				"authentication": "genericCredentialType",
				"genericAuthType": "httpHeaderAuth",
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={\n  \"nombre\": \"❌ BLOQUEADO - MAL COMPORTAMIENTO\",\n  \"telefono\": \"{{ $('If: Existing Misbehavior Context').item.json.phone }}\",\n  \"estado\": \"blocked\",\n  \"fuente\": \"WhatsApp Bot\"\n}",
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [2432, 0],
			"id": "4dfcff6c-bb00-4fc5-b738-ab0669151947",
			"name": "API: Create Rejected Contact",
			"credentials": {
				"httpHeaderAuth": {
					"id": "rzmCtJN8Vtwv6AO3",
					"name": "API Key Inmuebles"
				}
			}
		},
		{
			"parameters": {
				"operation": "executeQuery",
				"query": "UPDATE user_contexts\nSET\n  context_data = jsonb_set(\n    '{{ $('Prepare Misbehavior Context').item.json.updatedContext.toJsonString() }}'::jsonb,\n    '{api_contact_id}',\n    '{{ $json.data.id }}'::jsonb,\n    true\n  ),\n  updated_at = CURRENT_TIMESTAMP\nWHERE wa_id = '{{ $('Prepare Misbehavior Context').item.json.wa_id }}'\nRETURNING\n  id,\n  wa_id,\n  context_data,\n  context_data->>'api_contact_id' AS api_contact_id;",
				"options": {}
			},
			"type": "n8n-nodes-base.postgres",
			"typeVersion": 2.6,
			"position": [2672, 0],
			"id": "c2a65155-ac70-40bc-b2ef-f4cc7a208590",
			"name": "Postgres: Save API Contact (Existing)",
			"credentials": {
				"postgres": {
					"id": "qyR2OAIR7tUEVcQf",
					"name": "Postgres-neon"
				}
			}
		},
		{
			"parameters": {
				"operation": "executeQuery",
				"query": "INSERT INTO user_contexts (wa_id, context_data, created_at, updated_at)\nVALUES (\n  '{{ $json.wa_id }}',\n  $${{ $json.updatedContext.toJsonString() }}$$::jsonb,\n  CURRENT_TIMESTAMP,\n  CURRENT_TIMESTAMP\n)\nON CONFLICT (wa_id) DO UPDATE SET\n  context_data = EXCLUDED.context_data,\n  updated_at = CURRENT_TIMESTAMP\nRETURNING\n  id,\n  wa_id,\n  context_data,\n  context_data->>'api_contact_id' AS api_contact_id;",
				"options": {}
			},
			"type": "n8n-nodes-base.postgres",
			"typeVersion": 2.6,
			"position": [1200, 208],
			"id": "3dde8031-4a9f-45ac-8d84-a7e8b43b5af1",
			"name": "Postgres: Insert Misbehavior Context",
			"credentials": {
				"postgres": {
					"id": "qyR2OAIR7tUEVcQf",
					"name": "Postgres-neon"
				}
			}
		},
		{
			"parameters": {
				"method": "POST",
				"url": "https://vg.g210512.com/api/v1/contactos",
				"authentication": "genericCredentialType",
				"genericAuthType": "httpHeaderAuth",
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={\n  \"nombre\": \"{{ $('Prepare Misbehavior Context').item.json.fallbackName }}\",\n  \"telefono\": \"{{ $('Get: Message Info').item.json.phone }}\",\n  \"estado\": \"rechazado\",\n  \"fuente\": \"WhatsApp Bot\"\n}",
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [1456, 208],
			"id": "93399068-d820-4b1b-a4cc-e00f7f761daa",
			"name": "API: Create Misbehavior Contact",
			"credentials": {
				"httpHeaderAuth": {
					"id": "rzmCtJN8Vtwv6AO3",
					"name": "API Key Inmuebles"
				}
			}
		},
		{
			"parameters": {
				"operation": "executeQuery",
				"query": "UPDATE user_contexts\nSET\n  context_data = jsonb_set(\n    $${{ $('Prepare Misbehavior Context').item.json.updatedContext.toJsonString() }}$$::jsonb,\n    '{api_contact_id}',\n    '{{ $json.data.id }}'::jsonb,\n    true\n  ),\n  updated_at = CURRENT_TIMESTAMP\nWHERE wa_id = '{{ $('Prepare Misbehavior Context').item.json.wa_id }}'\nRETURNING\n  id,\n  wa_id,\n  context_data,\n  context_data->>'api_contact_id' AS api_contact_id;",
				"options": {}
			},
			"type": "n8n-nodes-base.postgres",
			"typeVersion": 2.6,
			"position": [1664, 208],
			"id": "23abf880-294d-4de8-9166-b85ff9816920",
			"name": "Postgres: Save API Contact (New)",
			"credentials": {
				"postgres": {
					"id": "qyR2OAIR7tUEVcQf",
					"name": "Postgres-neon"
				}
			}
		},
		{
			"parameters": {
				"jsCode": "const prepareData = $('Prepare Misbehavior Context').item.json;\nconst apiContactId = $json.api_contact_id || $json.data?.id;\n\nconst matchedWords = prepareData.misbehaviorMatchedWords || [];\nconst originalMessage = prepareData.misbehaviorOriginalMessage || '';\nconst reasonText = prepareData.reasonText || 'Comportamiento indebido detectado automáticamente';\nconst timestamp = new Date().toISOString();\n\nconst commentLines = [\n  '🚨 BLOQUEADO - MAL COMPORTAMIENTO',\n  '',\n  ` Motivo: ${reasonText}`,\n  matchedWords.length ? `Coincidencias detectadas: ${matchedWords.join(', ')}` : '',\n  originalMessage ? `Mensaje original: \"${originalMessage}\"` : '',\n  `Registrado el: ${timestamp}`\n].filter(Boolean);\n\nconst notificationMessage = 'Detectamos un comportamiento indebido en tu mensaje. Tu contacto ha sido reportado y no podremos continuar con la atención. ❌';\n\nreturn [\n  {\n    json: {\n      api_contact_id: apiContactId,\n      comentario: commentLines.join(''),\n      wa_id: prepareData.wa_id,\n      misbehaviorNotification: notificationMessage\n    }\n  }\n];"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [1952, 208],
			"id": "eb8394ce-2010-4a73-8496-26682deb7090",
			"name": "Build Misbehavior Comment"
		},
		{
			"parameters": {
				"method": "POST",
				"url": "=https://vg.g210512.com/api/v1/contactos/{{ $json.api_contact_id }}/comentarios",
				"authentication": "genericCredentialType",
				"genericAuthType": "httpHeaderAuth",
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={\n  \"comentario\": {{ $json.comentario.toJsonString() }}\n}",
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [2192, 208],
			"id": "91d7c7b0-4a01-4b3d-a393-fc1582cfdc19",
			"name": "API: Add Misbehavior Comment",
			"credentials": {
				"httpHeaderAuth": {
					"id": "rzmCtJN8Vtwv6AO3",
					"name": "API Key Inmuebles"
				}
			}
		},
		{
			"parameters": {
				"operation": "send",
				"phoneNumberId": "812415788624920",
				"recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
				"textBody": "={{ $json.message.content }}",
				"additionalFields": {}
			},
			"type": "n8n-nodes-base.whatsApp",
			"typeVersion": 1.1,
			"position": [2720, 208],
			"id": "904aedb3-08af-4109-a27a-a3a9be0ec8ed",
			"name": "Send Misbehavior Notice",
			"webhookId": "32e518a9-64a8-4186-a7b0-d0962d11939a",
			"credentials": {
				"whatsAppApi": {
					"id": "DpdLgHZCEJ199330",
					"name": "WhatsApp account"
				}
			}
		},
		{
			"parameters": {
				"rules": {
					"values": [
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"leftValue": "={{ $json.messages[0].text.body }}",
										"rightValue": "",
										"operator": {
											"type": "string",
											"operation": "exists",
											"singleValue": true
										},
										"id": "b564c529-0a34-48cf-beaf-0004336706ef"
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "text-message"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "250baf65-d4ac-41ab-a455-eb87a917a514",
										"leftValue": "={{ $json.messages[0].image }}",
										"rightValue": "",
										"operator": {
											"type": "object",
											"operation": "exists",
											"singleValue": true
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "image-message"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "bf6ad2e8-fe57-43c2-8f6e-1b3381f0dcff",
										"leftValue": "={{ $json.messages[0].document.mime_type }}",
										"rightValue": "image/",
										"operator": {
											"type": "string",
											"operation": "contains"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "document-image"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "ad353bff-2299-4372-a4ea-1feadb00dab2",
										"leftValue": "={{ $json.messages[0].document.mime_type }}",
										"rightValue": "application/",
										"operator": {
											"type": "string",
											"operation": "contains"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "pdf"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "9c8d220b-1791-4273-bb74-08b2b3f7f319",
										"leftValue": "={{ $json.messages[0].audio }}",
										"rightValue": "",
										"operator": {
											"type": "object",
											"operation": "exists",
											"singleValue": true
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "audio-message"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.switch",
			"typeVersion": 3.3,
			"position": [192, 656],
			"id": "001c4b39-c1d4-4100-b3c6-011518f44bda",
			"name": "Switch",
			"onError": "continueErrorOutput"
		},
		{
			"parameters": {
				"content": "## Incoming message",
				"height": 672,
				"width": 592,
				"color": 4
			},
			"type": "n8n-nodes-base.stickyNote",
			"position": [1408, 1504],
			"typeVersion": 1,
			"id": "cd0427a2-840f-4e40-b803-368cc0cedccb",
			"name": "Sticky Note3"
		},
		{
			"parameters": {
				"content": "## -> Audio",
				"height": 224,
				"width": 608,
				"color": 6
			},
			"type": "n8n-nodes-base.stickyNote",
			"position": [480, 880],
			"typeVersion": 1,
			"id": "47e68a1b-0900-4759-b4a0-d10b7708657f",
			"name": "Sticky Note6"
		},
		{
			"parameters": {
				"resource": "media",
				"operation": "mediaUrlGet",
				"mediaGetId": "={{ $json.messages[0].audio.id }}"
			},
			"type": "n8n-nodes-base.whatsApp",
			"typeVersion": 1.1,
			"position": [528, 944],
			"id": "e502a9d7-8edd-4c35-a547-0ae9df61bbd8",
			"name": "Download media3",
			"webhookId": "02de1bd7-bb83-49da-baa6-392d89ed4096",
			"credentials": {
				"whatsAppApi": {
					"id": "DpdLgHZCEJ199330",
					"name": "WhatsApp account"
				}
			}
		},
		{
			"parameters": {
				"url": "={{ $json.url }}",
				"authentication": "genericCredentialType",
				"genericAuthType": "httpBearerAuth",
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [720, 944],
			"id": "c40b91b9-9276-4c32-930c-acc09a11c2a6",
			"name": "HTTP Request3",
			"credentials": {
				"httpBearerAuth": {
					"id": "QigdAtAlBxHMmIsD",
					"name": "WA - Bearer Token"
				}
			}
		},
		{
			"parameters": {
				"resource": "audio",
				"modelId": {
					"__rl": true,
					"value": "models/gemini-2.5-flash",
					"mode": "list",
					"cachedResultName": "models/gemini-2.5-flash"
				},
				"inputType": "binary",
				"options": {}
			},
			"type": "@n8n/n8n-nodes-langchain.googleGemini",
			"typeVersion": 1,
			"position": [944, 944],
			"id": "43ed5f0f-7f1f-4de1-94cb-d8213e51ac89",
			"name": "Transcribe: audio",
			"credentials": {
				"googlePalmApi": {
					"id": "3Qw3858fHslDYr4D",
					"name": "Gemini - alfgow"
				}
			}
		},
		{
			"parameters": {
				"operation": "send",
				"phoneNumberId": "812415788624920",
				"recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
				"textBody": "Te recuerdo que este chat solo recibe texto y audio.",
				"additionalFields": {}
			},
			"type": "n8n-nodes-base.whatsApp",
			"typeVersion": 1.1,
			"position": [0, 1056],
			"id": "133e76ec-ac51-4a14-b276-a962fb6eaf4c",
			"name": "Send message2",
			"webhookId": "32e518a9-64a8-4186-a7b0-d0962d11939a",
			"credentials": {
				"whatsAppApi": {
					"id": "DpdLgHZCEJ199330",
					"name": "WhatsApp account"
				}
			}
		},
		{
			"parameters": {
				"assignments": {
					"assignments": [
						{
							"id": "4b195430-ea1d-49ce-84cb-06f1edc71280",
							"name": "intent",
							"value": "={{ $json.content.parts[0].text.replace(/^[\"'\\s]+|[\"'\\s]+$/g, '').replace(/\\\\/g, '') }}",
							"type": "string"
						},
						{
							"id": "8d0c4046-fab8-4adb-b011-92b920f7c4c7",
							"name": "userPrompt",
							"value": "={{ $('Get: Message Info').item.json.userPrompt }}",
							"type": "string"
						},
						{
							"id": "e5dc3f46-71fa-4d48-a8ff-85b0023aa398",
							"name": "wa_id",
							"value": "={{ $('Get: Message Info').item.json.wa_id }}",
							"type": "string"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.set",
			"typeVersion": 3.4,
			"position": [3792, 2096],
			"id": "08cfc1df-9fc7-4e4b-84d2-77fc7637ef2c",
			"name": "Edit Fields"
		},
		{
			"parameters": {
				"operation": "executeQuery",
				"query": "SELECT context_data \nFROM user_contexts \nWHERE wa_id = '{{ $json.wa_id }}' \nLIMIT 1;",
				"options": {}
			},
			"type": "n8n-nodes-base.postgres",
			"typeVersion": 2.6,
			"position": [3952, 2096],
			"id": "c94d0a6b-c525-4700-a94c-dc668da3caeb",
			"name": "Execute a SQL query",
			"alwaysOutputData": true,
			"credentials": {
				"postgres": {
					"id": "qyR2OAIR7tUEVcQf",
					"name": "Postgres-neon"
				}
			}
		},
		{
			"parameters": {
				"jsCode": "const existingContext = $input.first().json;\n\nlet personaje;\nlet isNew = false;\n\nif (!existingContext.context_data || !existingContext.context_data.personaje) {\n  const personajes = [\"Dany\", \"Ale\", \"Regi\", \"Susy\"];\n  personaje = personajes[Math.floor(Math.random() * personajes.length)];\n  isNew = true;\n} else {\n  personaje = existingContext.context_data.personaje;\n}\n\nreturn {\n  wa_id: $('Edit Fields').item.json.wa_id,\n  userPrompt: $('Edit Fields').item.json.userPrompt,\n  type: $('Edit Fields').item.json.type,\n  intent: $('Edit Fields').item.json.intent,\n  personaje: personaje,\n  isNew: isNew\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [4464, 2112],
			"id": "6956fc09-bf21-4abc-9f74-78b05ddb1c82",
			"name": "Check and Assign Character"
		},
		{
			"parameters": {
				"conditions": {
					"options": {
						"caseSensitive": true,
						"leftValue": "",
						"typeValidation": "strict",
						"version": 2
					},
					"conditions": [
						{
							"id": "0d663079-05a6-411a-bd61-d6e05a5b7bae",
							"leftValue": "={{ $json.isNew }}",
							"rightValue": "",
							"operator": {
								"type": "boolean",
								"operation": "true",
								"singleValue": true
							}
						}
					],
					"combinator": "and"
				},
				"options": {}
			},
			"type": "n8n-nodes-base.if",
			"typeVersion": 2.2,
			"position": [4672, 2112],
			"id": "c67aff44-ccdc-497e-b8b0-f08c3a455b12",
			"name": "If: Is New Contact"
		},
		{
			"parameters": {
				"operation": "executeQuery",
				"query": "INSERT INTO user_contexts (wa_id, context_data, created_at, updated_at)\nVALUES (\n  '{{ $json.wa_id }}',\n  CASE \n    WHEN '{{ $json.intent }}' = 'property_search' THEN\n      '{\"personaje\": \"{{ $json.personaje }}\", \"original_search\": \"{{ $json.userPrompt }}\", \"status\": \"awaiting_data\"}'::jsonb\n    ELSE\n      '{\"personaje\": \"{{ $json.personaje }}\"}'::jsonb\n  END,\n  CURRENT_TIMESTAMP,\n  CURRENT_TIMESTAMP\n)\nON CONFLICT (wa_id) \nDO UPDATE SET \n  context_data = CASE \n    WHEN '{{ $json.intent }}' = 'property_search' THEN\n      jsonb_set(\n        jsonb_set(\n          jsonb_set(\n            user_contexts.context_data,\n            '{personaje}',\n            '\"{{ $json.personaje }}\"'::jsonb\n          ),\n          '{original_search}',\n          '\"{{ $json.userPrompt }}\"'::jsonb\n        ),\n        '{status}',\n        '\"awaiting_data\"'::jsonb\n      )\n    ELSE\n      jsonb_set(\n        user_contexts.context_data,\n        '{personaje}',\n        '\"{{ $json.personaje }}\"'::jsonb\n      )\n    END,\n  updated_at = CURRENT_TIMESTAMP\nRETURNING *;",
				"options": {}
			},
			"type": "n8n-nodes-base.postgres",
			"typeVersion": 2.6,
			"position": [4912, 2128],
			"id": "db3b7040-c1db-4815-9c72-03769016d6a4",
			"name": "Set: New Costumer",
			"credentials": {
				"postgres": {
					"id": "qyR2OAIR7tUEVcQf",
					"name": "Postgres-neon"
				}
			}
		},
		{
			"parameters": {
				"jsCode": "return {\n  wa_id: $input.first().json.wa_id,\n  userPrompt: $('If: Is New Contact').first().json.userPrompt,\n  intent: $('If: Is New Contact').first().json.intent,\n  personaje: $input.first().json.context_data.personaje,\n  isNew: $('If: Is New Contact').first().json.isNew,\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [5184, 2128],
			"id": "915eb956-1499-430c-89aa-dea262c20ccd",
			"name": "Merge Context Data"
		},
		{
			"parameters": {
				"operation": "send",
				"phoneNumberId": "812415788624920",
				"recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
				"textBody": "=¡Hola! 👋 Soy {{ $json.personaje }}, tu asistente en Inmobiliaria Villanueva García.\n\n¿En qué te puedo ayudar hoy? ",
				"additionalFields": {}
			},
			"type": "n8n-nodes-base.whatsApp",
			"typeVersion": 1.1,
			"position": [3472, 2688],
			"id": "8b728e3d-53dc-45d5-beef-26b36c53482c",
			"name": "Send message1",
			"webhookId": "32e518a9-64a8-4186-a7b0-d0962d11939a",
			"credentials": {
				"whatsAppApi": {
					"id": "DpdLgHZCEJ199330",
					"name": "WhatsApp account"
				}
			}
		},
		{
			"parameters": {
				"jsCode": "const postgresResult = $json;\nconst previousData = $('Switch: Intent').item.json;\n\nconst contextData = postgresResult.context_data || {};\n\nreturn {\n  wa_id: previousData.wa_id,\n  userPrompt: previousData.userPrompt,\n  type: previousData.type,\n  intent: previousData.intent,\n  personaje: contextData.personaje || previousData.personaje,\n  context_id: postgresResult.id,\n  nombre: contextData.nombre || \"\",\n  telefono: contextData.telefono || \"\",\n  status: contextData.status || \"new\",\n  rechazo_previo: contextData.rechazo_previo || false,\n  motivo_rechazo: contextData.motivo_rechazo || [],\n  inmuebles_consultados:  $input.first().json.context_data.property_found || [],\n  ultima_interaccion: postgresResult.updated_at\n};\n"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [3072, 2368],
			"id": "e29c3967-ddf4-4632-81db-3baf7338af0a",
			"name": "Parse Context Data"
		},
		{
			"parameters": {
				"operation": "executeQuery",
				"query": "SELECT \n  id,\n  wa_id,\n  context_data,\n  created_at,\n  updated_at\nFROM user_contexts \nWHERE wa_id = '{{ $json.wa_id }}'\nLIMIT 1;",
				"options": {}
			},
			"type": "n8n-nodes-base.postgres",
			"typeVersion": 2.6,
			"position": [2880, 2368],
			"id": "1e037a00-fea2-433b-b19c-7419521f96ab",
			"name": "Get: User Context",
			"credentials": {
				"postgres": {
					"id": "qyR2OAIR7tUEVcQf",
					"name": "Postgres-neon"
				}
			}
		},
		{
			"parameters": {
				"jsCode": "const data = $json;\n\nlet missingData = [];\nlet contextStatus = \"\";\n\nif (data.rechazo_previo === true) {\n  contextStatus = \"rejected_before\";\n} else if (!data.nombre || data.nombre === \"\") {\n  missingData.push(\"nombre\");\n  contextStatus = \"incomplete_data\";\n} else if (!data.telefono || data.telefono === \"\") {\n  missingData.push(\"telefono\");\n  contextStatus = \"incomplete_data\";\n} else {\n  contextStatus = \"complete_data\";\n}\n\nreturn {\n  ...data,\n  missingData: missingData,\n  contextStatus: contextStatus\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [3264, 2368],
			"id": "ba0cdacc-ba4b-4b88-bc35-58c426b27783",
			"name": "Check missing Data"
		},
		{
			"parameters": {
				"rules": {
					"values": [
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"leftValue": "={{ $json.contextStatus }}",
										"rightValue": "rejected_before",
										"operator": {
											"type": "string",
											"operation": "equals"
										},
										"id": "15548fe7-a59a-44dd-87e0-c87fa85e30fd"
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "Rejected Before"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "9c138d09-5a25-4eb2-b926-784df2b799d9",
										"leftValue": "={{ $json.contextStatus }}",
										"rightValue": "incomplete_data",
										"operator": {
											"type": "string",
											"operation": "equals",
											"name": "filter.operator.equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "Incomplete Data"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "e84bb5cb-d2fd-46a7-983b-6164d386d44e",
										"leftValue": "={{ $json.contextStatus }}",
										"rightValue": "complete_data",
										"operator": {
											"type": "string",
											"operation": "equals",
											"name": "filter.operator.equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "Complete Data"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.switch",
			"typeVersion": 3.3,
			"position": [3472, 2352],
			"id": "95305e63-9b15-4c4a-bd9f-26d53b82d5ef",
			"name": "Actual Status"
		},
		{
			"parameters": {
				"operation": "send",
				"phoneNumberId": "812415788624920",
				"recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
				"textBody": "=¡Perfecto! Para ayudarte con la información del inmueble que buscas, necesito que me compartas:\n\n📝 Tu nombre completo\n📱 Tu número de teléfono\n\nPor favor compártelos en un solo mensaje 😊",
				"additionalFields": {}
			},
			"type": "n8n-nodes-base.whatsApp",
			"typeVersion": 1.1,
			"position": [4496, 2752],
			"id": "429e0dd2-fef8-4e21-a106-768c627ab0e5",
			"name": "Request Data",
			"webhookId": "32e518a9-64a8-4186-a7b0-d0962d11939a",
			"credentials": {
				"whatsAppApi": {
					"id": "DpdLgHZCEJ199330",
					"name": "WhatsApp account"
				}
			}
		},
		{
			"parameters": {
				"operation": "executeQuery",
				"query": "UPDATE user_contexts \nSET \n  context_data = jsonb_set(\n    jsonb_set(\n      context_data,\n      '{status}',\n      '\"awaiting_data\"'\n    ),\n    '{original_search}',\n    '\"{{ $('Actual Status').item.json.userPrompt }}\"'\n  ),\n  updated_at = CURRENT_TIMESTAMP\nWHERE wa_id = '{{ $('Actual Status').item.json.wa_id }}'\nRETURNING *;",
				"options": {}
			},
			"type": "n8n-nodes-base.postgres",
			"typeVersion": 2.6,
			"position": [4736, 2752],
			"id": "95d949f5-5024-414b-b204-6e1402644385",
			"name": "Update: Status awaiting",
			"credentials": {
				"postgres": {
					"id": "qyR2OAIR7tUEVcQf",
					"name": "Postgres-neon"
				}
			}
		},
		{
			"parameters": {
				"operation": "executeQuery",
				"query": "SELECT \n  id,\n  wa_id,\n  context_data,\n  created_at,\n  updated_at\nFROM user_contexts \nWHERE wa_id = '{{ $('Get: Message Info').item.json.wa_id }}'\nLIMIT 1;",
				"options": {}
			},
			"type": "n8n-nodes-base.postgres",
			"typeVersion": 2.6,
			"position": [912, 432],
			"id": "455550df-b4cf-40d8-bdc6-8bff0c57af9c",
			"name": "Check Context Status",
			"alwaysOutputData": true,
			"credentials": {
				"postgres": {
					"id": "qyR2OAIR7tUEVcQf",
					"name": "Postgres-neon"
				}
			}
		},
		{
			"parameters": {
				"jsCode": "const postgresResult = $('Check Context Status').first().json;  // ← Referencia directa\nconst previousData = $('Get: Message Info').item.json;\n\nconst contextData = postgresResult.context_data || {};\nconst currentStatus = contextData.status || \"new\";\n\nreturn {\n  ...previousData,\n  context_id: postgresResult.id,\n  personaje: contextData.personaje || \"\",\n  currentStatus: currentStatus,\n  isAwaitingData: currentStatus?.trim().toLowerCase() === \"awaiting_data\"\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [4080, 1840],
			"id": "e21bb3b5-a263-433c-9fca-33664acd4cf9",
			"name": "Parse: Status"
		},
		{
			"parameters": {
				"jsCode": "const userPrompt = $json.userPrompt;\n\nlet nombre = \"\";\nlet telefono = \"\";\n\nconst nombreMatch = userPrompt.match(/([A-ZÁÉÍÓÚÑ][a-záéíóúñ]+(?:\\s+[A-ZÁÉÍÓÚÑ][a-záéíóúñ]+)+)/);\nif (nombreMatch) {\n  nombre = nombreMatch[0].trim();\n}\n\nconst telefonoMatch = userPrompt.match(/(\\d{10,})/);\nif (telefonoMatch) {\n  telefono = telefonoMatch[0].replace(/\\D/g, '');\n  if (telefono.length > 10) {\n    telefono = telefono.slice(-10);\n  }\n}\n\nreturn {\n  ...$json,\n  nombre_extracted: nombre,\n  telefono_extracted: telefono,\n  has_valid_data: nombre !== \"\" && telefono !== \"\"\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [4528, 1824],
			"id": "6ec1c719-7e22-46aa-928a-fbb3445999e2",
			"name": "Extract Name & Phone"
		},
		{
			"parameters": {
				"jsCode": "const postgresResult = $json;\nconst switchData = $('Switch: is Awaiting?').item.json;\n\nconst contextData = postgresResult.context_data;\n\nreturn {\n  wa_id: switchData.wa_id,\n  userPrompt: $input.first().json.context_data.original_search,\n  type: switchData.type,\n  personaje: contextData.personaje,\n  nombre: contextData.nombre,\n  telefono: contextData.telefono,\n  context_id: postgresResult.id,\n  status: contextData.status\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [5440, 2016],
			"id": "b838f966-c6b1-4954-87f7-d6382b7c204d",
			"name": "Prepare for Property Search"
		},
		{
			"parameters": {
				"modelId": {
					"__rl": true,
					"value": "models/gemini-2.5-flash",
					"mode": "list",
					"cachedResultName": "models/gemini-2.5-flash"
				},
				"messages": {
					"values": [
						{
							"content": "={{ $json.userPrompt }}"
						}
					]
				},
				"jsonOutput": true,
				"options": {
					"systemMessage": "=Eres un clasificador de intenciones. Analiza el mensaje del usuario y clasifica en UNA de estas categorías:\n\n- property_search: Busca un inmueble específico (departamento, casa, propiedad)\n- greeting: Saludos iniciales o conversación casual amistosa\n- general_inquiry: Preguntas sobre servicios, áreas, o información general\n- confirmation: Confirmaciones para avanzar (sí, ok, listo, adelante)\n- negotiation: Intenta negociar o pedir excepciones\n- out_of_scope: Cualquier tema no relacionado con inmobiliaria\n\nResponde SOLO con el nombre de la categoría, sin explicaciones."
				}
			},
			"type": "@n8n/n8n-nodes-langchain.googleGemini",
			"typeVersion": 1,
			"position": [3488, 2096],
			"id": "7cf8f2c8-93b1-42b6-ad88-3da0b648f104",
			"name": "Detect: Intention",
			"credentials": {
				"googlePalmApi": {
					"id": "3Qw3858fHslDYr4D",
					"name": "Gemini - alfgow"
				}
			}
		},
		{
			"parameters": {
				"rules": {
					"values": [
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"leftValue": "={{ $json.has_valid_data }}",
										"rightValue": "",
										"operator": {
											"type": "boolean",
											"operation": "true",
											"singleValue": true
										},
										"id": "dae4488b-95af-4c88-a855-101544196f7a"
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "TRUE"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "3225f10b-9880-42ec-8207-af7b7e64a479",
										"leftValue": "={{ $json.has_valid_data }}",
										"rightValue": "",
										"operator": {
											"type": "boolean",
											"operation": "false",
											"singleValue": true
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "FALSE"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.switch",
			"typeVersion": 3.3,
			"position": [4800, 1824],
			"id": "64ca5952-3f16-4cc5-9a9f-f4c4a87e9b21",
			"name": "Is Valid Data"
		},
		{
			"parameters": {
				"operation": "executeQuery",
				"query": "UPDATE user_contexts \nSET \n  context_data = jsonb_set(\n    jsonb_set(\n      jsonb_set(\n        context_data,\n        '{nombre}',\n        '\"{{ $json.nombre_extracted }}\"'\n      ),\n      '{telefono}',\n      '\"{{ $json.telefono_extracted }}\"'\n    ),\n    '{status}',\n    '\"in_progress\"'\n  ),\n  updated_at = CURRENT_TIMESTAMP\nWHERE wa_id = '{{ $json.wa_id }}'\nRETURNING *;",
				"options": {}
			},
			"type": "n8n-nodes-base.postgres",
			"typeVersion": 2.6,
			"position": [5248, 1808],
			"id": "ba6c7709-9c22-41af-b0b2-23ee43592e36",
			"name": "Get Context Awating Data",
			"credentials": {
				"postgres": {
					"id": "qyR2OAIR7tUEVcQf",
					"name": "Postgres-neon"
				}
			}
		},
		{
			"parameters": {
				"description": "Este Workflow busca la informacion de los inmuebles",
				"workflowId": {
					"__rl": true,
					"value": "8JWwPczEyYuP2J3N",
					"mode": "list",
					"cachedResultUrl": "/workflow/8JWwPczEyYuP2J3N",
					"cachedResultName": "InmuebleFinderTool"
				},
				"workflowInputs": {
					"mappingMode": "defineBelow",
					"value": {
						"termino": "={{ $('Prepare for Property Search').item.json.userPrompt }}"
					},
					"matchingColumns": [],
					"schema": [
						{
							"id": "termino",
							"displayName": "termino",
							"required": false,
							"defaultMatch": false,
							"display": true,
							"canBeUsedToMatch": true,
							"type": "string",
							"removed": false
						}
					],
					"attemptToConvertTypes": false,
					"convertFieldsToString": false
				}
			},
			"type": "@n8n/n8n-nodes-langchain.toolWorkflow",
			"typeVersion": 2.2,
			"position": [6048, 2192],
			"id": "6b1d81d1-7ade-4d28-8138-86c0078981e9",
			"name": "Call 'InmuebleFinderTool'1"
		},
		{
			"parameters": {
				"operation": "executeQuery",
				"query": "SELECT \n  id,\n  wa_id,\n  context_data,\n  created_at,\n  updated_at\nFROM user_contexts \nWHERE wa_id = '{{ $json.wa_id }}'\nLIMIT 1;",
				"options": {}
			},
			"type": "n8n-nodes-base.postgres",
			"typeVersion": 2.6,
			"position": [2832, 2912],
			"id": "5bb16984-0c9c-496e-9f16-8533d6a71d0b",
			"name": "Get Context with Property",
			"credentials": {
				"postgres": {
					"id": "qyR2OAIR7tUEVcQf",
					"name": "Postgres-neon"
				}
			}
		},
		{
			"parameters": {
				"promptType": "define",
				"text": "={{ $('Prepare for Property Search').item.json.userPrompt }}",
				"options": {
					"systemMessage": "=use the tool **InmuebleFinderTool** w search term: \"{{ $('Prepare for Property Search').item.json.userPrompt }}\".\nYou must respond only with a valid JSON array.\nDo not include Markdown formatting, code fences (`````), explanations, or any text before or after the JSON.\n\nThe JSON must be parsable directly with JSON.parse() in JavaScript.\n\nOutput format required:\n\n[\n  {\n    \"id\": number,\n    \"title\": \"string\",\n    \"slug\": \"string\",\n    \"description\": \"string\",\n    \"ammount\": \"string\",\n    \"colonia\": \"string\",\n    \"municipio\": \"string\",\n    \"estado\": \"string\",\n    \"type\": \"string\",\n    \"operacion\": \"string\",\n    \"estatus\": \"string\",\n    \"rooms\": number,\n    \"baths\": number,\n    \"parkings\": number,\n    \"m2\": \"string\",\n    \"restrictions\": {\n      \"acepta_mascotas\": \"string\",\n      \"acepta_niños\": \"string\",\n      \"acepta_estudiantes\": \"string\",\n      \"acepta_roomies\": \"string\",\n      \"ingresos_minimos\": \"string\",\n      \"precio_poliza\": \"string or null\",\n      \"requiere_comprobantes_ingresos\": boolean,\n      \"observaciones\": \"string\"\n    }\n  }\n]\n\n\n⚠️ Do not wrap your answer inside triple backticks or any markdown block.\n⚠️ Do not include the words “json” or “output” before the array.\n\nJust return the array itself — nothing else."
				}
			},
			"type": "@n8n/n8n-nodes-langchain.agent",
			"typeVersion": 2.2,
			"position": [5888, 2016],
			"id": "25019d18-1d56-4616-a684-babf980acbaa",
			"name": "AI Agent - Get Property",
			"alwaysOutputData": true
		},
		{
			"parameters": {
				"jsCode": "const previousData = $('Prepare for Property Search').item.json;\nlet raw = $json.output;\nlet propertyFound = false;\nlet propertyData = null;\n\ntry {\n  // 🧠 Primer parse: convierte el texto escapado en un objeto/array real\n  const parsed = JSON.parse(raw);\n\n  // ✅ Verificamos que efectivamente sea un array con un objeto\n  if (Array.isArray(parsed) && parsed.length > 0 && parsed[0].slug) {\n    const p = parsed[0];\n    propertyFound = true;\n    propertyData = {\n      id: p.id,\n      slug: p.slug,\n      title: p.title,\n      description: p.description,\n      colonia: p.colonia,\n      municipio: p.municipio,\n      estado: p.estado,\n      operacion: p.operacion,\n      ammount: p.ammount,\n      rooms: p.rooms,\n      baths: p.baths,\n      parkings: p.parkings,\n      m2: p.m2,\n      type: p.type,\n      restrictions: p.restrictions || {},\n    };\n  } else {\n    console.warn('⚠️ No se encontró slug en el resultado parseado.');\n  }\n} catch (err) {\n  console.error('❌ Error parseando propiedad:', err.message);\n  console.log('Contenido RAW:', raw);\n}\n\nreturn {\n  wa_id: previousData.wa_id,\n  nombre: previousData.nombre,\n  telefono: previousData.telefono,\n  personaje: previousData.personaje,\n  context_id: previousData.context_id,\n  propertyFound,\n  propertyData,\n};\n"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [6224, 2016],
			"id": "1157af95-8c4f-4c4b-a818-1f177e6dd113",
			"name": "Parse: Property Information"
		},
		{
			"parameters": {
				"operation": "send",
				"phoneNumberId": "812415788624920",
				"recipientPhoneNumber": "={{ $('Extract Name & Phone').item.json.wa_id }}",
				"textBody": "=Lo siento, no pude identificar correctamente tus datos 😅\n\nRecuerda que me tienes que enviar en un solo mensaje:\n\nNombre Completo\nNúmero de teléfono\n\nSigo al pendiente.",
				"additionalFields": {}
			},
			"type": "n8n-nodes-base.whatsApp",
			"typeVersion": 1.1,
			"position": [4976, 1936],
			"id": "5866ca63-d610-4b6d-b811-3499f3c4a096",
			"name": "Message: Wrong Name & Phone",
			"webhookId": "32e518a9-64a8-4186-a7b0-d0962d11939a",
			"credentials": {
				"whatsAppApi": {
					"id": "DpdLgHZCEJ199330",
					"name": "WhatsApp account"
				}
			}
		},
		{
			"parameters": {
				"operation": "send",
				"phoneNumberId": "812415788624920",
				"recipientPhoneNumber": "={{ $('Extract Name & Phone').item.json.wa_id }}",
				"textBody": "={{ $json.formatted_message }}",
				"additionalFields": {}
			},
			"type": "n8n-nodes-base.whatsApp",
			"typeVersion": 1.1,
			"position": [6880, 2160],
			"id": "acdc448c-0a22-467c-b228-f161b9838f7e",
			"name": "Send message",
			"webhookId": "32e518a9-64a8-4186-a7b0-d0962d11939a",
			"credentials": {
				"whatsAppApi": {
					"id": "DpdLgHZCEJ199330",
					"name": "WhatsApp account"
				}
			}
		},
		{
			"parameters": {
				"operation": "executeQuery",
				"query": "UPDATE user_contexts \nSET \n  context_data = jsonb_set(\n    jsonb_set(\n      context_data,\n      '{status}',\n      '\"awaiting_questionnaire\"'\n    ),\n    '{property_found}',\n    '{{ $json.propertyData.toJsonString() }}'::jsonb\n  ),\n  updated_at = CURRENT_TIMESTAMP\nWHERE wa_id = '{{ $json.wa_id }}'\nRETURNING *;",
				"options": {}
			},
			"type": "n8n-nodes-base.postgres",
			"typeVersion": 2.6,
			"position": [6416, 2016],
			"id": "58352527-edf9-4de6-b9af-7f96309301c8",
			"name": "Update: Costumer Context",
			"credentials": {
				"postgres": {
					"id": "qyR2OAIR7tUEVcQf",
					"name": "Postgres-neon"
				}
			}
		},
		{
			"parameters": {
				"rules": {
					"values": [
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"leftValue": "={{ $json.intent }}",
										"rightValue": "property_search",
										"operator": {
											"type": "string",
											"operation": "equals"
										},
										"id": "cfe22d84-c2c3-4cb0-8a58-84d4a74ed500"
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "Property Search"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "fec70547-de3d-40c9-9d97-a73c74f4910b",
										"leftValue": "={{ $json.intent }}",
										"rightValue": "greeting",
										"operator": {
											"type": "string",
											"operation": "equals",
											"name": "filter.operator.equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "Greeting"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "eb6f2f45-f416-4b8d-b47b-510056a95c53",
										"leftValue": "={{ $json.intent }}",
										"rightValue": "general_inquiry",
										"operator": {
											"type": "string",
											"operation": "equals",
											"name": "filter.operator.equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "General Inquiry"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "ff0ba65d-04e2-4f17-93f6-e0635cdb1ec7",
										"leftValue": "={{ $json.intent }}",
										"rightValue": "confirmation",
										"operator": {
											"type": "string",
											"operation": "equals",
											"name": "filter.operator.equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "Confirmation"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "eae60bfa-ae3e-497b-ad36-53db5e479587",
										"leftValue": "={{ $json.intent }}",
										"rightValue": "negotiation",
										"operator": {
											"type": "string",
											"operation": "equals",
											"name": "filter.operator.equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "Negotiation"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "7c3fbc8e-f957-4100-bc88-06410ce8dc75",
										"leftValue": "={{ $json.intent }}",
										"rightValue": "out_of_scope",
										"operator": {
											"type": "string",
											"operation": "equals",
											"name": "filter.operator.equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "Out of scope"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.switch",
			"typeVersion": 3.3,
			"position": [2160, 2384],
			"id": "3c951812-b379-4fd5-a149-b60bb2873c98",
			"name": "Switch: Intent"
		},
		{
			"parameters": {
				"conditions": {
					"options": {
						"caseSensitive": true,
						"leftValue": "",
						"typeValidation": "strict",
						"version": 2
					},
					"conditions": [
						{
							"id": "7335f5b8-de3b-423a-8519-36394cc79b76",
							"leftValue": "={{ $json.status }}",
							"rightValue": "awaiting_questionnaire",
							"operator": {
								"type": "string",
								"operation": "equals"
							}
						}
					],
					"combinator": "and"
				},
				"options": {}
			},
			"type": "n8n-nodes-base.if",
			"typeVersion": 2.2,
			"position": [3744, 2960],
			"id": "50249aad-a98b-40ae-a200-83d0cc82c193",
			"name": "If: Is Awaiting Questionaire"
		},
		{
			"parameters": {
				"operation": "executeQuery",
				"query": "UPDATE user_contexts \nSET \n  context_data = jsonb_set(\n    jsonb_set(\n      context_data,\n      '{questionnaire}',\n      '{{ $json.questions.toJsonString() }}'::jsonb\n    ),\n    '{current_question_index}',\n    '0'::jsonb\n  ),\n  updated_at = CURRENT_TIMESTAMP\nWHERE wa_id = '{{ $json.wa_id }}'\nRETURNING *;",
				"options": {}
			},
			"type": "n8n-nodes-base.postgres",
			"typeVersion": 2.6,
			"position": [4448, 2944],
			"id": "8e44203c-f2bd-4934-8ffa-2c2b897bc8a9",
			"name": "Execute a SQL query1",
			"credentials": {
				"postgres": {
					"id": "qyR2OAIR7tUEVcQf",
					"name": "Postgres-neon"
				}
			}
		},
		{
			"parameters": {
				"operation": "send",
				"phoneNumberId": "812415788624920",
				"recipientPhoneNumber": "={{ $json.wa_id }}",
				"textBody": "=¡Perfecto, {{ $json.context_data.nombre.split(' ')[0] }}! 😊\n\n{{ $json.context_data.questionnaire[0].question }}",
				"additionalFields": {}
			},
			"type": "n8n-nodes-base.whatsApp",
			"typeVersion": 1.1,
			"position": [4656, 2944],
			"id": "184940fc-f3cc-4281-8a04-6149df1703c1",
			"name": "Send message5",
			"webhookId": "32e518a9-64a8-4186-a7b0-d0962d11939a",
			"credentials": {
				"whatsAppApi": {
					"id": "DpdLgHZCEJ199330",
					"name": "WhatsApp account"
				}
			}
		},
		{
			"parameters": {
				"jsCode": "const postgresResult = $json;\nconst previousData = $('Get: Message Info').item.json;\n\nconst contextData = postgresResult.context_data || {};\nconst currentStatus = contextData.status || \"new\";\n\nconst isInQuestionnaire = currentStatus === \"awaiting_questionnaire\" && \n                          contextData.questionnaire && \n                          contextData.questionnaire.length > 0;\n\nconst currentIndex = contextData.current_question_index || 0;\nconst totalQuestions = contextData.questionnaire?.length || 0;\n\nreturn {\n  ...previousData,\n  context_id: postgresResult.id,\n  personaje: contextData.personaje || \"\",\n  nombre: contextData.nombre || \"\",\n  currentStatus: currentStatus,\n  isInQuestionnaire: isInQuestionnaire,\n  currentQuestionIndex: currentIndex,\n  totalQuestions: totalQuestions,\n  questionnaire: contextData.questionnaire || [],\n  answers: contextData.answers || {}\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [832, 1808],
			"id": "53592126-cc4d-4720-b213-7795dfe6f2bb",
			"name": "Check Questionnaire Status"
		},
		{
			"parameters": {
				"rules": {
					"values": [
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"leftValue": "={{ $json.isInQuestionnaire }}",
										"rightValue": "",
										"operator": {
											"type": "boolean",
											"operation": "true",
											"singleValue": true
										},
										"id": "40525fe2-fea0-4c92-b128-dc2dc73ebec1"
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "TRUE"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "55c5ed97-3768-4d9d-9cb8-7e5dd20346af",
										"leftValue": "={{ $json.isInQuestionnaire }}",
										"rightValue": "",
										"operator": {
											"type": "boolean",
											"operation": "false",
											"singleValue": true
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "FALSE"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.switch",
			"typeVersion": 3.3,
			"position": [5008, 1568],
			"id": "db694a67-b430-43be-b637-76eecf337c32",
			"name": "Is In Questionnaire"
		},
		{
			"parameters": {
				"jsCode": "const userResponse = $json.userPrompt;\nconst currentIndex = $json.currentQuestionIndex;\nconst questionnaire = $json.questionnaire;\nconst previousAnswers = $json.answers || {};\n\n// Obtener pregunta actual\nconst currentQuestion = questionnaire[currentIndex];\n\n// Guardar respuesta\nconst answers = {\n  ...previousAnswers,\n  [currentQuestion.field]: userResponse\n};\n\n// Verificar si quedan más preguntas\nconst nextIndex = currentIndex + 1;\nconst hasMoreQuestions = nextIndex < questionnaire.length;\n\nreturn {\n  wa_id: $json.wa_id,\n  nombre: $json.nombre,\n  personaje: $json.personaje,\n  context_id: $json.context_id,\n  currentQuestionField: currentQuestion.field,\n  currentAnswer: userResponse,\n  answers: answers,\n  nextQuestionIndex: nextIndex,\n  hasMoreQuestions: hasMoreQuestions,\n  nextQuestion: hasMoreQuestions ? questionnaire[nextIndex] : null,\n  totalQuestions: questionnaire.length,\n  questionnaire: questionnaire\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [5328, 1552],
			"id": "d42bdff0-79ae-42b7-ac29-69e7675a7920",
			"name": "Process Answer & Next Question",
			"alwaysOutputData": false
		},
		{
			"parameters": {
				"operation": "executeQuery",
				"query": "UPDATE user_contexts \nSET \n  context_data = jsonb_set(\n    jsonb_set(\n      context_data,\n      '{answers}',\n      '{{ $json.answers.toJsonString() }}'::jsonb\n    ),\n    '{current_question_index}',\n    '{{ $json.nextQuestionIndex }}'::jsonb\n  ),\n  updated_at = CURRENT_TIMESTAMP\nWHERE wa_id = '{{ $json.wa_id }}'\nRETURNING *;",
				"options": {}
			},
			"type": "n8n-nodes-base.postgres",
			"typeVersion": 2.6,
			"position": [4992, 1312],
			"id": "52959e21-0e70-438f-a780-ce71e0c106ca",
			"name": "Update: Context questions",
			"credentials": {
				"postgres": {
					"id": "qyR2OAIR7tUEVcQf",
					"name": "Postgres-neon"
				}
			}
		},
		{
			"parameters": {
				"rules": {
					"values": [
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"leftValue": "={{ $json.hasMoreQuestions }}",
										"rightValue": "",
										"operator": {
											"type": "boolean",
											"operation": "true",
											"singleValue": true
										},
										"id": "9d1e7db8-76f4-4019-8169-51090760d627"
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "TRUE"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "876e9470-34b5-46d9-bdef-92f8de3c819f",
										"leftValue": "={{ $json.hasMoreQuestions }}",
										"rightValue": "",
										"operator": {
											"type": "boolean",
											"operation": "false",
											"singleValue": true
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "FALSE"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.switch",
			"typeVersion": 3.3,
			"position": [5536, 1552],
			"id": "da946df8-0024-4953-a45d-5a54faf76c82",
			"name": "Has More Questions?"
		},
		{
			"parameters": {
				"operation": "send",
				"phoneNumberId": "812415788624920",
				"recipientPhoneNumber": "={{ $('Extract Name & Phone').item.json.wa_id }}",
				"textBody": "=Gracias {{ $json.nombre.split(' ')[0] }}, dame por favor un momento, estoy trabajando tu solicitud",
				"additionalFields": {}
			},
			"type": "n8n-nodes-base.whatsApp",
			"typeVersion": 1.1,
			"position": [5648, 2016],
			"id": "dafd3389-3058-4fd7-aedc-b945f8295b1f",
			"name": "Send message4",
			"webhookId": "32e518a9-64a8-4186-a7b0-d0962d11939a",
			"credentials": {
				"whatsAppApi": {
					"id": "DpdLgHZCEJ199330",
					"name": "WhatsApp account"
				}
			}
		},
		{
			"parameters": {
				"operation": "send",
				"phoneNumberId": "812415788624920",
				"recipientPhoneNumber": "={{ $json.wa_id }}",
				"textBody": "={{ $json.nextQuestion.question }}",
				"additionalFields": {}
			},
			"type": "n8n-nodes-base.whatsApp",
			"typeVersion": 1.1,
			"position": [5264, 1312],
			"id": "07f38c62-c4f5-47be-978a-5406da44e88a",
			"name": "Send message6",
			"webhookId": "32e518a9-64a8-4186-a7b0-d0962d11939a",
			"credentials": {
				"whatsAppApi": {
					"id": "DpdLgHZCEJ199330",
					"name": "WhatsApp account"
				}
			}
		},
		{
			"parameters": {
				"rules": {
					"values": [
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"leftValue": "={{ $json.isApproved }}",
										"rightValue": "",
										"operator": {
											"type": "boolean",
											"operation": "true",
											"singleValue": true
										},
										"id": "d4698e59-8af4-4d53-ae63-9b26b2ed4d2e"
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "Aprobado"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "2eebac30-5c99-4607-bf96-11199bf84bd6",
										"leftValue": "={{ $json.isApproved }}",
										"rightValue": "",
										"operator": {
											"type": "boolean",
											"operation": "false",
											"singleValue": true
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "Rechazado"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.switch",
			"typeVersion": 3.3,
			"position": [6256, 1568],
			"id": "7975517d-558b-43ec-9ea0-716f71d01ca8",
			"name": "Switch1"
		},
		{
			"parameters": {
				"operation": "executeQuery",
				"query": "UPDATE user_contexts \nSET \n  context_data = jsonb_set(\n    jsonb_set(\n      jsonb_set(\n        context_data,\n        '{status}',\n        '\"approved\"'::jsonb\n      ),\n      '{rechazo_previo}',\n      'false'::jsonb\n    ),\n    '{approved_at}',\n    to_jsonb(CURRENT_TIMESTAMP)\n  ),\n  updated_at = CURRENT_TIMESTAMP\nWHERE wa_id = '{{ $json.wa_id }}'\nRETURNING *;",
				"options": {}
			},
			"type": "n8n-nodes-base.postgres",
			"typeVersion": 2.6,
			"position": [6512, 1360],
			"id": "72a10653-f7b5-4c12-8b86-e6930391fcbb",
			"name": "Execute a SQL query2",
			"credentials": {
				"postgres": {
					"id": "qyR2OAIR7tUEVcQf",
					"name": "Postgres-neon"
				}
			}
		},
		{
			"parameters": {
				"operation": "executeQuery",
				"query": "UPDATE user_contexts \nSET \n  context_data = jsonb_set(\n    jsonb_set(\n      jsonb_set(\n        context_data,\n        '{status}',\n        '\"rejected\"'::jsonb\n      ),\n      '{rechazo_previo}',\n      'true'::jsonb\n    ),\n    '{motivo_rechazo}',\n    '{{ $json.rejectionReasons.toJsonString() }}'::jsonb\n  ),\n  updated_at = CURRENT_TIMESTAMP\nWHERE wa_id = '{{ $json.wa_id }}'\nRETURNING *;",
				"options": {}
			},
			"type": "n8n-nodes-base.postgres",
			"typeVersion": 2.6,
			"position": [6496, 1584],
			"id": "3577086d-a4e5-4e78-b32a-57003cb177b7",
			"name": "Execute a SQL query3",
			"credentials": {
				"postgres": {
					"id": "qyR2OAIR7tUEVcQf",
					"name": "Postgres-neon"
				}
			}
		},
		{
			"parameters": {
				"operation": "send",
				"phoneNumberId": "812415788624920",
				"recipientPhoneNumber": "={{ $json.wa_id }}",
				"textBody": "=¡Excelentes noticias, {{ $json.nombre.split(' ')[0] }}! 🎉\n\nTu perfil cumple con todos los requisitos del arrendador ✅. \n\nNuestro equipo se pondrá en contacto contigo en las próximas 24 horas para coordinar la visita al inmueble.\n\n¡Gracias por tu interés! 😊",
				"additionalFields": {}
			},
			"type": "n8n-nodes-base.whatsApp",
			"typeVersion": 1.1,
			"position": [6512, 1152],
			"id": "4cf3c6f0-9ba2-4d7b-8091-5c603538d546",
			"name": "Message: Aprobado",
			"webhookId": "32e518a9-64a8-4186-a7b0-d0962d11939a",
			"credentials": {
				"whatsAppApi": {
					"id": "DpdLgHZCEJ199330",
					"name": "WhatsApp account"
				}
			}
		},
		{
			"parameters": {
				"operation": "send",
				"phoneNumberId": "812415788624920",
				"recipientPhoneNumber": "={{ $json.wa_id }}",
				"textBody": "=Gracias por tu tiempo, {{ $json.context_data.nombre.split(' ')[0] }}.\n\nLamentablemente, en este momento no cumples con todos los requisitos establecidos por el arrendador para este inmueble en particular.\n\nSi tienes alguna duda, con gusto puedes contactarnos.\n\n¡Te deseamos mucho éxito en tu búsqueda! 🏡",
				"additionalFields": {}
			},
			"type": "n8n-nodes-base.whatsApp",
			"typeVersion": 1.1,
			"position": [6704, 1584],
			"id": "6dbc2cbd-6554-4a09-9686-ab625ad6eb21",
			"name": "Message: Rejected",
			"webhookId": "32e518a9-64a8-4186-a7b0-d0962d11939a",
			"credentials": {
				"whatsAppApi": {
					"id": "DpdLgHZCEJ199330",
					"name": "WhatsApp account"
				}
			}
		},
		{
			"parameters": {
				"promptType": "define",
				"text": "={{ $json.userPrompt }}",
				"options": {
					"systemMessage": "=Tu función será rechazar al contacto, tienes que indicarle que previamente nos contactó por el inmueble ubicado en {{ $json.inmuebles_consultados.colonia }} con un precio de renta de {{ $json.inmuebles_consultados.ammount }}, debes analizar por que se realizó el rechazo con la información que tienes en {{ $json.motivo_rechazo }}.\nSi la persona insiste, tienes que decirle amablemente que no puedes cambiar una decisión tomada previamente."
				}
			},
			"type": "@n8n/n8n-nodes-langchain.agent",
			"typeVersion": 2.2,
			"position": [4448, 2368],
			"id": "9cabd23c-adee-4368-85df-154bf485dc40",
			"name": "AI Agent"
		},
		{
			"parameters": {
				"sessionIdType": "customKey",
				"sessionKey": "={{ $('Actual Status').item.json.wa_id }}"
			},
			"type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
			"typeVersion": 1.3,
			"position": [4656, 2576],
			"id": "897b462d-06cd-4daa-9f81-94fb275d2216",
			"name": "Simple Memory"
		},
		{
			"parameters": {
				"operation": "send",
				"phoneNumberId": "812415788624920",
				"recipientPhoneNumber": "={{ $('Actual Status').item.json.wa_id }}",
				"textBody": "={{ $json.output }}",
				"additionalFields": {}
			},
			"type": "n8n-nodes-base.whatsApp",
			"typeVersion": 1.1,
			"position": [4768, 2368],
			"id": "70ed709d-6646-4d33-9253-c747686405c2",
			"name": "Message: Reject",
			"webhookId": "32e518a9-64a8-4186-a7b0-d0962d11939a",
			"credentials": {
				"whatsAppApi": {
					"id": "DpdLgHZCEJ199330",
					"name": "WhatsApp account"
				}
			}
		},
		{
			"parameters": {
				"workflowId": {
					"__rl": true,
					"value": "fF9WMy6NlCBRnQSn",
					"mode": "list",
					"cachedResultUrl": "/workflow/fF9WMy6NlCBRnQSn",
					"cachedResultName": "ContactoFinderTool"
				},
				"workflowInputs": {
					"mappingMode": "defineBelow",
					"value": {
						"telefono": "={{ $json.contacts[0].wa_id }}"
					},
					"matchingColumns": [],
					"schema": [
						{
							"id": "telefono",
							"displayName": "telefono",
							"required": false,
							"defaultMatch": false,
							"display": true,
							"canBeUsedToMatch": true,
							"type": "string",
							"removed": false
						}
					],
					"attemptToConvertTypes": false,
					"convertFieldsToString": false
				}
			},
			"type": "@n8n/n8n-nodes-langchain.toolWorkflow",
			"typeVersion": 2.2,
			"position": [2608, 1088],
			"id": "d8741698-0423-407d-8030-a2ae9b8b7501",
			"name": "Call 'ContactoFinderTool'"
		},
		{
			"parameters": {
				"jsCode": "const geminiResponse = $json;\nconst whatsappData = $('WhatsApp Trigger').item.json;\n\nlet contactExists = false;\nlet contactData = null;\nlet contactId = null;\nlet hasRejectionHistory = false;\nlet rejectionSummary = \"\";\n\ntry {\n  const textContent = geminiResponse.content.parts[0].text;\n  \n  // Verificar si dice \"Contact not found\"\n  if (textContent.toLowerCase().includes('contact not found') || \n      textContent.toLowerCase().includes('not found')) {\n    contactExists = false;\n  } else {\n    // Limpiar posibles markdown (por si acaso)\n    let cleanedText = textContent.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    \n    const parsedData = JSON.parse(cleanedText);\n    \n    contactExists = true;\n    contactData = parsedData;\n    contactId = parsedData.phone;\n    \n    // Usar el campo isRejected que viene del JSON\n    hasRejectionHistory = parsedData.isRejected === true;\n    rejectionSummary = parsedData.resumen_interacciones || \"\";\n  }\n} catch (error) {\n  console.log('Error parsing contact response:', error.message);\n  console.log('Raw text:', geminiResponse.content.parts[0].text);\n  contactExists = false;\n}\n\nreturn {\n  wa_id: whatsappData.contacts[0].wa_id,\n  userMessage: whatsappData.messages[0].text.body,\n  contactExists: contactExists,\n  contactId: contactId,\n  contactData: contactData,\n  hasRejectionHistory: hasRejectionHistory,\n  rejectionSummary: rejectionSummary\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [2880, 976],
			"id": "f7b75dba-bb79-444c-9fd6-e686a210accb",
			"name": "Contact Actions"
		},
		{
			"parameters": {
				"jsCode": "const contactData = $('Contact Actions').item.json;\nconst whatsappData = $('WhatsApp Trigger').item.json;\n\n// Preparar datos en el formato que espera el Switch original\nreturn {\n  messages: whatsappData.messages,\n  contacts: whatsappData.contacts,\n  // Datos adicionales del contacto\n  _contactExists: contactData.contactExists,\n  _contactId: contactData.contactId,\n  _contactData: contactData.contactData,\n  _hasRejectionHistory: contactData.hasRejectionHistory\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [3824, 1168],
			"id": "5dc5c7b3-d543-4b15-a4fd-de37d642f0be",
			"name": "Prepare Message Data"
		},
		{
			"parameters": {
				"modelId": {
					"__rl": true,
					"value": "models/gemini-2.5-flash",
					"mode": "list",
					"cachedResultName": "models/gemini-2.5-flash"
				},
				"messages": {
					"values": [
						{
							"content": "=Tu única función es usar ContactFinderTool para buscar si el contacto {{ $('Get: Message Info').item.json.wa_id }} existe en la base de datos y analizar si tiene rechazo previo.\n\nCASO 1: Si NO encuentras el contacto\nResponde EXACTAMENTE así (texto plano):\nContact not found\n\nCASO 2: Si SÍ encuentras el contacto\nAnaliza CUIDADOSAMENTE el campo \"resumen_interacciones\" y \"comentario\" de las interacciones.\n\nMarca isRejected como TRUE si encuentras CUALQUIERA de estas frases o conceptos:\n- \"no cumple\"\n- \"no cumplen\"\n- \"rechazo\" / \"rechazado\" / \"rechazada\"\n- \"no acepta\" / \"no aceptan\"\n- \"no puede\" / \"no pueden\"\n- \"desafortunadamente no\"\n- \"lamentablemente no\"\n- \"no tiene\" (cuando se refiere a requisitos)\n- \"falta de\" / \"sin\" (comprobantes, documentos, etc.)\n- \"basura de contacto\"\n- \"perdida de tiempo\"\n- \"muy pendejo\"\n- Cualquier lenguaje negativo sobre el contacto o sus requisitos\n\nMarca isRejected como FALSE SOLO si:\n- El resumen describe interés genuino sin mencionar rechazo\n- No hay indicios de incumplimiento de requisitos\n- Es un seguimiento normal\n\nResponde con un JSON válido:\n\n{\n  \"id\": número_id_del_contacto,\n  \"name\": \"nombre del contacto\",\n  \"phone\": \"teléfono\",\n  \"total_interactions\": número,\n  \"resumen_interacciones\": \"texto completo del resumen\",\n  \"isRejected\": true o false,\n  \"interactions\": [array de interacciones]\n}\n\nCRÍTICO:\n- El campo \"id\" es OBLIGATORIO (número)\n- isRejected debe ser TRUE si hay CUALQUIER indicio de rechazo\n- En caso de duda, marca como TRUE (mejor prevenir)\n- NO agregues markdown (```json)\n- NO agregues explicaciones adicionales"
						}
					]
				},
				"options": {}
			},
			"type": "@n8n/n8n-nodes-langchain.googleGemini",
			"typeVersion": 1,
			"position": [2400, 928],
			"id": "565993b5-23d6-4fb9-bf6d-4681550bbd55",
			"name": "Contact Finder",
			"alwaysOutputData": true,
			"credentials": {
				"googlePalmApi": {
					"id": "3Qw3858fHslDYr4D",
					"name": "Gemini - alfgow"
				}
			}
		},
		{
			"parameters": {
				"model": {
					"__rl": true,
					"value": "gpt-5-nano",
					"mode": "list",
					"cachedResultName": "gpt-5-nano"
				},
				"options": {}
			},
			"type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
			"typeVersion": 1.2,
			"position": [5840, 2208],
			"id": "959dc7a7-c101-4896-a864-7353d7410f45",
			"name": "OpenAI Chat Model1",
			"credentials": {
				"openAiApi": {
					"id": "g8OPzRDvvB6YO7mf",
					"name": "OpenAi account"
				}
			}
		},
		{
			"parameters": {
				"model": {
					"__rl": true,
					"value": "gpt-5-nano",
					"mode": "list",
					"cachedResultName": "gpt-5-nano"
				},
				"options": {}
			},
			"type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
			"typeVersion": 1.2,
			"position": [4448, 2576],
			"id": "ddc13aef-4271-4d94-90fd-fa834974db17",
			"name": "OpenAI Chat Model2",
			"credentials": {
				"openAiApi": {
					"id": "g8OPzRDvvB6YO7mf",
					"name": "OpenAi account"
				}
			}
		},
		{
			"parameters": {
				"rules": {
					"values": [
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"leftValue": "={{ $json.isAwaitingData }}",
										"rightValue": "",
										"operator": {
											"type": "boolean",
											"operation": "true",
											"singleValue": true
										},
										"id": "911b08be-9c60-4621-ac3e-8c0316f75792"
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "Is Awaiting"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "da44f585-3b7c-4a21-a1e5-b4ed16282b49",
										"leftValue": "={{ $json.isAwaitingData }}",
										"rightValue": "",
										"operator": {
											"type": "boolean",
											"operation": "false",
											"singleValue": true
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "NOT"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.switch",
			"typeVersion": 3.3,
			"position": [4272, 1840],
			"id": "f3f18643-f565-4ca4-839b-b835a1a82d29",
			"name": "Switch: is Awaiting?"
		},
		{
			"parameters": {
				"method": "POST",
				"url": "https://vg.g210512.com/api/v1/contactos",
				"authentication": "genericCredentialType",
				"genericAuthType": "httpHeaderAuth",
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={\n  \"nombre\": \"🤖 - {{ $('Extract Name & Phone').item.json.nombre_extracted }}\",\n  \"telefono\": \"{{ $('Extract Name & Phone').item.json.telefono_extracted }}\",\n  \"estado\": \"nuevo\",\n  \"fuente\": \"WhatsApp Bot\"\n}",
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [5552, 1808],
			"id": "f711fd20-af66-4fbb-abe2-b0da3f9581b8",
			"name": "API: Set new costumer",
			"retryOnFail": true,
			"credentials": {
				"httpHeaderAuth": {
					"id": "rzmCtJN8Vtwv6AO3",
					"name": "API Key Inmuebles"
				}
			}
		},
		{
			"parameters": {
				"method": "POST",
				"url": "=https://vg.g210512.com/api/v1/contactos/{{ $json.context_data.api_contact_id }}/intereses",
				"authentication": "genericCredentialType",
				"genericAuthType": "httpHeaderAuth",
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={\n  \"inmueble_id\": {{ $('Parse: Property Information').item.json.propertyData.id }}\n}",
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [6672, 1952],
			"id": "dc23b7ef-1d6d-4937-9b12-b7974bcb5490",
			"name": "Add Property Interest",
			"credentials": {
				"httpHeaderAuth": {
					"id": "rzmCtJN8Vtwv6AO3",
					"name": "API Key Inmuebles"
				}
			}
		},
		{
			"parameters": {
				"operation": "executeQuery",
				"query": "UPDATE user_contexts \nSET \n  context_data = jsonb_set(\n    context_data,\n    '{api_contact_id}',\n    '{{ $json.data.id }}'::jsonb\n  ),\n  updated_at = CURRENT_TIMESTAMP\nWHERE wa_id = '{{ $('Get Context Awating Data').item.json.wa_id }}'\nRETURNING *;",
				"options": {}
			},
			"type": "n8n-nodes-base.postgres",
			"typeVersion": 2.6,
			"position": [5792, 1808],
			"id": "48633257-a513-4dd2-9079-24bbfdcb778f",
			"name": "Update API Contact ID",
			"credentials": {
				"postgres": {
					"id": "qyR2OAIR7tUEVcQf",
					"name": "Postgres-neon"
				}
			}
		},
		{
			"parameters": {
				"modelId": {
					"__rl": true,
					"value": "models/gemini-2.5-flash",
					"mode": "list",
					"cachedResultName": "models/gemini-2.5-flash"
				},
				"messages": {
					"values": [{}]
				},
				"options": {
					"systemMessage": "=Eres un validador de respuestas para un cuestionario de renta inmobiliaria.\n\nTienes el cuestionario completo con todas las preguntas y respuestas del usuario.\n\nCUESTIONARIO:\n{{ $json.questionnaire.toJsonString() }}\n\nRESPUESTAS DEL USUARIO:\n{{ $json.answers.toJsonString() }}\n\nREGLAS DE VALIDACIÓN:\n\nPara preguntas tipo \"boolean\":\n- Si expected = false: el usuario debe decir \"no\", \"ninguno\", \"no tengo\"\n  - Si dice \"sí\", \"tengo\", \"claro\", números positivos → NO CUMPLE\n  - Si es evasivo \"quién sabe\", \"qué te importa\" → NO CUMPLE (asumir que sí tiene)\n\n- Si expected = true: el usuario debe decir \"sí\", \"tengo\", \"claro\"\n  - Si dice \"no\", \"ninguno\" → NO CUMPLE\n\nPara preguntas tipo \"number_minimum\":\n- Extrae el número de la respuesta del usuario\n- Compara si es >= al expected\n- Ejemplos: \"gano 32000\" → 32000, \"35 mil\" → 35000\n\nRESPONDE CON UN JSON ARRAY con esta estructura:\n\n[\n  {\n    \"campo\": \"mascotas\",\n    \"pregunta\": \"¿Tienes mascotas?\",\n    \"respuesta_usuario\": \"Si tengo un westie\",\n    \"expected\": false,\n    \"valor_interpretado\": true,\n    \"cumple\": false,\n    \"razon\": \"Se esperaba NO tener mascotas, pero el usuario tiene un perro\"\n  },\n  {\n    \"campo\": \"ingresos\",\n    \"pregunta\": \"¿Cuál es tu ingreso mensual?\",\n    \"respuesta_usuario\": \"Gano 32000\",\n    \"expected\": 30000,\n    \"valor_interpretado\": 32000,\n    \"cumple\": true,\n    \"razon\": \"Ingresos de $32,000 superan el mínimo de $30,000\"\n  }\n]\n\nIMPORTANTE:\n- NO uses markdown (```json)\n- Analiza TODOS los campos del cuestionario\n- Sé estricto con los requisitos"
				}
			},
			"type": "@n8n/n8n-nodes-langchain.googleGemini",
			"typeVersion": 1,
			"position": [5744, 1568],
			"id": "35373485-2a0c-47b6-b221-e6eed8ecbbe3",
			"name": "Message a model1",
			"credentials": {
				"googlePalmApi": {
					"id": "3Qw3858fHslDYr4D",
					"name": "Gemini - alfgow"
				}
			}
		},
		{
			"parameters": {
				"jsCode": "const isAudio = $input.item.json.messages ? false : true;\n\nif (isAudio) {\n  const wa_id = $('WhatsApp Trigger').item.json.contacts[0].wa_id;\n  const phone = wa_id.replace(/^521/, ''); // elimina el prefijo 521 solo si está al inicio\n\n  return {\n    userPrompt: $json.content.parts[0].text,\n    type: \"audio\",\n    ai: \"\",\n    wa_id,\n    phone\n  };\n} else {\n  const wa_id = $json.contacts[0].wa_id;\n  const phone = wa_id.replace(/^521/, '');\n\n  return {\n    userPrompt: $json.messages[0].text.body,\n    type: $json.messages[0].type,\n    ai: \"\",\n    wa_id,\n    phone\n  };\n}\n"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [496, 640],
			"id": "f7326e1f-fc70-4025-8186-e74ec2389550",
			"name": "Get: Message Info"
		},
		{
			"parameters": {
				"rules": {
					"values": [
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"leftValue": "={{ $json.hasRejectionHistory }}",
										"rightValue": "",
										"operator": {
											"type": "boolean",
											"operation": "true",
											"singleValue": true
										},
										"id": "9cd9e84b-29b5-4b88-a16c-b4ab8f71d3d1"
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "Rejection"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "6b1f1f79-9885-4085-b360-d943b9948656",
										"leftValue": "={{ $json.contactExists }}",
										"rightValue": "",
										"operator": {
											"type": "boolean",
											"operation": "true",
											"singleValue": true
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "Exists"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "dce569ae-ec35-4393-8d21-b231b955d11a",
										"leftValue": "={{ $json.contactExists }}",
										"rightValue": "",
										"operator": {
											"type": "boolean",
											"operation": "false",
											"singleValue": true
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "New"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.switch",
			"typeVersion": 3.3,
			"position": [3248, 1120],
			"id": "ff6935d8-8aab-4b60-a5ae-119f34255a33",
			"name": "Actual status of contact"
		},
		{
			"parameters": {
				"jsCode": "const postgresResult = $json;\nconst previousData = $('Get: Message Info').item.json;\n\n// Si hay un ID en Postgres, significa que ya tenemos contexto\nconst hasContext = postgresResult && postgresResult.id;\n\nreturn {\n  ...previousData,\n  ...postgresResult, \n  hasPostgresContext: hasContext,  // ← Este campo faltaba en el output\n  postgresContextId: postgresResult.id || null\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [1104, 432],
			"id": "13b0b414-6be0-44ae-a481-9258d22b965d",
			"name": "Has Postgres Context?"
		},
		{
			"parameters": {
				"rules": {
					"values": [
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"leftValue": "={{ $json.postgresContextId }}",
										"rightValue": "",
										"operator": {
											"type": "number",
											"operation": "notExists",
											"singleValue": true
										},
										"id": "7200cba5-e9be-48ed-8051-a6193620c86a"
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "Need Check"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "c77aa4d5-afc8-4b56-943b-1d8bc9f762f8",
										"leftValue": "={{ $json.postgresContextId }}",
										"rightValue": "",
										"operator": {
											"type": "number",
											"operation": "exists",
											"singleValue": true
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "Skip Check"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.switch",
			"typeVersion": 3.3,
			"position": [1920, 944],
			"id": "43573bd1-1303-40fd-a3d5-2d6b2efbf2dc",
			"name": "Need Contact Check?"
		},
		{
			"parameters": {
				"jsCode": "const geminiResponse = $json.content.parts[0].text;\nconst previousData = $('Has More Questions?').item.json;\n\n// Parsear el JSON que viene como texto\nlet validationResults = [];\ntry {\n  validationResults = JSON.parse(geminiResponse);\n} catch (error) {\n  console.error('Error parseando validación:', error);\n}\n\n// Determinar si está aprobado\nconst isApproved = validationResults.every(item => item.cumple === true);\nconst rejectionReasons = validationResults\n  .filter(item => !item.cumple)\n  .map(item => item.razon);\n\nreturn {\n  wa_id: previousData.wa_id,\n  nombre: previousData.nombre,\n  personaje: previousData.personaje,\n  context_id: previousData.context_id,\n  isApproved: isApproved,\n  rejectionReasons: rejectionReasons,\n  validationResults: validationResults,\n  answers: previousData.answers\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [6064, 1568],
			"id": "9d9f9d48-6926-4b43-97d3-2c3567454ec6",
			"name": "Parse Gemini Validation"
		},
		{
			"parameters": {
				"modelId": {
					"__rl": true,
					"value": "models/gemini-2.5-flash",
					"mode": "list",
					"cachedResultName": "models/gemini-2.5-flash"
				},
				"messages": {
					"values": [{}]
				},
				"options": {
					"systemMessage": "=Genera un resumen ejecutivo de la interacción para el equipo de la inmobiliaria.\n\nDATOS DE LA INTERACCIÓN:\n{{ $('Execute a SQL query2').item.json.context_data.toJsonString() }}\n\nFORMATO REQUERIDO:\n- APROBADO - 🎉\n\n**Contacto:** {{ $('Execute a SQL query2').item.json.context_data.nombre }}\n**Teléfono:** {{ $('Execute a SQL query2').item.json.context_data.telefono }}\n**Personaje atendió:** {{ $('Execute a SQL query2').item.json.context_data.personaje }}\n\n**📍 Propiedad de Interés:**\n- {{ $('Execute a SQL query2').item.json.context_data.property_found.title }}\n- {{ $('Execute a SQL query2').item.json.context_data.property_found.colonia }}, {{ $('Execute a SQL query2').item.json.context_data.property_found.municipio }}\n- Renta: {{ $('Execute a SQL query2').item.json.context_data.property_found.ammount }}\n\n**✅ Validación del Perfil:**\nEl contacto cumplió con TODOS los requisitos:\n- Sin mascotas ✅\n- Sin niños ✅\n- No es estudiante sin tutor ✅\n- No vivirá con roomies ✅\n- Ingresos comprobables: ${{ $('Execute a SQL query2').item.json.context_data.answers.ingresos }} (superior al mínimo de ${{ $('Execute a SQL query2').item.json.context_data.property_found.restrictions.ingresos_minimos }}) ✅\n- Cuenta con comprobantes válidos ✅\n\n**📋 Próximos Pasos:**\n1. Contactar al cliente en las próximas 24 horas\n2. Coordinar visita al inmueble\n3. Preparar documentación requerida\n\n**Estado:** APROBADO para continuar proceso de renta 🏡"
				}
			},
			"type": "@n8n/n8n-nodes-langchain.googleGemini",
			"typeVersion": 1,
			"position": [6688, 1360],
			"id": "d5a58411-b45f-4ca6-be0f-50246743ba8e",
			"name": "Generate Resume",
			"credentials": {
				"googlePalmApi": {
					"id": "3Qw3858fHslDYr4D",
					"name": "Gemini - alfgow"
				}
			}
		},
		{
			"parameters": {
				"jsCode": "const aiResponse = $json.content.parts[0].text;\nconst contextData = $('Execute a SQL query2').first().json.context_data;\n\nreturn {\n  contactId: contextData.api_contact_id,\n  body: {\n    comentario: aiResponse,\n    created_at: new Date().toISOString()\n  }\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [7008, 1360],
			"id": "d16dcc75-9866-4101-9c2c-a17fd8e3c6c2",
			"name": "Parse Resume"
		},
		{
			"parameters": {
				"method": "POST",
				"url": "=https://vg.g210512.com/api/v1/contactos/{{ $json.contactId }}/comentarios",
				"authentication": "genericCredentialType",
				"genericAuthType": "httpHeaderAuth",
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={\n  \"comentario\": {{ $json.body.comentario.toJsonString() }}\n}",
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [7232, 1360],
			"id": "ef63966b-4ace-406b-a4bc-f0b0bb39cc01",
			"name": "HTTP Request",
			"credentials": {
				"httpHeaderAuth": {
					"id": "rzmCtJN8Vtwv6AO3",
					"name": "API Key Inmuebles"
				}
			}
		},
		{
			"parameters": {
				"operation": "executeQuery",
				"query": "SELECT \n  id,\n  wa_id,\n  context_data,\n  created_at,\n  updated_at\nFROM user_contexts \nWHERE wa_id = '{{ $json.wa_id }}'\nLIMIT 1;",
				"options": {}
			},
			"type": "n8n-nodes-base.postgres",
			"typeVersion": 2.6,
			"position": [2768, 3360],
			"id": "3279fdab-8306-4ea3-a99f-79121efe6962",
			"name": "Get: User Context General Inq or Out Scope",
			"credentials": {
				"postgres": {
					"id": "qyR2OAIR7tUEVcQf",
					"name": "Postgres-neon"
				}
			}
		},
		{
			"parameters": {
				"model": {
					"__rl": true,
					"mode": "list",
					"value": "gpt-4.1-mini"
				},
				"options": {}
			},
			"type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
			"typeVersion": 1.2,
			"position": [2896, 3568],
			"id": "25b72904-4a20-42dd-b89e-03902d35c6be",
			"name": "OpenAI Chat Model",
			"credentials": {
				"openAiApi": {
					"id": "g8OPzRDvvB6YO7mf",
					"name": "OpenAi account"
				}
			}
		},
		{
			"parameters": {
				"promptType": "define",
				"text": "={{ $json.wa_id }}",
				"options": {
					"systemMessage": "=Tu función es analizar el mensaje del cliente y determinar su requerimiento de manera estructurada, siempre devolviendo un JSON limpio.\n\n## ENTRADAS\n- Mensaje del cliente: {{ $('WhatsApp Trigger').item.json.messages[0].text.body }}\n- Context data: {{ $('Get: User Context General Inq or Out Scope').item.json.context_data.toJsonString() }}\n\n## INSTRUCCIONES\n\n1. Analiza el mensaje y el contexto para descubrir el requerimiento real del cliente.\n\n2. Si el mensaje contiene alguna **grosería, agresión, palabra profana o acoso**, debes:\n   - Generar un JSON donde:\n     - `message` sea un aviso al cliente indicando que su comportamiento ha sido reportado y no podrás continuar la atención.\n     - `contexto` describa el mensaje ofensivo detectado.\n     - `requiereAtencion` sea `false`.\n\n3. Si el **context data** contiene un estado de **rechazo** (`status = \"rejected\"`, `rechazo_previo = true` o motivo de rechazo presente):\n   - Envía un mensaje al cliente indicando amablemente que, **debido al motivo de rechazo previo**, no es posible continuar la atención.\n   - Incluye en `contexto` el motivo de rechazo.\n   - `requiereAtencion` debe ser `false`.\n\n4. Si **no hay información previa en context data**, o el prospecto no está identificado:\n   - Envía un mensaje breve, amable y coherente, indicando que **solo puedes atender solicitudes relacionadas con Inmobiliaria Villanueva García**.\n   - `requiereAtencion` debe ser `false`.\n\n5. Si **el contexto previo está aprobado o requiere seguimiento activo** (`status` = \"approved\", \"requiere_atention\", \"requires_attention\" o similar, o `approved_at` existe sin un rechazo posterior):\n   - Interpreta el mensaje actual para descubrir qué requiere (por ejemplo: confirmar cita, pedir seguimiento, solicitar información adicional, etc.).\n   - Genera una respuesta empática, **sin preguntas abiertas**, simplemente informando al cliente que su solicitud ya fue notificada al equipo correspondiente para pronta atención.\n   - Refuerza que se dará seguimiento y evita redirigir al bot.\n   - Ejemplo de tono correcto:  \n     👉 \"Muchas gracias por tu mensaje, {{ $('Get: User Context General Inq or Out Scope').item.json.context_data.nombre.split(' ')[0] }}, te confirmo que en este momento he notificado nuevamente tu solicitud al equipo para su pronta atención.\"  \n   - Ejemplo de tono incorrecto:  \n     🚫 \"¿Podrías confirmarme a qué cita te refieres?\"  \n   - `requiereAtencion` debe ser `true`.\n\n6. En todos los casos, **la salida DEBE SER EXCLUSIVAMENTE** un arreglo JSON con este formato exacto (sin explicaciones, sin markdown):\n\n[\n  {\n    \"message\": \"mensaje coherente y amable para enviar al cliente\",\n    \"contexto\": \"breve descripción del requerimiento o motivo de respuesta\",\n    \"requiereAtencion\": true o false,\n    \"timestamp\": \"{{ $now.toISO() }}\"\n  }\n]\n\n## REGLAS DE FORMATO\n- No incluyas texto antes ni después del JSON.\n- No uses comillas triples, markdown, ni explicaciones.\n- Asegúrate de que el JSON sea válido y pueda parsearse directamente con JSON.parse().\n- Evita cualquier pregunta o frase abierta. El tono debe ser profesional, informativo y cerrado."
				}
			},
			"type": "@n8n/n8n-nodes-langchain.agent",
			"typeVersion": 2.2,
			"position": [2976, 3360],
			"id": "e4575e7f-2ef8-4cd5-9e60-4ecda984bf33",
			"name": "AI General Inq or Out Scope"
		},
		{
			"parameters": {
				"sessionIdType": "customKey",
				"sessionKey": "={{ $json.wa_id }}"
			},
			"type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
			"typeVersion": 1.3,
			"position": [3072, 3568],
			"id": "1261054b-b428-4203-9e41-80ca4b5cea28",
			"name": "Simple Memory1"
		},
		{
			"parameters": {
				"operation": "send",
				"phoneNumberId": "812415788624920",
				"recipientPhoneNumber": "={{ $('Get: User Context General Inq or Out Scope').item.json.wa_id }}",
				"textBody": "={{ $json.message }}",
				"additionalFields": {}
			},
			"type": "n8n-nodes-base.whatsApp",
			"typeVersion": 1.1,
			"position": [3552, 3360],
			"id": "45e0a7fc-6dfd-4a86-924f-c1e9be10c7e4",
			"name": "Message: General Inq or Out Scope",
			"webhookId": "32e518a9-64a8-4186-a7b0-d0962d11939a",
			"credentials": {
				"whatsAppApi": {
					"id": "DpdLgHZCEJ199330",
					"name": "WhatsApp account"
				}
			}
		},
		{
			"parameters": {
				"jsCode": "// ===================================================\n// NODE: Parse AI JSON\n// ===================================================\n// Este nodo toma la respuesta cruda de la IA (por ejemplo, del nodo \"AI Agent\")\n// y la convierte en datos estructurados.\n// Espera un JSON en formato:\n// [\n//   {\n//     \"message\": \"...\",\n//     \"contexto\": \"...\",\n//     \"requiereAtencion\": true,\n//     \"timestamp\": \"2025-11-06T22:13:00Z\"\n//   }\n// ]\n// ===================================================\n\nconst raw = $json.output || $json.text || $json.message || '';\n\nlet parsed = [];\n\ntry {\n  // El modelo a veces devuelve texto con espacios o saltos de línea,\n  // así que limpiamos y detectamos el bloque JSON.\n  const jsonMatch = raw.match(/\\[.*\\]/s);\n  if (jsonMatch) {\n    parsed = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('No se encontró un arreglo JSON válido en la respuesta.');\n  }\n} catch (err) {\n  return [\n    {\n      json: {\n        error: true,\n        message: 'Error al parsear la salida de la IA',\n        detalle: err.message,\n        raw_output: raw,\n      },\n    },\n  ];\n}\n\n// Si todo salió bien, devolvemos cada elemento del arreglo como un item nuevo\nreturn parsed.map(entry => ({\n  json: {\n    message: entry.message || '',\n    contexto: entry.contexto || '',\n    requiereAtencion: entry.requiereAtencion ?? false,\n    timestamp: entry.timestamp || new Date().toISOString(),\n  },\n}));\n"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [3328, 3360],
			"id": "8b66232f-b4c3-4579-95fa-ddcad4571ff2",
			"name": "Parse: AI Response"
		},
		{
			"parameters": {
				"method": "POST",
				"url": "=https://vg.g210512.com/api/v1/contactos/{{ $('Get: User Context General Inq or Out Scope').item.json.context_data.api_contact_id }}/comentarios",
				"authentication": "genericCredentialType",
				"genericAuthType": "httpHeaderAuth",
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={\n  \"comentario\": \"🤖 - El contacto escribió: {{ $('WhatsApp Trigger').item.json.messages[0].text.body }} // Respuesta: {{ $('Parse: AI Response').item.json.message }}\"\n}",
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [4384, 3360],
			"id": "6e0ac1e7-1bfc-447d-ba68-29161b257736",
			"name": "HTTP Request1",
			"credentials": {
				"httpHeaderAuth": {
					"id": "rzmCtJN8Vtwv6AO3",
					"name": "API Key Inmuebles"
				}
			}
		},
		{
			"parameters": {
				"operation": "executeQuery",
				"query": "UPDATE user_contexts \nSET \n  context_data = jsonb_set(\n    jsonb_set(\n      context_data,\n      '{status}',\n      '\"requiere_atention\"'\n    ),\n    '{last_query}',\n    to_jsonb('{{ $('WhatsApp Trigger').item.json.messages[0].text.body }}'::text)\n  ),\n  updated_at = CURRENT_TIMESTAMP\nWHERE wa_id = '{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}'\nRETURNING *;",
				"options": {}
			},
			"type": "n8n-nodes-base.postgres",
			"typeVersion": 2.6,
			"position": [4608, 3360],
			"id": "9e94b720-7d87-41d9-9c17-18376307ee5a",
			"name": "Update: Status awaiting1",
			"credentials": {
				"postgres": {
					"id": "qyR2OAIR7tUEVcQf",
					"name": "Postgres-neon"
				}
			}
		},
		{
			"parameters": {
				"authentication": "webhook",
				"content": "=📢 **ATENCIÓN PENDIENTE**\n\n🧍‍♂️ **Prospecto:** *{{ $('Get: User Context General Inq or Out Scope').item.json.context_data.nombre }}*  \n📱 **Teléfono:**   {{ $('Get: User Context General Inq or Out Scope').item.json.wa_id }}\n🏡 **Origen:** *🤖 - AI WhatsApp*  \n🕐 **Hora:** {{ new Date().toLocaleString('es-MX', { timeZone: 'America/Mexico_City' }) }}  \n\n💬 **Último mensaje del cliente:**  \n> {{ $('WhatsApp Trigger').item.json.messages[0].text.body }}\n\n📌 **Situacíon Actual:**  \n> {{ $json.contexto || 'Solicita atención o confirmación de cita.' }}\n\n---\n\n⚡ **Acción sugerida:**  \nEl prospecto ya fue **notificado** que su solicitud está siendo atendida.  \nPor favor, **asigna un asesor o confirma seguimiento** en los próximos minutos.  \n",
				"options": {}
			},
			"type": "n8n-nodes-base.discord",
			"typeVersion": 2,
			"position": [3760, 3360],
			"id": "590341ea-8569-49d4-84ce-835e448ccb18",
			"name": "Discord: Attention Message",
			"webhookId": "d0a56f58-550a-46fa-bb94-26037d82b649",
			"credentials": {
				"discordWebhookApi": {
					"id": "T5xO2IcTLSwkGbFt",
					"name": "Discord Webhook account"
				}
			}
		},
		{
			"parameters": {
				"authentication": "webhook",
				"content": "=📢 **NUEVO CONTACTO FILTRADO**\n\n🧍‍♂️ **Prospecto:** *{{ $('Switch1').item.json.nombre }}*  \n📱 **Teléfono:**   {{ $json.contacts[0].wa_id.substring(3) }}\n🏡 **Origen:** *🤖 - AI WhatsApp*  \n🕐 **Hora:** {{ new Date().toLocaleString('es-MX', { timeZone: 'America/Mexico_City' }) }}  \n\n📌 **Situacíon Actual:**  \n> Contacto cumple con requisitos\n\n---\n\n⚡ **Acción sugerida:**  \nEl prospecto ya fue **APROBADO** por nuestros estándares, contáctalo.  \n",
				"options": {}
			},
			"type": "n8n-nodes-base.discord",
			"typeVersion": 2,
			"position": [6704, 1152],
			"id": "aa17220c-d358-4f9d-9e20-57d4f53d755a",
			"name": "Discord: Approved Message",
			"webhookId": "d0a56f58-550a-46fa-bb94-26037d82b649",
			"credentials": {
				"discordWebhookApi": {
					"id": "T5xO2IcTLSwkGbFt",
					"name": "Discord Webhook account"
				}
			}
		},
		{
			"parameters": {
				"jsCode": "const propertyData = $('Parse: Property Information').item.json.propertyData;\nconst contextData = $json.context_data.property_found;\nconst nombre = $('Parse: Property Information').item.json.nombre.split(' ')[0];\n\n// Formatear montos a moneda mexicana\nconst formatCurrency = (amount) => {\n  if (!amount || amount === 'null' || amount === null) return 'No aplica';\n  const numAmount = parseFloat(amount);\n  return new Intl.NumberFormat('es-MX', {\n    style: 'currency',\n    currency: 'MXN'\n  }).format(numAmount);\n};\n\n// Formatear restricciones\nconst restrictions = propertyData.restrictions;\n\nconst formatRestriction = (field, label) => {\n  const value = restrictions[field];\n  if (value === 'si' || value === 'yes' || value === true) {\n    return '✅ ' + label;\n  } else if (value === 'no' || value === false) {\n    return '❌ No se aceptan ' + label.toLowerCase();\n  } else {\n    return '⚠️ ' + label + ': ' + value;\n  }\n};\n\n// Caso especial para mascotas\nlet mascotasText = '';\nif (restrictions.acepta_mascotas === 'no' || restrictions.acepta_mascotas === false) {\n  mascotasText = '❌ No se aceptan mascotas';\n} else if (restrictions.acepta_mascotas === 'si' || restrictions.acepta_mascotas === true) {\n  mascotasText = '✅ Solo se acepta una mascota pequeña (perro o gato pequeño)';\n} else {\n  mascotasText = '⚠️ Mascotas: ' + restrictions.acepta_mascotas;\n}\n\n// Construir mensaje - usando concatenación en lugar de template strings\nconst mensaje = '¡Listo ' + nombre + '! 🙌\\n\\n' +\n'Aquí tienes la información del inmueble que buscas 🏡✨\\n\\n' +\n'📍 ' + contextData.title + '\\n' +\n'🏘️ ' + contextData.colonia + ', ' + contextData.municipio + '\\n' +\n'💰 ' + contextData.operacion + ': ' + contextData.ammount + '\\n' +\n'🛏️ ' + contextData.rooms + ' recámaras | 🚿 ' + contextData.baths + ' baños | 🚗 ' + contextData.parkings + ' estacionamientos\\n' +\n'📐 ' + contextData.m2 + ' m² construidos\\n\\n' +\n  \n'Para continuar con el proceso, necesito hacerte unas breves preguntas para confirmar que cumples con los requisitos del arrendador. ¿Estás listo/a? 😊';\n\nreturn {\n  ...$json,\n  formatted_message: mensaje\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [6672, 2160],
			"id": "d2af3049-3e15-4c9a-b693-37d70db40491",
			"name": "Parse: Message w Property Info"
		},
		{
			"parameters": {
				"jsCode": "const geminiResponse = $input.first().json.output;  // ← Usar la variable correcta\nconst previousData = $('Get Context with Property').item.json;\n\nlet questions = [];\n\ntry {\n  // Limpiar y parsear\n  const cleanedText = geminiResponse\n    .replace(/```json\\n?/g, '')\n    .replace(/```\\n?/g, '')\n    .trim();\n  \n  questions = JSON.parse(cleanedText);\n} catch (error) {\n  console.error('Error parseando cuestionario:', error);\n  console.error('Contenido recibido:', geminiResponse);\n  \n  // Fallback a preguntas básicas si falla\n  questions = [\n    {\n      field: \"mascotas\",\n      question: \"¿Tienes mascotas? 🐕🐈\",\n      type: \"boolean\",\n      expected: false\n    }\n  ];\n}\n\nreturn {\n  status: $('Get Context with Property').first().json.context_data.status,\n  wa_id: previousData.wa_id,\n  nombre: previousData.context_data.nombre,\n  personaje: previousData.context_data.personaje,\n  context_id: previousData.id,\n  questions: questions,\n  totalQuestions: questions.length\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [3392, 2960],
			"id": "98501ac5-71ed-4167-b4aa-d7fec768e994",
			"name": "Parse AI Questionnaire"
		},
		{
			"parameters": {
				"model": {
					"__rl": true,
					"value": "gpt-5",
					"mode": "list",
					"cachedResultName": "gpt-5"
				},
				"options": {}
			},
			"type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
			"typeVersion": 1.2,
			"position": [2976, 3088],
			"id": "79e36eb0-62ef-4c18-a11a-c69952d31288",
			"name": "OpenAI Chat Model3",
			"credentials": {
				"openAiApi": {
					"id": "g8OPzRDvvB6YO7mf",
					"name": "OpenAi account"
				}
			}
		},
		{
			"parameters": {
				"sessionIdType": "customKey",
				"sessionKey": "={{ $json.wa_id }}",
				"contextWindowLength": 10
			},
			"type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
			"typeVersion": 1.3,
			"position": [3136, 3088],
			"id": "fee53b2b-967d-4c4f-8b0c-0294961dc743",
			"name": "Simple Memory2"
		},
		{
			"parameters": {
				"promptType": "define",
				"text": "={{ $json.wa_id }}",
				"options": {
					"systemMessage": "=Eres un asistente conversacional de una inmobiliaria. Tu tarea es generar un cuestionario personalizado y natural basado en las características y restricciones de un inmueble específico.\n\nDATOS DEL INMUEBLE:\n{{ $json.context_data.property_found.toJsonString() }}\n\nRESTRICCIONES DEL ARRENDADOR:\n{{ $json.context_data.property_found.restrictions.toJsonString() }}\n\nINSTRUCCIONES:\n\n1. **Genera preguntas conversacionales** siguiendo estos principios:\n   - NUNCA saludes, no pongas palabras como hola, que tal, etc, se supone que tu ya vienes trabajando con el contacto\n   - Primero da contexto o explica la restricción\n   - Luego pregunta de forma natural\n   - Usa tono amigable y mexicano\n   - Incluye emojis apropiados\n\n2. **Tipos de preguntas a generar:**\n\n   A) **Si NO acepta mascotas** (acepta_mascotas = \"no\"):\n      - Ejemplo: \"¿Tienes mascotas? 🐕🐈\"\n      - field: \"mascotas\"\n      - type: \"boolean\"\n      - expected: false\n\n   B) **Si NO acepta niños** (acepta_niños = \"no\"):\n      - Ejemplo: \"Platícame, ¿cuántas personas habitarán el inmueble? ¿Habrá niños? 👶\"\n      - field: \"ninos\"\n      - type: \"boolean\"\n      - expected: false\n\n   C) **Si NO acepta estudiantes sin tutor** (acepta_estudiantes = \"no\"):\n      - Ejemplo: \"Muy bien, platícame ¿cuál es tu ocupación actual? 📚\"\n      - field: \"estudiantes\"\n      - type: \"boolean\"\n      - expected: false\n\n   D) **Si NO acepta roomies** (acepta_roomies = \"no\"):\n      - Ejemplo: \"Cuéntame, ¿cómo será tu forma de vivir? ¿Solo(a) o con roomies? 👥\"\n      - field: \"roomies\"\n      - type: \"boolean\"\n      - expected: false\n\n   E) **Ingresos mínimos** (si existe y > 0):\n      - Ejemplo: \"Una pregunta importante: ¿cuál es tu ingreso mensual comprobable? 💵 (El mínimo requerido es $XX,XXX)\"\n      - field: \"ingresos\"\n      - type: \"number_minimum\"\n      - expected: [valor numérico]\n\n   F) **Comprobantes de ingresos** (si requiere_comprobantes_ingresos = true):\n      - Ejemplo: \"¿Cuentas con recibos de nómina, estados de cuenta o facturas que comprueben tus ingresos mensuales? 📋\"\n      - field: \"comprobantes\"\n      - type: \"boolean\"\n      - expected: true\n\n3. **Agrega preguntas adicionales basadas en características del inmueble:**\n\n   - **Si parkings = 0**: \"Te comento que el inmueble no cuenta con estacionamiento 🚗 ¿Estás de acuerdo con eso?\"\n   - **Si tiene más de 3 pisos y no menciona elevador**: \"El depa está en el [X] piso y no tiene elevador 🏢 ¿Tienes algún inconveniente?\"\n   - Cualquier otra característica relevante que valga la pena preguntar\n\nFORMATO DE SALIDA (JSON ARRAY):\n\n[\n  {\n    \"field\": \"mascotas\",\n    \"question\": \"¿Tienes mascotas? 🐕🐈\",\n    \"type\": \"boolean\",\n    \"expected\": false\n  },\n  {\n    \"field\": \"estacionamiento\",\n    \"question\": \"Te comento que el inmueble no cuenta con estacionamiento 🚗\\n¿Estás de acuerdo con eso?\",\n    \"type\": \"boolean\",\n    \"expected\": true\n  }\n]\n\nIMPORTANTE:\n- NO uses markdown (```json)\n- NO agregues explicaciones\n- Responde SOLO con el JSON array\n- Mantén el tono conversacional y natural"
				}
			},
			"type": "@n8n/n8n-nodes-langchain.agent",
			"typeVersion": 2.2,
			"position": [3040, 2912],
			"id": "a91cb675-8e83-488a-8c2e-5ba384a0771d",
			"name": "AI Generate Dynamic Questionnaire"
		},
		{
			"parameters": {
				"content": "## ---> Misbehavior",
				"height": 496,
				"width": 2160
			},
			"type": "n8n-nodes-base.stickyNote",
			"position": [960, -96],
			"typeVersion": 1,
			"id": "4855874f-545e-4b86-a95e-28c0ed47accb",
			"name": "Sticky Note"
		},
		{
			"parameters": {
				"modelId": {
					"__rl": true,
					"value": "gpt-5-nano",
					"mode": "list",
					"cachedResultName": "GPT-5-NANO"
				},
				"messages": {
					"values": [
						{
							"content": "=Tu función es analizar el contenido de {{ $json.data.comentario }} para identificar el motivo del rechazo (por ejemplo: lenguaje ofensivo, actitud inapropiada, insistencia indebida o falta de respeto).\n\nCon base en ello, redacta un mensaje breve, claro y profesional que:\n1. Indique que la interacción ha sido rechazada.\n2. Informe que el contacto ha sido bloqueado por comportamiento inapropiado.\n3. Mantenga un tono amable, empático y sin agresividad.\n4. Termine con un cierre cordial (por ejemplo: deseando éxito o buen día).\n\nEjemplo de estilo esperado:\n\"Ups 😕, derivado de tu mensaje anterior hemos rechazado y bloqueado tu contacto, ya que no se permiten faltas de respeto ni conductas inapropiadas. Te deseamos mucho éxito en tu búsqueda.\"\n\nEvita repetir el texto del ejemplo; genera una versión coherente y natural adaptada al contexto del comentario recibido.\n",
							"role": "system"
						}
					]
				},
				"options": {}
			},
			"type": "@n8n/n8n-nodes-langchain.openAi",
			"typeVersion": 1.8,
			"position": [2384, 208],
			"id": "99abedf0-bd83-4b88-b4fd-e1a9d638506d",
			"name": "Message a model",
			"credentials": {
				"openAiApi": {
					"id": "g8OPzRDvvB6YO7mf",
					"name": "OpenAi account"
				}
			}
		},
		{
			"parameters": {
				"conditions": {
					"options": {
						"caseSensitive": true,
						"leftValue": "",
						"typeValidation": "strict",
						"version": 2
					},
					"conditions": [
						{
							"id": "8b83aa35-ef33-4786-a195-3a03ce566f4c",
							"leftValue": "={{ $json.context_data.status }}",
							"rightValue": "rejected",
							"operator": {
								"type": "string",
								"operation": "equals",
								"name": "filter.operator.equals"
							}
						}
					],
					"combinator": "and"
				},
				"options": {}
			},
			"type": "n8n-nodes-base.if",
			"typeVersion": 2.2,
			"position": [4160, 2096],
			"id": "e934f5ff-7c6d-4554-a7c0-594c45852285",
			"name": "If"
		},
		{
			"parameters": {
				"method": "POST",
				"url": "=https://vg.g210512.com/api/v1/contactos/{{ $('Check Context Status').item.json.context_data.api_contact_id }}/comentarios",
				"authentication": "genericCredentialType",
				"genericAuthType": "httpHeaderAuth",
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={\n\"comentario\":{{ $json.body.comentario.toJsonString() }}\n}\n",
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [3616, 832],
			"id": "1615b3f8-a61e-463c-b7e3-ee069c9906bb",
			"name": "Update: Contact Comments1",
			"credentials": {
				"httpBearerAuth": {
					"id": "QigdAtAlBxHMmIsD",
					"name": "WA - Bearer Token"
				},
				"httpHeaderAuth": {
					"id": "rzmCtJN8Vtwv6AO3",
					"name": "API Key Inmuebles"
				}
			}
		},
		{
			"parameters": {
				"jsCode": "const aiResponse = $input.first().json;\n\nconst getNodeJson = (nodeName, extractor) => {\n  try {\n    const nodeData = $(nodeName);\n    const item = nodeData?.first?.();\n    if (!item) return undefined;\n    return extractor ? extractor(item) : item.json;\n  } catch (error) {\n    return undefined;\n  }\n};\n\nconst contactId =\n  getNodeJson('Contact Actions', (item) => item.json?.contactId) ??\n  getNodeJson('Actual status of contact', (item) => item.json?.contactData?.id) ??\n  getNodeJson('Has Postgres Context?', (item) => item.json?.api_contact_id) ??\n  getNodeJson('Check Context Status', (item) => item.json?.context_data?.api_contact_id) ??\n  aiResponse?.contactId ??\n  null;\n\nif (!contactId) {\n  throw new Error('No se pudo obtener el contactId para el comentario de rechazo.');\n}\n\nconsole.log('AI Response completo:', JSON.stringify(aiResponse, null, 2));\n\nlet summary = aiResponse?.output ??\n              aiResponse?.content?.parts?.[0]?.text ??\n              aiResponse?.text ??\n              aiResponse;\n\nif (typeof summary === 'object') {\n  summary = JSON.stringify(summary);\n}\n\nif (typeof summary === 'string') {\n  summary = summary.trim();\n}\n\nconsole.log('Summary extraído:', summary);\n\nreturn {\n  contactId,\n  body: {\n    comentario: summary,\n    created_at: new Date().toISOString()\n  }\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [3344, 688],
			"id": "d56c81bc-db1f-4887-870b-bad2ad9a4bfc",
			"name": "Format Reject Comment Payload"
		},
		{
			"parameters": {},
			"type": "n8n-nodes-base.merge",
			"typeVersion": 2.1,
			"position": [1888, 688],
			"id": "fb39c8c5-c8be-423a-95a5-d82d13413a59",
			"name": "Merge Rejection Sources"
		},
		{
			"parameters": {
				"assignments": {
					"assignments": [
						{
							"id": "1f2fb1b0-9b10-4f2a-9f1e-2c1a6d0bcd70",
							"name": "wa_id",
							"value": "={{ $json.wa_id || $('Has Postgres Context?').item.json.wa_id || $('Contact Actions').item.json.wa_id || $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
							"type": "string"
						},
						{
							"id": "5a75b457-4b78-4f37-9e9d-4314f38fe0fd",
							"name": "context_data",
							"value": "={{ Object.assign({}, $('Check Context Status').item.json.context_data || {}, $json.context_data || {}) }}",
							"type": "json"
						},
						{
							"id": "d8db9700-84d2-4e4f-aeb8-1d0f8d49fd1b",
							"name": "rejectionSummary",
							"value": "={{ $json.rejectionSummary || '' }}",
							"type": "string"
						},
						{
							"id": "0d439b03-31c2-4ac5-b5df-2fa467db1749",
							"name": "contactData",
							"value": "={{ $json.contactData || null }}",
							"type": "json"
						},
						{
							"id": "6f9dc637-1ab7-4ce8-8f16-2ca36d5e1d5a",
							"name": "misbehaviorHistoryEntry",
							"value": "={{ $json.misbehaviorHistoryEntry || null }}",
							"type": "json"
						},
						{
							"id": "a3d969a0-9434-4986-8d30-2a1523cba4a5",
							"name": "rejectionSource",
							"value": "={{ $json.rejectionSummary ? 'actual_status' : 'context_status' }}",
							"type": "string"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.set",
			"typeVersion": 3.4,
			"position": [2096, 688],
			"id": "b8988214-d532-42e8-a9ff-3fe718e38eb7",
			"name": "Set: Rejection Payload"
		},
		{
			"parameters": {
				"modelId": {
					"__rl": true,
					"value": "models/gemini-2.5-flash",
					"mode": "list",
					"cachedResultName": "models/gemini-2.5-flash"
				},
				"messages": {
					"values": [
						{
							"content": "={{ $json.context_data.toJsonString() }}"
						}
					]
				},
				"options": {
					"systemMessage": "=Tu función es analizar el contenido de {{ $json.context_data.mal_comportamiento_historial.toJsonString() }} para identificar el motivo del rechazo (por ejemplo: lenguaje ofensivo, actitud inapropiada, insistencia indebida o falta de respeto).\n\nSiempre debes mencionar que el rechazo es por faltas de respeto o comportamiento inapropiado en previas interacciones\n\nCon base en ello, redacta un mensaje breve, claro y profesional que:\n1. Indique que la interacción ha sido rechazada.\n2. Informe que el contacto ha sido bloqueado por comportamiento inapropiado.\n3. Mantenga un tono amable, empático y sin agresividad.\n4. Termine con un cierre cordial (por ejemplo: deseando éxito o buen día).\n\nEjemplo de estilo esperado:\n\"Ups 😕, derivado de tu faltas de respeto en interacciones previas hemos rechazado y bloqueado tu contacto, ya que no se permiten faltas de respeto ni conductas inapropiadas. Te deseamos mucho éxito en tu búsqueda.\"\n\nEvita repetir el texto del ejemplo; genera una versión coherente y natural adaptada al contexto del comentario recibido.\n"
				}
			},
			"type": "@n8n/n8n-nodes-langchain.googleGemini",
			"typeVersion": 1,
			"position": [2384, 688],
			"id": "c4f53289-e2d9-45c0-a7e1-237426decc0a",
			"name": "AI: Create Reject Message",
			"credentials": {
				"googlePalmApi": {
					"id": "3Qw3858fHslDYr4D",
					"name": "Gemini - alfgow"
				}
			}
		},
		{
			"parameters": {
				"operation": "send",
				"phoneNumberId": "812415788624920",
				"recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
				"textBody": "={{ $json.content.parts[0].text }}",
				"additionalFields": {}
			},
			"type": "n8n-nodes-base.whatsApp",
			"typeVersion": 1.1,
			"position": [2768, 688],
			"id": "3a62ef73-9e61-4dfa-95ee-9f0f5ae042f2",
			"name": "Message: Reject 2",
			"webhookId": "32e518a9-64a8-4186-a7b0-d0962d11939a",
			"credentials": {
				"whatsAppApi": {
					"id": "DpdLgHZCEJ199330",
					"name": "WhatsApp account"
				}
			}
		},
		{
			"parameters": {
				"modelId": {
					"__rl": true,
					"value": "models/gemini-2.5-flash",
					"mode": "list",
					"cachedResultName": "models/gemini-2.5-flash"
				},
				"messages": {
					"values": [{}]
				},
				"options": {
					"systemMessage": "=\nGenera un resumen ejecutivo de la interacción para el equipo de la inmobiliaria.\n\nIMPORTANTE AGREGAR AL INICIO DEL RESUMEN: ❌ RECHAZADO\n\nCONTEXTO DEL CONTACTO:\nNombre: {{ $('Check Context Status').item.json.context_data.nombre }}\nTeléfono: {{ $('Check Context Status').item.json.context_data.telefono }}\nHistorial previo: {{ $('Check Context Status').item.json.context_data.mal_comportamiento_historial.toJsonString() }}\n\nINTERACCIÓN ACTUAL:\nEl contacto escribió: \"{{ $('WhatsApp Trigger').item.json.messages[0].text.body }}\"\n\nRespuesta del bot: {{ $('AI: Create Reject Message').item.json.content.parts[0].text }}\n\nFORMATO REQUERIDO:\n🤖 **BOT WhatsApp** - {{ $now.format('dd/MM/yyyy HH:mm') }}\n\n📱 **Contacto escribió:**\n[mensaje del usuario]\n\n🔍 **Detección automática:**\nSe identificó que este contacto tiene un rechazo previo por: [razón específica del rechazo]\n\n📤 **Bot respondió:**\n[resumen del mensaje enviado en 2-3 líneas]\n\n📋 **Resultado:**\nContacto rechazado automáticamente. No se continuó con el flujo de atención.\n\nINSTRUCCIONES:\n- Sé conciso pero informativo\n- Usa emojis para mejor escaneo visual\n- Menciona la razón específica del rechazo previo\n- Máximo 150 palabras\n- Formato markdown para mejor lectura"
				}
			},
			"type": "@n8n/n8n-nodes-langchain.googleGemini",
			"typeVersion": 1,
			"position": [3008, 688],
			"id": "a034b29e-c266-48ed-af36-b1cfe4abe499",
			"name": "AI: Create Reject Resume",
			"credentials": {
				"googlePalmApi": {
					"id": "3Qw3858fHslDYr4D",
					"name": "Gemini - alfgow"
				}
			}
		},
		{
			"parameters": {
				"operation": "executeQuery",
				"query": "UPDATE user_contexts\nSET context_data = jsonb_set(\n      context_data,\n      '{status}',\n      '\"blocked\"',\n      false\n    ),\n    updated_at = NOW()\nWHERE wa_id = CAST({{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }} AS TEXT);",
				"options": {}
			},
			"type": "n8n-nodes-base.postgres",
			"typeVersion": 2.6,
			"position": [3920, 864],
			"id": "b421c159-f10e-42e1-89c8-7d5ec9311e0a",
			"name": "Execute a SQL query4",
			"credentials": {
				"postgres": {
					"id": "qyR2OAIR7tUEVcQf",
					"name": "Postgres-neon"
				}
			}
		},
		{
			"parameters": {
				"rules": {
					"values": [
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"leftValue": "={{ $json.context_data.status }}",
										"rightValue": "blocked",
										"operator": {
											"type": "string",
											"operation": "equals"
										},
										"id": "d47e08b1-4c9d-402c-992e-f00cbb9b3af3"
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "blocked"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "ad050447-b659-409e-bcfd-a037caac5943",
										"leftValue": "={{ $json.context_data.status }}",
										"rightValue": "rejected",
										"operator": {
											"type": "string",
											"operation": "equals",
											"name": "filter.operator.equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "rejected"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "8d34428d-f6e5-4bf1-adbe-bc9703683fb2",
										"leftValue": "={{ $json.context_data.status }}",
										"rightValue": "approved",
										"operator": {
											"type": "string",
											"operation": "equals",
											"name": "filter.operator.equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "approved"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "b60d19ee-3fe2-4014-8416-bdbfee424244",
										"leftValue": "={{ $json.postgresContextId }}",
										"rightValue": "",
										"operator": {
											"type": "number",
											"operation": "exists",
											"singleValue": true
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "No Context"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.switch",
			"typeVersion": 3.3,
			"position": [1472, 528],
			"id": "b74b310d-82f9-4ee4-8f38-690505ef98da",
			"name": "Switch2"
		},
		{
			"parameters": {},
			"type": "n8n-nodes-base.noOp",
			"typeVersion": 1,
			"position": [1440, 928],
			"id": "632e09c4-9c28-446f-9e59-bb4f299007cd",
			"name": "No Operation, do nothing"
		},
		{
			"parameters": {
				"operation": "send",
				"phoneNumberId": "812415788624920",
				"recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
				"textBody": "=😅 Tuvimos un error de nuestro lado, intenta de nuevo por favor",
				"additionalFields": {}
			},
			"type": "n8n-nodes-base.whatsApp",
			"typeVersion": 1.1,
			"position": [240, 1056],
			"id": "5ea4aeec-ee44-4e2c-85af-ce0397946c41",
			"name": "Error Message",
			"webhookId": "32e518a9-64a8-4186-a7b0-d0962d11939a",
			"credentials": {
				"whatsAppApi": {
					"id": "DpdLgHZCEJ199330",
					"name": "WhatsApp account"
				}
			}
		},
		{
			"parameters": {
				"jsCode": "// Obtener respuesta de OpenAI\nconst aiResponse = $input.first().json;\nconst contentText = aiResponse.message?.content || aiResponse.output || '';\n\n// Obtener datos originales del nodo anterior a la IA\nconst originalData = $('Has Postgres Context?').item.json;\n\nlet result = {\n  isMisbehavior: false,\n  confidence: 0,\n  reason: '',\n  detectedTerms: []\n};\n\ntry {\n  // Limpiar y parsear el JSON\n  const cleaned = contentText\n    .replace(/```json\\n?/g, '')\n    .replace(/```\\n?/g, '')\n    .trim();\n  \n  result = JSON.parse(cleaned);\n} catch (error) {\n  console.error('Error parsing misbehavior detection:', error);\n  console.log('Content received:', contentText);\n}\n\nreturn {\n  json: {\n    userPrompt: originalData.userPrompt,\n    wa_id: originalData.wa_id,\n    context_data: originalData.context_data,\n    hasPostgresContext: originalData.hasPostgresContext,\n    postgresContextId: originalData.postgresContextId,\n    misbehaviorDetected: result.isMisbehavior,\n    misbehaviorConfidence: result.confidence,\n    misbehaviorReason: result.reason,\n    misbehaviorMatchedWords: result.detectedTerms,\n    phone:$('Get: Message Info').first().json.phone\n  }\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [352, 384],
			"id": "d2477c95-213a-4009-a875-c6ae3d42d76e",
			"name": "Parse Misbehavior"
		},
		{
			"parameters": {
				"modelId": {
					"__rl": true,
					"value": "gpt-5-nano",
					"mode": "list",
					"cachedResultName": "GPT-5-NANO"
				},
				"messages": {
					"values": [
						{
							"content": "=Eres un detector de comportamiento inapropiado en mensajes de clientes.\n\nMENSAJE DEL CLIENTE: {{ $json.userPrompt }}\n\nINSTRUCCIONES:\nAnaliza si el mensaje contiene:\n- Insultos directos o indirectos\n- Lenguaje ofensivo o profano\n- Amenazas (legales, físicas, etc)\n- Acoso o discriminación\n- Groserías en español mexicano\n- Intento de evadir filtros (p3nd3jo, p e n d e j o, etc)\n\nIMPORTANTE:\n- NO marques como ofensivo: quejas legítimas, frustración educada, críticas constructivas\n- SÍ marca como ofensivo: insultos personales, amenazas, lenguaje agresivo\n\nFORMATO DE SALIDA (JSON):\n{\n  \"isMisbehavior\": true o false,\n  \"confidence\": 0.0 a 1.0,\n  \"reason\": \"Razón específica si es ofensivo, vacío si no\",\n  \"detectedTerms\": [\"lista de términos ofensivos detectados\"]\n}\n\nNO uses markdown. Solo responde con el JSON.",
							"role": "system"
						}
					]
				},
				"options": {}
			},
			"type": "@n8n/n8n-nodes-langchain.openAi",
			"typeVersion": 1.8,
			"position": [32, 384],
			"id": "e7869e31-7fb9-434c-a5dd-f93f13bff153",
			"name": "AI Misbehavior Detector",
			"credentials": {
				"openAiApi": {
					"id": "g8OPzRDvvB6YO7mf",
					"name": "OpenAi account"
				}
			}
		},
		{
			"parameters": {
				"url": "=https://vg.g210512.com/api/v1/contactos?telefono={{ $json.phone }}",
				"authentication": "genericCredentialType",
				"genericAuthType": "httpHeaderAuth",
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [1104, 0],
			"id": "89cef9a7-5645-446f-9397-c2f81d794638",
			"name": "Get API Contact",
			"alwaysOutputData": true,
			"credentials": {
				"httpHeaderAuth": {
					"id": "rzmCtJN8Vtwv6AO3",
					"name": "API Key Inmuebles"
				}
			}
		},
		{
			"parameters": {},
			"type": "n8n-nodes-base.noOp",
			"typeVersion": 1,
			"position": [2928, 208],
			"id": "cb8fc879-366f-4b09-a7b0-0c66cc8fc897",
			"name": "No Operation, do nothing1"
		},
		{
			"parameters": {},
			"type": "n8n-nodes-base.noOp",
			"typeVersion": 1,
			"position": [576, -32],
			"id": "5517e050-4f3b-4af4-91f3-89ab6e5c77d2",
			"name": "No Operation, do nothing2"
		},
		{
			"parameters": {
				"jsCode": "const input = $input.first().json || {};\nconst contextData = input.context_data ? JSON.parse(JSON.stringify(input.context_data)) : {};\n\nconst reasonRaw = input.misbehaviorReason;\nconst reasonText = typeof reasonRaw === 'string' && reasonRaw.trim() !== ''\n  ? reasonRaw.trim()\n  : 'Comportamiento indebido detectado automáticamente';\n\nconst matchedWords = Array.isArray(input.misbehaviorMatchedWords)\n  ? input.misbehaviorMatchedWords.filter(Boolean)\n  : [];\nconst originalMessage = typeof input.userPrompt === 'string' ? input.userPrompt.trim() : '';\nconst timestamp = new Date().toISOString();\n\nconst historyEntry = {\n  timestamp,\n  mensaje_original: originalMessage,\n  palabras_detectadas: matchedWords,\n  origen: 'auto_filter'\n};\n\nconst existingHistory = Array.isArray(contextData.mal_comportamiento_historial)\n  ? [...contextData.mal_comportamiento_historial]\n  : [];\nexistingHistory.push(historyEntry);\n\nconst existingReasons = Array.isArray(contextData.motivo_rechazo)\n  ? [...contextData.motivo_rechazo]\n  : [];\nif (!existingReasons.includes(reasonText)) {\n  existingReasons.push(reasonText);\n}\n\nconst updatedContext = {\n  ...contextData,\n  status: 'blocked',\n  rechazo_previo: true,\n  motivo_rechazo: existingReasons,\n  mal_comportamiento_historial: existingHistory,\n  ultima_interaccion: timestamp\n};\n\nif (!updatedContext.api_contact_id && contextData.api_contact_id) {\n  updatedContext.api_contact_id = $('Get API Contact1').first().json.data[0].id;\n}\n\nconst commentLines = [\n  '🚫 IGNORADO POR BLOQUEO 🚫',\n  ` Motivo: ${reasonText}`,\n  matchedWords.length ? ` Coincidencias: ${matchedWords.join(', ')}` : '',\n  originalMessage ? ` Mensaje original: \"${originalMessage}\"` : '',\n  ` Registrado el: ${timestamp}`\n].filter((line) => line && line.trim() !== '');\n\nconst apiContactId = updatedContext.api_contact_id;\n\nif (!apiContactId) {\n  throw new Error('No se encontró api_contact_id en el contexto para registrar el comentario.');\n}\n\nreturn [{\n  json: {\n    wa_id: input.wa_id,\n    api_contact_id: apiContactId,\n    commentPayload: {\n      comentario: commentLines.join('\\n')\n    },\n    updatedContext,\n    historyEntry\n  }\n}];"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [80, -32],
			"id": "6d1ef4f2-f5a6-42a8-a434-8d7728ee8119",
			"name": "Build Blocked Comment Payload"
		},
		{
			"parameters": {
				"method": "POST",
				"url": "=https://vg.g210512.com/api/v1/contactos/{{ $json.api_contact_id }}/comentarios",
				"authentication": "genericCredentialType",
				"genericAuthType": "httpHeaderAuth",
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={{ $json.commentPayload.toJsonString() }}",
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [272, -32],
			"id": "6790de95-8c81-4580-9ca6-39efde84489e",
			"name": "API: Add Blocked Comment",
			"credentials": {
				"httpHeaderAuth": {
					"id": "rzmCtJN8Vtwv6AO3",
					"name": "API Key Inmuebles"
				}
			}
		},
		{
			"parameters": {
				"operation": "executeQuery",
				"query": "UPDATE user_contexts\nSET\n  context_data = jsonb_set(\n    context_data,\n    '{motivo_bloqueo}',\n    to_jsonb('{{ $json.data.comentario.replaceAll(\"'\", \"''\") }}'::text),\n    true\n  ),\n  updated_at = CURRENT_TIMESTAMP\nWHERE wa_id = '{{ $(\"Build Blocked Comment Payload\").item.json.wa_id }}';\n\n",
				"options": {}
			},
			"type": "n8n-nodes-base.postgres",
			"typeVersion": 2.6,
			"position": [432, -32],
			"id": "28273721-5e0f-453a-b017-759e4d18db2e",
			"name": "Postgres: Update Blocked Context",
			"credentials": {
				"postgres": {
					"id": "qyR2OAIR7tUEVcQf",
					"name": "Postgres-neon"
				}
			}
		},
		{
			"parameters": {
				"conditions": {
					"options": {
						"caseSensitive": true,
						"leftValue": "",
						"typeValidation": "strict",
						"version": 2
					},
					"conditions": [
						{
							"id": "ac8010bd-97b8-4d50-9ec6-91015177b232",
							"leftValue": "={{ $json.context_data.status }}",
							"rightValue": "blocked",
							"operator": {
								"type": "string",
								"operation": "equals",
								"name": "filter.operator.equals"
							}
						}
					],
					"combinator": "and"
				},
				"options": {}
			},
			"type": "n8n-nodes-base.if",
			"typeVersion": 2.2,
			"position": [720, 160],
			"id": "e0d8655c-f9fb-4f17-9bde-8e213ff45b74",
			"name": "Is Blocked?"
		},
		{
			"parameters": {
				"rules": {
					"values": [
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"leftValue": "={{ $('Get API Contact1').item.json.data[0].estado }}",
										"rightValue": "blocked",
										"operator": {
											"type": "string",
											"operation": "equals"
										},
										"id": "8281b321-52c2-48a0-aa3b-4b1b0dec841f"
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "block-api"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "a894962f-3420-4765-b14e-07d25b097abf",
										"leftValue": "={{ $('Check Context Status').item.json.context_data.status }}",
										"rightValue": "blocked",
										"operator": {
											"type": "string",
											"operation": "equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "block-postgres"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "7fb769ac-a83d-49ae-ad30-7187a051316f",
										"leftValue": "",
										"rightValue": "=",
										"operator": {
											"type": "string",
											"operation": "equals",
											"name": "filter.operator.equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "nothing"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.switch",
			"typeVersion": 3.3,
			"position": [1248, 448],
			"id": "fab39382-c1ee-433e-ad51-ff55e79ad39b",
			"name": "Switch3"
		},
		{
			"parameters": {
				"url": "=https://vg.g210512.com/api/v1/contactos?telefono={{ $json.phone }}",
				"authentication": "genericCredentialType",
				"genericAuthType": "httpHeaderAuth",
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [688, 528],
			"id": "61a97b2d-654f-42a0-adb4-c7b7f48b8204",
			"name": "Get API Contact1",
			"alwaysOutputData": true,
			"credentials": {
				"httpHeaderAuth": {
					"id": "rzmCtJN8Vtwv6AO3",
					"name": "API Key Inmuebles"
				}
			}
		}
	],
	"connections": {
		"WhatsApp Trigger": {
			"main": [
				[
					{
						"node": "Switch",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"If: Misbehavior?": {
			"main": [
				[
					{
						"node": "Is Blocked?",
						"type": "main",
						"index": 0
					}
				],
				[]
			]
		},
		"Get Misbehavior Context": {
			"main": [
				[
					{
						"node": "Prepare Misbehavior Context",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Prepare Misbehavior Context": {
			"main": [
				[
					{
						"node": "If: Existing Misbehavior Context",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"If: Existing Misbehavior Context": {
			"main": [
				[
					{
						"node": "Postgres: Update Misbehavior Context",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Postgres: Insert Misbehavior Context",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Postgres: Update Misbehavior Context": {
			"main": [
				[
					{
						"node": "If: Has API Contact?",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"If: Has API Contact?": {
			"main": [
				[
					{
						"node": "Build Misbehavior Comment",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "API: Create Rejected Contact",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"API: Create Rejected Contact": {
			"main": [
				[
					{
						"node": "Postgres: Save API Contact (Existing)",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Postgres: Save API Contact (Existing)": {
			"main": [
				[
					{
						"node": "Build Misbehavior Comment",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Postgres: Insert Misbehavior Context": {
			"main": [
				[
					{
						"node": "API: Create Misbehavior Contact",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"API: Create Misbehavior Contact": {
			"main": [
				[
					{
						"node": "Postgres: Save API Contact (New)",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Postgres: Save API Contact (New)": {
			"main": [
				[
					{
						"node": "Build Misbehavior Comment",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Build Misbehavior Comment": {
			"main": [
				[
					{
						"node": "API: Add Misbehavior Comment",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"API: Add Misbehavior Comment": {
			"main": [
				[
					{
						"node": "Message a model",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Send Misbehavior Notice": {
			"main": [
				[
					{
						"node": "No Operation, do nothing1",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Switch": {
			"main": [
				[
					{
						"node": "Get: Message Info",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Send message2",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Send message2",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Send message2",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Download media3",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Error Message",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Download media3": {
			"main": [
				[
					{
						"node": "HTTP Request3",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"HTTP Request3": {
			"main": [
				[
					{
						"node": "Transcribe: audio",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Transcribe: audio": {
			"main": [
				[
					{
						"node": "Get: Message Info",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Edit Fields": {
			"main": [
				[
					{
						"node": "Execute a SQL query",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Execute a SQL query": {
			"main": [
				[
					{
						"node": "If",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Check and Assign Character": {
			"main": [
				[
					{
						"node": "If: Is New Contact",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"If: Is New Contact": {
			"main": [
				[
					{
						"node": "Set: New Costumer",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Switch: Intent",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Set: New Costumer": {
			"main": [
				[
					{
						"node": "Merge Context Data",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Merge Context Data": {
			"main": [
				[
					{
						"node": "Switch: Intent",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Parse Context Data": {
			"main": [
				[
					{
						"node": "Check missing Data",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Get: User Context": {
			"main": [
				[
					{
						"node": "Parse Context Data",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Check missing Data": {
			"main": [
				[
					{
						"node": "Actual Status",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Actual Status": {
			"main": [
				[
					{
						"node": "AI Agent",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Request Data",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Request Data": {
			"main": [
				[
					{
						"node": "Update: Status awaiting",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Check Context Status": {
			"main": [
				[
					{
						"node": "Has Postgres Context?",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Parse: Status": {
			"main": [
				[
					{
						"node": "Switch: is Awaiting?",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Extract Name & Phone": {
			"main": [
				[
					{
						"node": "Is Valid Data",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Prepare for Property Search": {
			"main": [
				[
					{
						"node": "Send message4",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Detect: Intention": {
			"main": [
				[
					{
						"node": "Edit Fields",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Is Valid Data": {
			"main": [
				[
					{
						"node": "Get Context Awating Data",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Message: Wrong Name & Phone",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Get Context Awating Data": {
			"main": [
				[
					{
						"node": "Prepare for Property Search",
						"type": "main",
						"index": 0
					},
					{
						"node": "API: Set new costumer",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Call 'InmuebleFinderTool'1": {
			"ai_tool": [
				[
					{
						"node": "AI Agent - Get Property",
						"type": "ai_tool",
						"index": 0
					}
				]
			]
		},
		"Get Context with Property": {
			"main": [
				[
					{
						"node": "AI Generate Dynamic Questionnaire",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"AI Agent - Get Property": {
			"main": [
				[
					{
						"node": "Parse: Property Information",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Parse: Property Information": {
			"main": [
				[
					{
						"node": "Update: Costumer Context",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Update: Costumer Context": {
			"main": [
				[
					{
						"node": "Add Property Interest",
						"type": "main",
						"index": 0
					},
					{
						"node": "Parse: Message w Property Info",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Switch: Intent": {
			"main": [
				[
					{
						"node": "Get: User Context",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Send message1",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Get: User Context General Inq or Out Scope",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Get Context with Property",
						"type": "main",
						"index": 0
					}
				],
				[],
				[
					{
						"node": "Get: User Context General Inq or Out Scope",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"If: Is Awaiting Questionaire": {
			"main": [
				[
					{
						"node": "Execute a SQL query1",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Send message1",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Execute a SQL query1": {
			"main": [
				[
					{
						"node": "Send message5",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Check Questionnaire Status": {
			"main": [
				[
					{
						"node": "Is In Questionnaire",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Is In Questionnaire": {
			"main": [
				[
					{
						"node": "Process Answer & Next Question",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Parse: Status",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Process Answer & Next Question": {
			"main": [
				[
					{
						"node": "Update: Context questions",
						"type": "main",
						"index": 0
					},
					{
						"node": "Has More Questions?",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Has More Questions?": {
			"main": [
				[
					{
						"node": "Send message6",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Message a model1",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Send message4": {
			"main": [
				[
					{
						"node": "AI Agent - Get Property",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Switch1": {
			"main": [
				[
					{
						"node": "Execute a SQL query2",
						"type": "main",
						"index": 0
					},
					{
						"node": "Message: Aprobado",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Execute a SQL query3",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Execute a SQL query2": {
			"main": [
				[
					{
						"node": "Generate Resume",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Execute a SQL query3": {
			"main": [
				[
					{
						"node": "Message: Rejected",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Message: Aprobado": {
			"main": [
				[
					{
						"node": "Discord: Approved Message",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"AI Agent": {
			"main": [
				[
					{
						"node": "Message: Reject",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Simple Memory": {
			"ai_memory": [
				[
					{
						"node": "AI Agent",
						"type": "ai_memory",
						"index": 0
					}
				]
			]
		},
		"Call 'ContactoFinderTool'": {
			"ai_tool": [
				[
					{
						"node": "Contact Finder",
						"type": "ai_tool",
						"index": 0
					}
				]
			]
		},
		"Contact Actions": {
			"main": [
				[
					{
						"node": "Actual status of contact",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Prepare Message Data": {
			"main": [
				[
					{
						"node": "Check Questionnaire Status",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Contact Finder": {
			"main": [
				[
					{
						"node": "Contact Actions",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"OpenAI Chat Model1": {
			"ai_languageModel": [
				[
					{
						"node": "AI Agent - Get Property",
						"type": "ai_languageModel",
						"index": 0
					}
				]
			]
		},
		"OpenAI Chat Model2": {
			"ai_languageModel": [
				[
					{
						"node": "AI Agent",
						"type": "ai_languageModel",
						"index": 0
					}
				]
			]
		},
		"Switch: is Awaiting?": {
			"main": [
				[
					{
						"node": "Extract Name & Phone",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Detect: Intention",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"API: Set new costumer": {
			"main": [
				[
					{
						"node": "Update API Contact ID",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Message a model1": {
			"main": [
				[
					{
						"node": "Parse Gemini Validation",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Get: Message Info": {
			"main": [
				[
					{
						"node": "Get API Contact1",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Actual status of contact": {
			"main": [
				[
					{
						"node": "Merge Rejection Sources",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Prepare Message Data",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Prepare Message Data",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Has Postgres Context?": {
			"main": [
				[
					{
						"node": "Switch3",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Need Contact Check?": {
			"main": [
				[
					{
						"node": "Contact Finder",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Check Questionnaire Status",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Parse Gemini Validation": {
			"main": [
				[
					{
						"node": "Switch1",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Generate Resume": {
			"main": [
				[
					{
						"node": "Parse Resume",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Parse Resume": {
			"main": [
				[
					{
						"node": "HTTP Request",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Get: User Context General Inq or Out Scope": {
			"main": [
				[
					{
						"node": "AI General Inq or Out Scope",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"OpenAI Chat Model": {
			"ai_languageModel": [
				[
					{
						"node": "AI General Inq or Out Scope",
						"type": "ai_languageModel",
						"index": 0
					}
				]
			]
		},
		"AI General Inq or Out Scope": {
			"main": [
				[
					{
						"node": "Parse: AI Response",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Simple Memory1": {
			"ai_memory": [
				[
					{
						"node": "AI General Inq or Out Scope",
						"type": "ai_memory",
						"index": 0
					}
				]
			]
		},
		"Message: General Inq or Out Scope": {
			"main": [
				[
					{
						"node": "Discord: Attention Message",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Parse: AI Response": {
			"main": [
				[
					{
						"node": "Message: General Inq or Out Scope",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"HTTP Request1": {
			"main": [
				[
					{
						"node": "Update: Status awaiting1",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Discord: Attention Message": {
			"main": [
				[
					{
						"node": "HTTP Request1",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Parse: Message w Property Info": {
			"main": [
				[
					{
						"node": "Send message",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Parse AI Questionnaire": {
			"main": [
				[
					{
						"node": "If: Is Awaiting Questionaire",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"OpenAI Chat Model3": {
			"ai_languageModel": [
				[
					{
						"node": "AI Generate Dynamic Questionnaire",
						"type": "ai_languageModel",
						"index": 0
					}
				]
			]
		},
		"Simple Memory2": {
			"ai_memory": [
				[
					{
						"node": "AI Generate Dynamic Questionnaire",
						"type": "ai_memory",
						"index": 0
					}
				]
			]
		},
		"AI Generate Dynamic Questionnaire": {
			"main": [
				[
					{
						"node": "Parse AI Questionnaire",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Message a model": {
			"main": [
				[
					{
						"node": "Send Misbehavior Notice",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"If": {
			"main": [
				[
					{
						"node": "AI: Create Reject Message",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Check and Assign Character",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Update: Contact Comments1": {
			"main": [
				[
					{
						"node": "Execute a SQL query4",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Format Reject Comment Payload": {
			"main": [
				[
					{
						"node": "Update: Contact Comments1",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Merge Rejection Sources": {
			"main": [
				[
					{
						"node": "Set: Rejection Payload",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Set: Rejection Payload": {
			"main": [
				[
					{
						"node": "AI: Create Reject Message",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"AI: Create Reject Message": {
			"main": [
				[
					{
						"node": "Message: Reject 2",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Message: Reject 2": {
			"main": [
				[
					{
						"node": "AI: Create Reject Resume",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"AI: Create Reject Resume": {
			"main": [
				[
					{
						"node": "Format Reject Comment Payload",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Switch2": {
			"main": [
				[
					{
						"node": "No Operation, do nothing",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Merge Rejection Sources",
						"type": "main",
						"index": 1
					}
				],
				[
					{
						"node": "Need Contact Check?",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Need Contact Check?",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Parse Misbehavior": {
			"main": [
				[
					{
						"node": "If: Misbehavior?",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"AI Misbehavior Detector": {
			"main": [
				[
					{
						"node": "Parse Misbehavior",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Get API Contact": {
			"main": [
				[
					{
						"node": "Get Misbehavior Context",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Build Blocked Comment Payload": {
			"main": [
				[
					{
						"node": "API: Add Blocked Comment",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"API: Add Blocked Comment": {
			"main": [
				[
					{
						"node": "Postgres: Update Blocked Context",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Postgres: Update Blocked Context": {
			"main": [
				[
					{
						"node": "No Operation, do nothing2",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Is Blocked?": {
			"main": [
				[
					{
						"node": "Build Blocked Comment Payload",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Get API Contact",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Switch3": {
			"main": [
				[
					{
						"node": "Build Blocked Comment Payload",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Build Blocked Comment Payload",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "AI Misbehavior Detector",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Get API Contact1": {
			"main": [
				[
					{
						"node": "Check Context Status",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"pinData": {},
	"meta": {
		"templateCredsSetupCompleted": true,
		"instanceId": "37571b6e3b06c0ce894d50931b94c0b80b70f40d5b859a8ce717ce6c0e3d4b9d"
	}
}
