QuestionnaireConfirmationHandler.json
{
	"nodes": [
		{
			"parameters": {
				"workflowInputs": {
					"values": [
						{
							"name": "wa_id"
						},
						{
							"name": "userPrompt "
						},
						{
							"name": "context_data",
							"type": "object"
						},
						{
							"name": "api_contact",
							"type": "object"
						}
					]
				}
			},
			"type": "n8n-nodes-base.executeWorkflowTrigger",
			"typeVersion": 1.1,
			"position": [0, 0],
			"id": "20db0ebd-fd3b-4738-bdc1-7d5e39a37818",
			"name": "When Executed by Another Workflow"
		},
		{
			"parameters": {
				"modelId": {
					"__rl": true,
					"value": "gpt-5-nano",
					"mode": "list",
					"cachedResultName": "GPT-5-NANO"
				},
				"responses": {
					"values": [
						{
							"role": "system",
							"content": "=Eres un clasificador de respuestas de confirmación.\n\nEl usuario respondió a la pregunta: \"¿Estás listo/a para continuar con el cuestionario?\"\n\nMENSAJE DEL USUARIO: {{ $json['userPrompt '] }}\n\nClasifica la respuesta en UNA de estas categorías:\n\n- afirmativa: Acepta continuar (sí, ok, listo, adelante, claro, de acuerdo, va, sale, órale, simón, yes, yep)\n\n- negativa: Rechaza o pospone (no, ahora no, después, más tarde, luego, ahorita no, nel, nope)\n\n- ambigua: No está claro o cambia de tema (cualquier otra respuesta que no sea claramente sí o no)\n\nEjemplos:\n- \"Sí, adelante\" → afirmativa\n- \"Ok\" → afirmativa  \n- \"Listo!\" → afirmativa\n- \"No, ahora no\" → negativa\n- \"Después te digo\" → negativa\n- \"¿Cuánto cuesta?\" → ambigua\n- \"Hola\" → ambigua\n\nResponde SOLO con una palabra: afirmativa, negativa o ambigua\nNo agregues puntuación ni explicaciones."
						}
					]
				},
				"builtInTools": {},
				"options": {}
			},
			"type": "@n8n/n8n-nodes-langchain.openAi",
			"typeVersion": 2,
			"position": [208, 0],
			"id": "aae2627e-9300-4346-b838-61e358de3b4b",
			"name": "Message a model",
			"credentials": {
				"openAiApi": {
					"id": "g8OPzRDvvB6YO7mf",
					"name": "OpenAi account"
				}
			}
		},
		{
			"parameters": {
				"rules": {
					"values": [
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"leftValue": "={{ $json.output[0].content[0].text }}",
										"rightValue": "afirmativa",
										"operator": {
											"type": "string",
											"operation": "equals"
										},
										"id": "491dc383-ce20-4348-8b6e-07e1be42e6a9"
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "afirmativa"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "337cfbb5-5030-4b75-837a-1a036921e10e",
										"leftValue": "={{ $json.output[0].content[0].text }}",
										"rightValue": "negativa",
										"operator": {
											"type": "string",
											"operation": "equals",
											"name": "filter.operator.equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "negativa"
						},
						{
							"conditions": {
								"options": {
									"caseSensitive": true,
									"leftValue": "",
									"typeValidation": "strict",
									"version": 2
								},
								"conditions": [
									{
										"id": "36e19012-f41e-42e1-af7d-9d4127facc43",
										"leftValue": "={{ $json.output[0].content[0].text }}",
										"rightValue": "ambigua",
										"operator": {
											"type": "string",
											"operation": "equals",
											"name": "filter.operator.equals"
										}
									}
								],
								"combinator": "and"
							},
							"renameOutput": true,
							"outputKey": "ambigua"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.switch",
			"typeVersion": 3.3,
			"position": [528, -16],
			"id": "e7431a44-8874-4993-a883-75a9f145fc29",
			"name": "Switch"
		},
		{
			"parameters": {
				"jsCode": "const triggerData = $('When Executed by Another Workflow').item.json;\nconst timestamp = new Date().toISOString();\n\n// Clonar contexto existente\nconst updatedContext = JSON.parse(JSON.stringify(triggerData.context_data || {}));\n\n// Cambiar status e iniciar cuestionario\nupdatedContext.status = \"in_questionnaire\";\nupdatedContext.questionnaire_step = 1;\nupdatedContext.ultima_interaccion = timestamp;\n\n// Agregar interacción\nconst interactions = Array.isArray(updatedContext.interacciones) \n  ? updatedContext.interacciones \n  : [];\n\ninteractions.push({\n  timestamp: timestamp,\n  actor: 'usuario',\n  canal: 'whatsapp',\n  tipo: 'confirmacion_cuestionario',\n  mensaje: triggerData['userPrompt '],\n  detalles: {\n    respuesta: 'afirmativa',\n    inicia_cuestionario: true\n  }\n});\n\nupdatedContext.interacciones = interactions;\n\n// Preparar primera pregunta basada en restricciones\nconst property = updatedContext.property_found || {};\nconst restrictions = property.restrictions || {};\n\nlet firstQuestion = \"Perfecto, empecemos 😊\\n\\n**Pregunta 1 de 5:**\\n¿Cuántas personas vivirían en el inmueble?\";\n\n// Si la propiedad no acepta niños, agregar aclaración\nif (restrictions.acepta_niños === \"no\") {\n  firstQuestion += \"\\n\\n_(Solo adultos, la propiedad no acepta niños)_\";\n}\n\nreturn {\n  wa_id: triggerData.wa_id,\n  updatedContext: updatedContext,\n  firstQuestion: firstQuestion,\n  api_contact_id: updatedContext.api_contact_id\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [736, -128],
			"id": "d60c91b8-f6ab-4da9-bf13-1081ca6b88a6",
			"name": "Prepare Questionnaire Context"
		},
		{
			"parameters": {
				"jsCode": "const triggerData = $('When Executed by Another Workflow').item.json;\n\n// El AI Agent devuelve la respuesta en $json.output como STRING\nlet questionnaireText = $json.output || '';\n\nconsole.log('📥 Respuesta del AI recibida');\n\n// Limpiar respuesta (por si viene con markdown)\nquestionnaireText = questionnaireText\n  .replace(/```json\\n?/g, '')\n  .replace(/```\\n?/g, '')\n  .trim();\n\n// Parsear JSON\nlet questionnaire = [];\n\ntry {\n  questionnaire = JSON.parse(questionnaireText);\n  \n  // Validar que sea un array\n  if (!Array.isArray(questionnaire)) {\n    throw new Error('La respuesta no es un array');\n  }\n  \n  // Validar que tenga al menos 1 pregunta\n  if (questionnaire.length === 0) {\n    throw new Error('El cuestionario está vacío');\n  }\n  \n  console.log(`✅ Cuestionario generado con ${questionnaire.length} preguntas`);\n  \n} catch (error) {\n  console.error('❌ Error parseando cuestionario:', error);\n  console.log('Texto recibido:', questionnaireText.substring(0, 200));\n  \n  // Fallback: cuestionario básico\n  questionnaire = [\n    {\n      section: \"validacion_basica\",\n      field: \"puede_continuar\",\n      question: \"¿Cumples con todos los requisitos mencionados en la descripción del inmueble?\",\n      type: \"boolean\",\n      expected: true\n    }\n  ];\n}\n\n// Preparar output\nreturn {\n  wa_id: triggerData.wa_id,\n  questionnaire: questionnaire,\n  total_questions: questionnaire.length,\n  first_question: questionnaire[0],\n  context_data: triggerData.context_data\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [1328, -144],
			"id": "a68014c5-11be-42cf-8869-7ded9b0adddb",
			"name": "Parse AI Questionnaire"
		},
		{
			"parameters": {
				"jsCode": "const parseData = $json;\nconst timestamp = new Date().toISOString();\n\n// Clonar contexto existente\nconst updatedContext = JSON.parse(JSON.stringify(parseData.context_data || {}));\n\n// Agregar cuestionario y configuración\nupdatedContext.status = \"in_questionnaire\";\nupdatedContext.questionnaire = parseData.questionnaire;\nupdatedContext.questionnaire_step = 1;\nupdatedContext.questionnaire_total = parseData.total_questions;\nupdatedContext.questionnaire_answers = []; // Array vacío para ir guardando respuestas\nupdatedContext.ultima_interaccion = timestamp;\n\n// Agregar interacción al historial\nconst interactions = Array.isArray(updatedContext.interacciones) \n  ? updatedContext.interacciones \n  : [];\n\ninteractions.push({\n  timestamp: timestamp,\n  actor: 'sistema',\n  canal: 'whatsapp',\n  tipo: 'inicio_cuestionario',\n  mensaje: 'Cuestionario generado e iniciado',\n  detalles: {\n    total_preguntas: parseData.total_questions,\n    primera_pregunta: parseData.first_question.field\n  }\n});\n\nupdatedContext.interacciones = interactions;\n\n// Preparar primera pregunta para WhatsApp\nconst firstQuestion = parseData.first_question;\nlet questionText = `Perfecto, empecemos 😊\\n\\n**Pregunta 1 de ${parseData.total_questions}:**\\n\\n${firstQuestion.question}`;\n\nreturn {\n  wa_id: parseData.wa_id,\n  updatedContext: updatedContext,\n  questionText: questionText,\n  current_question: firstQuestion\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [1536, -144],
			"id": "a16d67b1-de75-4c14-8b2e-1bbb7add2462",
			"name": "Prepare Context with Questionnaire"
		},
		{
			"parameters": {
				"operation": "executeQuery",
				"query": "UPDATE user_contexts \nSET \n  context_data = $${{ $json.updatedContext.toJsonString() }}$$::jsonb,\n  updated_at = CURRENT_TIMESTAMP\nWHERE wa_id = '{{ $json.wa_id }}'\nRETURNING *;",
				"options": {}
			},
			"type": "n8n-nodes-base.postgres",
			"typeVersion": 2.6,
			"position": [1744, -144],
			"id": "b710c8ce-7d44-48a0-9928-d5ad14e58a62",
			"name": "Save Context with Questionnaire",
			"credentials": {
				"postgres": {
					"id": "qyR2OAIR7tUEVcQf",
					"name": "Postgres-neon"
				}
			}
		},
		{
			"parameters": {
				"operation": "send",
				"phoneNumberId": "812415788624920",
				"recipientPhoneNumber": "={{ $json.wa_id }}",
				"textBody": "={{ $('Prepare Context with Questionnaire').item.json.questionText }}",
				"additionalFields": {}
			},
			"type": "n8n-nodes-base.whatsApp",
			"typeVersion": 1.1,
			"position": [1952, -144],
			"id": "acad6a4d-9d2c-41a8-8404-8770dac05582",
			"name": "Send message",
			"webhookId": "aef0e0a7-bf3c-454a-9777-e7370c1fcf3b",
			"credentials": {
				"whatsAppApi": {
					"id": "DpdLgHZCEJ199330",
					"name": "WhatsApp account"
				}
			}
		},
		{
			"parameters": {
				"jsCode": "const prepareData = $('Prepare Context with Questionnaire').item.json;\n\nreturn {\n  success: true,\n  status: 'in_questionnaire',\n  questionnaire_started: true,\n  step: 1,\n  total_questions: prepareData.updatedContext.questionnaire_total,\n  wa_id: prepareData.wa_id,\n  message_sent: true\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [2160, -144],
			"id": "d6b637d3-e110-4eea-8a0b-5a18bd155739",
			"name": "Format Success Output"
		},
		{
			"parameters": {
				"operation": "executeQuery",
				"query": "INSERT INTO user_contexts (wa_id, context_data, created_at, updated_at)\nVALUES (\n  '{{ $('Send message').item.json.contacts[0].wa_id }}',\n  jsonb_build_object('statusBot', 'working'),\n  CURRENT_TIMESTAMP,\n  CURRENT_TIMESTAMP\n)\nON CONFLICT (wa_id) DO UPDATE SET\n  context_data = jsonb_set(\n    COALESCE(user_contexts.context_data, '{}'::jsonb),\n    '{statusBot}',\n    '\"free\"'::jsonb\n  ),\n  updated_at = CURRENT_TIMESTAMP\nRETURNING *;",
				"options": {}
			},
			"type": "n8n-nodes-base.postgres",
			"typeVersion": 2.6,
			"position": [1280, -368],
			"id": "e079643f-a93c-46a4-9981-52f391e597ac",
			"name": "Update Bot to Free",
			"credentials": {
				"postgres": {
					"id": "qyR2OAIR7tUEVcQf",
					"name": "Postgres-neon"
				}
			}
		},
		{
			"parameters": {
				"operation": "send",
				"phoneNumberId": "812415788624920",
				"recipientPhoneNumber": "={{ $('Prepare Questionnaire Context').item.json.wa_id }}",
				"textBody": "😒 Vaya, eso no funcionó como esperábamos, puedes volver a intenar? Gracias",
				"additionalFields": {}
			},
			"type": "n8n-nodes-base.whatsApp",
			"typeVersion": 1.1,
			"position": [1328, 80],
			"id": "dd49e142-659c-43ad-9a6f-86fa67af9efc",
			"name": "Send message1",
			"webhookId": "56363a2a-8373-40d1-8b03-ac8b4e9373de",
			"credentials": {
				"whatsAppApi": {
					"id": "DpdLgHZCEJ199330",
					"name": "WhatsApp account"
				}
			}
		},
		{
			"parameters": {
				"modelId": {
					"__rl": true,
					"value": "gpt-5-nano",
					"mode": "list",
					"cachedResultName": "GPT-5-NANO"
				},
				"responses": {
					"values": [
						{
							"role": "system",
							"content": "=Eres un asistente de Inmobiliaria Villanueva García. Genera un cuestionario conversacional basado en el inmueble y sus restricciones.\n\nDATOS DEL INMUEBLE:\n{{ $json.updatedContext.property_found.toJsonString() }}\n\nRESTRICCIONES:\n{{ $json.updatedContext.property_found.restrictions.toJsonString() }}\n\nOBJETIVO:\nCrear preguntas 100% conversacionales con respuestas abiertas (type: \"text\"). No preguntes \"sí/no\". El usuario responde naturalmente y el sistema interpreta.\n\nESTILO:\n- Tono profesional y cálido\n- Sin saludos ni \"Pregunta X de X\"\n- Contextualiza antes de preguntar (menciona la característica del inmueble)\n- Usa \"Platícame...\" / \"¿Cómo te sientes con...?\" \n- NO repitas condiciones ya preguntadas\n\nSECCIONES:\n\n1. CARACTERÍSTICAS FÍSICAS\nPregunta sobre: piso/elevador, habitaciones vs habitantes, estacionamiento, mascotas (si está alfombrado), y otros detalles físicos relevantes.\n\n2. RESTRICCIONES DE CONVIVENCIA (solo lo NO preguntado en sección 1)\nPregunta sobre: niños (si acepta_niños=\"no\"), mascotas (si acepta_mascotas=\"no\" y no se preguntó antes), roomies (si acepta_roomies=\"no\").\n\n3. CONDICIONES DE CONTRATACIÓN\nPregunta sobre: póliza jurídica (si precio_poliza > 0), depósito y renta inicial.\n\n4. VALIDACIÓN DE INGRESOS\nPregunta sobre: ingresos mínimos (si ingresos_minimos > 0), ocupación, comprobantes de ingresos (si requiere_comprobantes_ingresos=true).\n\nREGLAS:\n- Si una condición ya fue preguntada, NO la repitas\n- Integra varias condiciones en una pregunta cuando sea lógico\n- Usa [X] para valores reales (precio, piso, habitaciones, etc.)\n- Si falta un dato necesario, omite esa pregunta\n- Todas las preguntas son type: \"text\"\n\nFORMATO DE SALIDA (solo JSON array, sin markdown):\n\n[\n  {\n    \"section\": \"caracteristicas_fisicas\",\n    \"field\": \"acepta_piso_sin_elevador\",\n    \"question\": \"El departamento está en el 3er piso y no cuenta con elevador. ¿Cómo te sientes con eso?\",\n    \"type\": \"text\"\n  },\n  {\n    \"section\": \"validacion_ingresos\",\n    \"field\": \"ocupacion\",\n    \"question\": \"Para conocer mejor tu perfil, ¿a qué te dedicas actualmente?\",\n    \"type\": \"text\"\n  }\n]"
						}
					]
				},
				"builtInTools": {},
				"options": {
					"textFormat": {
						"textOptions": {
							"type": "json_object"
						}
					}
				}
			},
			"type": "@n8n/n8n-nodes-langchain.openAi",
			"typeVersion": 2,
			"position": [944, -128],
			"id": "fd8e5da6-40c7-40d4-9a14-4c226861d62f",
			"name": "AI Generate Dynamic Questionnaire",
			"credentials": {
				"openAiApi": {
					"id": "g8OPzRDvvB6YO7mf",
					"name": "OpenAi account"
				}
			},
			"onError": "continueErrorOutput"
		}
	],
	"connections": {
		"When Executed by Another Workflow": {
			"main": [
				[
					{
						"node": "Message a model",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Message a model": {
			"main": [
				[
					{
						"node": "Switch",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Switch": {
			"main": [
				[
					{
						"node": "Prepare Questionnaire Context",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Prepare Questionnaire Context": {
			"main": [
				[
					{
						"node": "AI Generate Dynamic Questionnaire",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Parse AI Questionnaire": {
			"main": [
				[
					{
						"node": "Prepare Context with Questionnaire",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Prepare Context with Questionnaire": {
			"main": [
				[
					{
						"node": "Save Context with Questionnaire",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Save Context with Questionnaire": {
			"main": [
				[
					{
						"node": "Send message",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Send message": {
			"main": [
				[
					{
						"node": "Format Success Output",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Format Success Output": {
			"main": [
				[
					{
						"node": "Update Bot to Free",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"AI Generate Dynamic Questionnaire": {
			"main": [
				[
					{
						"node": "Parse AI Questionnaire",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Send message1",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"pinData": {
		"When Executed by Another Workflow": [
			{
				"wa_id": "5215559177781",
				"userPrompt ": "Si adelante",
				"context_data": {
					"nombre": "Alfonso Villanueva Quiroz",
					"status": "awaiting_questionnaire_confirmation",
					"telefono": "5559177781",
					"personaje": "Dany",
					"statusBot": "working",
					"last_intent": "property_search",
					"interacciones": [
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Hola quiero un info del depa en museo",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-13T13:59:04.846Z"
						},
						{
							"tipo": "intencion_detectada",
							"actor": "sistema",
							"canal": "whatsapp",
							"mensaje": "Intención: property_search",
							"detalles": {
								"intent": "property_search",
								"original_message": "Hola quiero un info del depa en museo"
							},
							"timestamp": "2025-11-13T13:59:13.339Z"
						},
						{
							"tipo": "solicitud_datos",
							"actor": "sistema",
							"canal": "whatsapp",
							"mensaje": "Se solicitaron datos del contacto",
							"detalles": {
								"original_message": ""
							},
							"timestamp": "2025-11-13T13:59:13.464Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Alfonso Villanueva Quiroz, 5559177781",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-13T13:59:32.388Z"
						},
						{
							"tipo": "datos_recibidos",
							"actor": "sistema",
							"canal": "whatsapp",
							"mensaje": "Datos del contacto recibidos y validados",
							"detalles": {
								"nombre": "Alfonso Villanueva Quiroz",
								"telefono": "5559177781",
								"api_contact_id": 629
							},
							"timestamp": "2025-11-13T13:59:40.221Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Si adelante",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-13T14:01:00.259Z"
						}
					],
					"api_contact_id": 629,
					"property_found": {
						"id": 18,
						"m2": "70.00",
						"slug": "hermoso-depa-para-dos-personas",
						"type": "Departamento",
						"baths": 1,
						"rooms": 2,
						"title": "Hermoso Depa para Dos Personas",
						"estado": "Ciudad de México",
						"ammount": "$11,000.00",
						"colonia": "San Pablo Tepetlapa",
						"parkings": 0,
						"municipio": "Coyoacán",
						"operacion": "Renta",
						"description": "Villanueva García propone en renta: Hermoso departamento; a 1 cuadra del MUSEO ANAHUACALLI \"Diego Rivera\" y cerca de División del Norte.\\r\\n\\r\\n* Departamento para PAREJAS (2 PERSONAS; SIN NIÑOS,SIN MASCOTAS) no más.\\r\\n\\r\\nCuenta con:\\r\\n\\r\\n* Bonitos Acabados\\r\\n* 2 habitaciones (CON CLOSET)\\r\\n* 1 cocina integral\\r\\n* 1 baño completo\\r\\n* Área de Sala - Comedor.\\r\\n* NO TIENE ESTACIONAMIENTO\\r\\n\\r\\n** REQUISITOS**\\r\\nIMPORTANTE: Cubrir por favor requisitos y restricciones al 100% ESPECÍFICADOS EN LA PUBLICACIÓN, PARA PODER AGENDAR CITA; ya que no son NEGOCIABLES.\\r\\n\\r\\n* Comprobar ingresos mínimos de $36,000 MENSUALES (Individual o mancomunado y aceptamos recibos de nómina, estados de cuenta completos o facturas)\\r\\n* Pago Póliza Jurídica Costo $4,100 ( ANUAL)\\r\\n* 1 Mes de depósito en garantía\\r\\n* 1 Mes de renta corriente.\\r\\n\\r\\nNO aceptamos: (NO NEGOCIABLES)\\r\\n\\r\\n* Mascotas (PERROS, GATOS)\\r\\n* Niños\\r\\n* Estudiantes que NO vivan con padre o tutor\\r\\n* Roomies (Personas que estén cambiando frecuentemente)\\r\\n\\r\\nHorario de Atención TELEFÓNICA: NO WHATSAPP\\r\\n\\r\\nLu-Vi 09.00am a 6:00 pm\\r\\n\\r\\nSábado y Domingo 09.00am a 3:00pm",
						"restrictions": {
							"acepta_niños": "no",
							"observaciones": "Ingresos mínimos comprobables de $30,000 mensuales.",
							"precio_poliza": "4100.00",
							"acepta_roomies": "no",
							"acepta_mascotas": "no",
							"ingresos_minimos": "30000.00",
							"acepta_estudiantes": "no",
							"requiere_comprobantes_ingresos": true
						}
					},
					"original_search": "",
					"ultima_interaccion": "2025-11-13T14:01:00.259Z"
				},
				"api_contact": {
					"id": 629,
					"nombre": "🤖 - Alfonso Villanueva Quiroz",
					"email": null,
					"telefono": "5559177781",
					"estado": "en_contacto",
					"fuente": "🤖 - WhatsApp Bot",
					"created_at": "2025-11-13T07:59:04-06:00",
					"updated_at": "2025-11-13T08:00:11-06:00",
					"last_interaction_at": "2025-11-13T08:00:11-06:00",
					"interes_reciente": {
						"id": 82,
						"inmueble_id": 18,
						"inmueble": {
							"id": 18,
							"titulo": "Hermoso Depa para Dos Personas",
							"slug": "hermoso-depa-para-dos-personas",
							"descripcion": "Villanueva García propone en renta: Hermoso departamento; a 1 cuadra del MUSEO ANAHUACALLI \"Diego Rivera\" y cerca de División del Norte.\r\n\r\n* Departamento para PAREJAS (2 PERSONAS; SIN NIÑOS,SIN MASCOTAS) no más.\r\n\r\nCuenta con:\r\n\r\n* Bonitos Acabados\r\n* 2 habitaciones (CON CLOSET)\r\n* 1 cocina integral\r\n* 1 baño completo\r\n* Área de Sala - Comedor.\r\n* NO TIENE ESTACIONAMIENTO\r\n\r\n** REQUISITOS**\r\nIMPORTANTE: Cubrir por favor requisitos y restricciones al 100% ESPECÍFICADOS EN LA PUBLICACIÓN, PARA PODER AGENDAR CITA; ya que no son NEGOCIABLES.\r\n\r\n* Comprobar ingresos mínimos de $36,000 MENSUALES (Individual o mancomunado y aceptamos recibos de nómina, estados de cuenta completos o facturas)\r\n* Pago Póliza Jurídica Costo $4,100 ( ANUAL)\r\n* 1 Mes de depósito en garantía\r\n* 1 Mes de renta corriente.\r\n\r\nNO aceptamos: (NO NEGOCIABLES)\r\n\r\n* Mascotas (PERROS, GATOS)\r\n* Niños\r\n* Estudiantes que NO vivan con padre o tutor\r\n* Roomies (Personas que estén cambiando frecuentemente)\r\n\r\nHorario de Atención TELEFÓNICA: NO WHATSAPP\r\n\r\nLu-Vi 09.00am a 6:00 pm\r\n\r\nSábado y Domingo 09.00am a 3:00pm",
							"precio": "11000.00",
							"precio_formateado": "$11,000.00",
							"direccion": "San Pablo Tepetlapa",
							"colonia": "San Pablo Tepetlapa",
							"municipio": "Coyoacán",
							"estado": "Ciudad de México",
							"codigo_postal": "04620",
							"ubicacion": {
								"latitud": 19.321995,
								"longitud": -99.138793
							},
							"location": {
								"latitude": 19.321995,
								"longitude": -99.138793
							},
							"tipo": "Departamento",
							"operacion": "Renta",
							"habitaciones": 2,
							"banos": 1,
							"estacionamientos": 0,
							"metros_cuadrados": "70.00",
							"superficie_construida": "70.00",
							"superficie_terreno": "70.00",
							"anio_construccion": 2000,
							"destacado": true,
							"video_url": null,
							"tour_virtual_url": null,
							"amenidades": [],
							"extras": [],
							"tags": [
								"division del norte",
								"museo",
								"San Pablo Tepetlapa"
							],
							"created_at": "2025-10-15T21:45:49-06:00",
							"updated_at": "2025-11-06T17:58:34-06:00"
						},
						"created_at": "2025-11-13T08:00:11-06:00"
					}
				}
			}
		],
		"Message a model": [
			{
				"output": [
					{
						"id": "msg_0066aeaa5af2324a006915e4a3c664819787c18139f387fab4",
						"type": "message",
						"status": "completed",
						"content": [
							{
								"type": "output_text",
								"annotations": [],
								"logprobs": [],
								"text": "afirmativa"
							}
						],
						"role": "assistant"
					}
				]
			}
		],
		"Switch": [
			{
				"output": [
					{
						"id": "msg_0066aeaa5af2324a006915e4a3c664819787c18139f387fab4",
						"type": "message",
						"status": "completed",
						"content": [
							{
								"type": "output_text",
								"annotations": [],
								"logprobs": [],
								"text": "afirmativa"
							}
						],
						"role": "assistant"
					}
				]
			}
		],
		"Prepare Questionnaire Context": [
			{
				"wa_id": "5215559177781",
				"updatedContext": {
					"nombre": "Alfonso Villanueva Quiroz",
					"status": "in_questionnaire",
					"telefono": "5559177781",
					"personaje": "Dany",
					"statusBot": "working",
					"last_intent": "property_search",
					"interacciones": [
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Hola quiero un info del depa en museo",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-13T13:59:04.846Z"
						},
						{
							"tipo": "intencion_detectada",
							"actor": "sistema",
							"canal": "whatsapp",
							"mensaje": "Intención: property_search",
							"detalles": {
								"intent": "property_search",
								"original_message": "Hola quiero un info del depa en museo"
							},
							"timestamp": "2025-11-13T13:59:13.339Z"
						},
						{
							"tipo": "solicitud_datos",
							"actor": "sistema",
							"canal": "whatsapp",
							"mensaje": "Se solicitaron datos del contacto",
							"detalles": {
								"original_message": ""
							},
							"timestamp": "2025-11-13T13:59:13.464Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Alfonso Villanueva Quiroz, 5559177781",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-13T13:59:32.388Z"
						},
						{
							"tipo": "datos_recibidos",
							"actor": "sistema",
							"canal": "whatsapp",
							"mensaje": "Datos del contacto recibidos y validados",
							"detalles": {
								"nombre": "Alfonso Villanueva Quiroz",
								"telefono": "5559177781",
								"api_contact_id": 629
							},
							"timestamp": "2025-11-13T13:59:40.221Z"
						},
						{
							"tipo": "mensaje_recibido",
							"actor": "usuario",
							"canal": "whatsapp",
							"mensaje": "Si adelante",
							"detalles": {
								"tipo_mensaje": "text"
							},
							"timestamp": "2025-11-13T14:01:00.259Z"
						},
						{
							"timestamp": "2025-11-13T14:01:08.026Z",
							"actor": "usuario",
							"canal": "whatsapp",
							"tipo": "confirmacion_cuestionario",
							"mensaje": "Si adelante",
							"detalles": {
								"respuesta": "afirmativa",
								"inicia_cuestionario": true
							}
						}
					],
					"api_contact_id": 629,
					"property_found": {
						"id": 18,
						"m2": "70.00",
						"slug": "hermoso-depa-para-dos-personas",
						"type": "Departamento",
						"baths": 1,
						"rooms": 2,
						"title": "Hermoso Depa para Dos Personas",
						"estado": "Ciudad de México",
						"ammount": "$11,000.00",
						"colonia": "San Pablo Tepetlapa",
						"parkings": 0,
						"municipio": "Coyoacán",
						"operacion": "Renta",
						"description": "Villanueva García propone en renta: Hermoso departamento; a 1 cuadra del MUSEO ANAHUACALLI \"Diego Rivera\" y cerca de División del Norte.\\r\\n\\r\\n* Departamento para PAREJAS (2 PERSONAS; SIN NIÑOS,SIN MASCOTAS) no más.\\r\\n\\r\\nCuenta con:\\r\\n\\r\\n* Bonitos Acabados\\r\\n* 2 habitaciones (CON CLOSET)\\r\\n* 1 cocina integral\\r\\n* 1 baño completo\\r\\n* Área de Sala - Comedor.\\r\\n* NO TIENE ESTACIONAMIENTO\\r\\n\\r\\n** REQUISITOS**\\r\\nIMPORTANTE: Cubrir por favor requisitos y restricciones al 100% ESPECÍFICADOS EN LA PUBLICACIÓN, PARA PODER AGENDAR CITA; ya que no son NEGOCIABLES.\\r\\n\\r\\n* Comprobar ingresos mínimos de $36,000 MENSUALES (Individual o mancomunado y aceptamos recibos de nómina, estados de cuenta completos o facturas)\\r\\n* Pago Póliza Jurídica Costo $4,100 ( ANUAL)\\r\\n* 1 Mes de depósito en garantía\\r\\n* 1 Mes de renta corriente.\\r\\n\\r\\nNO aceptamos: (NO NEGOCIABLES)\\r\\n\\r\\n* Mascotas (PERROS, GATOS)\\r\\n* Niños\\r\\n* Estudiantes que NO vivan con padre o tutor\\r\\n* Roomies (Personas que estén cambiando frecuentemente)\\r\\n\\r\\nHorario de Atención TELEFÓNICA: NO WHATSAPP\\r\\n\\r\\nLu-Vi 09.00am a 6:00 pm\\r\\n\\r\\nSábado y Domingo 09.00am a 3:00pm",
						"restrictions": {
							"acepta_niños": "no",
							"observaciones": "Ingresos mínimos comprobables de $30,000 mensuales.",
							"precio_poliza": "4100.00",
							"acepta_roomies": "no",
							"acepta_mascotas": "no",
							"ingresos_minimos": "30000.00",
							"acepta_estudiantes": "no",
							"requiere_comprobantes_ingresos": true
						}
					},
					"original_search": "",
					"ultima_interaccion": "2025-11-13T14:01:08.026Z",
					"questionnaire_step": 1
				},
				"firstQuestion": "Perfecto, empecemos 😊\n\n**Pregunta 1 de 5:**\n¿Cuántas personas vivirían en el inmueble?\n\n_(Solo adultos, la propiedad no acepta niños)_",
				"api_contact_id": 629
			}
		],
		"AI Generate Dynamic Questionnaire": [
			{
				"output": [
					{
						"id": "msg_0310219c7d018048006915ecf21554819ca967213b71c47804",
						"type": "message",
						"status": "completed",
						"content": [
							{
								"type": "output_text",
								"annotations": [],
								"logprobs": [],
								"text": {
									"questions": [
										{
											"section": "caracteristicas_fisicas",
											"field": "distribucion_habitaciones",
											"question": "Este departamento tiene 2 habitaciones con closet, cocina integral y sala-comedor; ¿cómo distribuirías el espacio entre dormitorios y áreas comunes para tu día a día?",
											"type": "text"
										},
										{
											"section": "caracteristicas_fisicas",
											"field": "estacionamiento_disponibilidad",
											"question": "El inmueble no cuenta con estacionamiento; ¿cómo planificarías tu movilidad y visitas diarias para que te resulte práctico vivir aquí?",
											"type": "text"
										},
										{
											"section": "caracteristicas_fisicas",
											"field": "accesos_y_elevador",
											"question": "Considerando que el edificio no especifica elevador, ¿qué tan cómodo te sería subir escaleras y moverte entre pisos si fuese necesario?",
											"type": "text"
										},
										{
											"section": "caracteristicas_fisicas",
											"field": "acabados_y_pisos",
											"question": "El inmueble describe 'bonitos acabados' y una cocina integral; ¿qué tipo de piso y acabados te resultan más cómodos para tu rutina diaria?",
											"type": "text"
										},
										{
											"section": "caracteristicas_fisicas",
											"field": "almacenamiento_y_closets",
											"question": "Las dos habitaciones tienen closet; ¿cuáles son tus necesidades de almacenamiento para ropa, zapatos y otros objetos?",
											"type": "text"
										},
										{
											"section": "restricciones_convivencia",
											"field": "restricciones_niños",
											"question": "La publicación indica que no se aceptan niños; ¿cómo se alinea esa condición con tus planes de convivencia y familia?",
											"type": "text"
										},
										{
											"section": "restricciones_convivencia",
											"field": "restricciones_mascotas",
											"question": "La política prohíbe mascotas; ¿cómo influye eso en tu decisión si tienes o planeas tener una mascota en el futuro?",
											"type": "text"
										},
										{
											"section": "restricciones_convivencia",
											"field": "restricciones_roomies",
											"question": "Indican que no se permiten roomies; ¿cómo afectaría esto tus planes de vivir solo o con pareja?",
											"type": "text"
										},
										{
											"section": "condiciones_contratacion",
											"field": "requisitos_policia_juridica",
											"question": "Para la contratación, se solicita una póliza jurídica de [4100] MXN al año, un depósito de [1] mes y una renta de [11000] MXN; ¿cómo planificarías para cumplir con estos requisitos y tu presupuesto?",
											"type": "text"
										},
										{
											"section": "validacion_ingresos",
											"field": "ocupacion_y_ingresos_y_comprobantes",
											"question": "Para entender tu perfil y verificar elegibilidad, ¿a qué te dedicas actualmente y qué rango de ingresos mensuales manejas, y qué comprobantes de ingresos podrías presentar para cumplir con el mínimo de [30000] MXN al mes?",
											"type": "text"
										}
									]
								}
							}
						],
						"role": "assistant"
					}
				]
			}
		]
	},
	"meta": {
		"templateCredsSetupCompleted": true,
		"instanceId": "37571b6e3b06c0ce894d50931b94c0b80b70f40d5b859a8ce717ce6c0e3d4b9d"
	}
}
